Repository is-a-dev/register, pull requests merged in 2022-06, with the labels that each got.

#2487 abhint
  domains/abhint.json
Labels: status: pending fix, reason: invalid social

#2491 Create amy.json
  domains/amy.json
Labels: status: pending fix

#2448 feat: rxyhn.json
  domains/rxyhn.json
Labels: status: pending fix, reason: incompleted website

#2423 feat: linbuxiao.json
  docs/hosted-at/github-pages.md
  domains/linbuxiao.json
Labels: documentation

#2515 Create thomas-shelby.json
  domains/thomas-shelby.json
Labels: status: pending fix, reason: incompleted website

#2499 Adding documentation website
  domains/docs.json
Labels: status: pending fix

#2508 please review my pull-request. abdullah.is-a.dev
  domains/abdullah.json
Labels: on-hold, status: pending fix

#2540 Create vikrant.json
  domains/vikrant.json
Labels: status: pending fix, reason: invalid social
