Repository is-a-dev/register, pull requests merged in 2022-12, with the labels that each got.

#4091 Added pplgVia is-a-dev-cli
  domains/pplg.json
Labels: domain

#4192 Update IP
  domains/suki.json
Labels: domain

#4191 Register Subdomain: josjonkeren
  domains/josjonkeren.json
Labels: domain

#4190 Register Subdomain: lrxrn
  domains/lrxrn.json
Labels: domain

#4188 Update sidd.json
  domains/sidd.json
Labels: domain

#4182 Can I have domain name?
  domains/shinpitekita.json
Labels: domain

#4181 Create kmrvarun.json
  domains/kmrvarun.json
Labels: domain

#4178 Create panda.json
  domains/panda.json
Labels: domain

#4174 Update aditya.json
  domains/aditya.json
Labels: domain

#4171 Update `zyrouge.json`
  domains/zyrouge.json
Labels: domain

#4168 add stefdp domain
  domains/stefdp.json
Labels: domain

#4165 Update nsh.json
  domains/nsh.json
Labels: domain

#4164 Update priyansh.json
  domains/priyansh.json
Labels: domain

#4161 Create TheHackerDude1083.json
  domains/thehackerdude1083.json
Labels: domain

#4157 Update username
  domains/vic.json
Labels: domain

#4156 Added zuntieVia is-a-dev-cli
  domains/zuntie.json
Labels: domain

#4117 Register Subdomain: nhat
  domains/nhat.json
Labels: domain

#4113 New domains from mxnticek
  domains/music-old.mxnticek.json
  domains/mxnticek.json
Labels: domain

#4112 Register Subdomain: joshatticus
  domains/joshatticus.json
Labels: domain

#4108 Create zoro.xen.json
  domains/zoro.xen.json
Labels: domain

#4105 Create yush.json
  domains/yush.json
Labels: domain

#4193 Added andriyVia is-a-dev-cli
  domains/andriy.json
Labels: domain

#4256 Added akioVia is-a-dev-cli
  domains/akio.json
Labels: domain

#4259 Rename web.semant.json to www.semant.json
  domains/www.semant.json
Labels: domain

#4265 Create shuja1337
  domains/shuja-balls.json
  domains/shuja1337.json
Labels: domain

#4224 Register Subdomain: janleigh
  domains/janleigh.json
Labels: domain

#4255 Create ausy.json
  domains/ausy.json
Labels: domain

#4250 Register Subdomain: dark
  domains/dark.json
Labels: domain

#4254 Register Subdomain: reizy
  domains/reizy.json
Labels: domain

#4244 Register Subdomain: gavinferdinandchee.github.io
  domains/gavin.json
Labels: domain

#4241 Create am.json
  domains/am.json
Labels: domain

#4246 Register Subdomain: speedie
  domains/speedie.json
Labels: domain

#4249 Register Subdomain: mikronet
  domains/mikronet.json
Labels: domain

#4260 bluesky01st.is-a.dev
  domains/bluesky01st.json
Labels: domain

#3552 add anish.is-a.dev
  domains/anish.json
Labels: domain

#4271 update usernames
  domains/api.badboy.json
  domains/api.semant.json
  domains/badboy.json
  domains/www.semant.json
Labels: domain

#4138 Register Subdomain: riannegreiros
  domains/riannegreiros.json
Labels: domain, status: pending fix, reason: inaccessible website

#3964 add record `MX` and `TXT` for email (shin.is-a.dev)
  domains/shin.json
Labels: domain

#1901 Update README
  README.md
Labels: wip, no-stale

#4276 Create patrickzhou.json
  domains/patrickzhou.json
Labels: domain

#4284 Create redirect.nziie.json
  domains/redirect.nziie.json
Labels: domain

#4292 Revert 4091 main "Change Provider from Railway to replit
  domains/pplg.json
Labels: domain

#4291 Register Subdomain: albin
  domains/albin.json
  domains/albinpraveen.json
Labels: domain

#4296 check the domain
  domains/abelblue.json
Labels: domain

#4295 Register Subdomain: pradeepvarma22
  domains/pradeepvarma22.json
Labels: domain

#4300 update my domain
  domains/hung.json
Labels: domain

#3626 Register Subdomain: Dhyan99
  domains/dhyan99.json
Labels: domain, Stale, status: pending fix, reason: incompleted website

#3815 Register Subdomain: Megalith
  domains/megalith.json
Labels: domain, Stale, status: pending fix, reason: vercel/netlify usage

#3828 Register Subdomain: farjanul
  domains/farjanul.json
Labels: domain, Stale, status: pending fix, reason: invalid records

#3947 Create alokik.json
  domains/alokik.json
Labels: domain, status: pending fix, reason: inaccessible website

#4258 Register Subdomain: roobini-gamer
  domains/roobini-gamer.json
Labels: domain, status: pending fix, reason: inaccessible website

#4252 Create kotikov.json
  domains/kotikov.json
Labels: domain

#4195 Register Subdomain: vion
  domains/vion.json
Labels: domain, status: pending fix, reason: inaccessible website

#4306 Update dheirya.json
  domains/dheirya.json
Labels: domain

#4308 updating URL reference to CNAME branhoff.github.io in brandon-hoffman json
  domains/brandon-hoffman.json
Labels: domain

#4304 Update api.semant.json
  domains/api.semant.json
Labels: domain

#4307 Register Subdomain: aknbs-vpn
  domains/aknbs-vpn.json
Labels: domain

#4315 Update crystal.json
  domains/crystal.json
Labels: domain

#4316 Register Subdomain: gggedr
  domains/gggedr.json
Labels: domain

#4321 Create snox.json
  domains/snox.json
Labels: domain

#4322 Create juikulkarni.json
  domains/juikulkarni.json
Labels: domain

#4333 Create gavinw.json
  domains/gavinw.json
Labels: domain

#4330 Request for domain
  domains/jagan.json
Labels: domain

#4319 Added theresonanceVia is-a-dev-cli
  domains/theresonance.json
Labels: domain, status: pending fix, reason: invalid social
