Repository is-a-dev/register, pull requests merged in 2022-03, with the labels that each got.

#1796 Create vaibhav.json
  domains/vaibhav.json
Labels: pending-fix

#1810 Add emails for fake.is-a.dev
  domains/fake.json
Labels: pending-fix

#1843 new domain
  domains/fbi.json
Labels: pending-fix

#1515 Create ninjaasmoke.json
  domains/ninjaasmoke.json
Labels: pending-fix

#1930 Update sx9.json
  domains/sx9.json
Labels: pending-fix

#1920 update zerotwo.json to use new config
  domains/zerotwo.json
Labels: pending-fix

#1955 docs: remove `thedev.id`
  README.md
Labels: readme: awaiting review

#1945 Update sx9.json
  domains/sx9.json
Labels: wip

#1973 create syahirAmali.json
  domains/syahiramali.json
Labels: pending-fix

#1982 Create ziue.json
  domains/ziue.json
Labels: pending-fix

#1990 Create Cyanic.json
  domains/cyanic76.json
Labels: pending-fix

#1996 Added mousemoosz domain and sub-domains
  domains/mc.mousemoosz.json
  domains/mousemoosz.json
  domains/status.mousemoosz.json
Labels: pending-fix

#1997 Add gamingboots.json
  domains/gamingboots.json
Labels: pending-fix

#1995 Add my portfollio site
  domains/andrewstech.json
Labels: pending-fix

#2015 Create rim.json
  domains/rim.json
Labels: pending-fix
