Repository is-a-dev/register, pull requests merged in 2022-04, with the labels that each got.

#2030 Update mattw.json
  domains/mattw.json
Labels: pending-fix

#2029 Create chris8889.json
  domains/chris8889.json
Labels: pending-fix

#2019 Create svloog.json
  domains/svloog.json
Labels: pending-fix

#2012 Create YanMaker.json
  domains/yanmaker.json
Labels: pending-fix

#2096 Create charcg.json
  domains/charcg.json
Labels: pending-fix

#2094 add explict reminder
  docs/hosted-at/github-pages.md
Labels: documentation

#2092 eclipse me!!
  domains/eclipse.json
Labels: pending-fix

#2093 Add files via upload
  domains/atharv.json
Labels: pending-fix

#2104 Create rahulcodes.json
  domains/rahulcodes.json
Labels: pending-fix

#2110 Add domains
  domains/raw-kirito.json
Labels: pending-fix

#2162 Add `potatoland4492` subdomain
  domains/potatoland4492.json
Labels: pending-fix

#2177 Create spicyaxolotl.json
  domains/spicyaxolotl.json
Labels: pending-fix

#2170 Create imd.json
  domains/imd.json
Labels: pending-fix

#2159 request to add my domain
  domains/sathish.json
Labels: pending-fix

#2191 remove runs-on.tech
  README.md
Labels: readme

#2223 Create api.arman.json
  domains/api.arman.json
  domains/arman.json
  domains/foxie.arman.json
Labels: pending-fix
