Repository is-a-dev/register, pull requests merged in 2022-07, with the labels that each got.

#2793 Suraj
  domains/suraj.json
Labels: reason: invalid records

#3017 Fix labeler action
  .github/workflows/label.yml
Labels: ci

#3018 Create vaibhavsys.json
  domains/vaibhavsys.json
Labels: domain

#3020 Create example.json
  domains/example.json
Labels: domain

#3034 Back to github pages
  domains/vaibhavsys.json
Labels: domain
