Repository is-a-dev/register, pull requests merged in 2023-09, with the labels that each got.

#7519 BETA: Register _github-pages-challenge-noahziheng.noahgao.is-a.dev
  domains/_github-pages-challenge-noahziheng.noahgao.json
Labels: domain

#7456 BETA: Update arda.is-a.dev
  domains/arda.json
  domains/kuzey.json
Labels: domain

#7528 BETA: Register shell.is-a.dev
  domains/shell.json
Labels: domain

#7547 BETA: Register thatkoslz.is-a.dev
  domains/thatkoslz.json
Labels: domain

#7520 BETA: Register gruu.is-a.dev
  domains/gruu.json
Labels: domain

#7518 BETA: Register amey.is-a.dev
  domains/amey.json
  domains/ammy.json
  domains/amya.json
Labels: domain

#7541 BETA: Register bagaz.is-a.dev
  domains/bagaz.json
  domains/bgz.json
  domains/gaz.json
Labels: domain

#7540 Register rubiin.is-a.dev
  domains/rubiin.json
Labels: domain

#7539 BETA: Register kira.is-a.dev
  domains/kira.json
Labels: domain

#7545 BETA: Register x3ric.is-a.dev
  domains/x3ric.json
Labels: domain

#7526 BETA: Register isdwk.is-a.dev
  domains/dwk.json
  domains/isdwk.json
Labels: domain

#7543 BETA: Update lynix.is-a.dev
  domains/lynix.json
Labels: domain

#7530 BETA: Register xuanwu.is-a.dev
  domains/xuanwu.json
Labels: domain

#7525 BETA: Register kronifer.is-a.dev
  domains/kronifer.json
Labels: domain

#7524 BETA: Register khasan-tokhirov.is-a.dev
  domains/khasan-tokhirov.json
Labels: domain

#7523 BETA: Update lpkeates.is-a.dev
  domains/lpkeates.json
Labels: domain

#7527 BETA: Update saeful.is-a.dev
  domains/saeful.json
Labels: domain

#7546 Create ludwig.json
  domains/ludwig.json
Labels: domain

#7529 Registered a new domain
  domains/_github-pages-challenge-not-a-ethan.services.not-ethan.json
  domains/not-ethan.json
  domains/services.not-ethan.json
Labels: domain, status: pending fix, reason: invalid records

#7513 BETA: Register notskillz.is-a.dev
  domains/notskillz.json
Labels: domain

#7511 BETA: Register store.is-a.dev
  domains/store.json
Labels: domain

#7514 Register rehanaf.is-a.dev
  domains/rehanaf.json
Labels: domain

#7469 BETA: Register slashed.is-a.dev
  domains/slashed.json
Labels: domain

#7421 BETA: Register suleymanduzgun.is-a.dev
  domains/suleymanduzgun.json
Labels: domain

#7492 BETA: Register yashrao.is-a.dev
  domains/yashrao.json
Labels: domain

#7498 Update dasshark.is-a.dev
  domains/dasshark.json
Labels: domain

#7425 BETA: Update crazymax.is-a.dev
  domains/crazymax.json
Labels: domain, reason: invalid file

#7429 BETA: Register systemm32.is-a.dev
  domains/systemm32.json
Labels: domain

#7427 BETA: Register shubhamverma.is-a.dev
  domains/shubhamverma.json
Labels: domain

#7436 BETA: Register tin.is-a.dev
  domains/tin.json
Labels: domain

#7437 BETA: Register nickooms.is-a.dev
  domains/nickooms.json
Labels: domain

#7475 BETA: Register v2ray.vi0leta.is-a.dev
  domains/v2ray.vi0leta.json
Labels: domain

#7553 BETA: Register aaron.is-a.dev
  domains/aaron.json
Labels: domain

#7438 BETA: Register xian.is-a.dev
  domains/xian.json
Labels: domain

#7551 BETA: Register strtsnm.is-a.dev
  domains/strtsnm.json
Labels: domain

#7552 BETA: Register rize.is-a.dev
  domains/rize.json
Labels: domain

#7466 BETA: Register rtxeon.is-a.dev
  domains/rtxeon.json
Labels: domain

#7503 BETA: Register halelui.is-a.dev
  domains/eliteflix.json
  domains/halelui.json
Labels: domain

#7561 BETA: Register cheeriomark1.is-a.dev
  domains/cheeriomark1.json
Labels: domain

#7445 BETA: Register mafarag.is-a.dev
  domains/mafarag.json
Labels: domain

#7455 BETA: Register justevil.is-a.dev
  domains/justevil.json
Labels: domain

#7465 BETA: Register bhavyasingh.is-a.dev
  domains/bhavyasingh.json
Labels: domain

#7462 BETA: Register mytac.is-a.dev
  domains/mytac.json
Labels: domain

#7460 BETA: Register csprance .is-a.dev
  domains/csprance.json
Labels: domain

#7495 Update asyncedd.is-a.dev
  domains/asyncedd.json
Labels: domain

#7500 Update rnv.is-a.dev
  domains/rnv.json
Labels: domain

#7596 ``CNAME changed``
  domains/tharukrenuja.json
Labels: domain

#7590 feat: update json file content
  domains/axel.json
Labels: domain

#7658 Update mukeshkumarcharak.is-a.dev
  domains/mukeshkumarcharak.json
Labels: domain

#7649 Delete domains/mert.json
  domains/mert.json
Labels: domain

#7447 BETA: Register vhd.is-a.dev
  domains/vhd.json
Labels: domain

#7600 Fix A record in kronifer.is-a.dev
  domains/kronifer.json
Labels: domain

#7471 BETA: Register jz.is-a.dev
  domains/jz.json
Labels: domain

#7448 BETA: Register carol3n.is-a.dev
  domains/carol3n.json
Labels: domain

#7496 BETA: Register hypernexus.is-a.dev
  domains/hypernexus.json
Labels: domain

#7474 BETA: Register mammad.is-a.dev
  domains/mammad.json
Labels: domain

#7446 BETA: Register alexr.is-a.dev
  domains/alexr.json
  domains/amelia.json
Labels: domain

#7499 Register probir-sarkar.is-a.dev
  domains/probir-sarkar.json
Labels: domain

#7482 BETA: Register topher.is-a.dev
  domains/topher.json
Labels: domain

#7481 BETA: Register tylermw.is-a.dev
  domains/tylermw.json
Labels: domain

#7485 BETA: Register yiyi.is-a.dev
  domains/yiyi.json
Labels: domain

#7487 Update machi.is-a.dev
  domains/machi.json
Labels: domain

#7486 Update adityakotha.json
  domains/adityakotha.json
Labels: domain

#7508 BETA: Register adiy.is-a.dev
  domains/adiy.json
Labels: domain

#7434 BETA: Register q31265503.is-a.dev
  domains/q31265503-bio.json
  domains/q31265503.json
Labels: domain

#7559 BETA: Register skillz.is-a.dev
  domains/skillz.json
Labels: domain

#7560 BETA: Register anshbhimani.is-a.dev
  domains/anshbhimani.json
Labels: domain

#7563 BETA: Register logxnic.is-a.dev
  domains/logxnic.json
Labels: domain

#7571 BETA: Register don.is-a.dev
  domains/don.json
Labels: domain

#7570 BETA: Register skyopg.is-a.dev
  domains/skyopg.json
Labels: domain

#7564 BETA: Register tetris.vi0leta.is-a.dev
  domains/tetris.vi0leta.json
Labels: domain

#7608 fix: update rubiin domain
  domains/rubiin.json
  domains/rubin.json
Labels: domain

#7572 BETA: Register gaurav87565.is-a.dev
  domains/gaurav87565.json
Labels: domain

#7537 BETA: Register amanthakur.is-a.dev
  domains/amanthakur.json
  domains/thakuraman.json
Labels: domain, status: pending fix, reason: invalid records, reason: invalid file

#7577 BETA: Register filip-razek.is-a.dev
  domains/filip-razek.json
Labels: domain

#7478 BETA: Register diedyesterday.is-a.dev
  domains/diedyesterday.json
Labels: domain

#7580 BETA: Register lolz.is-a.dev
  domains/lolz.json
Labels: domain

#7582 BETA: Register mubashiryasin.is-a.dev
  domains/mfused.json
  domains/mubashiryasin.json
Labels: domain

#7585 BETA: Register monissh.is-a.dev
  domains/monissh.json
Labels: domain

#7587 BETA: Register yuki.is-a.dev
  domains/yuki.json
Labels: domain

#7544 BETA: Register gpchn.is-a.dev
  domains/gpchn.json
Labels: domain, status: pending fix, reason: invalid records, reason: vercel/netlify

#7592 Create downgit.json
  domains/downgit.json
Labels: domain

#7597 BETA: Register visionavtr.is-a.dev
  domains/visionavtr.json
Labels: domain

#7598 BETA: Register dsgamer.is-a.dev
  domains/dsgamer.json
Labels: domain

#7599 Register panel-luxxy.is-a.dev
  domains/floppa.json
  domains/luxxy.json
  domains/panel-luxxy.json
  domains/testluxxy.json
Labels: domain

#7588 BETA: Register amazing.is-a.dev
  domains/amazing.devs.json
  domains/amazing.json
  domains/amazingdev.json
  domains/amazingdevel.json
  domains/amazingdevels.json
  domains/amazingdevs.json
  domains/devs.json
Labels: domain

#7601 BETA: Register sh1nyhunt3r27.is-a.dev
  domains/sh1nyhunt3r27.json
Labels: domain

#7604 BETA: Register thund3r.is-a.dev
  domains/thund3r.json
Labels: domain

#7605 BETA: Register kenanneo.is-a.dev
  domains/kenanneo.json
Labels: domain

#7562 BETA: Update peacy.is-a.dev
  domains/peacy.json
Labels: domain, status: pending fix, reason: invalid records

#7622 Update xuanwu.is-a.dev
  domains/xuanwu.json
Labels: domain

#7634 Create dynamic-homepage.json
  domains/dynamic-homepage.json
Labels: domain

#7609 BETA: Register marby.is-a.dev
  domains/marby.json
Labels: domain

#7615 BETA: Register nexacopic.is-a.dev
  domains/nexacopic.json
Labels: domain

#7618 BETA: Register ksingh.is-a.dev
  domains/ksingh.json
Labels: domain

#7627 BETA: Register rifkisaputra.is-a.dev
  domains/rifkisaputra.json
Labels: domain

#7620 BETA: Register javierpastore.is-a.dev
  domains/javierpastore.json
Labels: domain

#7621 BETA: Register nfason.is-a.dev
  domains/nfason.json
Labels: domain

#7624 BETA: Register kasu.is-a.dev
  domains/kasu.json
  domains/kasuu.json
Labels: domain

#7628 BETA: Register asher.is-a.dev
  domains/asher.json
Labels: domain

#7630 BETA: Register sephrost.is-a.dev
  domains/sephrost.json
Labels: domain

#7631 BETA: Register clicpow.is-a.dev
  domains/clicpow.json
Labels: domain

#7470 BETA: Register fauzi.is-a.dev
  domains/fauzi.json
Labels: domain

#7633 BETA: Register alcyoneus .is-a.dev
  domains/alcyoneus.json
Labels: domain

#7664 Create mail.enderpoint.json
  domains/mail.enderpoint.json
Labels: domain

#7635 BETA: Register xeno.is-a.dev
  domains/xeno.json
Labels: domain

#7636 BETA: Register dominik.is-a.dev
  domains/dominik.json
Labels: domain

#7637 BETA: Register rubensalinas.is-a.dev
  domains/rubensalinas.json
Labels: domain

#7638 BETA: Register aakrisht.is-a.dev
  domains/aakrisht.json
Labels: domain

#7639 BETA: Register kavinned.is-a.dev
  domains/kavinned.json
Labels: domain

#7641 BETA: Register osakihsieh.is-a.dev
  domains/osakihsieh.json
  domains/spd.json
Labels: domain

#7642 BETA: Register ayushmansarkar.is-a.dev
  domains/ayushmansarkar.json
Labels: domain

#7645 BETA: Register aidan.is-a.dev
  domains/aidan.json
Labels: domain

#7646 BETA: Register plush.is-a.dev
  domains/plush.json
Labels: domain

#7647 BETA: Register unknowncheats.is-a.dev
  domains/unknowncheats.json
Labels: domain

#7644 BETA: Register damned-support.is-a.dev
  domains/damned-support.json
  domains/dsgaasdgsdag.json
Labels: domain

#7650 BETA: Register kntlpop.is-a.dev
  domains/kntlpop.json
Labels: domain

#7652 BETA: Register mohamad.is-a.dev
  domains/mohamad.json
Labels: domain

#7653 BETA: Register ryanzam.is-a.dev
  domains/ryanzam.json
Labels: domain

#7654 BETA: Register myvps.is-a.dev
  domains/myvps.json
Labels: domain

#7655 BETA: Register neomc.xyz.is-a.dev
  domains/neomc.xyz.json
Labels: domain

#7480 Create tylermwise.json
  domains/tylermwise.json
Labels: domain, status: pending fix, reason: invalid records

#7616 BETA: Register lap.is-a.dev
  domains/lap.json
Labels: domain

#7656 BETA: Register orhanyigitdurmaz.is-a.dev
  domains/orhanyigitdurmaz.json
Labels: domain

#7625 BETA: Register wangjoui.is-a.dev
  domains/wangjoui.json
Labels: domain

#7657 BETA: Register amulyasingh.is-a.dev
  domains/amulyasingh.json
Labels: domain

#7583 BETA: Register makeshiftartist.is-a.dev
  domains/makeshiftartist.json
Labels: domain

#7603 BETA: Register rajasbhagatkar.is-a.dev
  domains/rajasbhagatkar.json
Labels: domain

#7643 BETA: Register rockstarbuddies.is-a.dev
  domains/rockstarbuddies.json
Labels: domain, status: pending fix, reason: invalid records

#7665 BETA: Register sussypranav.is-a.dev
  domains/sussypranav.json
Labels: domain

#7578 Update saurabhkirve.json
  domains/saurabhkirve.json
Labels: domain, status: pending fix, reason: invalid records

#7679 Update dynamic-homepage.is-a.dev
  domains/dynamic-homepage.json
Labels: domain

#7683 Update rtxeon.json
  domains/rtxeon.json
Labels: domain

#7676 BETA: Register block.is-a.dev
  domains/block.json
Labels: domain

#7702 Update api.anshtyagi.json
  domains/api.anshtyagi.json
Labels: domain

#7666 Update mohamad.is-a.dev
  domains/mohamad.json
Labels: domain

#7726 Update contact info
  domains/chino.json
Labels: domain

#7722 Change URL redirection
  domains/johan-stickman.json
Labels: domain

#7671 BETA: Register mert.is-a.dev
  domains/mert.json
Labels: domain

#7672 BETA: Register sgogov.is-a.dev
  domains/sgogov.json
Labels: domain

#7673 BETA: Register voh.is-a.dev
  domains/voh.json
Labels: domain

#7675 BETA: Register aantarip.is-a.dev
  domains/aantarip.json
Labels: domain

#7677 BETA: Register baba.is-a.dev
  domains/baba.json
Labels: domain

#7678 BETA: Register prodefix.is-a.dev
  domains/prodefix.json
Labels: domain

#7711 BETA: Register declan.is-a.dev
  domains/declan.json
Labels: domain

#7687 BETA: Register vipul.is-a.dev
  domains/vipul.json
Labels: domain

#7688 BETA: Register hariienesh.is-a.dev
  domains/hariienesh.json
Labels: domain

#7716 BETA: Register kuat.is-a.dev
  domains/kuat.json
Labels: domain

#7707 BETA: Register aymenjelassi.is-a.dev
  domains/aymenjelassi.json
Labels: domain

#7708 BETA: Register saahil.is-a.dev
  domains/saahil.json
Labels: domain
