Repository is-a-dev/register, pull requests merged in 2023-12, with the labels that each got.

#9720 BETA: Register felipesantos.is-a.dev
  domains/felipesantos.json
Labels: domain

#9721 BETA: Register parthpanchal.is-a.dev
  domains/parthpanchal.json
Labels: domain

#9716 Update n3rcy.is-a.dev
  domains/n3rcy.json
Labels: domain

#9710 Update notrana.json
  domains/notrana.json
Labels: domain

#9737 Added CNAME record (changed from Github Pages to Cloudflare Pages)
  domains/cutedog5695.json
Labels: domain

#9691 Update nav.json
  domains/nav.json
Labels: domain

#9678 BETA: Register friendslikebd.is-a.dev
  domains/friendslikebd.json
Labels: domain

#9740 BETA: Register shmeeseeks.is-a.dev
  domains/shmeeseeks.json
Labels: domain

#9687 BETA: Register stefan.is-a.dev
  domains/stefan.json
Labels: domain

#9695 BETA: Register iammelvink.is-a.dev
  domains/iammelvink.json
Labels: domain

#9726 BETA: Register nepy.is-a.dev
  domains/nepy.json
Labels: domain

#9702 BETA: Register rylie.is-a.dev
  domains/rylie.json
Labels: domain

#9738 BETA: Register lwes.is-a.dev
  domains/lwes.json
Labels: domain

#9735 BETA: Register lsy.is-a.dev
  domains/lsy.json
  domains/that.json
Labels: domain

#9739 BETA: Register devmirza.is-a.dev
  domains/devmirza.json
Labels: domain

#9734 BETA: Register raad.is-a.dev
  domains/raad.json
Labels: domain

#9745 BETA: Register utkn.is-a.dev
  domains/utkn.json
Labels: domain

#9743 BETA: Register curse.is-a.dev
  domains/curse.json
Labels: domain

#9685 BETA: Register ahaan.is-a.dev
  domains/ahaan.json
Labels: domain

#9742 BETA: Register karanxidhu.is-a.dev
  domains/karanxidhu.json
Labels: domain

#9703 BETA: Register vin-decoder.is-a.dev
  domains/vin-decoder.json
Labels: domain

#9712 BETA: Register quest.is-a.dev
  domains/quest.json
Labels: domain

#9697 BETA: Register aarav.is-a.dev
  domains/aarav.json
Labels: domain

#9679 BETA: Register adityajyoti.is-a.dev
  domains/adityajyoti.json
  domains/aj.json
Labels: domain

#9680 BETA: Register ppy.is-a.dev
  domains/ppy.json
Labels: domain

#9692 BETA: Register rice.is-a.dev
  domains/rice.json
Labels: domain

#9696 BETA: Register foreskin.is-a.dev
  domains/foreskin.json
Labels: domain

#9717 BETA: Register ggio.is-a.dev
  domains/gg.io.json
  domains/ggio.json
Labels: domain

#9775 Update aj.json To point to new URL
  domains/aj.json
Labels: domain

#9774 Update adityajyoti.json To point to new URL
  domains/adityajyoti.json
Labels: domain

#9760 'A record' for email use
  domains/sh-crm.json
Labels: domain

#9756 Update ppy.is-a.dev
  domains/ppy.json
Labels: domain

#9748 Update tetris.vi0leta.json
  domains/tetris.vi0leta.json
Labels: domain

#9747 Update ip address v2ray.vi0leta.json
  domains/v2ray.vi0leta.json
Labels: domain

#9752 BETA: Register mr.noname.is-a.dev
  domains/mr.noname.json
Labels: domain

#9753 BETA: Register paoloclimaco.is-a.dev
  domains/paoloclimaco.json
Labels: domain

#9757 BETA: Register kodex.is-a.dev
  domains/kodex.json
Labels: domain

#9772 BETA: Register lucas.is-a.dev
  domains/lucas.json
Labels: domain

#9759 BETA: Register tosh.is-a.dev
  domains/tosh.json
Labels: domain

#9776 BETA: Register amanda.is-a.dev
  domains/amanda.json
Labels: domain

#9778 update and remove unwanted subdomain
  domains/api.badboy.json
  domains/badboy.json
  domains/cdn.badboy.json
  domains/cdn.semant.json
Labels: domain

#9787 BETA: Register hoanguyen.is-a.dev
  domains/hoanguyen.json
Labels: domain

#9784 BETA: Register apexweb.is-a.dev
  domains/apexweb.json
Labels: domain

#9764 BETA: Register byigit.is-a.dev
  domains/byigit.json
Labels: domain

#9777 BETA: Register blucifer.is-a.dev
  domains/blucifer.json
Labels: domain

#9773 BETA: Register codingkitten.is-a.dev
  domains/codingkitten.json
Labels: domain

#9800 BETA: Register neria.is-a.dev
  domains/neria.json
Labels: domain

#9802 BETA: Register riveon.is-a.dev
  domains/riveon.json
Labels: domain

#9796 BETA: Register stodja.is-a.dev
  domains/stodja.json
Labels: domain

#9797 BETA: Register kaze.is-a.dev
  domains/kaze.json
Labels: domain

#9801 BETA: Register zwzodo.is-a.dev
  domains/zwzodo.json
Labels: domain

#9793 BETA: Register sparkle.is-a.dev
  domains/sparkle.json
Labels: domain

#9794 BETA: Register gabolemus.is-a.dev
  domains/gabolemus.json
Labels: domain

#9781 Update atharvaupadhyay.json
  domains/atharvaupadhyay.json
Labels: domain

#9783 discord & email
  domains/_discord.dyno.json
  domains/dyno.json
  domains/stefan.json
Labels: domain

#9791 BETA: Register fa-fifi.is-a.dev
  domains/fa-fifi.json
Labels: domain, reason: invalid records

#9809 Create mrjunkyz.json
  domains/mrjunkyz.json
Labels: domain

#9806 BETA: Register kxden.is-a.dev
  domains/kxden.json
Labels: domain

#9810 BETA: Register onlive.is-a.dev
  domains/onlive.json
Labels: domain

#9832 BETA: Register seanconroy.is-a.dev
  domains/seanconroy.json
Labels: domain

#9811 Register sarveshmrao.is-a.dev
  domains/sarveshmrao.json
Labels: domain

#9807 BETA: Register magenta.is-a.dev
  domains/magenta.json
Labels: domain

#9768 Reduce stale time
  .github/workflows/stale.yml
Labels: maintainer

#9869 Delete domains/elchapo.json
  domains/elchapo.json
Labels: maintainer

#9896 Create notify-api.json
  domains/notify-api.json
Labels: maintainer

#9898 Register register-bot.is-a.dev
  domains/register-bot.json
Labels: domain

#9942 Re add because silly cleanup bot removed it
  domains/_github-pages-challenge-FoxsDenYT.foxsden.json
  domains/foxsden.json
Labels: domain

#9945 Update ciaobot.json
  domains/ciaobot.json
Labels: domain

#9943 Update shept.json
  domains/shept.json
Labels: domain

#9836 BETA: Register rmd.is-a.dev
  domains/rmd.json
Labels: domain

#9964 BETA: Register nelson.is-a.dev
  domains/nelson.json
Labels: domain

#9933 Update chris8889.json
  domains/chris8889.json
Labels: domain

#9934 Arecordbranch
  domains/mail.neki.json
  domains/neki.json
Labels: domain

#9940 BETA: Register imdew.is-a.dev
  domains/imdew.json
Labels: domain

#9946 BETA: Register gbot.is-a.dev
  domains/gattinhosbot.json
  domains/gbot.json
Labels: domain

#9959 Update CNAME to my page
  domains/itzhenry.json
Labels: domain

#9961 BETA: Register brpro.is-a.dev
  domains/brpro.json
Labels: domain

#9924 BETA: Register argonnetworkmainframe.is-a.dev
  domains/argonnetworkmainframe.json
Labels: domain

#9957 BETA: Register keylock.is-a.dev
  domains/keylock.json
Labels: domain

#9954 BETA: Register niper.is-a.dev
  domains/niper.json
Labels: domain

#9953 BETA: Register pieter.is-a.dev
  domains/pieter.json
Labels: domain

#9952 Register eeshwar.is-a.dev
  domains/eeshwar.json
Labels: domain

#9949 BETA: Register flame.is-a.dev
  domains/flame.json
Labels: domain

#9941 BETA: Register anakhalal.is-a.dev
  domains/anakhalal.json
Labels: domain

#9938 BETA: Register 123.is-a.dev
  domains/123.json
Labels: domain

#9936 BETA: Register strider-studios.is-a.dev
  domains/strider-studios.json
Labels: domain

#9935 BETA: Register miljte.is-a.dev
  domains/miljte.json
Labels: domain

#9841 Register akshatt.is-a.dev
  domains/akshatt.json
Labels: domain

#9843 BETA: Register amar.is-a.dev
  domains/amar.json
Labels: domain

#9837 BETA: Register rubyscans.is-a.dev
  domains/rubyscans.json
Labels: domain

#9931 BETA: Register vibez.is-a.dev
  domains/vibez.json
Labels: domain

#9930 BETA: Register colin.is-a.dev
  domains/colin.json
Labels: domain

#9928 BETA: Register sincererflame71.is-a.dev
  domains/sincererflame71.json
Labels: domain

#9838 BETA: Register januantara .is-a.dev
  domains/januantara.json
  domains/prima.json
Labels: domain

#9839 BETA: Register flex.is-a.dev
  domains/flex.json
Labels: domain

#9921 BETA: Register vixcord.is-a.dev
  domains/vixcord.json
Labels: domain

#9920 BETA: Register peme969.is-a.dev
  domains/peme969.json
Labels: domain

#9919 BETA: Register zirconiac.is-a.dev
  domains/zirconiac.json
Labels: domain

#9918 BETA: Register mine.craft.is-a.dev
  domains/computer.guy.json
  domains/computerguy.json
  domains/mine.craft.json
Labels: domain

#9915 Create happyenderman.json
  domains/happyenderman.json
Labels: domain

#9914 BETA: Register rahil.is-a.dev
  domains/rahil.json
Labels: domain

#9913 BETA: Register sama.is-a.dev
  domains/sama.json
Labels: domain

#9912 Added my org to domain
  domains/_github-challenge-yfadev-org.yfa.json
  domains/_github-challenge-yfadev-org.yfadev.json
  domains/yfadev.json
Labels: domain

#9911 BETA: Register popcorn.is-a.dev
  domains/popcorn.json
Labels: domain

#9909 BETA: Register samlim.is-a.dev
  domains/samlim.json
Labels: domain

#9815 Register adityaredflag.is-a.dev
  domains/adityaredflag.json
Labels: domain

#9908 Update avg.json
  domains/avg.json
Labels: domain

#9849 Create webmail.mrjunkyz.json
  domains/webmail.mrjunkyz.json
Labels: domain

#9850 Create mail.mrjunkyz.json
  domains/mail.mrjunkyz.json
Labels: domain

#9852 Update atharva.json
  domains/atharva.json
Labels: domain

#9857 BETA: Register omi.is-a.dev
  domains/omi.json
Labels: domain

#9860 BETA: Register tech-is-god.is-a.dev
  domains/tech-is-god.json
Labels: domain

#9880 Update thedt.is-a.dev
  domains/thedt.json
Labels: domain

#9879 Update poyo.json
  domains/poyo.json
Labels: domain

#9873 Add CNAME in domain config `sunny.json`
  domains/sunny.json
Labels: domain, reason: invalid records

#9967 BETA: Register amodity.is-a.dev
  domains/amodity.json
Labels: domain

#9894 Update prakhillohiya.json (GH Pages)
  domains/prakhillohiya.json
Labels: domain

#9972 Delete domains/freegraphics.json
  domains/freegraphics.json
Labels: domain

#9979 BETA: Register ss.kleb.is-a.dev
  domains/ss.kleb.json
Labels: domain

#9980 BETA: Register kleb.is-a.dev
  domains/kleb.json
Labels: domain

#9985 Rename rick-astley.json to 2fa.phoenix.json
  domains/2fa.phoenix.json
Labels: domain

#9984 Changed Record
  domains/vibez.json
Labels: domain

#9986 BETA: Register hotmayonaise.is-a.dev
  domains/hotmayonaise.json
Labels: domain

#9978 Create tas33n.json
  domains/tas33n.json
Labels: domain

#9976 BETA: Register d4rabi.is-a.dev
  domains/d4rabi.json
Labels: domain

#9975 BETA: Register normturtle.is-a.dev
  domains/normturtle.json
Labels: domain

#9974 BETA: Register clyde.is-a.dev
  domains/clyde.json
Labels: domain

#9973 Github Domain Verification
  domains/_github-pages-challenge-prakhillohiya.prakhillohiya.json
Labels: domain

#9905 Change Github Username on record
  domains/_github-pages-challenge-jakehe1226.jakehe.json
Labels: domain

#9900 Create imad.json
  domains/imad.json
  domains/imd.json
Labels: domain

#9874 BETA: Register _discord.amol254542.is-a.dev
  domains/_discord.amol254542.json
Labels: domain

#9876 BETA: Register pink.is-a.dev
  domains/pink.json
Labels: domain

#9885 BETA: Register thisqoutedoesntexist.is-a.dev
  domains/thisqoutedoesntexist.json
Labels: domain

#9856 BETA: Register yc-gen.is-a.dev
  domains/yc-gen.json
Labels: domain

#9862 BETA: Register s7nx.is-a.dev
  domains/s7nx.json
Labels: domain

#9863 BETA: Register raspi.is-a.dev
  domains/raspi.json
Labels: domain

#9864 BETA: Register luminexcloud.is-a.dev
  domains/luminexcloud.json
Labels: domain

#9865 BETA: Register varunhere.is-a.dev
  domains/varunhere.json
Labels: domain

#9867 BETA: Register varun.is-a.dev
  domains/varun.json
Labels: domain

#9875 BETA: Register yumi.is-a.dev
  domains/yumi.json
Labels: domain

#9883 BETA: Register thabanii.is-a.dev
  domains/thabanii.json
Labels: domain

#9884 BETA: Register emmanuel.is-a.dev
  domains/emmanuel.json
Labels: domain

#9906 BETA: Register sohamkansodaria.is-a.dev
  domains/sohamkansodaria.json
Labels: domain

#9892 BETA: Register yieldray.is-a.dev
  domains/yieldray.json
Labels: domain

#9888 BETA: Register sudi.is-a.dev
  domains/sudi.json
Labels: domain

#9868 nik.is-a.dev
  domains/nik.json
Labels: domain, reason: invalid records

#9993 Re-add asriel.json
  domains/asriel.json
Labels: domain

#9994 BETA: Register lotra.is-a.dev
  domains/lotra.json
Labels: domain

#10000 Register mail.is-a.dev
  domains/mail.json
Labels: domain

#10008 Update domains
  domains/mail.json
  domains/mailx.json
Labels: domain
