Repository is-a-dev/register, pull requests merged in 2023-02, with the labels that each got.

#4697 Update sx9.json
  domains/sx9.json
Labels: domain, status: pending fix, reason: invalid records

#4699 Create rvakz.is-a.dev
  domains/rvakz.json
Labels: domain, reason: incompleted website

#4689 Added moh via is-a-dev-cli
  domains/moh.json
Labels: domain, status: pending fix, reason: invalid records

#4701 Create xthe.json
  domains/xthe.json
Labels: domain

#4704 Add my own domain
  domains/hase0278.json
Labels: domain

#4706 Update my own domain
  domains/hase0278.json
Labels: domain

#4708 nileshhaldar98.json file updated
  domains/nileshhaldar98.json
Labels: domain

#4709 Create reynold.json
  domains/reynold.json
Labels: domain

#4702 Update loky.json
  domains/loky.json
Labels: domain, status: pending fix, reason: inaccessible website

#4711 Added MX and TXT Record for Email
  domains/mail.l6174.json
Labels: domain, status: pending fix, reason: invalid records

#4713 Update earthrulerr.json CNAME
  domains/earthrulerr.json
Labels: domain

#4710 Added sadmananik via is-a-dev-cli
  domains/sadmananik.json
Labels: domain, status: pending fix, reason: inaccessible website

#4716 Domain for my Portfolio
  domains/shubham.json
Labels: domain

#4718 Create addison.json
  domains/addison.json
Labels: domain

#4717 Added patrickbrophy via is-a-dev-cli
  domains/patrickbrophy.json
Labels: domain

#4719 Update my subdomain
  domains/hase0278.json
Labels: domain

#4593 Added sujeeth via is-a-dev-cli
  domains/sujeeth.json
Labels: domain, status: pending fix, reason: inaccessible website

#4720 New domain migoreng.json
  domains/migoreng.json
Labels: domain

#4722 Added ihsan via is-a-dev-cli
  domains/ihsan.json
  domains/xzfrost.json
Labels: domain

#4725 Create thomasfrost.json
  domains/thomasfrost.json
Labels: domain

#4730 Create impsycho.json
  domains/impsycho.json
Labels: domain

#4732 Create samirp.json
  domains/samirp.json
Labels: domain

#4729 added my json file
  domains/himashu.json
Labels: domain

#4727 Added cname record
  domains/imzihad21.json
Labels: domain

#4731 Create neville.json
  domains/neville.json
Labels: domain

#4734 domain cname record added.
  domains/imzulkar.json
Labels: domain

#4726 Added jenina via is-a-dev-cli
  domains/jenina.json
Labels: domain, status: pending fix, reason: incompleted website

#4733 Add lostdir69
  domains/lostdir69.json
Labels: domain, status: pending fix, reason: inaccessible website

#4724 Added useless via is-a-dev-cli
  domains/useless.json
Labels: domain, status: pending fix, reason: invalid social

#4737 Added xuefeng via is-a-dev-cli
  domains/xuefeng.json
Labels: domain

#4738 Create aspect.json
  domains/aspect.json
Labels: domain

#4739 boon.is-a-dev
  domains/boon.json
Labels: domain

#4743 Update lukas.json
  domains/lukas.json
Labels: domain

#4744 Added catdrout via is-a-dev-cli
  domains/catdrout.json
Labels: domain

#4745 Update attaditya.json
  domains/attaditya.json
Labels: domain

#4747 Update vaibhavsys.json
  domains/vaibhavsys.json
Labels: domain

#4742 Register Subdomain shiv
  domains/shiv.json
Labels: domain, status: pending fix, reason: inaccessible website

#4750 Register kefir.is-a.dev
  domains/kefir.json
Labels: domain

#4749 Register srn.is-a.dev
  domains/srn.json
Labels: domain, status: pending fix, reason: invalid records

#4752 Register mrcrbrth.is-a.dev
  domains/mrcrbrth.json
Labels: domain

#4755 Update mrcrbrth.json
  domains/mrcrbrth.json
Labels: domain

#4756 Update xuefeng.json
  domains/xuefeng.json
Labels: domain

#4757 Register _github-pages-challenge-axviii3.is-a.dev
  domains/_github-pages-challenge-axviii3.axviii3.json
Labels: domain

#4760 Update suki.json
  domains/suki.json
Labels: domain

#4761 Register croissant.is-a.dev
  domains/croissant.json
Labels: domain

#4767 shin.json: change record MX and TXT
  domains/shin.json
Labels: domain

#4768 Register abhi.is-a.dev
  domains/abhi.json
Labels: domain

#4775 Create qna.suki.json
  domains/qna.suki.json
Labels: domain, status: pending fix, reason: invalid records

#4779 Delete requested domains
  domains/daniel-shuy.json
  domains/ezedinff.json
  domains/iamsdas.json
  domains/lejhand.json
  domains/lord-xenon.json
  domains/nirlep.json
  domains/opensourze.json
  domains/shalom.json
  domains/snowflake.json
  domains/windows.json
  domains/xmdb.json
  domains/yum.json
Labels: domain

#4780 Added aguspedhot via is-a-dev-cli
  domains/aguspedhot.json
Labels: domain

#4782 Maintainers domain cleanup
  domains/_github-pages-challenge-andrewstech.api-docs.json
  domains/_github-pages-challenge-andrewstech.privacy.json
  domains/andrewstech.json
  domains/api-docs.json
  domains/api.json
  domains/auth.json
  domains/beta.auth.json
  domains/beta.json
  domains/cli.json
  domains/dev-support.json
  domains/email.json
  domains/example.json
  domains/fonts.json
  domains/live.preview.beta.json
  domains/maintainers.json
  domains/notify-api.json
  domains/preview.beta.json
  domains/privacy.json
  domains/raw.json
  domains/register-api.json
  domains/register-bot.json
  domains/register.json
  domains/ss.json
  domains/vpc01.json
Labels: domain, wip, Maintainer PR

#4785 Register vien.is-a.dev
  domains/vien.json
Labels: domain

#4786 Register syed.is-a.dev
  domains/syed.json
Labels: domain

#4787 only need one "A" record
  domains/mrcrbrth.json
Labels: domain

#4789 added
  domains/xdlyy.json
Labels: domain

#4777 Register ihzan.is-a.dev
  domains/ihzan.json
Labels: domain, status: pending fix, reason: invalid records

#4791 Register ahku.is-a.dev
  domains/ahku.json
Labels: domain

#4549 Added parsa via is-a-dev-cli
  domains/parsa.json
Labels: domain, status: pending fix, reason: inaccessible website

#4799 Register mendy.is-a.dev
  domains/mendy.json
Labels: domain

#4800 Register bttm.is-a.dev
  domains/bttm.json
Labels: domain

#4802 Register mawoka.is-a.dev
  domains/mawoka.json
Labels: domain

#4817 Register onvy.is-a.dev
  domains/onvy.json
Labels: domain

#4798 Added phaze via is-a-dev-cli
  domains/phaze.json
Labels: domain, status: pending fix, reason: inaccessible website

#4820 Update crystal.json
  domains/crystal.json
Labels: domain

#4827 Change to CNAME for `matt3o0.json`
  domains/matt3o0.json
Labels: domain

#4826 Create Yutong.json
  domains/yutong.json
Labels: domain

#4821 Register: anishshobithps.is-a.dev
  domains/anishshobithps.json
Labels: domain

#4825 Register erc.is-a.dev
  domains/erc.json
Labels: invalid, domain, status: pending fix

#4831 Create mail.suki.json
  domains/mail.suki.json
Labels: domain

#4790 Register ekansh.is-a.dev
  domains/ekansh.json
Labels: domain, status: pending fix, reason: incompleted website

#4842 AxewBoTX
  domains/axewbotx.json
Labels: domain

#4380 Register Subdomain: tarun577
  domains/tarun57.json
  domains/tarun577.json
Labels: domain, stale, status: pending fix, reason: incompleted website, reason: invalid records

#4362 Create jeremie.json
  domains/jeremie.json
Labels: domain, stale, status: awaiting user response

#4392 Added analogsombraVia is-a-dev-cli
  domains/analogsombra.json
Labels: domain, stale, status: awaiting user response, reason: inaccessible website

#4413 Added gitcat3Via is-a-dev-cli
  domains/gitcat3.json
Labels: domain, stale, status: pending fix, reason: incompleted website

#4849 Added tisch via is-a-dev-cli
  domains/tisch.json
Labels: domain

#4850 Register sebastian.is-a.dev
  domains/sebastian.json
Labels: domain

#4851 Register jackchap.is-a.dev
  domains/jack.json
Labels: domain

#4852 Register ebaa.is-a.dev
  domains/ebaa.json
Labels: domain

#4856 Change record of jack
  domains/jack.json
Labels: domain

#4863 Create vanillia.json
  domains/vanillia.json
Labels: domain

#4860 Update `zyrouge.json`
  domains/zyrouge.json
Labels: domain

#4862 madmusician.is-a.dev
  domains/madmusician.json
Labels: domain, status: awaiting maintainer decision

#4865 Register fire.is-a.dev
  domains/fire.json
Labels: domain

#4867 Register haris.is-a.dev
  domains/haris.json
Labels: domain

#4869 Register rhyk.is-a.dev
  domains/rhyk.json
Labels: domain

#4871 Register
  domains/shivanshu814.json
Labels: domain, status: pending fix, reason: invalid records

#4880 Register murder.is-a.dev
  domains/murder.json
Labels: domain

#4875 Delete ericp3reira.json
  domains/ericp3reira.json
Labels: domain

#4876 Added earth.sx9Via is-a-dev-cli
  domains/earth.sx9.json
Labels: domain

#4874 Create adonisfx.json
  domains/adonisfx.json
Labels: domain

#4879 Register certurix.is-a.dev
  domains/certurix.json
Labels: domain

#4883 Register herbert.is-a.dev
  domains/herbert.json
Labels: domain

#4884 Register debxd.is-a.dev
  domains/debxd.json
Labels: domain

#4890 ahmedeldin.is-a.dev
  domains/eldin.json
Labels: domain

#4891 Register mc.toastersticks.is-a.dev
  domains/mc.toastersticks.json
Labels: domain

#4870 Register bhargav.is-a.dev
  domains/bhargav.json
Labels: domain, status: pending fix, reason: invalid records

#4892 Register liquid.is-a.dev
  domains/liquid.json
Labels: domain

#4893 Register vbkg.is-a.dev
  domains/vbkg.json
Labels: domain

#4895 Register jakub.is-a.dev and its sub-domains
  domains/dc.jakub.json
  domains/discord.jakub.json
  domains/jakub.json
Labels: domain

#4896 Register tharinduj.is-a.dev
  domains/tharinduj.json
Labels: domain

#4899 Register arpitbatra.is-a.dev
  domains/arpitbatra.json
Labels: domain

#4901 Register ambaskaryash.is-a.dev
  domains/ambaskaryash.json
Labels: domain

#4902 Register raj.is-a.dev
  domains/raj.json
Labels: domain

#4906 Register blueysh.is-a.dev
  domains/blueysh.json
Labels: domain

#4909 setup improvmx with domain
  domains/lunah.json
Labels: domain

#4912 Register winter.is-a.dev
  domains/winter.json
Labels: domain

#4914 updated arpitbatra.json
  domains/arpitbatra.json
Labels: domain, status: pending fix, reason: invalid records

#4920 Create ahmedeldin.is-a.dev
  domains/ahmedeldin.json
Labels: domain

#4917 Register aldenizenmc.is-a.dev
  domains/aldenizenmc.json
Labels: domain, status: pending fix, reason: invalid records

#4925 Delete axin.json
  domains/axin.json
Labels: domain

#4921 Register swargarajbhowmik.is-a.dev
  domains/swargarajbhowmik.json
Labels: domain, status: pending fix, reason: inaccessible website

#4928 Register n1ka.is-a.dev
  domains/n1ka.json
Labels: domain

#4929 Create praquron.json
  domains/praquron.json
Labels: domain

#4931 Changed CNAME to URL
  domains/vulcanwm.json
Labels: domain

#4934 Create goon.json
  domains/goon.json
Labels: domain

#4557 Added gdbotlist.json
  domains/gdbotlist.json
Labels: domain, stale, status: awaiting user response

#4936 Register ruben.is-a.dev
  domains/ruben.json
Labels: domain

#4938 Create ansh.json
  domains/ansh.json
Labels: domain

#4942 mail redirect
  domains/kotikov.json
Labels: domain

#4945 Update snox.json
  domains/snox.json
Labels: domain

#4941 Register godwhitelight.is-a.dev
  domains/godwhitelight.json
Labels: domain

#4944 Create Tmozki.json
  domains/tmozki.json
Labels: domain

#4951 Added alrakib via is-a-dev-cli
  domains/alraakib.json
Labels: domain

#4957 Register qwerty-qwerty.is-a.dev
  domains/qwerty-qwerty.json
Labels: domain

#4956 Change URL record to CNAME record in rowan.json
  domains/rowan.json
Labels: domain, status: pending fix, reason: inaccessible website

#4960 Create jcquieta.json
  domains/jcquieta.json
Labels: domain

#4961 Added alephanull.is-a.dev
  domains/alephanull.json
Labels: domain

#4965 Register micky.is-a.dev
  domains/micky.json
Labels: domain

#4966 Added whyme via is-a-dev-cli
  domains/whyme.json
Labels: domain

#4970 Create creepso.json
  domains/creepso.json
Labels: domain

#4968 Register chaman.is-a.dev
  domains/chaman.json
Labels: domain, status: pending fix, reason: inaccessible website

#4973 Register oniondev.is-a.dev
  domains/oniondev.json
Labels: domain

#4976 commit
  domains/heet.json
Labels: domain
