Repository is-a-dev/register, pull requests merged in 2023-04, with the labels that each got.

#5190 Create evelio.json
  domains/evelio.json
Labels: domain

#5194 Register subdomain : nbx1t
  domains/nxb1t.json
Labels: domain

#5191 elijah629.json
  domains/elijah629.json
Labels: domain

#5192 Create formalite.json
  domains/formalite.json
Labels: domain

#5193 Create adais.json
  domains/adais.json
Labels: domain

#5195 Register graphql.is-a.dev
  domains/graphql.json
Labels: domain, status: pending fix, reason: incompleted website

#5196 Update evelio.json for add MX and TXT record.
  domains/evelio.json
Labels: domain

#5198 Create prakmo.json
  domains/prakmo.json
Labels: domain

#5211 Create dqmn.json
  domains/dqmn.json
Labels: domain

#5212 Please assign the domain here
  domains/imskanand.json
Labels: domain

#5213 Create baer.json
  domains/baer.json
Labels: domain

#5214 Create demir.json
  domains/demir.json
Labels: domain

#5219 Register vishwapinnawala.is-a.dev
  domains/vishwapinnawala.json
Labels: domain

#5216 Create lovis.json
  domains/lovis.json
Labels: domain

#5217 garlic-os: Point to my server
  domains/garlic-os.json
Labels: domain

#5220 Register files.dqmn.is-a.dev
  domains/files.dqmn.json
Labels: domain

#5221 Create mizu.json
  domains/mizu.json
Labels: domain

#5225 Added thesyed subdomain; removed old alephanull subdomain
  domains/thesyed.json
Labels: domain

#5231 Register anay.is-a.dev
  domains/anay.json
Labels: domain

#5242 Create sys32.json
  domains/sys32.json
Labels: domain

#5240 Create uiopler.json
  domains/uiopler.json
Labels: domain

#5239 Register con.is-a.dev
  domains/con.json
Labels: domain

#5241 Create reading.json
  domains/reading.json
Labels: domain

#5237 req
  domains/itsmealdo.json
Labels: domain

#5236 Register sheldon.json
  domains/sheldon.json
Labels: domain

#5234 Register ikd.is-a.dev
  domains/ikd.json
Labels: domain

#5247 Create dushmanta.json
  domains/dushmanta.json
Labels: domain, status: pending fix, reason: incompleted website

#5250 Register avi.is-a.dev
  domains/avi.json
Labels: domain

#5253 Register raven.is-a.dev
  domains/raven.json
Labels: domain

#5256 Create lthon09.json
  domains/lthon09.json
Labels: domain

#5259 Create trio.json
  domains/trio.json
Labels: domain

#5264 Update jzitnik.json
  domains/jzitnik.json
Labels: domain

#5258 Created cristianmihai.json
  domains/cristianmihai.json
Labels: domain

#5263 Register sebitalent04.is-a.dev
  domains/sebitalent04.json
Labels: domain

#5266 Register firepup650.is-a.dev
  domains/firepup650.json
Labels: domain

#5270 Update samcarson.json
  domains/samcarson.json
Labels: domain

#5257 WindFarms domain
  domains/windfarms.json
Labels: domain

#5271 Update graphql.json
  domains/graphql.json
Labels: domain, status: pending fix, reason: inaccessible website

#5275 Create ethereal.json (etherealthedev.is-a.dev)
  domains/ethereal.json
Labels: domain

#5272 Register entenico.is-a.dev
  domains/entenico.json
Labels: domain

#5267 Added 88.127.172.169
  domains/r3tr0vw.json
Labels: domain, status: pending fix, reason: incompleted website

#5276 Create lndr2501.json
  domains/lndr2501.json
Labels: domain

#5278 Register yose.is-a.dev
  domains/yose.json
Labels: domain

#5279 Forgot it wasn't that easy!
  domains/ethereal.json
Labels: domain, status: pending fix, reason: invalid records

#5286 Create client.nziie.json
  domains/client.nziie.json
Labels: domain

#5281 thiago domain
  domains/thiago.json
Labels: domain

#5283 Register lrmn.is-a.dev
  domains/lrmn.json
Labels: domain

#5284 Create johna.json
  domains/johna.json
Labels: domain

#5289 Update tolis.json
  domains/tolis.json
Labels: domain

#5285 domain: create Wahid7852.json
  domains/wahid7852.json
Labels: domain

#5265 Register pati.is-a.dev
  domains/pati.json
Labels: domain

#5301 Update and rename creaperhunter.json to xiro.json
  domains/xiro.json
Labels: domain

#5298 Fix file type for register hanchow.is-a.dev
  domains/hanchow.json
Labels: domain

#5299 Changed URL from my Website
  domains/anderson.json
Labels: domain

#5391 Update and rename dimas.json to dimasandriano.json
  domains/dimasandriano.json
Labels: domain

#5312 Create pythonplumber.json for pythonplumber.is-a.dev
  domains/pythonplumber.json
Labels: domain

#5288 Register hikari.is-a.dev
  domains/hikari.json
Labels: domain

#5296 Register aura.is-a.dev
  domains/aura.json
Labels: domain

#5303 Create kuba.json
  domains/kuba.json
Labels: domain

#5308 aswin-vs.is-a.dev
  domains/aswin-vs.json
Labels: domain

#5340 Create vsecoder.json
  domains/vsecoder.json
Labels: domain

#5332 Update timothynn.json
  domains/timothynn.json
Labels: domain

#5245 Register grusio.is-a.dev
  domains/grusio.json
Labels: domain, status: pending fix, reason: inaccessible website

#5310 Register suryaaprakassh.is-a.dev
  domains/suryaaprakassh.json
Labels: domain

#5339 Create night.json
  domains/night.json
Labels: domain

#5337 Request for afp.is-a.dev domain
  domains/afp.json
Labels: domain

#5389 register blek.is-a.dev
  domains/blek.json
Labels: domain

#5341 Adding My Json File
  domains/elbernaoui.json
Labels: domain

#5311 Json file added
  domains/riya.json
Labels: domain

#5307 jefferson domain
  domains/jefferson.json
Labels: domain

#5325 sourov-khan-nahid.json
  domains/sourov-khan-nahid.json
Labels: domain

#5315 Add seria domain
  domains/seria.json
Labels: domain

#5393 Register ginut.is-a.dev
  domains/ginut.json
  domains/ryan.ginut.json
Labels: domain

#5317 Hinal sanghvi
  domains/hinal-sanghvi.json
Labels: domain

#5318 added json file
  domains/dipmala-shrimali.json
Labels: domain

#5319 add josn file
  domains/samir-vaghela.json
Labels: domain

#5375 Added json file
  domains/g-pratik.json
Labels: domain

#5388 Update Contant
  domains/patel-darshit.json
Labels: domain

#5290 Register rasofex.is-a.dev
  domains/rasofex.json
Labels: domain, status: pending fix, reason: inaccessible website

#5291 Create habeel.json
  domains/habeel.json
Labels: domain, status: pending fix, reason: incompleted website

#5321 added json file
  domains/jay-d-dave.json
Labels: domain

#5387 added json file
  domains/mohammedasif-shaikh.json
Labels: domain

#5386 added json file
  domains/hitesh-makodiya.json
Labels: domain

#5385 added json file
  domains/maheta-bhavik.json
Labels: domain

#5320 Added json file
  domains/mukesh-tadpad.json
Labels: domain

#5358 added json files
  domains/shakera-vora.json
Labels: domain

#5323 fork code push
  domains/sweta-solanki.json
Labels: domain

#5326 Added domain json file
  domains/chirag-parikh.json
Labels: domain

#5384 Added json file
  domains/nidhis-patel.json
Labels: domain

#5383 added json file
  domains/pratike-patel.json
Labels: domain

#5382 Update changes
  domains/pramod-rawat.json
Labels: domain

#5381 Added json file
  domains/zaid-kadri.json
Labels: domain

#5379 Update Contant
  domains/patel-kalpesh.json
Labels: domain

#5378 Added json file
  domains/patel-komal.json
Labels: domain

#5377 added json file
  domains/mahevish-husseni.json
Labels: domain

#5376 Added json file
  domains/mayank-rathva.json
Labels: domain

#5374 added json file
  domains/singh-jitendar.json
Labels: domain

#5373 Added json file
  domains/patel-monal.json
Labels: domain

#5372 added json file
  domains/p-kinjal.json
Labels: domain

#5370 Added json file
  domains/ansari-atharnadim.json
Labels: domain

#5369 added json file
  domains/s-nishit.json
Labels: domain

#5368 Rahul rabari
  domains/rahul-rabari.json
Labels: domain

#5366 Added json file
  domains/falguni-prajapati.json
Labels: domain

#5365 Added json file
  domains/dirgha-ukani.json
Labels: domain

#5364 added json file
  domains/kishan-bagiya.json
Labels: domain

#5363 Added json file
  domains/pratikp-patel.json
Labels: domain

#5361 Added json file
  domains/dhaval-kareliya.json
Labels: domain

#5360 Added json file
  domains/panchal-meet.json
Labels: domain

#5398 Add sylestic
  domains/sylestic.json
Labels: domain, status: pending fix, reason: inaccessible website

#5408 Create 44.json
  domains/44.json
Labels: domain

#5407 Create isa.json
  domains/isa.json
Labels: domain

#5404 Fixed TNT.IS-A.DEV
  domains/tnt.json
Labels: domain

#5405 Create c00l.json
  domains/c00l.json
Labels: domain

#5406 Create sua.json
  domains/sua.json
Labels: domain

#5359 added json file
  domains/viplav-mistry.json
Labels: domain

#5354 added json file
  domains/mausami-parmar.json
Labels: domain

#5357 added json file
  domains/parmar-dixita.json
Labels: domain

#5355 added json file
  domains/bhavesh-p-patel.json
Labels: domain

#5356 added json file
  domains/dinesh-vaghasia.json
Labels: domain

#5352 added json file
  domains/nipul-bhogayat.json
Labels: domain

#5353 added json file
  domains/patel-parthiv.json
Labels: domain

#5327 added json file
  domains/soni-aakas.json
Labels: domain

#5324 Add domain json
  domains/niki-tiwari.json
Labels: domain

#5322 Ahuja m
  domains/ahuja-m.json
Labels: domain

#5328 addded json file
  domains/patel-radhika.json
Labels: domain

#5329 addedjson fiel
  domains/jani-abhishek.json
Labels: domain

#5330 added json file
  domains/jagruti-metaliya.json
Labels: domain

#5331 added json file
  domains/sanjay-makasana.json
Labels: domain

#5333 added json file
  domains/sudania-ajay.json
Labels: domain

#5342 added json file
  domains/soni-ashish.json
Labels: domain

#5343 added json file
  domains/ashish-g-gupta.json
Labels: domain

#5346 added json file
  domains/patelhardik-p.json
Labels: domain

#5347 added json file
  domains/panchal-jatin.json
Labels: domain

#5362 added json file
  domains/chauhan-pradip.json
Labels: domain

#5349 added json file
  domains/priyas-rana.json
Labels: domain

#5350 added json file
  domains/nirav-bhut.json
Labels: domain

#5351 add json file
  domains/pal-rakesh-2.json
Labels: domain

#5412 Register shubhamlal.is-a.dev
  domains/shubhamlal.json
Labels: domain

#5413 Create thiagomarsili.json
  domains/thiagomarsili.json
Labels: domain

#5414 Create rudra.json
  domains/rudra.json
Labels: domain

#5418 Create hvlxh.json
  domains/hvlxh.json
Labels: domain

#5420 Create nahid.json
  domains/nahid.json
Labels: domain

#5421 Register carince.is-a.dev
  domains/carince.json
Labels: domain

#5424 riya.json updated
  domains/riya.json
Labels: domain

#5428 adding ccortina.json
  domains/ccortina.json
Labels: domain

#5430 Create mosaab.json
  domains/mosaab.json
Labels: domain

#5432 carince: update contacts and add repo
  domains/carince.json
Labels: domain

#5435 Update mosaab.json
  domains/mosaab.json
Labels: domain

#5440 Create yash.json
  domains/yash.json
Labels: domain

#5437 Update mosaab.json
  domains/mosaab.json
Labels: domain
