Repository is-a-dev/register, pull requests merged in 2023-07, with the labels that each got.

#6038 A pull request for my website
  domains/adarsh.json
Labels: domain

#6042 BETA: Delete beboq.is-a.dev
  domains/beboq.json
Labels: domain

#6025 Register ashutosh-pandey.is-a.dev
  domains/ashutosh-pandey.json
Labels: domain

#6026 Create flymeth.json
  domains/flymeth.json
Labels: domain

#6027 Register snowy.is-a.dev
  domains/snowy.json
  domains/snowyid.json
Labels: domain

#6029 Create tanos.json
  domains/tanos.json
Labels: domain

#6054 nothing
  domains/aravindh.json
Labels: domain

#6031 Added my domain
  domains/ale1x.json
Labels: domain

#6037 BETA: Register suptime.is-a.is-a.dev
  domains/suptime.is-a.dev.json
  domains/suptime.json
Labels: domain

#6039 Requesting domain nikeedev
  domains/nikeedev.json
Labels: domain

#6040 Register koenv.is-a.dev
  domains/koenv.json
Labels: domain

#6064 Updated hcs.json
  domains/hcs.json
Labels: domain

#6046 Added records for forward email support
  domains/imzihad21.json
Labels: domain

#6072 BETA: Delete mtg.is-a.dev
  domains/mahir.json
  domains/molai.json
Labels: domain

#6055 Update aravindh.json
  domains/aravindh.json
Labels: domain

#6041 Create haubaka.json
  domains/haubaka.json
Labels: domain

#6068 Create nino.json
  domains/nino.json
Labels: domain

#6067 Create invalidnoah.json
  domains/invalidnoah.json
Labels: domain

#6070 Update deepak.json
  domains/deepak.json
Labels: domain

#6061 Register sanchay.is-a.dev
  domains/sanchay.json
Labels: domain

#6059 Register mqhirr.is-a.dev
  domains/mqhirr.json
Labels: domain

#6060 :
  domains/richard.json
Labels: domain

#6051 S4IL's Website
  domains/s4il.json
Labels: domain

#6053 Create shadow.json
  domains/shadow.json
Labels: domain

#6049 Register lighty.is-a.dev
  domains/lighty.json
Labels: domain

#6044 Register rohanpawar.is-a.dev
  domains/r04nx.json
  domains/rohanpawar.json
Labels: domain

#6062 Create aadi.json
  domains/aadi.json
Labels: domain

#6043 Create manit.json
  domains/manit.json
Labels: domain

#5963 Register manit.is-a.dev
  domains/manit.json
Labels: domain, status: pending fix, reason: invalid records

#6058 Register erdem.is-a.dev
  domains/erdem.json
Labels: domain

#6078 Removed gh-pages and only kept external server
  domains/imzihad21.json
Labels: domain

#6083 Updated hcs.json
  domains/hcs.json
Labels: domain

#6082 Rename ataimpro.json to ataim.json
  domains/ataim.json
Labels: domain

#6086 Update hcs.json
  domains/hcs.json
Labels: domain

#6079 Update deepak.json
  domains/deepak.json
Labels: domain

#6076 BETA: Register victorvickie.is-a.dev
  domains/victorvickie.json
Labels: domain

#6077 Register ahmad-muhajir.is-a.dev
  domains/ahmad-muhajir.json
Labels: domain

#6080 Create vineetkhemnani subdomain
  domains/vineetkhemnani.json
Labels: domain

#6081 BETA: Register eren.is-a.dev
  domains/eren.json
  domains/keirnegn.json
Labels: domain

#6084 BETA: Register simple.is-a.dev
  domains/simple.json
Labels: domain

#6085 kamishi.is-a.dev
  domains/kamishi.json
Labels: domain

#6087 BETA: Register wansie.is-a.dev
  domains/wansie.json
Labels: domain

#6089 Create replit.json
  domains/replit.json
Labels: domain

#6088 Create api.anshtyagi.json
  domains/api.anshtyagi.json
Labels: domain

#6030 Create gamerzam.json
  domains/gamerzam.json
Labels: domain

#6095 BETA: Register bdfd.is-a.dev
  domains/bdfd.json
Labels: domain

#6091 BETA: Register gigwanoob.is-a.dev
  domains/gigwanoob.json
Labels: domain

#6098 added `viraj.json`
  domains/viraj.json
Labels: domain

#6107 Update shadow.json
  domains/shadow.json
Labels: domain

#6101 BETA: Register karan.is-a.dev
  domains/karan.json
Labels: domain

#6100 BETA: Register paiva.is-a.dev
  domains/paiva.json
Labels: domain

#6096 BETA: Register vk.is-a.dev
  domains/vk.json
Labels: domain

#6110 Update fqcxn.json
  domains/fqcxn.json
Labels: domain

#6108 Update s4il.json
  domains/s4il.json
Labels: domain

#6105 Register yassine.is-a.dev
  domains/yassine.json
Labels: domain

#6119 BETA: Delete suptime.is-a.dev.is-a.dev
  domains/suptime.is-a.dev.json
Labels: domain

#6118 victorvickie.is-a.dev CNAME to URL
  domains/victorvickie.json
Labels: domain

#6109 BETA: Register strafe.is-a.dev
  domains/strafe.json
Labels: domain

#6113 BETA: Register drpleaserespect.is-a.dev
  domains/drpleaserespect.json
Labels: domain

#6112 Create contentbot.json
  domains/contentbot.json
Labels: domain

#6122 register request for the domain noahvocat.is-a.dev
  domains/noahvocat.json
Labels: domain

#6121 feat(domains): add glomdom.json
  domains/glomdom.json
Labels: domain

#6123 BETA: Register janmb.is-a.dev
  domains/janmb.json
Labels: domain

#6120 Create arwi.json
  domains/arwi.json
Labels: domain

#6137 BETA: Register teletvbis.is-a.dev
  domains/teletvbis.json
Labels: domain

#6143 BETA: Register hotspot.is-a.dev
  domains/hotspot.json
Labels: domain

#6139 'A record' for email use
  domains/mbenetta.json
Labels: domain

#6136 BETA: Register niemiets.is-a.dev
  domains/niemiets.json
Labels: domain

#6133 BETA: Register astrix.is-a.dev
  domains/astrix.json
Labels: domain

#6142 BETA: Register spaxly.is-a.dev
  domains/spaxly.json
Labels: domain, status: pending fix, status: awaiting user response

#6132 Update record cname dimasandriano.json from ghpages to vercel
  domains/dimasandriano.json
Labels: domain

#6124 BETA: Register kz.is-a.dev
  domains/kz.json
Labels: domain

#6126 feat(domains): add unicatevn.json
  domains/unicatevn.json
Labels: domain

#6141 Register prisems.is-a.dev
  domains/prisems.json
Labels: domain

#6102 larei
  domains/larei.json
Labels: domain

#6148 feat(domain): sunpodder.is-a.dev
  domains/sunpodder.json
Labels: domain

#6150 Create d3nxel.json
  domains/d3nxel.json
Labels: domain

#6151 Create core.json
  domains/core.json
Labels: domain

#6134 Update api.anshtyagi.json
  domains/api.anshtyagi.json
Labels: domain

#6153 Register aditya-awasthi.is-a.dev
  domains/aditya-awasthi.json
Labels: domain

#6155 Create flow-os.liquid.json
  domains/flow-os.liquid.json
Labels: domain

#6157 Register typicalne.is-a.dev
  domains/typicalne.json
Labels: domain, reason: inaccessible website

#6163 BETA: Delete crystaluptime.is-a.dev
  domains/crystaluptime.json
Labels: domain

#6195 BETA: Register molai777.is-a.dev
  domains/molai777.json
Labels: domain

#6196 datamind.json
  domains/datamind.json
Labels: domain

#6181 Register alphabet.is-a.dev
  domains/alphabet.json
Labels: domain

#6183 Register nyda.is-a.dev
  domains/nyda.json
Labels: domain

#6171 Create ren.json
  domains/ren.json
Labels: domain

#6169 Create kaustubh.json
  domains/kaustubh.json
Labels: domain

#6170 BETA: Register keyaan.is-a.dev
  domains/keyaan.json
Labels: domain

#6174 BETA: Register aleph.is-a.dev
  domains/aleph.json
Labels: domain

#6168 Register ppg00.is-a.dev
  domains/ppg00.json
Labels: domain

#6164 BETA: Register silicoflare.is-a.dev
  domains/silicoflare.json
Labels: domain

#6162 BETA: Register noob.is-a.dev
  domains/bug-writer.json
  domains/noob.json
Labels: domain

#6161 Register alcex.is-a.dev
  domains/alcex.json
Labels: domain

#6207 Update api.anshtyagi.json
  domains/api.anshtyagi.json
Labels: domain

#6206 Changed CNAME value for domain
  domains/silicoflare.json
Labels: domain

#6208 BETA: Register tdkchat.is-a.dev
  domains/tdkchat.json
Labels: domain

#6205 Create ananth.json
  domains/ananth.json
Labels: domain

#6191 Create manas.json
  domains/manas.json
Labels: domain

#6230 Update suki.json
  domains/suki.json
Labels: domain

#6213 Update isa.json
  domains/isa.json
Labels: domain, status: pending fix, reason: invalid social

#6226 BETA: Register learn-to.is-a.dev
  domains/learn-to-code-now.json
Labels: domain

#6232 Create tranthanhlong.json
  domains/tranthanhlong.json
Labels: domain

#6236 BETA: Update learn-to-code-now.is-a.dev
  domains/learn-to-code-now.json
Labels: domain

#6237 BETA: Delete daddy.is-a.dev
  domains/daddy.json
  domains/wife.daddy.json
Labels: domain

#6258 BETA: Update aleph.is-a.dev
  domains/aleph.json
Labels: domain

#6255 BETA: Update riannegreiros.is-a.dev
  domains/riannegreiros.json
Labels: domain

#6210 Create muhammadbasitobaid.json
  domains/muhammadbasitobaid.json
Labels: domain

#6212 added tr5kyradio.json
  domains/tr5kyradio.json
Labels: domain

#6227 BETA: Register sow.is-a.dev
  domains/sow.json
Labels: domain

#6260 BETA: Register hiwind.is-a.dev
  domains/hiwind.json
Labels: domain

#6214 Create mosa.json
  domains/mosa.json
Labels: domain

#6244 Create milcon-uptimer.json
  domains/milcon-uptimer.json
Labels: domain

#6201 Register kio.is-a.dev
  domains/kio.json
  domains/naki.json
Labels: domain, status: pending fix, reason: vercel/netlify

#6265 Create tikter.json
  domains/tikter.json
Labels: domain

#6254 BETA: Register rikosnapse.is-a.dev
  domains/mako.json
  domains/riko.json
  domains/rikosnapse.json
Labels: domain

#6261 BETA: Register shift.is-a.dev
  domains/shift.json
Labels: domain

#6251 'A record' for email use
  domains/rdc.json
Labels: domain

#6250 BETA: Register jlalfonso21.is-a.dev
  domains/jlalfonso21.json
Labels: domain

#6231 BETA: Register dmmay.is-a.dev
  domains/dmmay.json
Labels: domain

#6209 Create hilmansyah.json
  domains/copysland.json
  domains/hilmansyah.json
  domains/nengsriaryati.json
Labels: domain

#6268 Update mosa.json
  domains/mosa.json
Labels: domain

#6278 Create kweeper.json
  domains/kweeper.json
Labels: domain, on hold, status: awaiting maintainer decision

#6280 Update tranthanhlong.json
  domains/tranthanhlong.json
Labels: domain

#6283 BETA: Update mako.is-a.dev
  domains/mako.json
Labels: domain

#6288 BETA: Register nxyy.is-a.dev
  domains/nxyy.json
Labels: domain

#6287 BETA: Register drtherapy.is-a.dev
  domains/dr-therapy.json
  domains/drtherapy.json
Labels: domain

#6282 BETA: Register tube.is-a.dev
  domains/tube.json
Labels: domain

#6281 BETA: Register p3nguin.is-a.dev
  domains/p3nguin.json
Labels: domain

#6272 BETA: Register turvenuija.is-a.dev
  domains/turvenuija.json
Labels: domain

#6277 BETA: Register fjuro.is-a.dev
  domains/fjuro.json
Labels: domain

#6274 BETA: Register maxired.is-a.dev
  domains/maxired.json
Labels: domain

#6273 BETA: Register scott.is-a.dev
  domains/scott.json
Labels: domain

#6267 Register namishpande.is-a.dev
  domains/namishpande.json
Labels: domain

#6270 BETA: Register madhavgupta.is-a.dev
  domains/madhavgupta.json
Labels: domain

#6299 BETA: Register gitninja.is-a.dev
  domains/gitninja.json
Labels: domain

#6300 BETA: Register ryun.is-a.dev
  domains/ryun.json
Labels: domain

#6292 BETA: Register aikoo7.is-a.dev
  domains/aikoo7.json
Labels: domain

#6293 Point tranthanhlong.is-a.dev to github page
  domains/tranthanhlong.json
Labels: domain

#6321 BETA: Register iucc.is-a.dev
  domains/iucc.json
Labels: domain

#6290 BETA: Register therealgeodash.is-a.dev
  domains/therealgeodash.json
Labels: domain

#6317 BETA: Register soeren.is-a.dev
  domains/soeren.json
Labels: domain

#6316 BETA: Register himanshusri.is-a.dev
  domains/himanshusri.json
Labels: domain

#6315 BETA: Update madhavgupta.is-a.dev
  domains/madhavgupta.json
Labels: domain

#6294 added my domine
  domains/thesanju.json
Labels: domain

#6311 BETA: Register yourdad.is-a.dev
  domains/yourdad.json
Labels: domain

#6308 BETA: Register spyrisk.is-a.dev
  domains/spyrisk.json
Labels: domain

#6303 BETA: Register mbg.is-a.dev
  domains/mbg.json
Labels: domain

#6302 BETA: Register s4ib0t.is-a.dev
  domains/s4ib0t.json
Labels: domain
