Repository is-a-dev/register, pull requests merged in 2023-01, with the labels that each got.

#4320 Register Subdomain: _github-pages-challenge-cartyoo.cartyoo
  domains/cartyoo.json
Labels: domain

#4340 Register Subdomain: saurabh
  domains/saurabh.json
Labels: domain

#4332 Register Subdomain: bardia
  domains/bardia.json
Labels: domain, status: awaiting user response, reason: inaccessible website

#4342 Added z4xiVia is-a-dev-cli
  domains/z4xi.json
Labels: domain

#4344 Register Subdomain: mdk
  domains/mdk.json
Labels: domain

#4331 Register Subdomain: chaotic
  domains/chaotic.json
Labels: domain, reason: invalid records, status: awaiting user response

#4351 Register Subdomain: midlaj
  domains/midlaj.json
Labels: domain, status: pending fix, reason: incompleted website

#4361 Updated Contact, double checked json
  domains/gavinw.json
Labels: domain

#4364 Register Subdomain: alexandre
  domains/alexandre.json
Labels: domain

#4368 Register Subdomain: noraa
  domains/noraa.json
Labels: domain

#4370 update gala.json CNAME -> URL
  domains/gala.json
Labels: domain

#4371 Register Subdomain: script-server
  domains/script-server.json
Labels: domain

#4373 Update alexandre.json
  domains/alexandre.json
Labels: domain

#4367 Register Subdomain: smoke-etecsa.yoelvd
  domains/smoke-etecsa.yoelvd.json
Labels: domain

#4372 Register Subdomain: madhurya
  domains/madhurya.json
Labels: domain

#4375 Register Subdomain: adib
  domains/adib.json
Labels: domain

#4376 Register Subdomain: michioxd
  domains/michioxd.json
Labels: domain

#4357 Register Subdomain: i10
  domains/i10.json
Labels: domain

#4313 Update dhruvil.json
  domains/dhruvil.json
Labels: domain, status: pending fix, reason: invalid records

#4378 Create qhungg289.json
  domains/qhungg289.json
Labels: domain

#4377 Register Subdomain: marco
  domains/marco.json
Labels: domain

#4387 Register Subdomain: melainegerard
  domains/melainegerard.json
Labels: domain

#4363 Register Subdomain: tal7aouy
  domains/tal7aouy.json
Labels: domain, status: pending fix, reason: invalid records

#4393 Saizuo.json
  domains/saizuo.json
Labels: domain

#4399 Register Subdomain: denis
  domains/denis.json
Labels: domain

#4400 Update ausy.json needed username to be lowercase
  domains/ausy.json
Labels: domain

#4401 Create aknb.json
  domains/aknb.json
Labels: domain

#4403 Added altudeVia is-a-dev-cli
  domains/altude.json
Labels: domain

#4405 Update URL TO CNAME to prevent redirection
  domains/albinpraveen.json
Labels: domain

#4352 Create elnexreal.json
  domains/elnexreal.json
Labels: domain, status: pending fix, reason: incompleted website

#4414 Register Subdomain: satoshi
  domains/satoshi.json
Labels: domain

#4402 Added mitchVia is-a-dev-cli
  domains/mitch.json
Labels: domain

#4421 Delete discord.badboy.json
  domains/discord.badboy.json
Labels: domain

#4422 Delete insta.badboy.json
  domains/insta.badboy.json
Labels: domain

#4424 Emtyffx patch 1
  domains/emtyfay.json
Labels: domain

#4428 Create danialajamil
  domains/danialajamil.json
Labels: domain

#4431 Register Subdomain: catr3kd
  domains/catr3kd.json
Labels: domain

#4433 Register Subdomain: vercte
  domains/vercte.json
Labels: domain

#4434 Register Subdomain: callumjt
  domains/callumjt.json
Labels: domain

#4437 Create inxlo.json
  domains/inxlo.json
Labels: domain

#4429 Register Subdomain: mqry
  domains/mqry.json
Labels: domain, status: pending fix, reason: unauthorized modification, status: awaiting user response

#4436 template: remove unused stuff
  .github/PULL_REQUEST_TEMPLATE.md
Labels: documentation, enhancement

#4441 Update azumi.aqua.json
  domains/azumi.aqua.json
Labels: domain

#4443 Update aqua.json
  domains/aqua.json
Labels: domain

#4444 Update raadsel.json
  domains/raadsel.json
Labels: domain

#4445 Update azumi.aqua.json
  domains/azumi.aqua.json
Labels: domain

#4447 Register Subdomain: tushardeo
  domains/tushar.json
  domains/tushardeo.json
Labels: domain

#4448 Update aqua.json
  domains/aqua.json
Labels: domain

#4440 Update mqry.json
  domains/mqry.json
Labels: domain, status: pending fix, reason: inaccessible website

#4449 Change provider
  domains/hyro.json
Labels: domain

#4213 Added cattoVia is-a-dev-cli
  domains/catto.json
Labels: domain, status: pending fix, reason: invalid social

#4459 [UPDATE] Changed CNAME to URL for tushar and tushardeo
  domains/tushar.json
  domains/tushardeo.json
Labels: domain

#4461 Update gornostay25.json
  domains/gornostay25.json
Labels: domain

#4460 Register Subdomain: polars
  domains/polars.json
Labels: domain

#4454 Register Subdomain: practical
  domains/practical.json
Labels: domain, status: pending fix, reason: inaccessible website

#4467 Update gornostay25.json Returning MX record
  domains/gornostay25.json
Labels: domain

#4469 Register Subdomain: crystaluptime
  domains/crystaluptime.json
Labels: domain

#4474 Adding my portfolio
  domains/adrien.json
Labels: domain

#4471 Register Subdomain: ccnicebruh
  domains/ccnicebruh.json
Labels: domain

#4472 Register Subdomain: aaamineee
  domains/aaamineee.json
Labels: domain

#4473 Update satoshi.json, including repo path on .json
  domains/satoshi.json
Labels: domain

#4481 Create discordbots.semant.json
  domains/discordbots.semant.json
Labels: domain

#4484 Register Subdomain: malo
  domains/malo.json
Labels: domain

#4485 Register Subdomain: sahilchoudhary
  domains/sahilchoudhary.json
Labels: domain

#4486 Register Subdomain: antton
  domains/antton.json
  domains/anttondev.json
Labels: domain

#4487 Register Subdomain: aslipatov
  domains/aslipatov.json
Labels: domain

#4488 Create manu.json
  domains/manu.json
Labels: domain

#4490 Changing my domains
  domains/pr0k41.json
  domains/prokai.json
Labels: domain

#4491 closing site
  domains/nitr7gen.json
Labels: domain

#4495 Register Subdomain: eletrixtalkapp (or modify eletrixtalk)
  domains/eletrixtalkapp.json
Labels: domain

#4496 Register Subdomain: spectra
  domains/spectra.json
Labels: domain

#4502 Register Subdomain: adityapcgaming
  domains/adityapcgaming.json
Labels: domain

#4507 Register Subdomain: timotheelefebvre
  domains/timotheelefebvre.json
Labels: domain

#4505 Register Subdomain: albert
  domains/albert.json
Labels: domain, status: pending fix, reason: inaccessible website

#4501 Register Subdomain: xevion
  domains/xevion.json
Labels: domain, status: pending fix, reason: incompleted website

#4511 Register Subdomain: subhadeepzilong
  domains/subhadeepzilong.json
Labels: domain

#4514 Create yxlr.json
  domains/yxlr.json
Labels: domain

#4515 Register Subdomain: rferee
  domains/rferee.json
Labels: domain

#4517 Register Subdomain: isrmicha
  domains/isrmicha.json
Labels: domain

#4518 Create infernum.json
  domains/infernum.json
Labels: domain

#4521 Register Subdomain: firework
  domains/firework.json
Labels: domain

#4532 shuja1337 and shuja-balls removal
  domains/shuja-balls.json
  domains/shuja1337.json
Labels: domain

#4527 Register Subdomain: Mahesh
  domains/mahesh.json
Labels: domain

#4526 Register Subdomain: tudbut
  domains/tudbut.json
Labels: domain

#4533 Create oli.json
  domains/oli.json
Labels: domain, status: pending fix, reason: invalid records

#4535 Create m1dnight.json
  domains/m1dnight.json
Labels: domain

#4531 Register Subdomain: quydang
  domains/quydang.json
Labels: domain, status: pending fix, reason: incompleted website

#4536 Register Subdomain: axviii3
  domains/axviii3.json
Labels: domain

#4538 change to URL + remove email
  domains/autodiscover.william.json
  domains/william.json
Labels: domain

#4539 Added yashraj.json
  domains/yashraj.json
Labels: domain

#4540 Register subdomain: davipatricio
  domains/davipatricio.json
Labels: domain

#4286 Create Pancakes.is-a.dev.json
  domains/pancakes.json
Labels: domain, status: pending fix, reason: incompleted website, status: awaiting user response

#4546 Register Subdomain: tomdavid
  domains/tomdavid.json
Labels: domain

#4552 Create poetry.m1dnight.json
  domains/poetry.m1dnight.json
Labels: domain

#4551 Create shresth.json
  domains/shresth.json
Labels: domain

#4553 Added inkilu.json
  domains/inkilu.json
Labels: domain

#4555 Create socials.m1dnight.json
  domains/socials.m1dnight.json
Labels: domain

#4559 Website
  domains/puffer.json
Labels: domain

#4560 Create sanidhya.json
  domains/sanidhya.json
Labels: domain

#4558 Create status.json
  domains/status.json
Labels: domain

#4566 Update to new portfolio + contacts
  domains/dillonb07.json
Labels: domain

#4563 Register subdomain: Arboy
  domains/arboy.json
Labels: domain

#4567 Cloudflare pages reconnect
  domains/gornostay25.json
Labels: domain

#4568 Added pandaninjas via is-a-dev-cli
  domains/pandaninjas.json
Labels: domain

#4570 replaced A record with redirect to main website
  domains/rferee.json
Labels: domain

#4571 Create vishal.json
  domains/vishalg.json
Labels: domain

#4573 Added tayu via is-a-dev-cli
  domains/tayu.json
Labels: domain

#4574 Create aantaripdas.json
  domains/aantaripdas.json
Labels: domain

#4575 Update sanidhya.json
  domains/sanidhya.json
Labels: domain

#4576 Update sonet.json
  domains/sonet.json
Labels: domain

#4577 Update and rename tracking.sanidhya.json to tracking.sonet.json
  domains/tracking.sonet.json
Labels: domain

#4578 Update sanidhya.json
  domains/sanidhya.json
Labels: domain

#4579 Return back
  domains/gornostay25.json
Labels: domain

#4581 jackson
  domains/jackson.json
Labels: domain

#4582 Create aluwi.json
  domains/aluwi.json
Labels: domain, status: pending fix, reason: inaccessible website

#4585 Added veirt via is-a-dev-cli
  domains/veirt.json
Labels: domain, status: pending fix, reason: incompleted website

#4587 Added adamkarepin via is-a-dev-cli
  domains/adamkarepin.json
Labels: domain

#4580 Create bilal.json
  domains/bilal.json
Labels: domain, status: pending fix, reason: incompleted website

#4588 Update aqua.json
  domains/aqua.json
Labels: domain

#4590 Create Yedu.json
  domains/yedu.json
Labels: domain

#4589 Added husain via is-a-dev-cli
  domains/husain.json
Labels: domain, status: awaiting user response

#4592 Added fear via is-a-dev-cli
  domains/fear.json
Labels: domain

#4584 Create domain
  domains/ankit-acquaintsoft.json
Labels: domain, status: pending fix, reason: incompleted website

#4562 initial commit
  domains/ankit-dere.json
Labels: domain, status: pending fix, reason: invalid records

#4594 Create domain
  domains/bhavesh-acquaintsoft.json
Labels: domain

#4601 Create typed.json
  domains/typed.json
Labels: domain

#4595 Added json file
  domains/chirag-adhvaryu.json
Labels: domain

#4600 add new domain
  domains/viral-gadhiya.json
Labels: domain

#4599 Add domain json
  domains/dudani-meet.json
Labels: domain

#4598 Create json file
  domains/priti-shide.json
Labels: domain

#4597 add mihir patel json file
  domains/mihir-patel-agc.json
Labels: domain

#4596 add domain json
  domains/ansari-saify.json
Labels: domain

#4602 Create ajit json file
  domains/ajit-thakor.json
Labels: domain

#4603 add my json data
  domains/yash-poojara.json
Labels: domain

#4605 Create json file
  domains/ajay-charotariya.json
Labels: domain

#4604 register my domain
  domains/viren-trivedi.json
Labels: domain

#4606 Register my domain
  domains/shakeel-ahamad.json
Labels: domain

#4607 create json file
  domains/pandya-riddhi.json
Labels: domain

#4608 register json file
  domains/prajapati-divya.json
Labels: domain

#4609 add my domain
  domains/lakhani-palak.json
Labels: domain

#4610 Register sanjeet domain
  domains/verma-sanjeet.json
Labels: domain

#4611 add my domain
  domains/grishma-chhayani.json
Labels: domain

#4615 Create chino.json
  domains/chino.json
Labels: domain

#4619 Added crackz.json
  domains/crackz.json
Labels: domain

#4618 Update adamkarepin.json
  domains/adamkarepin.json
Labels: domain

#4626 create json
  domains/jay-bhalodiya.json
Labels: domain

#4627 Add my domain
  domains/mandaninikunj.json
Labels: domain

#4638 Create json
  domains/akta-chavda.json
Labels: domain

#4639 json file added
  domains/shoaib-shaikhh.json
Labels: domain

#4637 Vayas rahul
  domains/nayan-gorasiya.json
  domains/vyas-rahul.json
Labels: domain
