Repository is-a-dev/register, pull requests merged in 2023-08, with the labels that each got.

#6550 Update jonathancarrillo.json
  domains/jonathancarrillo.json
Labels: domain

#6517 BETA: Register shuriken.is-a.dev
  domains/shuriken.json
Labels: domain

#6532 BETA: Register junior.is-a.dev
  domains/junior.json
Labels: domain

#6505 BETA: Register tgt.is-a.dev
  domains/tgt.json
Labels: domain

#6518 updated the new domain
  domains/prabin.json
Labels: domain

#6511 BETA: Register mikapikazo.is-a.dev
  domains/mikapikazo.json
Labels: domain

#6524 BETA: Register respect.is-a.dev
  domains/respect.json
Labels: domain

#6515 BETA: Register dhyeypatel.is-a.dev
  domains/dhyeypatel.json
Labels: domain

#6513 BETA: Register abdullohalimov.is-a.dev
  domains/abdullohalimov.json
Labels: domain

#6506 BETA: Register mudee.is-a.dev
  domains/mudee.json
Labels: domain

#6553 :fire: casb-netbox is dead
  domains/casb-netbox.json
Labels: domain

#6526 BETA: Register smittykjohnson.is-a.dev
  domains/smitty119.json
  domains/smittykjohnson.json
Labels: domain

#6492 BETA: Register tanmay.is-a.dev
  domains/tanmay.json
Labels: domain

#6493 BETA: Register xash.is-a.dev
  domains/xash.json
Labels: domain

#6559 BETA: Update iamchoiiril.is-a.dev
  domains/iamchoiiril.json
Labels: domain

#6569 BETA: Register zaydocs.is-a.dev
  domains/zaydocs.json
Labels: domain

#6580 BETA: Update daanschenkel.is-a.dev
  domains/daanschenkel.json
Labels: domain

#6579 nova.is-a.dev update record
  domains/nova.json
Labels: domain

#6563 BETA: Update mudee.is-a.dev
  domains/mudee.json
Labels: domain

#6571 BETA: Update hero.is-a.dev
  domains/hero.json
Labels: domain

#6576 BETA: Update iamchoiiril.is-a.dev
  domains/iamchoiiril.json
Labels: domain

#6561 BETA: Update mbg.is-a.dev
  domains/mbg.json
Labels: domain

#6603 BETA: Update tube.is-a.dev
  domains/tube.json
Labels: domain

#6599 BETA: Update zaydocs.is-a.dev
  domains/zaydocs.json
Labels: domain

#6600 Remove nikeedev.is-a.dev
  domains/nikeedev.json
Labels: domain

#6594 BETA: Update refactoring.is-a.dev
  domains/refactoring.json
Labels: domain

#6606 BETA: Update boxey.is-a.dev
  domains/boxey.json
Labels: domain

#6607 BETA: Register boston2029.is-a.dev
  domains/boston2029.json
Labels: domain

#6613 BETA: Update skifli.is-a.dev
  domains/skifli.json
Labels: domain

#6529 Create tcxone.json
  domains/tcxone.json
Labels: domain

#6533 Register sife.is-a.dev
  domains/sife.json
Labels: domain

#6534 Register vinaychaudhary.is-a.dev
  domains/vinaychaudhary.json
Labels: domain

#6536 BETA: Register crazymax.is-a.dev
  domains/crazymax.json
Labels: domain

#6632 Transferring domain to other account.
  domains/latealways.json
Labels: domain

#6633 Delete ducky.json
  domains/ducky.json
Labels: domain

#6616 Update sife.json
  domains/_github-pages-challenge-Sife-shuo.sife.json
  domains/sife.json
Labels: domain

#6618 Update skifli.json
  domains/skifli.json
Labels: domain

#6544 Bi0hazardd patch 1
  domains/jonathancarrillo.json
Labels: domain

#6539 BETA: Register stev.is-a.dev
  domains/stev.json
Labels: domain

#6647 BETA: Register _github-pages-challenge-adolar0042.adolar0042.is-a.dev
  domains/_github-pages-challenge-Adolar0042.adolar0042.json
Labels: domain

#6641 BETA: Register _github-pages-challenge-nobody5050.6502.is-a.dev
  domains/_github-pages-challenge-nobody5050.6502.json
Labels: domain

#6646 BETA: Register _github-pages-challenge-talinthedev.talinsharma.is-a.dev
  domains/_github-pages-challenge-talinthedev.talinsharma.json
Labels: domain

#6626 BETA: Register _github-pages-challenge-auravoid.aura.is-a.dev
  domains/_github-pages-challenge-auravoid.aura.json
Labels: domain

#6628 BETA: Register _github-pages-challenge-gautamkrishnar.gkr.is-a.dev
  domains/_github-pages-challenge-gautamkrishnar.gkr.json
Labels: domain

#6644 BETA: Register milkshake.is-a.dev
  domains/milkshake.json
Labels: domain

#6547 BETA: Register _github-pages-challenge-iakzs.is-a.dev
  domains/_github-pages-challenge-iakzs.iakzs.json
  domains/_github-pages-challenge-iakzs.kz.json
Labels: domain

#6548 BETA: Register peak.is-a.dev
  domains/peak.json
Labels: domain

#6659 BETA: Update oxmc.is-a.dev
  domains/oxmc.json
Labels: domain, status: pending fix, reason: invalid records

#6662 BETA: Register latealways.is-a.dev
  domains/latealways.json
Labels: domain

#6666 Update oxmc.json
  domains/oxmc.json
Labels: domain

#6665 zjfc.is-a.dev: renewal request.
  domains/_github-pages-challenge-endermanbugzjfc.zjfc.json
Labels: domain

#6602 BETA: Register x0ba.is-a.dev
  domains/x0ba.json
Labels: domain

#6601 BETA: Register stacksyz.is-a.dev
  domains/stacksyz.json
Labels: domain

#6584 BETA: Register sgm-uptime.is-a.dev
  domains/sgm-uptime.json
Labels: domain

#6611 Create itznesbro.blog.json
  domains/blog.itznesbro.json
Labels: domain

#6549 BETA: Register maestro194.is-a.dev
  domains/maestro194.json
Labels: domain

#6577 BETA: Register hifzur.is-a.dev
  domains/hifzur.json
Labels: domain

#6595 BETA: Register gooplancton.is-a.dev
  domains/gooplancton.json
Labels: domain

#6566 BETA: Register dumprr.is-a.dev
  domains/dumprr.json
Labels: domain

#6564 BETA: Register bets.is-a.dev
  domains/bets.json
Labels: domain

#6670 update
  domains/cdn.badboy.json
  domains/cdn.semant.json
  domains/home.semant.json
Labels: domain

#6570 BETA: Register tito.is-a.dev
  domains/tito.json
Labels: domain

#6562 BETA: Register bmbs.is-a.dev
  domains/bmbs.json
Labels: domain

#6555 Register hyderite.is-a.dev
  domains/hyderite.json
Labels: domain

#6560 Create totoygamingyt.json
  domains/totoygamingyt.json
Labels: domain

#6554 BETA: Register sai-mehar.is-a.dev
  domains/sai-mehar.json
Labels: domain

#6556 BETA: Register caodoc.is-a.dev
  domains/caodoc.json
Labels: domain

#6581 BETA: Register i2rys.is-a.dev
  domains/i2rys.json
Labels: domain

#6589 Register matrix.vi0leta.is-a.dev
  domains/matrix.vi0leta.json
Labels: domain

#6591 BETA: Register duy.is-a.dev
  domains/duy.json
Labels: domain

#6596 Register adnan.is-a.dev.is-a.dev
  domains/adnan.json
Labels: domain

#6610 BETA: Register rhylso.is-a.dev
  domains/rhylso.json
Labels: domain

#6609 BETA: Register rohansharma.is-a.dev
  domains/rohansharma.json
Labels: domain

#6535 BETA: Register chirag.is-a.dev
  domains/chirag.json
Labels: domain

#6673 Verification fix
  domains/_github-pages-challenge-dushmanta05.dushmanta.json
  domains/dushmanta.json
Labels: domain

#6671 Register _github-pages-challenge-SHays24.shays.is-a.dev
  domains/_github-pages-challenge-shays24.shays.json
  domains/shays.json
Labels: domain

#6634 BETA: Register _github-pages-challenge-node0505.node.is-a.dev
  domains/_github-pages-challenge-node0505.node.json
Labels: domain

#6623 BETA: Register wansies.is-a.dev
  domains/wansies.json
Labels: domain

#6675 BETA: Update yourdad.is-a.dev
  domains/_github-pages-challenge-roktim32.yourdad.json
  domains/yourdad.json
Labels: domain

#6681 _github-pages-challenge-NatBLida68.ashwa.json
  domains/_github-pages-challenge-natblida68.ashwa.json
Labels: domain

#6685 Create _github-pages-challenge-roktim32.roktim.json
  domains/_github-pages-challenge-roktim32.roktim.json
Labels: domain

#6587 BETA: Register kxtz.is-a.dev
  domains/kxtz.json
Labels: domain, status: pending fix, reason: invalid records

#6691 Create _github-pages-challenge-roktim32.gitninja.json
  domains/_github-pages-challenge-roktim32.gitninja.json
Labels: domain

#6687 Already Updated TXT to shubham.json
  domains/_github-pages-challenge-noobshubham.shubham.json
Labels: domain

#6672 BETA: Register pixelwhiz.is-a.dev
  domains/pixelwhiz.json
Labels: domain

#6688 Add GitHub pages verification for hatkid.is-a.dev
  domains/_github-pages-challenge-thehatkid.hatkid.json
  domains/hatkid.json
Labels: domain

#6690 fix: adding verification for yorodm.is-a.dev
  domains/_github-pages-challenge-yorodm.yorodm.json
Labels: domain

#6638 Update satoshi.json
  domains/_github-pages-challenge-marcossatoshi.satoshi.json
Labels: domain

#6694 BETA: Update adarsh.is-a.dev
  domains/adarsh.json
Labels: domain

#6693 BETA: Update caodoc.is-a.dev
  domains/caodoc.json
Labels: domain

#6692 Create _github-pages-challenge-crystalbajgai.crystal.json
  domains/_github-pages-challenge-crystalbajgai.crystal.json
Labels: domain

#6696 BETA: Register _github-pages-challenge-stef-00012.stefdp.is-a.dev
  domains/_github-pages-challenge-stef-00012.stefdp.json
Labels: domain

#6699 update natya.json
  domains/_github-pages-challenge-studiousgamer.natya.json
Labels: domain

#6698 Register krinzal.is-a.dev
  domains/krinzal.json
Labels: domain

#6700 Register pythonscratcher.is-a.dev
  domains/pythonscratcher.json
Labels: domain

#6708 Update hari.json (github username changed, so changing domain accordingly)
  domains/hari.json
Labels: domain

#6711 BETA: Register _github-pages-challenge-notnotrachit.rachit.is-a.dev
  domains/_github-pages-challenge-notnotrachit.rachit.json
Labels: domain

#6703 BETA: Register _github-pages-challenge-torchedsammy.sammy.is-a.dev
  domains/_github-pages-challenge-TorchedSammy.sammy.json
Labels: domain

#6704 Create _github-pages-challenge-nxb1t.nxb1t.json
  domains/_github-pages-challenge-nxb1t.nxb1t.json
Labels: domain

#6705 Add pages challenge verification json
  domains/_github-pages-challenge-sharkaboi.sarath.json
Labels: domain

#6710 Create _github-pages-challenge-seriaati.seria.json
  domains/_github-pages-challenge-seriaati.seria.json
Labels: domain

#6707 Register _github-pages-challenge-charmingdisorder.alexey.is-a.dev
  domains/_github-pages-challenge-charmingdisorder.alexey.json
Labels: domain

#6714 Add GitHub pages verification for jairomorales.is-a.dev
  domains/_github-pages-challenge-icky17.jairomorales.json
  domains/jairomorales.json
Labels: domain

#6712 Create chethan.json
  domains/chethan.json
Labels: domain

#6715 BETA: Update shept.is-a.dev
  domains/shept.json
Labels: domain

#6717 BETA: Register felixtpg.is-a.dev
  domains/felixtpg.json
Labels: domain

#6720 Added a file for github page verfication
  domains/_github-pages-challenge-vivek-oraon.vivek.json
Labels: domain

#6729 BETA: Update chethan.is-a.dev
  domains/_github-pages-challenge-chethanyadav456.chethan.json
Labels: domain

#6719 Create just-muzz.json
  domains/just-muzz.json
Labels: domain

#6724 Update flyingcheese41.json
  domains/flyingcheese41.json
Labels: domain

#6723 update TXT records and rename main file
  domains/_github-pages-challenge-fdciabdul.fdciabdul.json
Labels: domain

#6726 Create _github-pages-challenge-itsvick.itsvick.json
  domains/_github-pages-challenge-itsvick.itsvick.json
Labels: domain

#6706 BETA: Update thamizh.is-a.dev
  domains/_github-pages-challenge-thisisthamizh.thamizh.json
Labels: domain

#6730 fix for domain verification issue
  domains/_github-pages-challenge-loisvelasco.loisvelasco.json
Labels: domain

#6734 BETA: Register dodo1213.is-a.dev
  domains/dodo1213.json
Labels: domain

#6736 BETA: Register owonico.is-a.dev
  domains/owonico.json
Labels: domain

#6737 Fixed domain varification
  domains/_github-pages-challenge-not-a-ethan.not-ethan.json
  domains/not-ethan.json
Labels: domain

#6663 BETA: Update liancg.is-a.dev
  domains/_github-pages-challenge-liancastellon.liancg.json
Labels: domain, status: pending fix, reason: empty/misformatted file

#6765 Delete mastodon.dainfloop.json
  domains/mastodon.dainfloop.json
Labels: domain

#6743 Create _github-pages-challenge-inkilu.inkilu.json
  domains/_github-pages-challenge-inkilu.inkilu.json
Labels: domain

#6764 Domain verification
  domains/_github-pages-challenge-vasilismylonas.vasilismylonas.json
Labels: domain

#6763 BETA: Register saeful.is-a.dev
  domains/saeful.json
Labels: domain

#6766 BETA: Register fordevs.is-a.dev
  domains/fordevs.json
Labels: domain

#6767 Verification for aakanksha.is-a.dev
  domains/_github-pages-challenge-aakankshabhende.aakanksha.json
Labels: domain

#6768 BETA: Update latealways.is-a.dev
  domains/latealways.json
Labels: domain

#6771 Github verification
  domains/_github-pages-challenge-anandyeole.anandyeole.json
Labels: domain

#6773 Add GitHub pages challenge
  domains/_github-pages-challenge-javascript-void0.java.json
Labels: domain

#6774 BETA: Register _github-pages-challenge-vachanmn123.vachanmn.is-a.dev
  domains/_github-pages-challenge-vachanmn123.vachanmn.json
Labels: domain

#6776 Add GitHub pages challenge
  domains/_github-pages-challenge-night0721.night.json
Labels: domain

#6778 BETA: Register uberkey.is-a.dev
  domains/uberkey.json
Labels: domain

#6777 BETA: Update tclement0922.is-a.dev
  domains/_github-pages-challenge-tclement0922.tclement0922.json
Labels: domain

#6779 Add GitHub Page Challenge TXT Record
  domains/_github-pages-challenge-toxocious.toxocious.json
Labels: domain

#6780 Create _github-pages-challenge-TheHackerDude1083.thehackerdude1083.json
  domains/_github-pages-challenge-thehackerdude1083.thehackerdude1083.json
Labels: domain

#6783 Add GitHub challenge verification
  domains/_github-pages-challenge-technohacker.technohacker.json
Labels: domain

#6784 Add GitHub challenge verification
  domains/_github-pages-challenge-pingoda.pingoda.json
Labels: domain

#6787 Create _github-pages-challenge-impratik7.pratikmali
  domains/_github-pages-challenge-impratik7.pratikmali.json
Labels: domain

#6790 BETA: Register undeadevs.is-a.dev
  domains/undeadevs.json
Labels: domain

#6744 BETA: Register _github-pages-challenge-flazepe.flazepe.is-a.dev
  domains/_github-pages-challenge-flazepe.flazepe.json
Labels: domain

#6745 Create _github-pages-challenge-ANANTH-SWAMY.ananth.json
  domains/_github-pages-challenge-ananth-swamy.ananth.json
Labels: domain

#6755 Added support for emails.
  domains/not-ethan.json
Labels: domain

#6748 BETA: Register _github-pages-challenge-techpixel.tech.is-a.dev
  domains/_github-pages-challenge-techpixel.tech.json
Labels: domain

#6789 BETA: Update spaxly.is-a.dev
  domains/_github-pages-challenge-spaxly.spaxly.json
Labels: domain

#6735 BETA: Update caodoc.is-a.dev
  domains/_github-pages-challenge-caodoc.caodoc.json
  domains/caodoc.json
Labels: domain

#6749 BETA: Register _github-pages-challenge-jesgran.jesgran.is-a.dev
  domains/_github-pages-challenge-jesgran.jesgran.json
Labels: domain

#6752 Create _github-pages-challenge-LaBus3.madhav.json
  domains/_github-pages-challenge-labus3.madhav.json
Labels: domain

#6756 Create _github-pages-challenge-madebytragic.madebytragic.json
  domains/_github-pages-challenge-madebytragic.madebytragic.json
Labels: domain

#6757 BETA: Register _github-pages-challenge-dvandervlag.dennis.is-a.dev
  domains/_github-pages-challenge-dvandervlag.dennis.json
Labels: domain

#6758 add cd.is-a.dev
  domains/cd.json
Labels: domain

#6761 Add GitHub pages challenge
  domains/_github-pages-challenge-amalpotra.amarjeet.json
Labels: domain

#6762 Domain verification
  domains/_github-pages-challenge-armoredvortex.armoredvortex.json
Labels: domain
