Repository is-a-dev/register, pull requests merged in 2023-05, with the labels that each got.

#5521 .
  domains/hcs.json
Labels: domain

#5522 Add files via upload
  domains/utsav.json
Labels: domain

#5523 Register prabesh.is-a.dev
  domains/prabesh.json
Labels: domain, status: pending fix, reason: incompleted website

#5535 Update frostzzone.json
  domains/frostzzone.json
Labels: domain

#5525 Register youple.is-a.dev
  domains/youple.json
Labels: domain

#5516 Register inj3c7i0n.is-a.dev
  domains/inj3c7i0n.json
Labels: domain, status: pending fix, reason: incompleted website

#5526 Register saifrahman.is-a.dev
  domains/saifrahman.json
Labels: domain

#5530 Register radi8.is-a.dev
  domains/radi8.json
Labels: domain

#5537 Create TheTechnikFreak.json
  domains/thetechnikfreak.json
Labels: domain

#5538 'A' record for email
  domains/omera.json
Labels: domain

#5550 Update revelav2.json
  domains/revelav2.json
Labels: domain

#5552 'A' record for email
  domains/delasheras.json
Labels: domain

#5554 Update thetechnikfreak.json
  domains/thetechnikfreak.json
Labels: domain, status: pending fix, reason: invalid records

#5555 Create testtmail1.json
  domains/testtmail1.json
Labels: domain

#5547 Register kotelek.is-a.dev
  domains/kotelek.json
Labels: domain

#5557 Register momu54.is-a.dev
  domains/momu54.json
Labels: domain

#5549 Create neelsani.json
  domains/neelsani.json
Labels: domain

#5551 Create zhu.json
  domains/zhu.json
Labels: domain

#5567 update A record IP
  domains/blek.json
Labels: domain

#5561 Update website
  domains/liquid.json
Labels: domain

#5562 Register ryuuzu.is-a.dev
  domains/ryuuzu.json
Labels: domain

#5569 Create json-generator.json
  domains/json-generator.json
Labels: domain

#5565 Create jatin.json ~ please consider adding this.
  domains/jatin.json
Labels: domain

#5568 Create zly.json
  domains/zly.json
Labels: domain

#5571 DELETE MY DOMAIN
  domains/testtmail1.json
Labels: domain

#5564 Update jayg.json (Twitter)
  domains/jayg.json
Labels: domain

#5563 Register igor.is-a.dev
  domains/igor.json
Labels: domain, status: pending fix, reason: inaccessible website

#5575 Register casb-netbox.is-a.dev
  domains/casb-netbox.json
Labels: domain

#5585 I replaced ariez-codes.pages.dev with the new one!
  domains/ariez.json
Labels: domain

#5548 Create talinsharma.json
  domains/talinsharma.json
Labels: domain, status: pending fix, reason: inaccessible website

#5578 Create madhavjhawar.json
  domains/madhavjhawar.json
Labels: domain

#5579 Register cube.is-a.dev
  domains/cube.json
Labels: domain

#5586 Update client.nziie.json
  domains/client.nziie.json
Labels: domain

#5584 Register mac.is-a.dev
  domains/mac.json
Labels: domain

#5582 Create kiir0n.json
  domains/kiir0n.json
Labels: domain

#5587 Add files via upload
  domains/usingh.json
Labels: domain

#5591 added knsrinath into domains list
  domains/knsrinath.json
Labels: domain

#5592 Create dayowebevents.json
  domains/dayowebevents.json
Labels: domain

#5599 Register devabh.is-a.dev
  domains/devabh.json
Labels: domain

#5603 Register casperong.is-a.dev
  domains/casperong.json
Labels: domain

#5593 Create haco.json
  domains/haco.json
Labels: domain

#5595 Create uynilo9.json
  domains/uynilo9.json
Labels: domain

#5602 Create poppy.json
  domains/poppy.json
Labels: domain

#5608 Update nziie.json
  domains/nziie.json
Labels: domain

#5604 Create rest.json
  domains/rest.json
Labels: domain

#5610 Create iancheung.json
  domains/iancheung.json
Labels: domain

#5612 Register naokoshoto.is-a.dev
  domains/naokoshoto.json
Labels: domain

#5613 Register aaksa.is-a.dev
  domains/aaksa.json
Labels: domain

#5614 Update naokoshoto.is-a.dev
  domains/naokoshoto.json
Labels: domain

#5615 Create mathu-lmn.json
  domains/mathu-lmn.json
Labels: domain

#5616 Update cdn.nziie.json
  domains/cdn.nziie.json
Labels: domain

#5617 Update community.nziie.json
  domains/community.nziie.json
Labels: domain

#5618 Update and rename hikaru.json to jxcb.json
  domains/hikaru.json
  domains/jxcb.json
Labels: domain

#5576 Register tobez.is-a.dev
  domains/tobez.json
Labels: domain, status: pending fix, reason: inaccessible website

#5619 Change railway deployment - Edited nine.json
  domains/nine.json
Labels: domain

#5620 Register pavi.is-a.dev
  domains/pavi.json
Labels: domain

#5621 Create receipes.json
  domains/receipes.json
Labels: domain

#5623 Create xenon.json
  domains/xenon.json
Labels: domain

#5625 Register mudrika.is-a.dev
  domains/mudrika.json
Labels: domain, status: pending fix, reason: invalid records

#5626 Update elbernaoui.json
  domains/elbernaoui.json
Labels: domain

#5628 'A' record for email
  domains/isabelrosillo.json
Labels: domain

#5632 Update xenon.json
  domains/xenon.json
Labels: domain

#5629 Create nightmaregods.com
  domains/nightmaregods.json
Labels: domain

#5635 Register javier.is-a.dev
  domains/javier.json
Labels: domain

#5633 Update matt3o0.json
  domains/matt3o0.json
Labels: domain

#5627 Create raofin.json
  domains/raofin.json
Labels: domain

#5634 create 'A' record for email
  domains/dommor.json
Labels: domain

#5637 Register peter.is-a.dev
  domains/peter.json
Labels: domain

#5643 Update hase0278.json
  domains/hase0278.json
Labels: domain

#5642 Update javier.json
  domains/javier.json
Labels: domain

#5640 Register mukeshkumarcharak.is-a.dev
  domains/mukeshkumarcharak.json
Labels: domain

#5638 Register akai.is-a.dev
  domains/akai.json
Labels: domain

#5645 Register d2a59ce26a.is-a.dev
  domains/d2a59ce26a.json
Labels: domain

#5646 Create sharafat.json
  domains/sharafat.json
Labels: domain

#5648 Delete d2a59ce26a.is-a.dev
  domains/d2a59ce26a.json
Labels: domain

#5647 Update fatgrizzly.json
  domains/fatgrizzly.json
Labels: domain

#5650 Register ba9.is-a.dev
  domains/ba9.json
Labels: domain

#5652 Register cdn.akai.is-a.dev
  domains/cdn.akai.json
Labels: domain

#5653 Create vimalsaraswat.json
  domains/vimalsaraswat.json
Labels: domain

#5656 Update ip address, sorry
  domains/cdn.akai.json
Labels: domain

#5660 Update xenon.json
  domains/xenon.json
Labels: domain

#5662 ip change
  domains/mac.json
Labels: domain

#5651 Create ruu3f.json
  domains/ruu3f.json
Labels: domain, status: pending fix, reason: incompleted website

#5654 Create jan.json
  domains/jan.json
Labels: domain

#5655 Create yuuto.json
  domains/yuuto.json
Labels: domain

#5658 Create guilhem.json
  domains/guilhem.json
Labels: domain

#5661 Create jerikchan.json
  domains/jerikchan.json
Labels: domain

#5663 add jdszekeres.json
  domains/jdszekeres.json
Labels: domain

#5668 Update wahid7852.json
  domains/wahid7852.json
Labels: domain

#5666 feat: update nat.json
  domains/nat.json
Labels: domain

#5671 Change hase0278.is-a.dev to gdc.is-a.dev
  domains/gdc.json
Labels: domain

#5677 Update xenon.json
  domains/xenon.json
Labels: domain

#5681 Register rasp.is-a.dev
  domains/rasp.json
Labels: domain

#5676 Register rachit.is-a.dev
  domains/rachit.json
Labels: domain

#5667 Create muntasir.json
  domains/muntasir.json
Labels: domain

#5669 Create gwada.json
  domains/gwada.json
Labels: domain

#5678 Create hypnomacka.json
  domains/hypnomacka.json
Labels: domain

#5670 Create otter.json
  domains/otter.json
Labels: domain

#5664 harsh.json
  domains/harsh.json
Labels: domain

#5674 Create tanyalai.json
  domains/tanyalai.json
Labels: domain

#5675 Create haridarshan.json
  domains/haridarshan.json
Labels: domain

#5683 Create mahmetabak.json
  domains/mehmetabak.json
Labels: domain

#5684 Update daniel4-dev.json
  domains/daniel4-dev.json
Labels: domain

#5686 feat: `@is-a-dev/maintainers` to `is-a-dev`
  domains/_github-pages-challenge-andrewstech.privacy.json
  domains/_github-pages-challenge-wdhdev.raw-api.json
  domains/api.json
  domains/auth.json
  domains/beta.json
  domains/cli.json
  domains/docs.json
  domains/live.preview.beta.json
  domains/maintainers.json
  domains/preview.beta.json
  domains/privacy.json
  domains/raw-api.json
  domains/register.json
  domains/staff.json
  domains/status.json
  domains/team.json
Labels: domain

#5693 Update jeydin.json
  domains/jeydin.json
Labels: domain

#5665 Create notarya.json
  domains/notarya.json
Labels: domain

#5694 Delete sage.json
  domains/sage.json
Labels: domain

#5695 feat: updating domains
  domains/_github-pages-challenge-priyanshprajapat.monu.json
  domains/_github-pages-challenge-priyanshprajapat.priyansh.json
  domains/nsh.json
  domains/www.priyansh.json
Labels: domain

#5688 Create ipuppyyt.json
  domains/ipuppyyt.json
Labels: domain, status: awaiting user response, reason: inaccessible website

#5698 Update arafatrahaman.json
  domains/arafatrahaman.json
Labels: domain

#5696 Register domathdotid.is-a.dev
  domains/domathdotid.json
Labels: domain

#5703 Register opbot.is-a.dev
  domains/opbot.json
Labels: domain

#5710 update information
  domains/maskduck.json
Labels: domain

#5714 Add Jeymen domain
  domains/jeymen.json
Labels: domain

#5712 Register comicly.is-a.dev
  domains/comicly.json
Labels: domain

#5713 Register zerow.is-a.dev
  domains/zerow.json
Labels: domain

#5711 Register nextcloud.banana.is-a.dev
  domains/jellyfin.banana.json
  domains/nextcloud.banana.json
Labels: domain

#5715 Create serstars.json
  domains/serstars.json
Labels: domain

#5700 dag
  domains/dag.json
Labels: domain, status: pending fix, reason: invalid records

#5718 Update thecode-breaker.json
  domains/thecode-breaker.json
Labels: domain

#5721 Register ben.is-a.dev
  domains/ben.json
Labels: domain

#5726 Register arda.is-a.dev
  domains/arda.json
Labels: domain

#5722 Create johnythomas.json
  domains/johnythomas.json
Labels: domain

#5738 Update arda.json
  domains/arda.json
Labels: domain

#5716 Register eloisa.json
  domains/eloisa.json
Labels: domain

#5732 Register madebytragic.is-a.dev
  domains/lrmn.json
  domains/madebytragic.json
Labels: domain

#5730 Create enderpoint.json
  domains/enderpoint.json
Labels: domain

#5724 Create ten
  domains/ten.json
Labels: domain

#5739 Add mthia domain
  domains/mthia.json
Labels: domain

#5731 https://tsuuukiii.github.io/PortfolioWebsite
  domains/edmonddevera.json
Labels: domain

#5741 Update notarya.json
  domains/notarya.json
Labels: domain

#5744 Register dbh.tolis.is-a.dev
  domains/dbh.tolis.json
Labels: domain

#5743 Create hozzywozzy.json
  domains/hozzywozzy.json
Labels: domain
