Repository is-a-dev/register, pull requests merged in 2023-06, with the labels that each got.

#5763 Update ethereal.json
  domains/ethereal.json
Labels: domain

#5762 Create h.semant.json
  domains/home.semant.json
Labels: domain

#5759 Register bing-chilling.is-a.dev
  domains/bing-chilling.json
Labels: domain

#5720 Register bob.is-a.dev
  domains/bob.json
Labels: domain, status: pending fix, reason: incompleted website

#5745 Create imy.json
  domains/imy.json
Labels: domain

#5746 add hs50.json
  domains/hs50.json
Labels: domain

#5765 want to add my domain
  domains/devfate.json
Labels: domain

#5782 Create itsOmSarraf.json
  domains/itsomsarraf.json
Labels: domain

#5777 Register meenbeese.is-a.dev
  domains/meenbeese.json
Labels: domain

#5766 Added and updated himanshu.json file
  domains/himanshu.json
Labels: domain, status: pending fix, reason: invalid records

#5769 Register patuiqx.is-a.dev
  domains/patuiqx.json
Labels: domain

#5771 Create ohqte.json
  domains/ohqte.json
Labels: domain

#5784 creating nishantattrey json file
  domains/nishantattrey.json
Labels: domain

#5787 Register ronit.is-a.dev
  domains/ronit.json
Labels: domain

#5789 Register patrick.json
  domains/patrick.json
Labels: domain

#5785 Create rohit.json
  domains/rohit.json
Labels: domain

#5783 added Kapoor.json
  domains/kapoor.json
Labels: domain

#5792 Register abhinandan.is-a.dev
  domains/abhinandan.json
Labels: domain

#5796 Update zerow.json
  domains/zerow.json
Labels: domain

#5800 Switch to Cloudflare Pages and add Google Search Console
  domains/marcus.json
Labels: domain

#5770 Register wallp.is-a.dev
  domains/wallp.json
Labels: domain

#5799 Create liztochekcode.json
  domains/liztochekcode.json
Labels: domain

#5807 Register flamexode.is-a.dev
  domains/flamexode.json
Labels: domain

#5803 Register riii.is-a.dev
  domains/riii.json
Labels: domain

#5805 Register sergeyzarechnev.is-a.dev
  domains/sergeyzarechnev.json
Labels: domain

#5806 feat:adding roktim subdomain
  domains/roktim.json
Labels: domain

#5814 Create mail.ohqte.json
  domains/mail.ohqte.json
Labels: domain

#5812 replaced "A" record with "CNAME"
  domains/sergeyzarechnev.json
Labels: domain

#5798 Create vansh.json
  domains/vansh.json
Labels: domain, status: pending fix, reason: invalid records, reason: empty/misformatted file

#5795 Added email forwarding records.
  domains/ipuppyyt.json
Labels: domain, status: pending fix, reason: invalid records

#5824 bibhu is-a.dev
  domains/bibhu.json
Labels: domain

#5822 Register collin.is-a.dev
  domains/collin.json
  domains/sunshine.json
Labels: domain

#5802 adding domain name for "https://rpj09.github.io/Portfolio/"
  domains/rpj.json
Labels: domain

#5821 Create neki.json
  domains/neki.json
Labels: domain

#5828 'A record' for email use
  domains/ofv.json
Labels: domain

#5835 Change CNAME record to A record in johna.json
  domains/johna.json
Labels: domain

#5834 Change mail wallp.json
  domains/wallp.json
Labels: domain, status: pending fix, reason: invalid social

#5840 Create savinov.json
  domains/savinov.json
Labels: domain

#5818 register asriel.is-a.dev
  domains/asriel.json
Labels: domain, status: pending fix, reason: incompleted website

#5843 Add nova.is-a.dev
  domains/nova.json
Labels: domain

#5842 Add files via upload
  domains/yassin.json
Labels: domain

#5844 Create pushpak.json
  domains/pushpak.json
Labels: domain

#5846 Register vi0leta.is-a.dev
  domains/nextcloud.vi0leta.json
  domains/vi0leta.json
Labels: domain

#5849 Registering notaussie.is-a.dev
  domains/notaussie.json
Labels: domain

#5850 Register spark.is-a.dev
  domains/spark.json
Labels: domain

#5853 Update neon.json
  domains/neon.json
Labels: domain

#5854 Create coderpy4.json
  domains/coderpy4.json
Labels: domain

#5856 New domain
  domains/not-ethan.json
Labels: domain

#5860 Register deltara.is-a.dev
  domains/deltara.json
Labels: domain

#5865 Update neon.json
  domains/neon.json
Labels: domain

#5870 Register texh.is-a.dev
  domains/texh.json
Labels: domain

#5861 Register thisiskeanyvy.is-a.dev
  domains/thisiskeanyvy.json
Labels: domain, status: pending fix, reason: invalid records

#5869 Create Tech-Geek-United.json
  domains/tech-geek-united.json
Labels: domain

#5874 Register matbak.is-a.dev
  domains/matbak.json
Labels: domain

#5879 Ask for subdomain :)
  domains/jean-arthur.json
Labels: domain

#5873 1st.is-a.dev
  domains/1st.json
Labels: domain

#5875 Register idot.is-a.dev
  domains/idot.json
Labels: domain

#5868 Create pixelplayz.json
  domains/pixelplayz.json
Labels: domain

#5877 Create donno2048.json
  domains/donno2048.json
Labels: domain

#5880 Create doxr.json
  domains/doxr.json
Labels: domain

#5884 Update 1st.json
  domains/1st.json
Labels: domain

#5883 update neon.json to include improvmx mx records
  domains/neon.json
Labels: domain

#5882 Add files via upload
  domains/kuyacarlos.json
Labels: domain

#5890 Create _github-pages-challenge-anshtyagi0.ansh.json
  domains/_github-pages-challenge-anshtyagi0.ansh.json
Labels: domain

#5896 Rename terra.json to om.json
  domains/blog.terra.json
  domains/om.json
Labels: domain

#5897 Update and rename _github-pages-challenge-anshtyagi0.ansh.json to _gi…
  domains/_github-pages-challenge-anshtyagi0093.anshtyagi.json
Labels: domain

#5898 Update and rename ansh.json to anshtyagi.json
  domains/anshtyagi.json
Labels: domain

#5889 Create priyanshu.json
  domains/priyanshu.json
Labels: domain

#5893 Register monuk7735.is-a.dev
  domains/monuk7735.json
Labels: domain

#5895 Create blankparticle.json
  domains/blankparticle.json
Labels: domain

#5894 Create hackerhawks.json
  domains/hackerhawks.json
Labels: domain

#5899 Register nationwide.is-a.dev
  domains/nationwide.json
Labels: domain

#5900 Register cs.is-a.dev
  domains/cs.json
Labels: domain

#5906 Update zerow.json
  domains/zerow.json
Labels: domain

#5905 Create Vamsi.json
  domains/vamsi.json
Labels: domain

#5911 updated ohqte.json & deleted mail.ohqte.json
  domains/mail.ohqte.json
  domains/ohqte.json
Labels: domain

#5908 added ashin.is-a.dev
  domains/ashin.json
Labels: domain, status: pending fix, reason: invalid records

#5909 Register anorin.is-a.dev
  domains/anoriin.json
Labels: domain

#5910 Create romidev.json
  domains/romidev.json
Labels: domain

#5912 Create 207.json
  domains/207.json
Labels: domain

#5914 Create ikraiyan.json
  domains/ikraiyan.json
Labels: domain

#5916 Create jairomorales.json
  domains/jairomorales.json
Labels: domain

#5917 Create damned.json
  domains/damned.json
Labels: domain

#5918 Create wiredmind.json
  domains/wiredmind.json
Labels: domain

#5920 BETA: Register elbenja.is-a.dev
  domains/elbenja.json
Labels: domain

#5921 add sub-domain
  domains/anindra.json
Labels: domain

#5922 Update xenon.json
  domains/xenon.json
Labels: domain

#5925 Register 1st-dev.is-a.dev
  domains/1st-dev.json
Labels: domain

#5923 Update elbenja.json
  domains/elbenja.json
Labels: domain

#5928 create _github-pages-challenge-ShoreCN.cs.json
  domains/_github-pages-challenge-shorecn.cs.json
Labels: domain

#5930 Create zenpai.json
  domains/zenpai.json
Labels: domain

#5931 Register dilshad.is-a.dev
  domains/dilshad.json
Labels: domain

#5933 Register bmhien.is-a.dev
  domains/bmhien.json
Labels: domain

#5938 Create simplebank.json
  domains/simplebank.json
Labels: domain

#5940 Create flazepe.json
  domains/flazepe.json
Labels: domain

#5941 BETA: Register chouhict.is-a.dev
  domains/chouhi.json
  domains/chouhict.json
Labels: domain

#5942 BETA: Register thaihung.is-a.dev
  domains/thaihung.json
Labels: domain

#5945 Create agamjot-singh.json
  domains/agamjot-singh.json
Labels: domain

#5944 Create harsh-mehta.json
  domains/harsh-mehta.json
Labels: domain

#5947 Added improvmx support
  domains/asriel.json
Labels: domain, status: pending fix, reason: invalid records

#5948 feat(domains): add takase.is-a.dev
  domains/takase.json
Labels: domain

#5955 Changed discord
  domains/not-ethan.json
Labels: domain

#5956 Update `mysterysd.json`
  domains/mysterysd.json
Labels: domain

#5932 Register raymar.is-a.dev
  domains/raymar.json
Labels: domain, status: pending fix, reason: incompleted website, reason: invalid records

#5960 Update xenon.json
  domains/xenon.json
Labels: domain

#5962 `mysterysd.json` to `mystery.json`
  domains/mystery.json
Labels: domain

#5958 Update tat2008.json
  domains/tat2008.json
Labels: domain

#5959 Register imlauera.is-a.dev
  domains/imlauera.json
Labels: domain

#5950 Register sta1us.is-a.dev.is-a.dev
  domains/sta1us.json
Labels: domain

#5951 Sub-domain for fitrahmunir.is-a.dev
  domains/fitrahmunir.json
Labels: domain

#5953 Created qwertyr0.json
  domains/qwertyr0.json
Labels: domain

#5968 Create rzkyfhrzi21.json
  domains/rzkyfhrzi21.json
Labels: domain

#5961 BETA: Register b0q.is-a.dev
  domains/b0q.json
Labels: domain

#5964 Change collin.json
  domains/collin.json
Labels: domain

#5965 Create tawqeer.json
  domains/tawqeer.json
Labels: domain

#5967 add `lxz.is-a.dev`
  domains/lxz.json
Labels: domain

#5971 Register lihun.dev.is-a.dev
  domains/lihun.json
Labels: domain

#5975 Register cattopytheweb.is-a.dev
  domains/cattopytheweb.json
Labels: domain

#5972 BETA: Register mahmoud.is-a.dev
  domains/mahmoud.json
Labels: domain

#5979 Create teriko.json
  domains/teriko.json
Labels: domain

#5980 Register inf.json
  domains/inf.json
Labels: domain

#5983 Update safone.json
  domains/safone.json
Labels: domain

#5981 Create error404.json
  domains/error404.json
Labels: domain

#5987 Updated cattopytheweb.json
  domains/cattopytheweb.json
Labels: domain

#5988 BETA: Register suptime.is-a.dev
  domains/suptime.json
Labels: domain

#5996 Register potatoenergy.is-a.dev and Unregister potatopioneers.is-a.dev
  domains/potatoenergy.json
  domains/potatopioneers.json
Labels: domain

#5992 Deleted my domain arib21.is-a.dev (arib21.json)
  domains/arib21.json
Labels: domain

#5991 Create & Update hexaa.is-a.dev
  domains/hexaa.json
Labels: domain

#6001 gaining access to a sweet domain
  domains/narayana.json
Labels: domain

#5993 Register rrrokhtar.json
  domains/rrrokhtar.json
Labels: domain

#6000 Create nhemgomia.json
  domains/nhemgomia.json
Labels: domain

#6002 Create hashir.json
  domains/hashir.json
Labels: domain

#6006 Register alejosm.is-a.dev
  domains/alejosm.json
Labels: domain

#6007 Create bur.json
  domains/bur.json
Labels: domain

#6008 register sreevikram.json and sreevikramr.json
  domains/sreevikram.json
  domains/sreevikramr.json
  domains/therealviki.json
Labels: domain

#6009 add tsic404
  domains/tsic404.json
Labels: domain

#6019 Delete bdays.suki.json
  domains/bdays.suki.json
Labels: domain

#6021 Delete chat.suki.json
  domains/chat.suki.json
Labels: domain

#6020 Delete jenina.json
  domains/jenina.json
Labels: domain

#6018 Create bday-list.suki.json
  domains/bday-list.suki.json
Labels: domain

#6010 Create ataimpro.json
  domains/ataimpro.json
Labels: domain

#6013 Register nvme0n1p.is-a.dev
  domains/nvme0n1p.json
Labels: domain

#6014 Register d3c.is-a.dev
  domains/d3c.json
Labels: domain

#6022 Create mayerfried.json
  domains/mayerfried.json
Labels: domain
