Repository is-a-dev/register, pull requests merged in 2023-10, with the labels that each got.

#8364 BETA: Register newkernel.is-a.dev
  domains/newkernel.json
Labels: domain

#8363 BETA: Register kereh.is-a.dev
  domains/kereh.json
Labels: domain

#8361 BETA: Register idoli.is-a.dev
  domains/idoli.json
Labels: domain

#8358 BETA: Register itzhenry.is-a.dev
  domains/itzhenry.json
Labels: domain

#8357 BETA: Register nxnetwork.is-a.dev
  domains/nxnetwork.json
Labels: domain

#8344 Update xiaoxi-tw.json
  domains/xiaoxi-tw.json
Labels: domain

#8360 BETA: Register harrystudy.is-a.dev
  domains/harrystudy.json
  domains/harrythenegro.json
Labels: domain

#8353 BETA: Register bacherik.is-a.dev
  domains/bacherik.json
Labels: domain

#8213 BETA: Register radsteve.is-a.dev
  domains/radsteve.json
Labels: domain, reason: inaccessible website

#8220 BETA: Register dogemaster.is-a.dev
  domains/dogeleader.json
  domains/dogemaster.json
  domains/dogenetwork.json
Labels: domain

#8383 BETA: Register shamshitty.is-a.dev
  domains/shamshitty.json
Labels: domain

#8381 Register n3rcy.is-a.dev
  domains/n3rcy.json
Labels: domain

#8382 BETA: Register refact0r.is-a.dev
  domains/refact0r.json
Labels: domain

#8378 BETA: Register halokod.is-a.dev
  domains/halokod.json
Labels: domain

#8379 BETA: Register eacbypasser.is-a.dev
  domains/eacbypasser.json
Labels: domain

#8391 BETA: Register spill.is-a.dev
  domains/spill.json
Labels: domain

#8410 BETA: Register kalebhumpal.is-a.dev
  domains/kalebhumpal.json
Labels: domain

#8408 BETA: Register ihk.is-a.dev
  domains/ihk.json
Labels: domain

#8407 Update satvikg7.json
  domains/satvikg7.json
Labels: domain

#8406 BETA: Register nobody.is-a.dev
  domains/nobody.json
Labels: domain

#8405 BETA: Register hvn.is-a.dev
  domains/hvn.json
Labels: domain

#8398 Update
  domains/tharindudarshana.json
Labels: domain

#8396 BETA: Register aadarshksingh.is-a.dev
  domains/aadarshksingh.json
  domains/defalco64.json
Labels: domain

#8392 BETA: Register koopa.is-a.dev
  domains/koopa.json
  domains/koopacode.json
Labels: domain

#8390 BETA: Register yuzuki.is-a.dev
  domains/yuzuki.json
Labels: domain

#8389 BETA: Register vishok.is-a.dev
  domains/vishok.json
Labels: domain

#8388 BETA: Register taufikmaulidi.is-a.dev
  domains/taufikmaulidi.json
Labels: domain

#8346 BETA: Register thordevs.is-a.dev
  domains/thordevs.json
Labels: domain

#8340 Update adri.json
  domains/adri.json
Labels: domain

#8336 BETA: Register zylx.is-a.dev
  domains/zylx.json
Labels: domain

#8339 Update stellar.is-a.dev
  domains/stellar.json
Labels: domain

#8271 Update narayana.is-a.dev
  domains/narayana.json
Labels: domain

#8369 BETA: Register krazy.is-a.dev
  domains/krazy.json
Labels: domain

#8244 BETA: Register ad1107.is-a.dev
  domains/ad1107.json
Labels: domain

#8265 Register sag.is-a.dev
  domains/sag.json
Labels: domain

#8267 BETA: Register closure.is-a.dev
  domains/closure.json
Labels: domain

#8268 BETA: Register seriuos.is-a.dev
  domains/seriuos.json
Labels: domain

#8270 BETA: Register cakihorse.is-a.dev
  domains/cakihorse.json
Labels: domain

#8275 BETA: Register johnmortan.is-a.dev
  domains/johnevermore.json
  domains/johnmortan.json
Labels: domain

#8334 BETA: Register tinergy.is-a.dev
  domains/tinergy.json
Labels: domain

#8424 BETA: Register convertlink.is-a.dev
  domains/convertlink.json
Labels: domain

#8343 BETA: Register aakashcse.is-a.dev
  domains/aakashcse.json
Labels: domain

#8342 BETA: Register vleov.is-a.dev
  domains/vleov.json
Labels: domain

#8341 BETA: Register gman.is-a.dev
  domains/gman.json
Labels: domain

#8349 BETA: Register dnoxl.is-a.dev
  domains/dnoxl.json
Labels: domain

#8366 BETA: Register dhaloi.is-a.dev
  domains/dhaloi.json
Labels: domain

#8377 BETA: Register harshrai.is-a.dev
  domains/harshrai.json
Labels: domain

#8412 Update v2ray.vi0leta.json
  domains/v2ray.vi0leta.json
Labels: domain

#8413 Update vi0leta.json
  domains/vi0leta.json
Labels: domain

#8414 Update tetris.vi0leta.json
  domains/tetris.vi0leta.json
Labels: domain

#8415 Update nextcloud.vi0leta.json
  domains/nextcloud.vi0leta.json
Labels: domain

#8411 Update matrix.vi0leta.is-a.dev
  domains/matrix.vi0leta.json
Labels: domain

#8419 Update chirathtimodh.is-a.dev
  domains/chirathtimodh.json
Labels: domain

#8439 BETA: Register yukii.is-a.dev
  domains/yukii.json
Labels: domain

#8443 Delete domains/wasterecycleassistant.chiragnahata.json
  domains/wasterecycleassistant.chiragnahata.json
Labels: domain

#8444 BETA: Register hazwana.is-a.dev
  domains/hazwana.json
Labels: domain

#8440 BETA: Register notzsfell.is-a.dev
  domains/notzsfell.json
Labels: domain

#8325 BETA: Register parovoz.is-a.dev
  domains/parovoz.json
Labels: domain

#8347 BETA: Register kriz.is-a.dev
  domains/kriz.json
Labels: domain

#8422 BETA: Register snippyivan.is-a.dev
  domains/snippyivan.json
  domains/snippytech.json
Labels: domain

#8426 BETA: Register sirens.is-a.dev
  domains/sirens.json
Labels: domain

#8452 Create upd.oxmc.json
  domains/upd.oxmc.json
Labels: domain

#8438 BETA: Register pirpal.is-a.dev
  domains/pirpal.json
Labels: domain

#8448 BETA: Register ayushi.is-a.dev
  domains/ayushi.json
Labels: domain

#8436 Update prodefix.json
  domains/prodefix.json
Labels: domain

#8456 add sh.cdn
  domains/alpha.json
  domains/sh.cdn.alpha.json
Labels: domain

#8450 BETA: Register raystatic.is-a.dev
  domains/rahul.ray.json
  domains/rahulray.json
  domains/raystatic.json
Labels: domain

#8427 Update convertlink.is-a.dev
  domains/convertlink.json
Labels: domain

#8428 BETA: Register sof009.is-a.dev
  domains/sof009.json
Labels: domain

#8467 BETA: Register dott.is-a.dev
  domains/dott.json
Labels: domain

#8466 BETA: Register guyen.is-a.dev
  domains/guyen.json
Labels: domain

#8445 BETA: Register jams.is-a.dev
  domains/jams.json
Labels: domain

#8463 Update api.anshtyagi.json
  domains/api.anshtyagi.json
Labels: domain

#8451 BETA: Register azurezeng.is-a.dev
  domains/azurezeng.json
Labels: domain

#8470 BETA: Register recoderdrastic.is-a.dev
  domains/recoderdrastic.json
Labels: domain

#8468 BETA: Register noicemath.is-a.dev
  domains/noicemath.json
Labels: domain

#8387 Update shamshitty.json
  domains/shamshitty.json
Labels: domain

#8485 Create dev-dco.json
  domains/dev-dco.json
Labels: domain

#8482 BETA: Register jason-ng.is-a.dev
  domains/jason-ng.json
Labels: domain

#8479 BETA: Register _github-challenge-yfadev-org.alpha.is-a.dev
  domains/_github-challenge-yfadev-org.alpha.json
Labels: domain

#8477 BETA: Register dot.is-a.dev
  domains/dot.json
Labels: domain

#8483 data: register profile.is-a.dev domain
  domains/profile.json
Labels: domain, status: awaiting maintainer decision

#8496 BETA: Register parpok.is-a.dev
  domains/parpok.json
Labels: domain

#8522 feat(delete): domains/anishshobithps.json
  domains/anishshobithps.json
Labels: domain

#8521 BETA: Register quartz.is-a.dev
  domains/quartz.json
Labels: domain

#8520 BETA: Register ghalibcraft.is-a.dev
  domains/ghalibcraft.json
Labels: domain

#8518 BETA: Register ryameeloveme.is-a.dev
  domains/ryameeloveme.json
Labels: domain

#8517 BETA: Register hex4.is-a.dev
  domains/hex4.json
Labels: domain

#8516 BETA: Register mazimez.is-a.dev
  domains/mazimez.json
Labels: domain

#8511 BETA: Register codingbobby.is-a.dev
  domains/codingbobby.json
Labels: domain

#8510 Create _discord.shing.json
  domains/_discord.shing.json
Labels: domain

#8508 BETA: Register oxoomy.is-a.dev
  domains/oxoomy.json
Labels: domain

#8507 Create theavian.json
  domains/theavian.json
Labels: domain

#8505 BETA: Register drv.is-a.dev
  domains/drv.json
Labels: domain

#8504 BETA: Register aware.is-a.dev
  domains/aware.json
Labels: domain

#8502 BETA: Register temp70.is-a.dev
  domains/mrtemp70.json
Labels: domain

#8423 BETA: Register snowcat.is-a.dev
  domains/finsniper.json
  domains/snowcat.json
Labels: domain

#8218 BETA: Register risshi.is-a.dev
  domains/risshi.json
Labels: domain

#8434 BETA: Register zine.is-a.dev
  domains/zine.json
Labels: domain

#8474 BETA: Register hqmtgaming.is-a.dev
  domains/hqmt.json
  domains/hqmtgaming.json
Labels: domain

#8489 BETA: Register var.is-a.dev
  domains/constvar.json
  domains/var.json
Labels: domain

#8490 BETA: Register azw.is-a.dev
  domains/azw.json
Labels: domain

#8437 BETA: Register sedat3344.is-a.dev
  domains/sedat3344.json
Labels: domain

#8493 BETA: Register rayan.is-a.dev
  domains/rayan.json
Labels: domain

#8499 BETA: Register apa.is-a.dev
  domains/apa.json
Labels: domain

#8446 BETA: Register trailblazertech.is-a.dev
  domains/trailblazertech.json
Labels: domain

#8435 BETA: Register sc.is-a.dev
  domains/sc.json
Labels: domain

#8488 BETA: Register diego.is-a.dev
  domains/diego.json
Labels: domain

#8494 Create rakib.json
  domains/rakib.json
Labels: domain

#8486 BETA: Register shrek.is-a.dev
  domains/shrek.json
Labels: domain

#8491 BETA: Register isaacrobinson.is-a.dev
  domains/isaacrobinson.json
Labels: domain

#8393 BETA: Register avversion.is-a.dev
  domains/avversion.json
Labels: domain

#8515 Create hchs-bot.json
  domains/hchs-bot.json
Labels: domain

#8532 Update hchs-bot.json
  domains/hchs-bot.json
Labels: domain

#8525 Update ryameeloveme.is-a.dev
  domains/ryameeloveme.json
Labels: domain

#8526 BETA: Register shoyeb.is-a.dev
  domains/shoyeb.json
Labels: domain

#8528 BETA: Register xiaozhe.is-a.dev
  domains/xiaozhe.json
Labels: domain

#8534 BETA: Register wibu.is-a.dev
  domains/wibu.json
Labels: domain

#8399 Create filmflu.is-a-dev.json
  domains/filmflu.json
Labels: domain, reason: invalid records, reason: invalid file

#8537 BETA: Register lori28167.is-a.dev
  domains/lori28167.json
Labels: domain

#8540 Create turtlecode.json
  domains/turtlecode.json
Labels: domain

#8543 BETA: Register jupie.is-a.dev
  domains/jupie.json
Labels: domain

#8544 BETA: Register spaace.is-a.dev
  domains/spaace.json
Labels: domain

#8549 BETA: Register piyushrb.is-a.dev
  domains/piyushrb.json
Labels: domain

#8551 impr: changed cname dns to "my-blog-vpp1.onrender.com"
  domains/aikoo7.json
Labels: domain

#8555 BETA: Register gauravgupta.is-a.dev
  domains/gauravgupta.json
  domains/gauravgupta256.json
Labels: domain

#8554 BETA: Register david_heredia.is-a.dev
  domains/dherediat.json
Labels: domain

#8557 BETA: Register thetechguy.is-a.dev
  domains/thetechguy.json
Labels: domain

#8558 BETA: Register anticens.is-a.dev
  domains/anticens.json
Labels: domain

#8561 BETA: Register drv.su.is-a.dev
  domains/drv.su.json
Labels: domain

#8560 BETA: Register techke.is-a.dev
  domains/techke.json
  domains/techpundit.json
  domains/techpunditke.json
Labels: domain

#8566 BETA: Register jarren.is-a.dev
  domains/jarren.json
Labels: domain

#8567 Update sc.json
  domains/sc.json
Labels: domain

#8570 BETA: Register davidadrian8a.is-a.dev
  domains/davidadrian8a.json
Labels: domain

#8571 Update piyushrb.is-a.dev
  domains/piyushrb.json
Labels: domain

#8552 Update akai.json for akai.is-a.dev
  domains/akai.json
Labels: domain, reason: inaccessible website

#8596 add to discord
  domains/_discord.0xviel.json
Labels: domain

#8605 Create gradle.phoenix.json
  domains/gradle.phoenix.json
Labels: domain

#8533 BETA: Register matrixcoder.is-a.dev
  domains/matrixcoder.json
Labels: domain

#8580 Update snippyivan.is-a.dev
  domains/snippyivan.json
Labels: domain

#8581 BETA: Register ziyn.is-a.dev
  domains/ziyn.json
Labels: domain

#8582 BETA: Register horn7x.is-a.is-a.dev
  domains/horn7x.is-a.dev.json
Labels: domain

#8585 My webpage
  domains/drastic.json
Labels: domain

#8612 Update mattw.json to update records.
  domains/mattw.json
Labels: domain

#8590 BETA: Register omarplayz.is-a.dev
  domains/omarplayz.json
Labels: domain

#8611 BETA: Register kylomaskgamer.is-a.dev
  domains/kylomaskgamer.json
Labels: domain

#8606 BETA: Register esteban.is-a.dev
  domains/esteban.json
Labels: domain

#8589 BETA: Register pafias.is-a.dev
  domains/pafias.json
Labels: domain

#8441 BETA: Register noname.is-a.dev
  domains/creepycraft.json
Labels: domain

#8591 BETA: Register freegraphics.is-a.dev
  domains/freegraphics.json
Labels: domain
