Repository is-a-dev/register, pull requests merged in 2023-11, with the labels that each got.

#9083 Update nc.is-a.dev
  domains/nc.json
Labels: domain

#9090 BETA: Register alian.is-a.dev
  domains/alian.json
Labels: domain

#9089 BETA: Register rrcoder0167.is-a.dev
  domains/rrcoder0167.json
Labels: domain

#9066 sharafat.json | spelling fixed
  domains/sharafat.json
Labels: domain

#9094 BETA: Register leidenfrost.is-a.dev
  domains/leidenfrost.json
Labels: domain

#9107 Delete denboy0123-email.is-a.dev
  domains/denboy0123-email.json
  domains/denboy0123-root.json
Labels: domain

#9131 BETA: Register sotto.is-a.dev
  domains/sotto.json
Labels: domain

#9119 Delete leidenfrost.is-a.dev
  domains/leidenfrost.json
Labels: domain

#9137 BETA: Register dc.riviox.is-a.dev
  domains/dc.riviox.json
Labels: domain

#9103 BETA: Register mukesh.is-a.dev
  domains/mukesh.json
Labels: domain

#9091 BETA: Register tymek.is-a.dev
  domains/tymek.json
Labels: domain

#9068 BETA: Register devhavok.is-a.dev
  domains/devhavok.json
Labels: domain

#9109 Update denboy0123.json
  domains/denboy0123.json
Labels: domain

#9122 Create givinghawk.json
  domains/givinghawk.json
Labels: domain

#9121 Create php.oxmc.json
  domains/bracketproto.json
  domains/php.oxmc.json
Labels: domain

#9098 Update ez.is-a.dev
  domains/ez.json
Labels: domain

#9108 Remove Unsupported Domain
  domains/easlo.json
Labels: domain, maintainer

#9139 update php.oxmc.json
  domains/php.oxmc.json
Labels: domain

#8865 BETA: Register zemerik.is-a.dev
  domains/zemerik.json
Labels: domain

#8880 BETA: Register hans0805.is-a.dev
  domains/hans0805.json
Labels: domain

#9136 BETA: Register wnk.is-a.dev
  domains/wnk.json
Labels: domain

#8887 BETA: Register sotoyer.is-a.dev
  domains/sotoyer.json
Labels: domain

#9073 BETA: Register jimjimcb.is-a.dev
  domains/jimjimcb.json
Labels: domain

#9135 BETA: Register _discord.dashboard.gattinhosbot.is-a.dev
  domains/_discord.dashboard.gattinhosbot.json
Labels: domain

#9134 BETA: Register eternalluxury.is-a.dev
  domains/eternalluxury.json
Labels: domain

#9105 Create _discord.krazy.json
  domains/_discord.krazy.json
Labels: domain

#9075 Register tuananh.is-a.dev
  domains/tuananh.json
Labels: domain

#9088 Register leon332157.is-a.dev
  domains/leon3321.json
  domains/leon332157.json
Labels: domain

#8911 BETA: Register mak448a.is-a.dev
  domains/mak448a.json
Labels: domain

#9101 Update hiro.is-a.dev
  domains/hiro.json
Labels: domain

#9092 BETA: Register ayxdacat.is-a.dev
  domains/ayxdacat.json
Labels: domain

#8978 BETA: Register didotb.is-a.dev
  domains/didotb.json
Labels: domain

#9123 BETA: Register lucaledd.is-a.dev
  domains/lucaforever.json
  domains/lucaledd.json
Labels: domain

#8849 BETA: Register faelixyz.is-a.dev
  domains/svx.json
Labels: domain

#9128 BETA: Register farhan.is-a.dev
  domains/farhan.json
Labels: domain

#9052 Update rollwaifu.is-a.dev
  domains/rollwaifu.json
Labels: domain

#9055 Create youfoundalpha.json
  domains/youfoundalpha.json
Labels: domain

#9138 BETA: Register lsprgabriel.is-a.dev
  domains/lsprgabriel.json
Labels: domain

#9072 Register sty.is-a.dev
  domains/sty.json
Labels: domain

#8945 BETA: Register sayolight.is-a.dev
  domains/sayolight.json
Labels: domain

#8939 BETA: Register arshath.is-a.dev
  domains/arif.json
  domains/arshath.json
Labels: domain

#8933 Update _github-pages-challenge-BerzCode.saurabhkirve.json
  domains/_github-pages-challenge-berzcode.saurabhkirve.json
Labels: domain

#9140 Delete domains/whyamilikethis.json
  domains/whyamilikethis.json
Labels: reason: abuse risk, maintainer

#9085 BETA: Register do-gia-huy.is-a.dev
  domains/do-gia-huy.json
Labels: domain

#9040 BETA: Register spydea.is-a.dev
  domains/spydea.json
Labels: domain

#9036 BETA: Register kaish.is-a.dev
  domains/kaish.json
Labels: domain

#9031 BETA: Register shizotechie.is-a.dev
  domains/shizotechie.json
Labels: domain

#8993 BETA: Register nypd.is-a.dev
  domains/nypd.json
Labels: domain

#9069 BETA: Register arv.is-a.dev
  domains/arv.json
Labels: domain

#9057 Create typeling1578.json
  domains/typeling1578.json
Labels: domain

#9056 BETA: Register king.is-a.dev
  domains/king.json
Labels: domain

#9054 Update tariqul.is-a.dev
  domains/tariqul.json
Labels: domain

#9047 Update nyx.is-a.dev
  domains/nyx.json
Labels: domain

#9053 Register sppidy.is-a.dev
  domains/sppidy.json
Labels: domain

#8975 BETA: Register myxi.is-a.dev
  domains/myxi.json
Labels: domain

#9023 Update TXT Record for _github-pages-challenge-fdciabdul.fdciabdul.json
  domains/_github-pages-challenge-fdciabdul.fdciabdul.json
Labels: domain

#8969 Register a1x5h04.is-a.dev
  domains/a1x5h04.json
Labels: domain

#9164 Delete domains/fartplayer69.json
  domains/fartplayer69.json
Labels: maintainer

#9130 Update deadcode.is-a.dev - Added ImprovMX records
  domains/mail.deadcode.json
Labels: domain, reason: invalid file

#9162 Update lucaforever.is-a.dev
  domains/lucaforever.json
Labels: domain

#9147 Update to the Record
  domains/shaunfurtado.json
Labels: domain

#9154 Update artix.is-a.dev
  domains/artix.json
Labels: domain

#9165 Update jimjimcb.is-a.dev
  domains/jimjimcb.json
Labels: domain

#9150 Rename shreyaprincess.json to haruki.json
  domains/haruki.json
Labels: domain

#9161 BETA: Register thoth.is-a.dev
  domains/thoth.json
Labels: domain

#9151 Create github pages challenge
  domains/_github-pages-challenge-aravinds-arv.arv.json
Labels: domain

#9153 Update DNS record (CNAME)
  domains/a1x5h04.json
Labels: domain

#9155 BETA: Register balls.is-a.dev
  domains/balls.json
Labels: domain

#9178 BETA: Register discord.deadcode.is-a.dev
  domains/discord.deadcode.json
Labels: domain

#9181 Updated xenoxanite.json
  domains/xenoxanite.json
Labels: domain

#9186 BETA: Register nicoladen.is-a.dev
  domains/nicoladen.json
Labels: domain

#9172 BETA: Register twisted.is-a.dev
  domains/twisted.json
Labels: domain

#9175 Update dc.riviox.is-a.dev
  domains/dc.riviox.json
Labels: domain

#9174 Update lucaledd.json
  domains/lucaledd.json
Labels: domain

#9182 BETA: Register kayg.is-a.dev
  domains/kayg.json
Labels: domain

#9184 Create heyvikki.json
  domains/heyvikki.json
Labels: domain

#9166 BETA: Register ebonato.is-a.dev
  domains/ebonato.json
Labels: domain

#9170 Register advik.is-a.dev
  domains/advik.json
Labels: domain

#9188 Update twisted.is-a.dev
  domains/twisted.json
Labels: domain

#9185 Update discord.deadcode.json
  domains/discord.deadcode.json
Labels: domain

#9196 BETA: Register techside.is-a.dev
  domains/techside.json
  domains/xenapp.json
Labels: domain

#9118 BETA: Register tomokat.is-a.dev
  domains/tomokat.json
Labels: domain, reason: inaccessible website

#9195 Update balls.is-a.dev
  domains/balls.json
Labels: domain

#9171 Create sdp.json
  domains/sdp.json
Labels: domain, reason: invalid records

#9204 BETA: Register blazyflash.is-a.dev
  domains/blazyflash.json
Labels: domain

#9206 Register johnny1337.is-a.dev.is-a.dev
  domains/johnny1337.json
Labels: domain

#9199 add kappurumedia
  domains/kappurumedia.json
Labels: domain

#9200 Update alkadhumi.is-a.dev
  domains/alkadhumi.json
Labels: domain

#9203 Register misi.is-a.dev
  domains/misi.json
Labels: domain

#9209 Finally gotten myself a VPS!
  domains/winter.json
Labels: domain

#9210 BETA: Register shobhit.is-a.dev
  domains/shobhit.json
Labels: domain

#8997 BETA: Register furret.is-a.dev
  domains/furret.json
Labels: domain, reason: invalid records

#9219 Update devhavok.json
  domains/devhavok.json
Labels: domain

#9221 BETA: Register shobhit9945.is-a.dev
  domains/shobhit9945.json
Labels: domain

#9235 Update akpi.json
  domains/akpi.json
Labels: domain

#9229 Create _discord.sdp.json
  domains/_discord.sdp.json
Labels: domain

#9231 I don't think github verification url is needed since i use is-a.dev hostiing
  domains/_github-pages-challenge-stef-00012.stefdp.json
Labels: domain

#9228 Create mvn.winter.json
  domains/mvn.winter.json
Labels: domain

#9224 BETA: Register ramakrishna.is-a.dev
  domains/ramakrishna.json
Labels: domain

#9227 Create panel.winter.json
  domains/panel.winter.json
Labels: domain

#9230 BETA: Register snip.is-a.dev
  domains/snip.json
Labels: domain

#9226 BETA: Register meerveld.is-a.dev
  domains/meerveld.json
Labels: domain

#9238 Update misi.is-a.dev
  domains/misi.json
Labels: domain

#9257 Update scott.json
  domains/scott.json
Labels: domain

#9256 feat(domain): tumit.is-a.dev
  domains/tumit.json
Labels: domain

#9242 Update akpi.json
  domains/akpi.json
Labels: domain

#9293 Update denboy0123.json
  domains/denboy0123.json
Labels: domain

#9267 Create srv1.winter.is-a.dev
  domains/cdn.winter.json
  domains/images.winter.json
  domains/mc.winter.json
  domains/nc.winter.json
  domains/portainer.winter.json
  domains/srv1.winter.json
  domains/sso.winter.json
Labels: domain

#9303 Update maskduck.json
  domains/maskduck.json
Labels: domain

#9307 edgar.json : edgar.is-a.dev
  domains/edgar.json
Labels: domain

#9311 Updated CNAME record to A record with accompanying TXT record
  domains/didotb.json
Labels: domain

#9247 Update shobhit9945.is-a.dev
  domains/shobhit9945.json
Labels: domain

#9250 BETA: Register cagdas.is-a.dev
  domains/cagdas.json
Labels: domain

#9254 BETA: Register quuququ.is-a.dev
  domains/quuququ.json
Labels: domain

#9260 Update antogamer.json
  domains/antogamer.json
Labels: domain

#9263 Update shizotechie.is-a.dev
  domains/shizotechie.json
Labels: domain

#9253 BETA: Register ali-abdurrazzak.is-a.dev
  domains/ali-abdurrazzak.json
Labels: domain

#9276 Update esp.json
  domains/esp.json
Labels: domain

#9277 BETA: Register marchiba99.is-a.dev
  domains/marchiba99.json
Labels: domain

#9286 Add github-pages-challenge-likalium.likalium.json
  domains/_github-pages-challenge-likalium.likalium.json
  domains/likalium.json
Labels: domain

#9281 BETA: Register twilightshock.is-a.dev
  domains/twilightshock.json
Labels: domain

#9291 Add iagobruno.json
  domains/iagobruno.json
Labels: domain

#9292 BETA: Register web-design-zone.is-a.dev
  domains/web-design-zone.json
Labels: domain

#9294 BETA: Register rizvan.is-a.dev
  domains/rizvan.json
Labels: domain

#9284 Add haris.json
  domains/haris.json
Labels: domain

#9297 Add GH pages verified domain TXT record
  domains/foxsden.json
Labels: domain

#9302 Update ahmad-muhajir.json
  domains/ahmad-muhajir.json
Labels: domain

#9324 Rename gradle.phoenix.json to sharex.phoenix.json
  domains/sharex.phoenix.json
Labels: domain

#9310 Register styy.is-a.dev
  domains/styy.json
Labels: domain

#9296 Update `tomgxz.json`
  domains/tomgxz.json
Labels: domain

#9326 BETA: Register spynet.is-a.dev
  domains/spynet.json
Labels: domain

#9316 BETA: Register kaushik.kashyap.is-a.dev
  domains/kaushik.kashyap.json
Labels: domain

#9320 BETA: Register trung.is-a.dev
  domains/trung.json
Labels: domain

#9335 Create raw.json
  domains/raw.json
Labels: maintainer

#9321 BETA: Register bni.co.id.is-a.dev
  domains/bni.co.id.json
  domains/eform.bni.co.id.json
Labels: domain

#9332 Update boggy.json
  domains/boggy.json
Labels: domain

#9322 BETA: Register dea.is-a.dev
  domains/dea.json
Labels: domain

#9330 BETA: Register tibor.is-a.dev
  domains/tibor.json
Labels: domain

#9323 Create uptime.stefdp.json
  domains/uptime.stefdp.json
Labels: domain

#9338 BETA: Register creeper76.is-a.dev
  domains/creeper76.json
Labels: domain

#9346 BETA: Register raiden-16f7.is-a.dev
  domains/raiden-16f7.json
Labels: domain

#9347 Changed record type for tibor.is-a.dev
  domains/tibor.json
Labels: domain

#9350 BETA: Register snake.is-a.dev
  domains/snake.json
Labels: domain

#9325 Update MX and TXT records
  domains/mail.toasty.json
Labels: domain, reason: invalid records

#9353 BETA: Register dexar.is-a.dev
  domains/dexar.json
Labels: domain

#9343 BETA: Register craftyy.is-a.dev
  domains/craftyy.json
Labels: domain

#9354 BETA: Register fincho.is-a.dev
  domains/fincho.json
Labels: domain

#9359 BETA: Register shilab.is-a.dev
  domains/shilab.json
Labels: domain

#9295 BETA: Register m1cro.is-a.dev
  domains/m1cro.json
Labels: domain

#9371 Update giovstechs.json
  domains/giovstechs.json
Labels: domain
