Repository is-a-dev/register, pull requests merged in 2023-03, with the labels that each got.

#4980 didn't support vercel so adding aws
  domains/chaman.json
Labels: domain

#4975 Register lalmanthakur.is-a.dev
  domains/lalmanthakur.json
Labels: domain, status: pending fix, reason: invalid records

#4972 Register toasted.is-a.dev
  domains/toasted.json
Labels: domain, status: pending fix, reason: vercel/netlify

#4981 Shays24.is-a.dev
  domains/shays.json
Labels: domain

#4984 Redirect tca.is-a.dev to toasted.is-a.dev
  domains/tca.json
Labels: domain

#4985 Added tim-q.de
  domains/tim-q.json
Labels: domain

#4991 Added eduardkotov via is-a-dev-cli
  domains/eduardkotov.json
Labels: domain, status: pending fix, reason: inaccessible website

#4987 Create kns.json
  domains/kns.json
Labels: domain, status: pending fix, reason: incompleted website

#4992 Added nightsfall via is-a-dev-cli
  domains/nightsfall.json
Labels: domain

#4996 Update chaman.json
  domains/chaman.json
Labels: domain

#4995 derGraph domains
  domains/cloud.dergraph.json
  domains/dergraph.json
  domains/doc.dergraph.json
  domains/mc.dergraph.json
Labels: domain

#4748 Register arch.is-a.dev
  domains/arch.json
Labels: domain, status: pending fix, reason: incompleted website

#4919 Register frostzzone.is-a.dev
  domains/frostzzone.json
Labels: domain, status: pending fix, reason: incompleted website

#4998 Create MPult.json
  domains/mpult.json
Labels: domain

#5002 Create thamizh.json
  domains/thamizh.json
Labels: domain, reason: empty/misformatted file

#4999 Create themagicmush.json
  domains/themagicmush.json
Labels: domain, status: pending fix, reason: inaccessible website

#5003 kiwozen.json
  domains/kiwozen.json
Labels: domain

#5005 Create pronicio.json
  domains/pronicio.json
Labels: domain

#5006 add file for domain
  domains/hiren.json
Labels: domain

#5008 Delete avarnex.json
  domains/avarnex.json
Labels: domain

#5010 Create vikram.json
  domains/vikram.json
Labels: domain

#5014 Create milocat.json
  domains/milocat.json
Labels: domain

#5015 Register edjva.is-a.dev
  domains/edjva.json
Labels: domain

#5016 Create cetus.json
  domains/cetus.json
Labels: domain

#5023 Update repo name
  domains/arsdorint.json
Labels: domain

#4977 Register exoooo.is-a.dev
  domains/exoooo.json
Labels: domain, status: pending fix, reason: invalid records

#5024 domain chirathtimodh
  domains/chirathtimodh.json
Labels: domain

#5022 Update arsdorint.json
  domains/arsdorint.json
Labels: domain, status: pending fix, reason: inaccessible website

#5026 Update dark.json
  domains/dark.json
Labels: domain

#5013 Added mtestsite via is-a-dev-cli
  domains/mtestsite.json
Labels: domain, status: pending fix, reason: invalid social

#5025 Added web-sh.sx9Via is-a-dev-cli
  domains/web-sh.sx9.json
Labels: domain

#5020 Update shiv.json
  domains/shiv.json
Labels: domain, status: pending fix, reason: incompleted website

#5028 Create siamrahman.json
  domains/siamrahman.json
Labels: domain

#5018 Update lthon09.json
  domains/lthon09.json
Labels: domain, status: pending fix, reason: inaccessible website

#5036 Update cetus.json
  domains/cetus.json
Labels: domain

#5032 abdeba
  domains/abdeba.json
Labels: domain

#5033 Create moddedstuffguy.json
  domains/moddedstuffguy.json
Labels: domain

#5034 Created adityavag.json
  domains/adityavag.json
Labels: domain

#5046 Create chat.suki.is-a.dev
  domains/chat.suki.json
Labels: domain

#5039 Create fluxxyboi.json
  domains/fluxxyboi.json
Labels: domain

#5040 Create gopal-kaul.json
  domains/gopal-kaul.json
Labels: domain

#5043 Create simon.json
  domains/simon.json
Labels: domain

#5045 Create jzitnik.json
  domains/jzitnik.json
Labels: domain

#5037 Create lpkeates.json
  domains/lpkeates.json
Labels: domain, status: pending fix, reason: incompleted website

#5048 Added vincyxir via is-a-dev-cli
  domains/vincyxir.json
Labels: domain

#5038 Create zerowho.json
  domains/zerowho.json
Labels: domain, status: pending fix, reason: invalid records

#5051 Delete exoooo.json
  domains/exoooo.json
Labels: domain, reason: abuse risk

#5057 Create sfx.json
  domains/sfx.json
Labels: domain

#5055 botolbaba
  domains/botolbaba.json
Labels: domain

#5058 Create daboltgod.json
  domains/daboltgod.json
Labels: domain

#5064 Update mattdavison.json
  domains/mattdavison.json
Labels: domain

#5063 Remove my domain
  domains/gopal-kaul.json
Labels: domain

#5061 Attempt to fix tnt.is-a.dev
  domains/tnt.json
Labels: domain

#5065 Create lucaszick.json
  domains/lucaszick.json
Labels: domain

#5066 Added freitaseric via is-a-dev-cli
  domains/freitaseric.json
Labels: domain

#5060 Create klindos.jzitnik.json
  domains/klindos.jzitnik.json
Labels: domain

#5067 Subdomain registration request
  domains/notrana.json
Labels: domain

#5068 Create `skifli.json`
  domains/skifli.json
Labels: domain

#5069 Update crystal.json records.
  domains/crystal.json
Labels: domain

#5071 Create blog.crystal.is-a.dev.json
  domains/blog.crystal.json
Labels: domain

#4978 Register sxrv.is-a.dev
  domains/sxvr.json
Labels: domain, status: pending fix, reason: invalid records

#5073 Added Nadeem via is-a-dev-cli
  domains/nadeem.json
Labels: domain

#5074 Update harshatwo.json
  domains/harshatwo.json
Labels: domain

#5084 Update notcoded.json
  domains/notcoded.json
Labels: domain

#5083 Create img.suki.json
  domains/img.suki.json
Labels: domain

#5078 Create elian.json
  domains/elian.json
Labels: domain

#5080 Create milcon.json
  domains/milcon.json
Labels: domain

#5087 new domain request - sameera.is-a.dev
  domains/sameera.json
Labels: domain, status: pending fix, reason: incompleted website

#5088 Added rozay via is-a-dev-cli
  domains/rozay.json
Labels: domain

#5089 Added masmiyen via is-a-dev-cli
  domains/masmiyen.json
Labels: domain

#5097 pxd
  domains/pxd.json
  domains/realpxd.json
Labels: domain

#5054 Create uniclicker2.m1dnight.json
  domains/uniclicker2.m1dnight.json
Labels: domain, status: pending fix, reason: inaccessible website

#5096 Create ian.json
  domains/ian.json
Labels: domain

#5094 romidev
  domains/romi.json
Labels: domain

#5099 Create suryajith.json
  domains/suryajith.json
Labels: domain

#5091 Added ohcrazy via is-a-dev-cli
  domains/ohcrazy.json
Labels: domain, status: pending fix, reason: invalid social

#5102 Create hot-dev.json
  domains/hot-dev.json
Labels: domain

#5103 Updated Domain
  domains/deoxy.json
Labels: domain

#5105 Register vasilismylonas.is-a.dev
  domains/vasilismylonas.json
Labels: domain

#5106 Create drormaman.json
  domains/drormaman.json
Labels: domain

#5110 Create sangelo.json
  domains/sangelo.json
Labels: domain

#5112 Added Mrugesh's file
  domains/mrugeshtank.json
Labels: domain

#5111 my PR
  domains/0ad.json
  domains/broduer.json
Labels: domain, status: pending fix, reason: inaccessible website

#5114 Delete rvakz.json
  domains/rvakz.json
Labels: domain

#5115 delete some invalid domains
  domains/allsyed.json
  domains/amine.json
  domains/andrew.json
  domains/anlshn.json
  domains/anoop.json
  domains/anupam.json
  domains/ben.json
  domains/beno.json
  domains/bradley.json
  domains/brunoff634cyt.json
  domains/chitrashrigond.json
  domains/cmulay.json
  domains/codeshard.json
  domains/davekibh.json
  domains/davish.json
  domains/derek-briggs.json
  domains/dermelnik.json
Labels: domain

#5119 Register crypt.is-a.dev
  domains/crypt.json
Labels: domain

#5120 i am the silly.
  domains/mqrshie.json
Labels: domain

#5117 added mostafaefafi.is-a.dev
  domains/mostafaefafi.json
Labels: domain, status: pending fix, reason: inaccessible website

#5121 Register gouthamkrishnakv.is-a.dev
  domains/gouthamkrishnakv.json
Labels: domain

#5127 Register emi.is-a.dev
  domains/emi.json
Labels: domain

#5126 Create ninju.json
  domains/ninju.json
Labels: domain

#5128 Create ri1.json
  domains/ri1.json
Labels: domain

#5129 Create kawet.json
  domains/kawet.json
Labels: domain

#5131 Register warofzen.is-a.dev
  domains/warofzen.json
Labels: domain

#5133 Register kakarot.is-a.dev.is-a.dev
  domains/kakarot.json
Labels: domain, status: pending fix, reason: incompleted website

#5135 Create dolba3b.json
  domains/dolba3b.json
Labels: domain

#5138 Update max.json - changed to cname
  domains/max.json
Labels: domain, status: denied, reason: unauthorized

#5137 Added Sujal.json
  domains/sujal.json
Labels: domain

#5134 Create lmgxenon.json
  domains/lmgxenon.json
Labels: domain

#5141 Create mrprime.json
  domains/mrprime.json
Labels: domain

#5143 PXD
  domains/pxd.json
  domains/realpxd.json
Labels: domain

#5136 adding improvmx email
  domains/max.json
Labels: domain

#5152 updated information
  domains/jeremy.json
Labels: domain

#5144 Gouthamkrishnakv patch change record
  domains/gouthamkrishnakv.json
Labels: domain

#5151 Create dxler.json
  domains/dxler.json
Labels: domain

#5153 Create iakzs.json
  domains/iakzs.json
Labels: domain

#5154 Create jovan.json
  domains/jovan.json
Labels: domain

#5155 Create neuronbot.json
  domains/neuronbot.json
Labels: domain, status: pending fix, reason: incompleted website

#5159 Update iakzs.json
  domains/iakzs.json
Labels: domain

#5160 Create koslz.json for koslz studios
  domains/koslz.json
Labels: domain

#5161 Create lavafroth.json
  domains/lavafroth.json
Labels: domain

#5147 Create d3admanbot.is-a.dev.json
  domains/d3admanbot.json
Labels: domain, status: pending fix, reason: incompleted website

#5165 Update d3admanbot.json
  domains/d3admanbot.json
Labels: domain

#5166 Create alpha.json
  domains/alpha.json
Labels: domain

#5168 Update alenalex.json to URL
  domains/alenalex.json
Labels: domain

#5171 Update d3admanbot.json
  domains/d3admanbot.json
Labels: domain

#5170 Feat: Replace URL for CNAME (arch.json)
  domains/arch.json
Labels: domain

#5172 CNAME updated
  domains/lmgxenon.json
Labels: domain

#5173 Create badzlan.json
  domains/badzlan.json
Labels: domain

#5177 Update iakzs.json
  domains/iakzs.json
Labels: domain

#5184 Create basi.json
  domains/basi.json
Labels: domain

#5181 Create status.jzitnik.json
  domains/status.jzitnik.json
Labels: domain

#5180 Create revelav2.json
  domains/revelav2.json
Labels: domain
