Repository is-a-dev/register, pull requests merged in 2024-09, with the labels that each got.

#15792 Register hudson.is-a.dev
  domains/hudson.json
Labels: domain, r: orangc

#15845 JamesTheFlash22
  domains/jamestheflash22.json
Labels: domain, r: orangc

#15840 Register x93.is-a.dev
  domains/x93.json
Labels: domain, r: orangc

#15855 Create cirkutry.json
  domains/cirkutry.json
Labels: domain, r: orangc

#15859 update halil.json to use a server
  domains/halil.json
Labels: domain

#15861 Register maki.is-a.dev
  domains/maki.json
Labels: domain, reason: incomplete website

#15862 Register zumate.is-a.dev
  domains/zumate.json
Labels: domain, reason: invalid records

#15867 Added my domain
  domains/thomash.json
Labels: domain

#15869 Update vinceale7082.json
  domains/vinceale7082.json
Labels: domain

#15871 Create mail.jamied132.json
  domains/mail.jamied132.json
Labels: domain, r: orangc

#15856 Register bypassrn.is-a.dev
  domains/bypassrn.json
Labels: domain, r: orangc

#15870 Register nate.is-a.dev
  domains/nate.json
Labels: domain, r: orangc

#15890 Register chandsi.is-a.dev
  domains/chandsi.json
Labels: domain

#15892 Create capivara.json
  domains/capivara.json
Labels: domain, r: orangc

#15894 Create _github-pages-challenge-Bikoil.biko.json
  domains/_github-pages-challenge-Bikoil.biko.json
Labels: domain, r: orangc

#15899 update chandsi.json
  domains/chandsi.json
  domains/zmail._domainkey.chandsi.json
Labels: domain, r: orangc

#15898 Create elaruu.jamied132.json
  domains/elaruu.jamied132.json
Labels: domain, r: orangc

#15897 Update shy.json from CNAME to URL
  domains/shy.json
Labels: domain, r: orangc

#15896 Create umer936.json
  domains/umer936.json
Labels: domain, r: orangc

#15895 Create adityavijay.json
  domains/adityavijay.json
Labels: domain

#15893 Create uralamin.json
  domains/uralamin.json
Labels: domain, r: orangc

#15854 Create cnvrs.json
  domains/cnvrs.json
Labels: domain, r: orangc

#15876 Register luminance.is-a.dev
  domains/luminance.json
Labels: domain, r: orangc

#15883 Register kushdhingra.is-a.dev
  domains/kushdhingra.json
Labels: domain, r: orangc

#15912 Register hvn-network.is-a.dev
  domains/hvn-network.json
Labels: domain

#15914 Update sc.json
  domains/sc.json
Labels: domain

#15904 Register _github-pages-challenge-SC136.sc.is-a.dev
  domains/_github-pages-challenge-sc136.sc.json
Labels: domain

#15900 Register hjd.is-a.dev
  domains/hjd.json
Labels: domain, reason: inaccessible website, r: orangc

#15905 Delete misonomika.is-a.dev
  domains/misonomika.json
Labels: domain

#15908 Create _discord.capivara.json
  domains/_discord.capivara.json
Labels: domain

#15907 Register kuyo.is-a.dev
  domains/kuyo.json
Labels: domain

#15909 Register Z2FtZXM=.is-a.dev
  domains/z2ftzxm.json
Labels: domain

#15916 Update keiran.json
  domains/keiran.json
Labels: domain

#15918 Update hansana.json
  domains/hansana.json
Labels: domain

#15919 Rename _github-pages-challenge-hansanaD.hansana.json to _github-pages…
  domains/_github-pages-challenge-DevHanza.hansana.json
Labels: domain

#15920 Register mika.is-a.dev
  domains/mika.json
Labels: domain

#15107 Add MX and TXT records for mail.satindar.json
  domains/mail.satindar.json
  domains/satindar.json
Labels: domain, r: orangc

#15922 Create twiska.json
  domains/twiska.json
Labels: domain

#15921 Register kuldeep.is-a.dev
  domains/kuldeep.json
Labels: domain, reason: invalid records

#15860 Register neerav.is-a.dev
  domains/neerav.json
Labels: domain, reason: invalid file, r: orangc

#15923 Register aqtk.is-a.dev
  domains/aqtk.json
Labels: domain

#15924 Update aqtk.json
  domains/aqtk.json
Labels: domain

#15926 Add defective.json and a github pages challenge
  domains/_github-pages-challenge-Defective4.defective.json
  domains/defective.json
Labels: domain

#15927 Create sadkon.json
  domains/_gitlab-pages-verification-code.sadkon.json
  domains/sadkon.json
Labels: domain

#15911 Register ilovechickennuggets.is-a.dev
  domains/ilovechickennuggets.json
Labels: domain, reason: other

#15928 Create antlis.json
  domains/antlis.json
Labels: domain

#15929 Update domains
  domains/botlab.json
Labels: domain

#15930 Register haseeb.is-a.dev
  domains/haseeb.json
Labels: domain

#15925 Removing domains with Vercel TXT verification records
  domains/drizion.json
  domains/timemee.json
Labels: domain, maintainer

#15934 Create domain mohammedkhc and aliases for it.
  domains/khc.json
  domains/mhmd.json
  domains/mohammed.json
  domains/mohammedkhc.json
  domains/muhammad.json
Labels: domain

#15932 Create v3x
  domains/v3x.json
Labels: domain, r: orangc

#15933 Register www.haseeb.is-a.dev
  domains/www.haseeb.json
Labels: domain, reason: invalid file

#15946 Create scoobies.json
  domains/scoobies.json
Labels: domain

#15951 Add email records for clyron.is-a.dev
  domains/mail.clyron.json
Labels: domain

#15950 Register f.is-a.dev
  domains/f.json
Labels: domain, reason: invalid records

#15952 Register u.is-a.dev
  domains/u.json
Labels: domain, reason: invalid social, reason: invalid records

#15953 Register _discord.f.is-a.dev
  domains/_discord.f.json
Labels: domain

#15954 Create www.jamied132.json
  domains/www.jamied132.json
Labels: domain

#15937 Register gabrigode.is-a.dev
  domains/gabrigode.json
Labels: domain, reason: invalid records, r: orangc

#15957 Update email
  domains/yippymishy.json
Labels: domain

#15959 Register asciidude.is-a.dev
  domains/asciidude.json
Labels: domain

#15961 hehe
  domains/us.mcstatus.json
Labels: domain

#15966 Update maskduck.json
  domains/maskduck.json
Labels: domain

#15972 Register m.a.s.k.d.u.c.k.is-a.dev
  domains/m.a.s.k.d.u.c.k.json
Labels: domain

#15960 Create alora.json
  domains/alora.json
Labels: domain, reason: invalid file

#15975 Create xap3y.json
  domains/xap3y.json
Labels: domain

#15976 Register tahir.is-a.dev
  domains/tahir.json
Labels: domain

#15977 Deletion of owned domains
  domains/_discord.axviii3.json
  domains/_github-pages-challenge-axviii3.axviii3.json
  domains/axviii3.json
Labels: domain

#15956 Create sunn4github.json
  domains/sunn4github.json
Labels: domain, reason: incomplete website

#15955 Create crvt.json
  domains/crvt.json
Labels: domain, r: orangc

#15981 ci: fix CNAME validations for ACME records
  utils/validations.js
Labels: ci

#15979 Register _acme-challenge.us.mcstatus.is-a.dev
  domains/_acme-challenge.us.mcstatus.json
Labels: domain, status: shelved

#15983 Create akorn.json
  domains/akorn.json
Labels: domain

#15982 hehe hehe
  domains/_acme-challenge.ai.esb.json
  domains/ai.esb.json
Labels: domain

#15984 Register raccoon.is-a.dev
  domains/raccoon.json
Labels: domain, r: orangc

#15986 Create bintang1302.json
  domains/bintang1302.json
Labels: domain, r: orangc

#15988 Register doziaress.is-a.dev
  domains/doziaress.json
Labels: domain, r: orangc

#15991 Added TXT Record to hansana.json
  domains/hansana.json
Labels: domain

#15993 Create notes.json
  domains/notes.json
Labels: domain

#16000 Register _discord.raccoon.is-a.dev
  domains/_discord.raccoon.json
Labels: domain

#16004 Register kislay.is-a.dev
  domains/kislay.json
Labels: domain

#15999 Update shevon.json
  domains/shevon.json
Labels: domain

#15997 create dhiraj.json
  domains/dhiraj.json
Labels: domain

#15987 Create windows10sunvalley.json
  domains/windows10sunvalley.json
Labels: domain, status: awaiting maintainer decision

#16006 Register iystreem.is-a.dev
  domains/iystreem.json
Labels: domain

#16012 Create arvik1.json
  domains/arvik1.json
Labels: domain

#16011 Create s.drpleaserespect.json
  domains/s.drpleaserespect.json
Labels: domain, reason: invalid records, reason: inaccessible website

#16005 Register germanfoxdev.is-a.dev
  domains/germanfoxdev.json
Labels: domain, reason: incomplete website, r: orangc

#16019 Update flymeth.json
  domains/flymeth.json
Labels: domain

#16023 Register flexis.is-a.dev
  domains/flexis.json
Labels: domain

#16022 Create lihua.json
  domains/lihua.json
Labels: domain

#16017 Register seui.is-a.dev
  domains/seui.json
Labels: domain

#16026 raahi.json
  domains/raahi.json
Labels: domain, reason: invalid records

#16001 Register vu.is-a.dev
  domains/vu.json
Labels: domain, reason: inaccessible website

#16031 Delete mldkyt.is-a.dev and akatsuki2555.is-a.dev
  domains/akatsuki2555.json
  domains/mldkyt.json
Labels: domain

#16025 Register foxdev.is-a.dev
  domains/foxdev.json
Labels: domain, reason: invalid records

#16033 Register adam.is-a.dev
  domains/adam.json
Labels: domain

#16037 Register shambhavisinha.is-a.dev
  domains/shambhavisinha.json
Labels: domain, r: orangc

#16038 Ohio
  domains/_acme-challenge.cdn.esb.json
  domains/cdn.esb.json
Labels: domain, r: orangc

#16040 Added pashigin.json in domains to register a subdomain
  domains/pashigin.json
Labels: domain

#16043 nvm
  domains/krishanu.json
  domains/krishanuop.json
Labels: domain

#16044 Updated Username and mail address for domains
  domains/_discord.mxritz.json
  domains/mxritz.json
Labels: domain

#16046 Register krishanu.is-a.dev
  domains/krishanu.json
Labels: domain

#16056 Create alvito.json
  domains/alvito.json
Labels: domain

#16050 Add blog.shaunfurtado.json for Shaun Furtado's blog website
  domains/blog.shaunfurtado.json
Labels: domain

#16052 Register brocco.is-a.dev
  domains/brocco.json
Labels: domain

#16020 Register arta.is-a.dev
  domains/arta.json
  domains/artaabedi.json
Labels: domain, reason: invalid records

#16060 Github pages domain verification
  domains/_github-pages-challenge-alvitodev.alvito.json
Labels: domain

#16064 Update ciaobot.json
  domains/ciaobot.json
Labels: domain, reason: invalid records, reason: invalid file

#16066 artaabedi.json
  domains/artaabedi.json
Labels: domain

#16069 Requirment Fullfiled
  domains/abdisa.json
Labels: domain

#16072 Update with TXT record for Github Verification for shaunfurtado.github.io
  domains/_github-pages-challenge-Shaunfurtado.blog.shaunfurtado.json
Labels: domain

#16067 Update seui A record
  domains/seui.json
Labels: domain

#16074 Add `_vercel` to be a valid underscore name.
  tests/validations.test.js
  utils/invalid-domains.json
  utils/validations.js
Labels: maintainer

#16028 Mail for alora.is-a.dev
  domains/alora.json
  domains/zmail._domainkey.alora.json
Labels: domain, reason: invalid file

#16082 Removed records from main domain for now, added a nested subdomain
  domains/uptimes.yug.json
  domains/yug.json
Labels: domain, reason: invalid file

#16073 Test to see if Vercel is actually supported now
  domains/_vercel.cutedog5695.json
  domains/vercel.cutedog5695.json
Labels: domain, maintainer

#16085 Testing Vercel
  domains/_vercel.uwu.json
  domains/vercel.uwu.json
Labels: domain, maintainer

#16087 we support vercel now so this isn't necessary
  .github/PULL_REQUEST_TEMPLATE.md
Labels: maintainer

#15766 Register www.mohan.is-a.dev
  domains/www.mohan.json
Labels: domain, reason: invalid records, r: orangc

#16084 Register books.is-a.dev
  domains/books.json
Labels: domain

#16086 Register _vercel.parrot.is-a.dev
  domains/_acme-challenge.parrot.json
  domains/parrot.json
Labels: domain, reason: unauthorized

#16089 Delete iystreem.is-a.dev
  domains/iystreem.json
Labels: domain

#16062 Register zai.is-a.dev
  domains/zai.json
Labels: domain

#16059 the 3rd pr
  domains/zakaria-didah.json
  domains/ziko.json
Labels: domain, r: orangc

#16092 Register iystreem.is-a.dev
  domains/iystreem.json
Labels: domain, reason: invalid records

#16049 mnethegamer@gmail.com
  domains/emeneekw.json
Labels: domain, r: orangc

#16070 Update artaabedi.json
  domains/artaabedi.json
Labels: domain, r: orangc

#16080 Create hassan.json
  domains/hassan.json
Labels: domain, r: orangc

#16091 Register vulcanocraft.is-a.dev
  domains/vulcanocraft.json
Labels: domain, r: orangc

#16034 Register tokito.is-a.dev
  domains/tokito.json
Labels: domain

#16100 Create ukasimov.json
  domains/ukasimov.json
Labels: domain

#16099 Update iystreem.is-a.dev pointing to iystreem.github.io
  domains/iystreem.json
Labels: domain

#16102 Register rizz.is-a.dev
  domains/_vercel.rizz.json
  domains/rizz.json
Labels: domain, status: awaiting maintainer decision

#16105 Add _vercel.zai.json file to verify the domain
  domains/_vercel.zai.json
Labels: domain

#16098 Register dinokhoa.is-a.dev
  domains/dinokhoa.json
Labels: domain

#16096 Add vercel domain
  domains/_vercel.chandsi.json
  domains/chandsi.json
Labels: domain

#16108 Add Vercel SubDomain (profile.alora.is-a.dev)
  domains/_vercel.profile.alora.json
  domains/profile.alora.json
Labels: domain

#16109 Register _discord.drake.is-a.dev
  domains/_discord.drake.json
Labels: domain

#16110 Register meteor.sono.is-a.dev
  domains/meteor.sono.json
Labels: domain

#16113 Register raoufbakhti.is-a.dev
  domains/raoufbakhti.json
Labels: domain

#16115 Register _discord.darkdevil.is-a.dev
  domains/_discord.darkdevil.json
Labels: domain

#16116 Delete arta.is-a.dev
  domains/arta.json
Labels: domain

#16114 Register twitchiger.is-a.dev
  domains/twitchiger.json
Labels: domain

#16122 Register vulcanocraft.is-a.dev
  domains/vulcanocraft.json
Labels: domain

#16120 Register hecker.is-a.dev
  domains/hecker.json
Labels: domain

#16124 remove mail and add owl
  domains/_discord.api.stefdp.json
  domains/_discord.gattinhosbot.json
  domains/_discord.receiptify.json
  domains/_discord.sdp.json
  domains/_discord.stefdp.json
  domains/_github-pages-challenge-stef-00012.gbot.json
  domains/_github-pages-challenge-stef-00012.receiptify.json
  domains/_github-pages-challenge-stef-00012.stefdp.json
  domains/api.spotify.stefdp.json
  domains/api.stefdp.json
  domains/dash.stefdp.json
  domains/dockge.stefdp.json
  domains/docs.stefdp.json
  domains/gattinhosbot.json
  domains/gbot.json
  domains/node.stefdp.json
  domains/ntfy.stefdp.json
  domains/panel.stefdp.json
  domains/portainer.stefdp.json
  domains/proxy.stefdp.json
  domains/receiptify.json
  domains/sdp.json
  domains/spotify.stefdp.json
  domains/ss.stefdp.json
  domains/status.gattinhosbot.json
  domains/status.stefdp.json
  domains/stefdp.json
  domains/test-netlify.json
  domains/tianji.stefdp.json
  domains/uptime.stefdp.json
Labels: domain

#16127 Create _discord.koriumm.json
  domains/_discord.koriumm.json
Labels: domain

#16128 Create araf.json
  domains/araf.json
Labels: domain

#16130 Register remarkable.is-a.dev
  domains/remarkable.json
Labels: domain
