Repository is-a-dev/register, pull requests merged in 2024-12, with the labels that each got.

#17454 drpleaserespect.is-a.dev switch to NS Records
  domains/ags.server.drpleaserespect.json
  domains/drpleaserespect.json
  domains/s.drpleaserespect.json
  domains/server.drpleaserespect.json
  domains/vault.server.drpleaserespect.json
Labels: domain, r: william

#17484 Create ntrs05.json
  domains/ntrs05.json
Labels: domain

#17434 Create domain for website: suctrebinhthuan.is-a.dev
  domains/suctrebinhthuan.json
Labels: domain, reason: invalid file

#17482 Create congnv.json
  domains/congnv.json
Labels: domain

#17472 Register not.is-a.dev
  domains/not.json
Labels: domain

#17468 subdomain request
  domains/_vercel.krebinkkj.json
  domains/krebinkkj.json
Labels: domain

#17467 Update theveryheavy.json
  domains/theveryheavy.json
Labels: domain

#17450 Create tanquang.json
  domains/tanquang.json
Labels: domain, status: needs preview

#17486 Add vercel-hosted ritam.is-a.dev
  domains/_vercel.ritam.json
  domains/ritam.json
Labels: domain

#17495 Remove _vercel.mew.json and change mew.json
  domains/_vercel.mew.json
  domains/mew.json
Labels: domain

#17493 Create loinguyende.json
  domains/loinguyende.json
Labels: domain

#17505 Update sono.json
  domains/_vercel.sono.json
  domains/api.sono.json
  domains/bin.sono.json
  domains/codeserver.sono.json
  domains/mc.sono.json
  domains/meteor.sono.json
  domains/mumble.sono.json
  domains/sono.json
  domains/teamfive.sono.json
Labels: domain

#17509 Create lqhuy.json
  domains/lqhuy.json
Labels: domain

#17507 Register cdn.winbo.is-a.dev
  domains/cdn.winbo.json
Labels: domain

#17513 Update yxz.json
  domains/yxz.json
Labels: domain

#17499 Update congnv.json
  domains/congnv.json
Labels: domain, reason: invalid social

#17541 Create wipad.json
  domains/wipad.json
Labels: domain

#17539 add votiendung.json
  domains/votiendung.json
Labels: domain

#17523 Create tuankiet.json
  domains/tuankiet.json
Labels: domain

#17548 super duper amazing subdomain incoming ‼️ better watch out
  domains/xpugno.json
Labels: domain

#17560 Create chubol
  domains/chubol.json
Labels: domain

#17440 Create dhlcgd.json
  domains/dhlcgd.json
  domains/kitb2romjbz3.dhlcgd.json
  domains/www.dhlcgd.json
Labels: domain, reason: invalid records, reason: inaccessible website

#17453 [NS] Update zvdxc.is-a.dev
  domains/mail.zvdxc.json
  domains/zvdxc.json
Labels: domain, r: william

#17490 Create devdaim.json
  domains/devdaim.json
Labels: domain, status: needs preview

#17498 Create tuantestdashboard.json
  domains/tuantestdashboard.json
Labels: domain

#17504 Create konstantin-ivanov.json
  domains/konstantin-ivanov.json
Labels: domain

#17551 Create ngqkhai.json
  domains/ngqkhai.json
Labels: domain

#17554 Update yigit.json
  domains/yigit.json
Labels: domain

#17557 Create chamo.json
  domains/chamo.json
Labels: domain

#17558 Add serhii-koba.json
  domains/serhii-koba.json
Labels: domain

#17559 Create rhythm.json
  domains/rhythm.json
Labels: domain

#17562 Register techadv.is-a.dev
  domains/techadv.json
Labels: domain

#17534 Create ducanhng.dev.json
  domains/ducanhng.json
Labels: domain

#17553 Create realmzersdomain.json
  domains/realmzersdomain.json
Labels: domain

#17579 Create devmatei.json
  domains/devmatei.json
Labels: domain

#17578 Create axinux.json
  domains/axinux.json
Labels: domain

#17565 Create cursedscrubdaddygang.json
  domains/cursedscrubdaddygang.json
Labels: domain

#17517 Create Chrisbase12.json
  domains/_vercel.chrisbase12.json
  domains/chrisbase12.json
Labels: domain

#17563 register albakhet.is-a.dev email domain
  domains/albakhet.json
Labels: domain

#17575 Create tunzankies.json
  domains/tunzankies.json
Labels: domain

#17580 Update yxz.json
  domains/em697376.yxz.json
  domains/link.yxz.json
  domains/s697376._domainkey.yxz.json
Labels: domain

#17577 Create vanmanh.json
  domains/vanmanh.json
Labels: domain

#17567 Create nolan-mai.json
  domains/nolan-mai.json
Labels: domain

#17506 Create project-jam.json
  domains/project-jam.json
Labels: domain, r: william

#17591 Create duyminhhello.json
  domains/duyminhhello.json
Labels: domain

#17586 Create bleemis42.json
  domains/bleemis42.json
Labels: domain

#17590 register fakhridanishmp.is-a.dev
  domains/fakhridanishmp.json
Labels: domain

#17594 Add google site verification
  domains/aj.json
Labels: domain

#17593 Update kushdhingra.is-a.dev
  domains/kushdhingra.json
Labels: domain

#17595 Update ante.json
  domains/ante.json
Labels: domain

#17592 Use Cloudflare DNS for `andreijiroh` subdomain
  domains/andreijiroh.json
Labels: domain, status: awaiting maintainer decision

#17598 Create aidan.json
  domains/aidan.json
Labels: domain

#17600 Update TXT records in shomy.json
  domains/shomy.json
Labels: domain

#17607 Delete potatochips0706 and it's records
  domains/_discord.potatochips0706.json
  domains/_github-pages-challenge-potato0706.potatochips0706.json
  domains/potatochips0706.json
Labels: domain

#17599 Create tanish-poddar.json
  domains/tanish-poddar.json
Labels: domain

#17605 Register for binh.is-a.dev domain
  domains/binh.json
Labels: domain

#17606 Create soraishiro.json
  domains/soraishiro.json
Labels: domain

#17603 cdn.pele.is-a.dev and dash.pele.is-a.dev pull requst.
  domains/cdn.pele.json
  domains/dash.pele.json
Labels: domain

#17613 Update duyminhhello.json
  domains/duyminhhello.json
Labels: domain

#17614 register - peantastic
  domains/peantastic.json
Labels: domain

#17628 Create 3gee.json
  domains/3gee.json
Labels: domain

#17625 Create minitor.json
  domains/minitor.json
Labels: domain

#17619 Register tweets.clyron.is-a.dev
  domains/tweets.clyron.json
Labels: domain

#17622 Create mod.s4il
  domains/mod.s4il.json
Labels: domain

#17618 Create redirect.akk1to.json
  domains/redirect.akk1to.json
Labels: domain

#17617 Changing Host
  domains/_discord.wizardsword.json
  domains/_vercel.wizardsword.json
  domains/wizardsword.json
Labels: domain

#17633 Create haolamnm.json
  domains/haolamnm.json
Labels: domain

#17637 Add vercel record
  domains/_vercel.kushdhingra.json
  domains/kushdhingra.json
Labels: domain

#17636 Create anhnguyen94.json
  domains/anhnguyen94.json
Labels: domain

#17639 Update aynonyme.json
  domains/aynonyme.json
Labels: domain

#17640 Create ldt.json
  domains/ldt.json
Labels: domain

#17634 Update somaiyalbakhet.json
  domains/somaiyalbakhet.json
  somaiyalbakhet.json
Labels: domain

#17624 uploaded .is-a.dev, to change domain
  domains/_github-pages-challenge-wizcann.wizcann.json
  domains/wizcann.json
Labels: domain

#17641 Create nh.json
  domains/nh.json
Labels: domain

#17652 Create dash.bernardonogueira8.json
  domains/dash.bernardonogueira8.json
Labels: domain

#17651 Create chez1s.json
  domains/chez1s.json
Labels: domain

#17649 Create Vasanth.json
  domains/vasanth.json
Labels: domain, reason: invalid social

#17642 Add TortillaGames
  domains/tortilla.json
Labels: domain, reason: invalid records, reason: invalid file

#17663 Create trungz.json
  domains/trungz.json
Labels: domain

#17661 Create riskyprsty.json
  domains/riskyprsty.json
Labels: domain

#17657 Create dyikes.json
  domains/dyikes.json
Labels: domain

#17662 Create youssef-lmouden.json
  domains/youssef-lmouden.json
Labels: domain, reason: inaccessible website

#17673 Add alan-huynh entry
  domains/alan-huynh.json
Labels: domain

#17681 Create tsu.json
  domains/tsu.json
Labels: domain

#17680 Create api.acronical.json
  domains/api.acronical.json
Labels: domain

#17678 ChromeSEC
  domains/chromesec.json
Labels: domain

#17677 Create saftec.is-a.dev
  domains/saftec.json
Labels: domain

#17682 Update erdogan.json
  domains/erdogan.json
Labels: domain

#17670 Create tan.json
  domains/tan.json
Labels: domain, status: needs preview

#17659 adding github pages, github verification and discord verification for anirbaaaan.is-a.dev
  domains/_discord.anirbaaaan.json
  domains/_github-pages-challenge-anirbaaaan183.json
  domains/anirbaaaan.json
Labels: domain, reason: inaccessible website

#17693 Create vdevanarayan.json
  domains/vdevanarayan.json
Labels: domain

#17696 Create vurihuang.json
  domains/vurihuang.json
Labels: domain

#17698 Fix GitHub verification file
  domains/_github-pages-challenge-anirbaaaan183.anirbaaaan.json
Labels: domain

#17699 Create phamthanhnghia.json
  domains/phamthanhnghia.json
Labels: domain

#17655 Register redolenthalo.is-a.dev
  domains/redolent.json
Labels: domain, reason: invalid records

#17676 Update sabbir.json
  domains/sabbir.json
Labels: domain, status: awaiting maintainer decision

#17711 feat: url redirect to blog site
  domains/blog.anirbaaaan.json
Labels: domain

#17708 Create api peantastic sub domain
  domains/api-peantastic.json
Labels: domain

#17695 Create proficode.json
  domains/proficode.json
Labels: domain, r: om.senjalia

#17709 Minecraft server domain
  domains/_minecraft._tcp.mc.3gee.json
  domains/mc.3gee.json
Labels: domain, reason: invalid records, r: om.senjalia

#17725 Create lamnguyenz.json
  domains/lamnguyenz.json
Labels: domain

#17714 Register region.is-a.dev
  domains/region.json
Labels: domain

#17721 noah.is-a.dev
  domains/noah.json
Labels: domain

#17723 chuyentinorz.is-a.dev (have MX, TXT and A record)
  domains/_vercel.chuyentinorz.json
  domains/chuyentinorz.json
Labels: domain

#17702 Create diti.json
  domains/diti.json
Labels: domain

#17715 fix: use CNAME instead or URL so github can use this
  domains/blog.anirbaaaan.json
Labels: domain

#17724 feat: change github cname to A/AAAA records and add improvmx records
  domains/anirbaaaan.json
Labels: domain

#17726 Update and rename frenchguy.json to seqyu.json
  domains/frenchguy.json
  domains/seqyu.json
Labels: domain

#17728 Create _discord.rouf0x.json
  domains/_discord.rouf0x.json
Labels: domain, reason: invalid file

#17731 Update luihh.json
  domains/luihh.json
Labels: domain

#17732 Update txt verify
  domains/_github-pages-challenge-vurihuang.vuri.json
  domains/_github-pages-challenge-vurihuang.vurihuang.json
  domains/vuri.json
Labels: domain

#17734 I updated the subdomain and added some records for vercel
  domains/_vercel.arnxv.json
  domains/arnxv.json
  domains/devarnav.json
Labels: domain

#17735 added works subdomain and some records for vercel
  domains/_vercel.works.arnxv.json
  domains/works.arnxv.json
Labels: domain

#17746 Use Cloudflare DNS for yashasviallen subdomain
  domains/yashasviallen.json
Labels: domain

#17745 Update bhushankhopkarr.json
  domains/bhushankhopkarr.json
Labels: domain

#17740 seiko.json
  domains/_discord.seiko.json
  domains/seiko.json
Labels: domain

#17757 Create _discord.earth.json
  domains/_discord.earth.json
Labels: domain

#17713 Create taquanminhlong.json
  domains/taquanminhlong.json
Labels: domain, reason: incomplete website

#17759 Create docs.devmatei.json
  domains/docs.devmatei.json
Labels: domain

#17749 Create hotfix.saftec.is-a.dev
  domains/hotfix.saftec.json
Labels: domain

#17744 Create santa.json
  domains/santa.json
Labels: domain

#17742 Create mehdigr_dev.json
  domains/mehdigrdev.json
Labels: domain

#17763 Update server.mrdiamond.json
  domains/server.mrdiamond.json
Labels: domain

#17766 Register melatonin.json
  domains/melatonin.json
Labels: domain

#17768 Create _vercel.t3vada.json
  domains/_vercel.t3vada.json
  domains/t3vada.json
Labels: domain

#17772 Register akay.is-a.dev
  domains/_vercel.akay.json
  domains/akay.json
Labels: domain

#17774 Delete akborana.is-a.dev
  domains/akborana.json
Labels: domain

#17775 Create _discord.devmatei.json
  domains/_discord.devmatei.json
Labels: domain

#17779 Delete domains/g.shockbs.json
  domains/g.shockbs.json
Labels: domain

#17781 Create jamestheflash.json
  domains/jamestheflash.json
Labels: domain

#17789 Create _discord.infernum.json
  domains/_discord.infernum.json
Labels: domain

#17793 Update devmatei.json for email forwarding
  domains/devmatei.json
Labels: domain

#17786 Register 1tfr.is-a.dev
  domains/1tfr.json
Labels: domain

#17792 Update Contact Email & URL Redirect
  domains/anay-208.json
  domains/anay.json
  domains/anayparaswani.json
Labels: domain

#17795 Update devmatei.json with ZehoMail config
  domains/devmatei.json
Labels: domain

#17796 Update devmatei.json with zahomail
  domains/devmatei.json
Labels: domain

#17802 Update IP
  domains/gitea.vinceale7082.json
  domains/vinceale7082.json
Labels: domain

#17791 Update wuyuan.is-a.dev
  domains/wuyuan.json
Labels: domain

#17794 Create srp.json
  domains/srp.json
Labels: domain

#17803 create f3ntt.json
  domains/_vercel.cnvrs.json
  domains/_vercel.f3ntt.json
  domains/f3ntt.json
Labels: domain

#17807 Create your-mom.json
  domains/your-mom.json
Labels: domain

#17816 Pr to remove abusive domains
  domains/_discord.nikymetaa.json
  domains/nikymetaa.json
  domains/shin.json
Labels: domain

#17822 Create _vercel.devmatei.json
  domains/_vercel.devmatei.json
Labels: domain

#17821 Create chatbot.devmatei.json
  domains/chatbot.devmatei.json
Labels: domain

#17814 update cnvrs.json
  domains/cnvrs.json
Labels: domain

#17826 Create hating.devmatei.json
  domains/hating.devmatei.json
Labels: domain

#17828 Create hate.json
  domains/hate.json
Labels: domain

#17830 Adding A New A Record
  domains/shan.json
Labels: domain

#17829 Create skid.is-a.dev
  domains/skid.json
Labels: domain

#17819 Register houloude9.is-a.dev
  domains/houloude9.json
Labels: domain
