Repository is-a-dev/register, pull requests merged in 2024-06, with the labels that each got.

#14202 Create mrfrostyxd.json
  domains/mrfrostyxd.json
Labels: domain

#14237 Register shock.is-a.dev
  domains/shock.json
Labels: domain

#14250 Seperate domain for email
  domains/nepnep.imm0nv1nhtv.json
Labels: domain, reason: invalid records

#14215 Create preview.shan.json
  domains/preview.shan.json
Labels: domain

#14222 register muizzz domain
  domains/muizzz.json
Labels: domain

#14223 Update katz.json
  domains/katz.json
Labels: domain

#14227 Create temelkov.json
  domains/temelkov.json
Labels: domain

#14229 Add new file in domain - juin.json
  domains/juin.json
Labels: domain

#14234 Delete motortruck1221.is-a.dev
  domains/motortruck1221.json
Labels: domain

#14236 Create aayushsiwa.json and mail.aayushsiwa.json
  domains/aayushsiwa.json
  domains/mail.aayushsiwa.json
Labels: domain

#14233 Register xlr.is-a.dev
  domains/xlr.json
Labels: domain

#14247 Create mail.arman.json
  domains/mail.arman.json
Labels: domain

#14248 Register s1d.is-a.dev
  domains/s1d.json
Labels: domain, reason: inaccessible website

#14228 Register h3ja.is-a.dev
  domains/h3ja.json
Labels: domain

#14258 Added SPF record so that ImprovMX can't complain on me
  domains/nepnep.imm0nv1nhtv.json
Labels: domain

#14251 Create host-image.json
  domains/host-image.json
Labels: domain

#14263 Register kernel32dll.is-a.dev
  domains/kernel32dll.json
Labels: domain

#14256 Create _discord.rrcoder0167.json
  domains/_discord.rrcoder0167.json
Labels: domain

#14257 Register abhrajitdas.is-a.dev
  domains/abhrajitdas.json
Labels: domain

#14277 Update shockbs.is-a.dev
  domains/shockbs.json
Labels: domain

#14278 emailz!!!!!11
  domains/email.zeaxey.json
Labels: domain

#14276 Update skduck.json
  domains/skduck.json
Labels: domain

#14283 Register tay.is-a.dev
  domains/tay.json
Labels: domain

#14289 shubh.is-a.dev for personal portfolio
  domains/shubh.json
Labels: domain

#14304 Update cutedog5695.json
  domains/cutedog5695.json
Labels: maintainer

#14291 create muhalvin.json
  domains/muhalvin.json
Labels: domain

#14311 test netlify
  domains/test-netlify.json
Labels: domain

#14315 Delete educatedsmp.is-a.dev
  domains/educatedsmp.json
Labels: domain

#14330 Register rusky.is-a.dev
  domains/rusky.json
Labels: domain

#14339 Revert "Create _discord.dscbmr.is-a.dev.json"
  domains/_discord.dscbmr.is-a.dev.json
Labels: domain

#14332 Change github pages to netlify
  domains/_github-pages-challenge-ashishagarwal2023.ashishagarwal.json
Labels: domain

#14333 Register eryquicc.is-a.dev
  domains/eryquicc.json
Labels: domain

#14338 Update _discord.sussyrayan.json
  domains/_discord.sussyrayan.json
Labels: domain

#14347 Create _discord.eryquicc.json
  domains/_discord.eryquicc.json
Labels: domain

#14349 Add my domain
  domains/flower.json
Labels: domain

#14335 Update getsono and sono
  domains/getsono.json
  domains/sono.json
Labels: domain

#14316 Update huz.json
  domains/huz.json
Labels: domain, reason: invalid social, reason: invalid records

#14348 Update _discord.dscbmr.json
  domains/_discord.dscbmr.json
Labels: domain

#14353 Create afp.json
  domains/afp.json
Labels: domain

#14350 Register golden.is-a.dev
  domains/golden.json
Labels: domain

#14352 Create illy.json
  domains/illy.json
Labels: domain

#14328 Deleted mail subdomain and Changed Email
  domains/l6174.json
  domains/mail.l6174.json
Labels: domain

#14356 Removed CNAME record and added A, MX & TXT records.
  domains/l6174.json
Labels: domain

#14344 Create adamski.json
  domains/adamski.json
Labels: domain

#14342 Register sxi.is-a.dev
  domains/sxi.json
Labels: domain

#14361 Update api.json
  domains/api.json
Labels: maintainer

#14360 Register snelusha.is-a.dev
  domains/snelusha.json
Labels: domain

#14358 Register sxtxnzester.is-a.dev
  domains/sxtxnzester.json
  domains/zester.json
Labels: domain

#14362 Register aesyncio.is-a.dev
  domains/aesyncio.json
Labels: domain

#14366 Updated maine.json
  domains/_github-pages-challenge-Codemaine.maine.json
Labels: domain

#14370 Create premiumairoxide
  domains/premiumairoxide.json
Labels: domain

#14334 Register polo.is-a.dev
  domains/polo.json
Labels: domain

#14365 Create arjuncvinod.json
  domains/arjuncvinod.json
Labels: domain

#14375 Create rt10.json
  domains/rt10.json
Labels: domain

#14378 Update canavan.json
  domains/canavan.json
Labels: domain, reason: invalid records

#14395 update(domains): flower.is-a.dev
  domains/flower.json
Labels: domain

#14367 Register arhan.is-a.dev
  domains/arhan.json
Labels: domain

#14379 ImprovMX Records (updated)
  domains/go.fran.json
  domains/mail.fran.json
Labels: domain

#14398 Update eryquicc.json
  domains/eryquicc.json
Labels: domain

#14396 Update fa-fifi.json
  domains/fa-fifi.json
Labels: domain

#14388 Update lengyandong.json
  domains/lengyandong.json
Labels: domain

#14376 Update record to url redirect
  domains/snelusha.json
Labels: domain

#14377 Update razin.json
  domains/razin.json
Labels: domain

#14424 Delete unused domains
  domains/ai.trung.json
  domains/info.trung.json
  domains/test.trung.json
Labels: domain

#14418 Register 0xzer0x.is-a.dev
  domains/0xzer0x.json
Labels: domain

#14419 domain request for : realyash.is-a-dev
  domains/realyash.json
Labels: domain

#14417 Update esp.json
  domains/esp.json
Labels: domain

#14425 Create _github-pages-challenge-Crazy-Max-Blog.rpi.crazymax.json
  domains/_github-pages-challenge-Crazy-Max-Blog.rpi.crazymax.json
Labels: domain

#14430 CNAME to A record
  domains/fran.json
Labels: domain

#14404 thisisramhere.github.io
  domains/ram.json
Labels: domain

#14431 Update mrksbgg.json
  domains/mrksbgg.json
Labels: domain

#14437 Register matytyma.is-a.dev
  domains/matytyma.json
Labels: domain

#14435 Registering two domains
  domains/ascii.educatedsuddenbucket.json
  domains/fetches.educatedsuddenbucket.json
Labels: domain

#14438 modified the domains to use A record
  domains/ascii.educatedsuddenbucket.json
  domains/fetches.educatedsuddenbucket.json
Labels: domain

#14447 Create asheer.json
  domains/asheer.json
Labels: domain, reason: invalid social, reason: invalid records

#14451 Register animesh.is-a.dev domain
  domains/animesh.json
Labels: domain

#14446 Register taskforce-bot.is-a.dev
  domains/taskforce-bot.json
Labels: domain

#14448 Update yunus.json
  domains/yunus.json
Labels: domain

#14452 Update lipi.json
  domains/lipi.json
Labels: domain

#14462 register siama.is-a.dev
  domains/siama.json
Labels: domain

#14453 Update sub.any.json
  domains/sub.any.json
Labels: domain

#14454 Email Records setup for subdomain
  domains/mail.animesh.json
Labels: domain

#14457 Fixed wrong file name in domain
  domains/jsongenerator.json
Labels: domain

#14461 Register renn.is-a.dev
  domains/renn.json
Labels: domain

#14463 Register misonomika.is-a.dev
  domains/misonomika.json
Labels: domain

#14472 Register evalk.is-a.dev
  domains/evalk.json
Labels: domain

#14468 Request: lnminh1411.is-a.dev
  domains/lnminh1411.json
Labels: domain

#14469 Create _github-pages-challenge-kiensamson0000.khuathuykien.json
  domains/_github-pages-challenge-kiensamson0000.khuathuykien.json
Labels: domain

#14476 feat(domain): move to github pages
  domains/itsmenewbie03.json
Labels: domain

#14481 Added discord domain tag + Pomelo update
  domains/demonitize.json
Labels: domain

#14483 edit joaoz.is-a.dev
  domains/joaoz.json
Labels: domain

#14486 Delete domains/itsmenewbie03.json
  domains/itsmenewbie03.json
Labels: reason: abuse risk

#14493 Create _discord.www.json
  domains/_discord.www.json
Labels: maintainer, r: william, testing

#14496 add niransnarayanan.json
  domains/niransnarayanan.json
Labels: domain

#14502 Create debtlessflea.json
  domains/debtlessflea.json
Labels: domain

#14506 Create _discord.debtlessflea.json
  domains/_discord.debtlessflea.json
Labels: domain

#14507 zorex.is-a.dev
  domains/zorex.json
Labels: domain, reason: inaccessible website, r: orangc

#14511 Register ruby.is-a.dev
  domains/ruby.json
Labels: domain

#14516 Create amaankazi.json
  domains/amaankazi.json
Labels: domain

#14515 Create _github-pages-challenge-DebtlessFlea.debtlessflea.json
  domains/_github-pages-challenge-DebtlessFlea.debtlessflea.json
Labels: domain

#14523 Register sabarivasan.is-a.dev
  domains/sabarivasan.json
Labels: domain

#14544 Create wacky.json
  domains/wacky.json
Labels: domain

#14541 Create benet.json
  domains/benet.json
Labels: domain

#14529 added utkarsh.json
  domains/utkarsh.json
Labels: domain

#14538 Create pics.imide.json
  domains/pics.imide.json
Labels: domain

#14540 Update shan.json change in A record
  domains/shan.json
Labels: domain

#14545 Create renzyx.json
  domains/renzyx.json
Labels: domain

#14539 Create aerocyber.json
  domains/aerocyber.json
Labels: domain

#14525 Update midlaj.json
  domains/midlaj.json
Labels: domain

#14549 Register shamit.is-a.dev
  domains/shamit.json
Labels: domain

#14547 Register m1raclemax.is-a.dev
  domains/m1raclemax.json
Labels: domain

#14552 DX Added
  domains/benet.json
Labels: domain

#14554 Update delta.is-a.dev: New Github Username
  domains/delta.json
Labels: domain

#14555 Update benet.json
  domains/benet.json
Labels: domain

#14556 Delete m1raclemax.is-a.dev
  domains/m1raclemax.json
Labels: domain

#14561 Register perry.is-a.dev
  domains/perry.json
Labels: domain

#14551 Register computerblade.is-a.dev
  domains/computerblade.json
Labels: domain

#14560 Register jvideo.is-a.dev
  domains/jvideo.json
Labels: domain

#14567 Create life.qtitpc.json
  domains/life.qtitpc.json
Labels: domain

#14565 Create _github-pages-challenge-nerdwithcomputers.m1raclemax.json
  domains/_github-pages-challenge-nerdwithcomputers.m1raclemax.json
Labels: domain

#14569 Register jeremydavid.is-a.dev
  domains/jeremydavid.json
Labels: domain

#14571 feat: add domain configuration for pyyupsk.pages.dev
  domains/pyyupsk.json
Labels: domain

#14573 Register katolik163.is-a.dev
  domains/katolik163.json
Labels: domain

#14576 Register crystalcoding.is-a.dev
  domains/crystalcoding.json
Labels: domain

#14578 Register bracketproto.json
  domains/bracketproto.json
Labels: domain

#14568 Update katz.json
  domains/katz.json
Labels: domain

#14581 Register egirl.is-a.dev
  domains/egirl.json
Labels: domain

#14582 Create affidev.json
  domains/affidev.json
Labels: domain

#14585 Register h3l.is-a.dev
  domains/h3l.json
Labels: domain, reason: inaccessible website, r: orangc

#14580 Update my github
  domains/surv.json
Labels: domain, r: orangc

#14579 Register chandrasekhar.is-a.dev
  domains/chandrasekhar.json
Labels: domain, reason: invalid file, r: orangc

#14586 Register enderdevcom.is-a.dev
  domains/enderdevcom.json
Labels: domain

#14589 Update raafey.json
  domains/raafey.json
Labels: domain, r: orangc

#14563 Register krish.is-a.dev
  domains/krish.json
Labels: domain

#14598 Create pranjal.json
  domains/pranjal.json
Labels: domain

#14603 Register itq.is-a.dev
  domains/itq.json
Labels: domain

#14605 Update realyash.json
  domains/realyash.json
Labels: domain

#14604 Update yash.json
  domains/yash.json
Labels: domain

#14590 Added JSON Record
  domains/anubhav-pathak.json
Labels: domain

#14595 Update yunexiz.json email because the maintainers know me (according to duckmask)
  domains/yunexiz.json
Labels: domain

#14609 Update realyash.json (txt record)
  domains/realyash.json
Labels: domain

#14614 devansh.is-a.dev
  domains/devansh.json
Labels: domain

#14610 Register nyx.is-a.dev
  domains/nyx.json
Labels: domain

#14613 Update asnct.is-a.dev
  domains/asnct.json
Labels: domain

#14615 Register ngocjohn.is-a.dev
  domains/_github-pages-challenge-ngocjohn.ngocjohn.json
  domains/ngocjohn.json
Labels: domain

#14621 Register charon.is-a.dev
  domains/charon.json
Labels: domain

#14624 Register teamfive.sono.is-a.dev
  domains/teamfive.sono.json
Labels: domain

#14626 Updated jzitnik domains
  domains/backend.jzitnik.json
  domains/jzitnik.json
  domains/klindos.jzitnik.json
  domains/status.jzitnik.json
Labels: domain

#14627 host my portfolio website.
  domains/debaleena.json
Labels: domain

#14618 Register hastebin.is-a.dev
  domains/hastebin.json
Labels: domain, reason: invalid social, reason: inaccessible website
