Repository is-a-dev/register, pull requests merged in 2024-03, with the labels that each got.

#12487 Create panel.stefdp.json
  domains/panel.stefdp.json
Labels: domain

#12485 Update yunexiz.json A records
  domains/yunexiz.json
Labels: domain

#12496 BETA: Register midair.is-a.dev
  domains/midair.json
Labels: domain, reason: inaccessible website

#12540 Update ciaobot.json
  domains/ciaobot.json
  domains/status.ciaobot.json
Labels: domain

#12534 Create minecraft.urging.json
  domains/minecraft.urging.json
Labels: domain

#12533 Delete domains/paste.stefdp.json
  domains/_discord.dashboard.gattinhosbot.json
  domains/paste.stefdp.json
Labels: domain

#12542 BETA: Register simplyleon.is-a.dev
  domains/simplyleon.json
Labels: domain

#12541 BETA: Register abdelkarimain.is-a.dev
  domains/abdelkarimain.json
Labels: domain

#12537 BETA: Register luyende.is-a.dev
  domains/luyende.json
Labels: domain

#12535 BETA: Register damu.is-a.dev
  domains/damu.json
Labels: domain

#12526 BETA: Register devendrakanojiya.is-a.dev
  domains/_github-pages-challenge-devendrakanojiya.devendrakanojiya.json
Labels: domain

#12488 Update old email and username for yunus.json
  domains/yunus.json
Labels: domain

#12546 BETA: Register mekota.is-a.dev
  domains/mekota.json
Labels: domain

#12509 Create tdim.json
  domains/tdim.json
Labels: domain

#12543 Update minecraft.urging.json
  domains/minecraft.urging.json
Labels: domain

#12500 BETA: Register jes.is-a.dev
  domains/jes.json
Labels: domain

#12501 Create valowolf.json
  domains/valowolf.json
Labels: domain

#12512 Register saumon.is-a.dev
  domains/saumon.json
Labels: domain

#12418 BETA: Register sashank.is-a.dev
  domains/sashank.json
Labels: domain

#12508 Create _github-pages-challenge-Hima-Pro.tdim.json
  domains/_github-pages-challenge-Hima-Pro.tdim.json
Labels: domain

#12480 Create dushmanta.json
  domains/dushmanta.json
Labels: domain

#12476 BETA: Register mori.lalit.is-a.dev
  domains/mori.lalit.json
Labels: domain

#12525 Rename devendra.json to _github-pages-challenge-devendrakanojiya.deve…
  domains/_github-pages-challenge-devendrakanojiya.devendra.json
Labels: domain

#12519 Create panel.nvsn.json
  domains/panel.nvsn.json
Labels: domain

#12518 Create node.nvsn.json
  domains/node.nvsn.json
Labels: domain

#12455 BETA: Register dogesploit.is-a.dev
  domains/dogesploit.json
Labels: domain

#12547 BETA: Register ain3abdo.is-a.dev
  domains/ain3abdo.json
Labels: domain

#12424 Register rawfin.is-a.dev
  domains/rawfin.json
Labels: domain

#12492 BETA: Register caesar.is-a.dev
  domains/caesar.json
Labels: domain

#12530 BETA: Register friday.is-a.dev
  domains/friday.json
Labels: domain

#12527 BETA: Register tejaswa.is-a.dev
  domains/tejaswa.json
Labels: domain

#12524 BETA: Register sstudiosdev.is-a.dev
  domains/sstudiosdev.json
Labels: domain

#12520 BETA: Register vsh.is-a.dev
  domains/vsh.json
Labels: domain

#12517 Create abhilash.json
  domains/abhilash.json
Labels: domain

#12521 Create yisus82.json
  domains/yisus82.json
Labels: domain

#12506 BETA: Register rishub.is-a.dev
  domains/rishub.json
Labels: domain

#12545 BETA: Register windowsbuild3r.is-a.dev
  domains/windowsbuild3r.json
Labels: domain

#12478 Add akshxsingla.json
  domains/akshsingla.json
Labels: domain

#12477 BETA: Register xtoast.is-a.dev
  domains/xtoast.json
Labels: domain

#12461 BETA: Register 4-m4t.is-a.dev
  domains/4-m4t.json
Labels: domain

#12462 BETA: Register xeno.is-a.dev
  domains/xeno.json
Labels: domain

#12473 BETA: Register mznking.is-a.dev
  domains/mznking.json
Labels: domain

#12465 Create outroninja.json
  domains/outroninja.json
Labels: domain

#12467 BETA: Register solarskripts.is-a.dev
  domains/solarskripts.json
Labels: domain

#12539 BETA: Register ajayanto.is-a.dev
  domains/ajayanto.json
Labels: domain, reason: invalid records

#12565 Update: CNAME [xtoast.json]
  domains/xtoast.json
Labels: domain

#12554 BETA: Register mastergrid.is-a.dev
  domains/mastergrid.json
Labels: domain

#12456 BETA: Register nthduc.is-a.dev
  domains/nthduc.json
Labels: domain

#12579 Create _github-pages-challenge-ashishagarwal2023.ashishagarwal.json
  domains/_github-pages-challenge-ashishagarwal2023.ashishagarwal.json
Labels: domain

#12550 BETA: Register merely.is-a.dev
  domains/merely.json
Labels: domain

#12592 Delete lava4.akshtt.is-a.dev
  domains/lava3.akshtt.json
  domains/lava4.akshtt.json
Labels: domain

#12610 Create ravener.json
  domains/_discord.ravener.json
  domains/ravener.json
Labels: domain

#12606 BETA: Register onlive.is-a.dev
  domains/onlive.json
Labels: domain

#12607 Update luki.json
  domains/luki.json
Labels: domain

#12595 BETA: Register kryptorian.is-a.dev
  domains/kryptorian.json
Labels: domain

#12623 BETA: Register abyss.is-a.dev
  domains/abyss.json
Labels: domain

#12616 BETA: Register mrdev88.is-a.dev
  domains/mrdev88.json
Labels: domain

#12625 Add email for ravener.json
  domains/ravener.json
Labels: domain

#12640 Created mc.neki.json subdomain
  domains/mc.neki.json
Labels: domain

#12643 Create mail.stefdp.json
  domains/mail.stefdp.json
  domains/test.stefdp.json
Labels: domain

#12644 I modified my username from "Rtxeon" to "CodeSuthar" introducing changes to my subdomain
  domains/_discord.codesuthar.json
  domains/_discord.rtxeon.json
  domains/codesuthar.json
  domains/webdevelopment.roadmap.rtxeon.json
Labels: domain

#12664 Update ciaobot.json
  domains/ciaobot.json
  domains/status.ciaobot.json
Labels: domain

#12666 Update stefdp.json
  domains/stefdp.json
Labels: domain

#12669 Update gattinhosbot.json
  domains/gattinhosbot.json
Labels: domain

#12671 BETA: Register ply.is-a.dev
  domains/ply.json
Labels: domain

#12641 Update mc.neki.json
  domains/mc.neki.json
Labels: domain

#12637 BETA: Register server.chiragnahata.is-a.dev
  domains/server.chiragnahata.json
Labels: domain

#12652 BETA: Register fluoresced.is-a.dev
  domains/fluoresced.json
Labels: domain

#12589 BETA: Register zyronixbot.mznking.is-a.dev
  domains/zyronixbot.mznking.json
Labels: domain

#12650 BETA: Register mail.boolean44.is-a.dev
  domains/mail.boolean44.json
Labels: domain

#12657 Update lighty.json
  domains/lighty.json
Labels: domain

#12613 BETA: Register zick.is-a.dev
  domains/zick.json
Labels: domain

#12612 BETA: Register verstandlxs.is-a.dev
  domains/verstandlxs.json
Labels: domain

#12603 BETA: Register venarimusic.is-a.dev
  domains/venarimusic.json
Labels: domain

#12556 BETA: Register tenvy.is-a.dev
  domains/tenvy.json
Labels: domain

#12419 Register linky.is-a.dev, and delete _discord.grafaffel.is-a.dev
  domains/linky.json
Labels: domain, reason: inaccessible website

#12626 Create gauravgupta.json
  domains/gauravgupta.json
  domains/gauravguptaa.json
  domains/guptagaurav.json
Labels: domain

#12489 Register joltz.is-a.dev
  domains/joltz.json
  domains/joltz1234.json
  domains/mystic-titans.json
Labels: domain

#12493 BETA: Register klone.is-a.dev
  domains/klone.json
Labels: domain

#12653 Update ziyn.json
  domains/ziyn.json
Labels: domain

#12531 Create hikamoru.json
  domains/hikamoru.json
Labels: domain

#12673 BETA: Register alfanaan.is-a.dev
  domains/alfanaan.json
Labels: domain

#12670 Add new records to yunexiz.is-a.dev (Im not 100% sure if i did this correctly)
  domains/yunexiz.json
Labels: domain, reason: invalid file

#12687 BETA: Register ecoplayer.is-a.dev
  domains/ecoplayer.json
  domains/ecoplayer07.json
Labels: domain

#12688 updated mail.boolran44.json
  domains/mail.boolean44.json
Labels: domain

#12682 BETA: Register polar.is-a.dev
  domains/polar.json
Labels: domain

#12634 Create nova.json
  domains/nova.json
Labels: domain, reason: invalid records

#12647 BETA: Register vxsualized.is-a.dev
  domains/vxsualized.json
Labels: domain

#12699 Create dockge.stefdp.json
  domains/dockge.stefdp.json
Labels: domain

#12700 Create portainer.stefdp.json
  domains/portainer.stefdp.json
Labels: domain

#12602 BETA: Register joaoz.is-a.dev
  domains/joaoz.json
Labels: domain

#12705 Update records yunus.json
  domains/yunus.json
Labels: domain

#12706 Create dash.stefdp.json
  domains/dash.stefdp.json
Labels: domain

#12712 Fix record from DBH's proxy to private proxy
  domains/cdn.trung.json
  domains/code.trung.json
  domains/links.trung.json
  domains/manage.uptime.trung.json
  domains/mongodb.trung.json
  domains/mystic.trung.json
  domains/status.trung.json
  domains/uptime.trung.json
Labels: domain

#12743 Update yunexiz.json
  domains/yunexiz.json
Labels: domain

#12735 update domains
  domains/_dmarc.mail.stefdp.json
  domains/gattinhosbot.json
  domains/mail.stefdp.json
  domains/stefdp.json
  domains/vsc.stefdp.json
Labels: domain

#12762 Re-add records to yunexiz.json
  domains/yunexiz.json
Labels: domain

#12759 Update imsoumyaneel.json
  domains/imsoumyaneel.json
Labels: domain

#12704 BETA: Register crischutu07.is-a.dev
  domains/crischutu07.json
Labels: domain

#12745 BETA: Register new.vornexx.is-a.dev
  domains/files.vornexx.json
  domains/new.vornexx.json
  domains/spotify.vornexx.json
  domains/vornexx.json
Labels: domain

#12752 Update ki.json
  domains/ki.json
Labels: domain

#12728 Register lucky.is-a.dev
  domains/lucky.json
Labels: domain

#12772 Updated for improvmx mail
  domains/neki.json
Labels: domain

#12754 BETA: Register aichat.is-a.dev
  domains/aichat.json
Labels: domain

#12774 Delete domains/modmail.json
  domains/modmail.json
Labels: maintainer

#12780 [Abuse] Delete domains/phantom.json
  domains/phantom.json
Labels: maintainer

#12771 Create sdheeraj.json
  domains/sdheeraj.json
Labels: domain, reason: inaccessible website

#12784 Delete ecoplayer.is-a.dev
  domains/ecoplayer.json
Labels: domain

#12707 BETA: Register whsprr.is-a.dev
  domains/whsprr.json
Labels: domain

#12796 Update maintainers.json
  domains/maintainers.json
Labels: maintainer

#12776 Update pranavagrawal.json
  domains/pranavagrawal.json
Labels: domain

#12684 BETA: Register blogs.adityabh.is-a.dev
  domains/blogs.adityabh.json
Labels: domain

#12611 BETA: Register modules.is-a.dev
  domains/modules.json
Labels: domain

#12786 BETA: Register 21z.is-a.dev
  domains/21z.json
Labels: domain, reason: invalid records

#12785 BETA: Register hafi.is-a.dev
  domains/hafi.json
Labels: domain, reason: invalid records

#12806 Create files.ravener.json
  domains/files.ravener.json
Labels: domain

#12819 Delete domains/glqch.json
  domains/glqch.json
Labels: domain, maintainer

#12821 merge
  domains/_github-pages-challenge-Glqch0.glqch.json
  domains/glqch.json
Labels: domain

#12811 BETA: Register ntech.is-a.dev
  domains/ntech.json
Labels: domain

#12807 BETA: Register ntmusic.is-a.dev
  domains/ntmusic.json
Labels: domain

#12808 feat: add subdomain for piyushkatyal
  domains/piyushkatyal.json
Labels: domain

#12813 BETA: Register status-ryo.is-a.dev
  domains/status-ryo.json
Labels: domain

#12724 BETA: Register mwa.is-a.dev
  domains/mwa.json
  domains/mwanothere.json
  domains/totallynotmwa.json
Labels: domain

#12795 add preston-code.is-a.dev
  domains/preston-code.json
Labels: domain

#12810 Create splack.json
  domains/splack.json
Labels: domain

#12575 Added a new Subdomain
  domains/sankalp.json
Labels: domain

#12831 changed to github website due to incomatible
  domains/preston-code.json
Labels: domain

#12584 BETA: Register alphatechnolog.is-a.dev
  domains/alphatechnolog.json
Labels: domain

#12608 BETA: Register codixer.is-a.dev
  domains/codixer.json
Labels: domain

#12654 BETA: Register shiva-vijai.is-a.dev
  domains/shiva-vijai.json
Labels: domain

#12655 BETA: Register rainotoberu.is-a.dev
  domains/rainotoberu.json
Labels: domain

#12656 BETA: Register iam.is-a.dev
  domains/iam.json
Labels: domain

#12829 Registration Of A New Domain
  domains/shan.json
Labels: domain

#12779 BETA: Register yuri.is-a.dev
  domains/yuri.json
Labels: domain

#12802 stan.is-a.dev
  domains/stan.json
Labels: domain

#12828 Changed my user name from sachu-settan to sanoojes
  domains/sanooj.json
Labels: domain

#12651 Create gudorlltti.json
  domains/gudorlltti.json
Labels: domain

#12814 change record (crischutu07.is-a.dev)
  domains/crischutu07.json
Labels: domain

#12837 merge
  domains/_github-pages-challenge-Glqch0.glqchh.json
  domains/glqchh.json
Labels: domain

#12782 BETA: Register harukipy.is-a.dev
  domains/harukipy.json
Labels: domain

#12773 BETA: Register xn--mt9h.is-a.dev
  domains/xn--mt9h.json
Labels: domain

#12725 Update qwertyqwerty.json
  domains/qwertyqwerty.json
Labels: domain

#12798 BETA: Register smp.is-a.dev
  domains/smp.json
Labels: domain

#12835 BETA: Register karthikr.is-a.dev
  domains/karthikr.json
Labels: domain

#12799 BETA: Register brainproxy.is-a.dev
  domains/brainproxy.json
Labels: domain

#12791 BETA: Register vitalik.is-a.dev
  domains/edwardsnowden.json
  domains/vitalik.json
Labels: domain

#12840 Register rikuxyz.is-a.dev
  domains/rikuxyz.json
Labels: domain

#12703 Register nikk.is-a.dev
  domains/nikk.json
Labels: domain

#12853 Patch 4
  domains/_github-pages-challenge-MaskDuck.maskduck.json
  domains/maskduck.json
Labels: domain

#12865 BETA: Register r2mvstr.is-a.dev
  domains/r2mvstr.json
Labels: domain
