Repository is-a-dev/register, pull requests merged in 2024-07, with the labels that each got.

#14656 Register seven.is-a.dev
  domains/seven.json
Labels: domain, reason: incomplete website

#14662 support domain key records
  tests/validations.test.js
  utils/invalid-domains.json
  utils/validations.js
Labels: domain, ci, maintainer

#14645 [shockbs.json] Pls Merge This When _domainkey is supported
  domains/email.shockbs.json
  domains/mx._domainkey.shockbs.json
  domains/shockbs.json
Labels: domain, reason: invalid records

#14663 Update status.shockbs.json
  domains/email.shockbs.json
  domains/mx._domainkey.shockbs.json
  domains/shockbs.json
  domains/status.shockbs.json
Labels: domain

#14664 Update shockbs.json
  domains/shockbs.json
Labels: domain

#14657 Register ronak.is-a.dev
  domains/ronak.json
Labels: domain

#14661 Update imide.json
  domains/imide.json
Labels: domain

#14667 Register blackneeed.is-a.dev
  domains/blackneeed.json
Labels: domain

#14669 Create freefordevs.json
  domains/freefordevs.json
Labels: domain

#14670 Add neel-vaghasiya domain request
  domains/neel-vaghasiya.json
Labels: domain

#14673 Create smug.json
  domains/smug.json
Labels: domain, r: orangc

#14677 Update amaankazi.json
  domains/amaankazi.json
Labels: domain

#14678 Register tictactoe.amaankazi.is-a.dev
  domains/tictactoe.amaankazi.json
Labels: domain

#14679 Update seven.json to (hopefully) support emails
  domains/seven.json
Labels: domain, reason: invalid records

#14681 delete neel-vaghasiya.json file
  domains/neel-vaghasiya.json
Labels: domain

#14680 Register nonomino.is-a.dev
  domains/nonomino.json
Labels: domain, r: orangc

#14684 Update rpi.crazymax.json
  domains/rpi.crazymax.json
Labels: domain

#14685 Register anime-oni.is-a.dev
  domains/anime-oni.json
Labels: domain

#14682 Register astrowin.is-a.dev
  domains/astrowin.json
Labels: domain, r: orangc

#14687 Register subasi.is-a.dev
  domains/subasi.json
Labels: domain, r: orangc

#14686 Create seyioo.json
  domains/seyioo.json
Labels: domain, r: orangc

#14675 Create to-zeeshan.json
  domains/to-zeeshan.json
Labels: domain

#14691 Update mirzosharif.json
  domains/mirzosharif.json
Labels: domain

#14689 Create okinea.json
  domains/_github-pages-challenge-okineadev.okinea.json
  domains/okinea.json
Labels: domain

#14688 Added domain
  domains/keiran.json
Labels: domain

#14694 Delete charon.is-a.dev
  domains/charon.json
Labels: domain

#14702 Register ridwanalafarezi.is-a.dev
  domains/ridwanalfarezi.json
Labels: domain, r: orangc

#14699 Update mrdiamond.is-a.dev
  domains/mrdiamond.json
Labels: domain, r: orangc

#14703 Register alcantara.is-a.dev
  domains/aalcantara.json
  domains/alcantara.json
Labels: domain

#14692 Register buffer.is-a.dev
  domains/buffer.json
Labels: domain

#14696 Create samatbk.json
  domains/samatbk.json
Labels: domain

#14708 change proxy
  domains/cdn.trung.json
  domains/code.trung.json
  domains/extensions.trung.json
  domains/links.trung.json
  domains/manage.uptime.trung.json
  domains/mongodb.trung.json
  domains/mystic.trung.json
  domains/proxy.trung.json
  domains/spotify.trung.json
  domains/stats.trung.json
  domains/status.trung.json
  domains/test.trung.json
  domains/trung.json
  domains/uptime.trung.json
  domains/workspace.trung.json
Labels: domain, r: orangc

#14659 Create Karttikeya
  domains/karttikeya.json
Labels: domain, r: orangc

#14709 Register painscreen.is-a.dev
  domains/painscreen.json
Labels: domain, r: orangc

#14718 Update lnminh1411.json + verify github pages
  domains/_github-pages-challenge-lnminh1411.lnminh1411.json
  domains/lnminh1411.json
Labels: domain

#14720 Create wacky.json
  domains/wacky.json
Labels: domain

#14722 Create tomiszivacs.json
  domains/tomiszivacs.json
Labels: domain

#14723 Update arceus.json
  domains/arceus.json
Labels: domain

#14719 update in repo
  domains/_github-pages-challenge-Dev-Ajay-sahani.ajays.json
  domains/ajays.json
Labels: domain, reason: unauthorized

#14695 Register lightsys32.is-a.dev
  domains/lightsys32.json
Labels: domain, r: orangc

#14724 Updated lnminh1411.json
  domains/lnminh1411.json
Labels: domain

#14730 Update raafey.json
  domains/raafey.json
Labels: domain

#14726 Create _discord.paul.json
  domains/_discord.paul.json
Labels: domain

#14725 Register alecks.is-a.dev
  domains/alecks.json
Labels: domain

#14728 Register cuxdi.is-a.dev
  domains/cuxdi.json
Labels: domain, reason: invalid records

#14732 Register _discord.mrstickypiston.is-a.dev
  domains/_discord.mrstickypiston.json
Labels: domain

#14733 Create Dijisx.json
  domains/dijisx.json
Labels: domain

#14727 Discord domain verification thingy
  domains/_discord.keiran.json
Labels: domain

#14743 add google verification
  domains/educatedsuddenbucket.json
Labels: domain

#14742 Changed cn, and added discord connection/verification, and followed licensing
  domains/_discord.cuxdi.json
  domains/cuxdi.json
Labels: domain, reason: invalid records

#14747 Create _discord.potatochips0706.json
  domains/_discord.potatochips0706.json
Labels: domain

#14745 Create kars.json
  domains/kars.json
Labels: domain, r: orangc

#14748 Update alecks.json (Change CNAME target)
  domains/alecks.json
Labels: domain

#14746 using A Record instead of CNAME and added google verification TXT Record
  domains/mcstatus.json
Labels: domain, r: orangc

#14749 Create kawet.json
  domains/kawet.json
Labels: domain

#14761 Create ronak.json
  domains/ronak.json
Labels: domain

#14762 Register dhyy.is-a.dev
  domains/dhyy.json
Labels: domain

#14764 Change A to CNAME
  domains/lemon.json
Labels: domain

#14763 Register Aravind.is-a.dev
  domains/aravind.json
Labels: domain

#14766 Register scan.is-a.dev
  domains/scan.json
Labels: domain

#14768 Register arvindt.is-a.dev
  domains/_discord.arvindt.json
  domains/arvindt.json
Labels: domain, reason: incomplete website, reason: inaccessible website, r: orangc

#14775 delete splatterxl domain
  domains/splatterxl.json
Labels: domain

#14777 Delete aravind.is-a.dev
  domains/aravind.json
Labels: domain

#14778 create aayushbharti.json
  domains/aayushbharti.json
Labels: domain

#14780 Register aravinnndddd.is-a.dev
  domains/aravinnndddd.json
Labels: domain

#14779 Create i.esb.json
  domains/img.esb.json
Labels: domain

#14776 Register domain harshnj.is-a.dev
  domains/harshnj.json
Labels: domain

#14785 Update stefdp.json
  domains/stefdp.json
Labels: domain

#14784 update urls
  domains/00.json
  domains/01.json
  domains/guess-who.json
  domains/rayr.json
  domains/rayrsn.json
Labels: domain, r: orangc

#14787 give .is-a-dev to civic1007.pages.dev
  domains/civic.json
Labels: domain

#14786 Register tju-emg.is-a.dev
  domains/tju-emg.json
Labels: domain, r: orangc

#14799 Create hexviewer.json
  domains/hexviewer.json
Labels: domain

#14789 TXT record for GitHub Pages domain verification
  domains/_github-pages-challenge-HarshNarayanJha.harshnj.json
Labels: domain

#14794 Delete domains/slainbot.json
  domains/slainbot.json
Labels: domain

#14797 Create houlton.json
  domains/houlton.json
Labels: domain

#14798 GitHub Pages domain verification
  domains/_github-pages-challenge-Nekitori17.nekitori17.json
Labels: domain

#14790 Add tien.json file
  domains/tien.json
Labels: domain

#14770 Domain
  domains/_github-pages-challenge-owentechv.owentech.json
  domains/owentech.json
Labels: domain

#14774 Register aniket-thapa.is-a.dev
  domains/aniket-thapa.json
Labels: domain

#14805 Remove email from the contact
  domains/fran.json
Labels: domain

#14803 Create naltheduck.json
  domains/naltheduck.json
Labels: domain

#14812 Register easynebula.is-a-dev
  domains/easynebula.json
Labels: domain

#14813 Create ninjastrikers.json
  domains/ninjastrikers.json
Labels: domain

#14806 Register tasory.is-a.dev
  domains/tasory.json
Labels: domain

#14807 Create za.json
  domains/za.json
Labels: domain

#14782 Register PizzaV.is-a.dev
  domains/pizzav.json
Labels: domain, reason: invalid records

#14815 Update scan.json
  domains/scan.json
Labels: domain

#14783 hi to whoever's reading this. cheers m8
  domains/saxophone.json
Labels: domain

#14819 created new domain and modified a existing domain
  domains/hexviewer.json
  domains/i2.esb.json
Labels: domain

#14818 Register neca.is-a.dev
  domains/neca.json
Labels: domain, reason: invalid records

#14823 Delete domains/ucl-caen.json
  domains/ucl-caen.json
Labels: domain

#14822 Delete domains/resistances-caen.json
  domains/resistances-caen.json
Labels: domain, r: orangc

#14826 vamtic.is-a.dev
  domains/vamtic.json
Labels: domain, reason: invalid social

#14830 Create api.sono.json
  domains/api.sono.json
Labels: domain

#14831 Create jay
  domains/jayraj.json
Labels: domain, r: orangc

#14834 Register choudery.is-a.dev
  domains/choudery.json
Labels: domain, r: orangc

#14836 Create status.shan.json
  domains/status.shan.json
Labels: domain

#14816 Create 0v90.json
  domains/0v90.json
Labels: domain

#14847 Register docs.shockbs.is-a.dev
  domains/docs.shockbs.json
Labels: domain

#14850 Update smutex.json
  domains/smutex.json
Labels: domain

#14846 Remove email, add discord, remove improvmx config
  domains/axviii3.json
Labels: domain

#14852 Register abdul.is-a.dev
  domains/abdul.json
Labels: domain

#14839 Register eldzey.is-a.dev
  domains/eldzey.json
Labels: domain

#14856 Update vamtic.json
  domains/vamtic.json
Labels: domain

#14811 Register slainbot.is-a.dev
  domains/slainbot.json
Labels: domain, reason: inaccessible website

#14860 Delete domains/_discord.william.json
  domains/_discord.william.json
Labels: maintainer

#14864 Update status.shan.json Change in A record
  domains/status.shan.json
Labels: domain

#14848 Create _discord.okinea.json
  domains/_discord.okinea.json
Labels: domain, reason: invalid social

#14865 Update zephyr.json
  domains/zephyr.json
Labels: domain

#14867 UPDATING 0V90.JSON
  domains/0v90.json
  domains/_github-pages-challenge-0v90.json
Labels: domain

#14877 Register MorzhStudio.is-a.dev
  domains/morzhstudio.json
Labels: domain

#14890 Register gabek.is-a.dev
  domains/gabek.json
Labels: domain

#14886 Request to add insencel.is-a.dev as a subdomain
  domains/insencel.json
Labels: domain

#14889 updating contact info
  domains/_discord.painscreen.json
  domains/painscreen.json
Labels: domain

#14897 Create lasty.json
  domains/lasty.json
Labels: domain

#14895 register bot.esb.is-a.dev
  domains/bot.esb.json
Labels: domain

#14898 Update saxophone.json
  domains/saxophone.json
Labels: domain

#14891 Register kriloud.is-a.dev
  domains/kriloud.json
Labels: domain, r: orangc

#14793 Create vhardik.json
  domains/vhardik.json
Labels: domain, r: orangc

#14905 Register theharry.is-a.dev
  domains/theharry.json
Labels: domain

#14904 Register nhatphong.is-a.dev
  domains/nhatphong.json
Labels: domain

#14906 Register RedibleSky's domain
  domains/rediblesky.json
Labels: domain

#14908 Create _github-pages-challenge-bob16077.bob16077.json
  domains/_github-pages-challenge-bob16077.bob16077.json
Labels: domain, r: orangc

#14909 Create _github-pages-challenge-gabekgfx.gabek.json
  domains/_github-pages-challenge-gabekgfx.gabek.json
Labels: domain, r: orangc

#14914 update
  domains/_github-pages-challenge-vamtic.info.vamtic.json
  domains/vamtic.json
Labels: domain, reason: invalid file

#14915 create subdomain blog.saxophone.is-a.dev
  domains/blog.saxophone.json
Labels: domain

#14918 Chadee website
  domains/_github-pages-challenge-chadeeeee.chadee.json
  domains/chadee.json
Labels: domain

#14921 ADD
  domains/akashr.json
Labels: domain

#14930 Update vamtic.json
  domains/vamtic.json
Labels: domain

#14929 Create szisza.vamtic.json
  domains/szisza.vamtic.json
Labels: domain

#14927 Create images.civic.json
  domains/images.civic.json
Labels: domain

#14933 Update vamtic.json
  domains/vamtic.json
Labels: domain

#14935 rllanonymous
  domains/rllanonymous.json
Labels: domain

#14931 quvi.is-a.dev
  domains/_github-pages-challenge-quvvii.quvi.json
  domains/quvi.json
Labels: domain

#14934 Register endeade.is-a.dev
  domains/endeade.json
Labels: domain

#14940 Added biko.json domain
  domains/biko.json
Labels: domain

#14926 Edit to an A record
  domains/yrrahbot.acronical.json
Labels: domain, r: orangc

#14922 add my domain pls
  domains/janeq.json
Labels: domain, reason: invalid file

#14923 Added hachiro.is-a.dev and removed email feild on katz.is-a.dev
  domains/hachiro.json
  domains/katz.json
Labels: domain

#14912 Add texnogrand-dev.json
  domains/texnogrand-dev.json
Labels: domain, r: orangc

#14945 Create aswinrout.json
  domains/aswinrout.json
Labels: domain, r: orangc

#14919 remove domain using cyclic
  domains/catfoolyou.json
Labels: domain, status: awaiting user response, maintainer

#14946 Update info.vamtic.json
  domains/info.vamtic.json
Labels: domain

#14949 Update info.vamtic.json
  domains/info.vamtic.json
Labels: domain

#14948 Delete domains/_github-pages-challenge-vamtic.info.vamtic.json
  domains/_github-pages-challenge-vamtic.info.vamtic.json
Labels: domain

#14932 Register nass.is-a.dev
  domains/nass.json
Labels: domain, r: orangc

#14955 Delete domains/kotelek.json
  domains/kotelek.json
Labels: domain

#14954 Register xkotelek.is-a.dev
  domains/xkotelek.json
Labels: domain

#14956 Register pi's domain (pi19044.is-a.dev)
  domains/pi19044.json
Labels: domain

#14961 Create yigit.json
  domains/yigit.json
Labels: domain
