Repository is-a-dev/register, pull requests merged in 2024-04, with the labels that each got.

#13111 BETA: Register duyquang.is-a.dev
  domains/duyquang.json
Labels: domain

#13115 Create syedrayan.json
  domains/syedrayan.json
Labels: domain

#13114 BETA: Register rdap.is-a.dev
  domains/rdap.json
Labels: domain

#13132 Create dmr.json
  domains/dmr.json
Labels: domain

#13127 BETA: Register soumo.is-a.dev
  domains/soumo.json
Labels: domain

#13128 Register nx.is-a.dev
  domains/nx.json
Labels: domain

#13129 BETA: Register asteria.is-a.dev
  domains/asteria.json
Labels: domain

#13116 Update record duyquang.json
  domains/duyquang.json
Labels: domain

#12885 BETA: Register yashasviallen.is-a.dev
  domains/yashasviallen.json
Labels: domain, reason: inaccessible website

#13136 BETA: Register ray.is-a.dev
  domains/ray.json
Labels: domain

#13133 Update dmr.json
  domains/dmr.json
Labels: domain

#13131 BETA: Register crafty.is-a.dev
  domains/crafty.json
Labels: domain

#13130 Create yakate.json
  domains/yakate.json
Labels: domain

#13124 BETA: Register kwan.is-a.dev
  domains/kwan.json
Labels: domain

#13123 BETA: Register land.is-a.dev
  domains/land.json
Labels: domain

#13122 BETA: Register vishalxd.is-a.dev
  domains/vishalxd.json
Labels: domain

#13120 BETA: Register chrinsieboy.is-a.dev
  domains/chrinsieboy.json
Labels: domain

#13139 Update youfoundalpha.json
  domains/youfoundalpha.json
Labels: domain

#13140 Discord Verify
  domains/_discord.bkms.json
Labels: domain

#13141 Register minerwolfybtvn.is-a.dev
  domains/minerwolfybtvn.json
Labels: domain

#13076 Update jonee2.json
  domains/jonee2.json
Labels: domain, reason: invalid records

#13158 BETA: Register ashley.is-a.dev
  domains/ashley.json
Labels: domain

#13157 BETA: Register ajay.is-a.dev
  domains/ajay.json
Labels: domain

#13149 Create AlexBartles.json
  domains/alexbartles.json
Labels: domain

#13150 BETA: Register funasitien.is-a.dev
  domains/funasitien.json
Labels: domain

#13152 BETA: Register mustafaozturk.is-a.dev
  domains/mustafaozturk.json
Labels: domain

#13159 Create wumpus.json
  domains/wumpus.json
Labels: domain

#13138 Create ucl-caen
  domains/ucl-caen.json
Labels: reason: invalid file

#13107 Create opott.json
  domains/opott.json
Labels: domain, reason: invalid records

#13161 BETA: Register aryan.is-a.dev
  domains/aryan.json
Labels: domain

#13171 fix nx.json (use surge.sh)
  domains/nx.json
Labels: domain

#13168 Update owner info
  domains/igor.json
Labels: domain

#13166 BETA: Register zonghao.is-a.dev
  domains/zonghao.json
Labels: domain

#13156 BETA: Register my.sembiland.is-a.dev
  domains/my.sembiland.json
  domains/sembiland.json
Labels: domain, reason: invalid records

#13188 BETA: Register spotify.trung.is-a.dev
  domains/spotify.trung.json
Labels: domain

#13186 use ovh ssl - nx.json
  domains/nx.json
Labels: domain

#13206 Update ashishagarwal.json
  domains/ashishagarwal.json
  domains/ashishagr.json
Labels: domain

#13209 BETA: Register imgs.kenny.is-a.dev
  domains/imgs.kenny.json
Labels: domain

#13212 Register sypherhosting.is-a.dev
  domains/sypherhosting.json
Labels: domain

#13202 BETA: Register acronical.is-a.dev
  domains/acronical.json
Labels: domain

#13200 BETA: Register avengers-sonarqube.is-a.dev
  domains/avengers-sonarqube.json
Labels: domain

#13211 Removed the A records
  domains/banik.json
Labels: domain

#13210 Create mrvasil.json
  domains/mrvasil.json
Labels: domain

#13213 delete multiple domains
  domains/haru.ki.json
  domains/harukipy.json
  domains/sypherhosting.json
Labels: maintainer

#13214 Delete domains/ki.json
  domains/ki.json
Labels: maintainer

#13215 Changing A records
  domains/almaz.json
  domains/dashboard.almaz.json
  domains/ss.almaz.json
Labels: domain

#13229 domains: add swastik
  domains/swastik.json
Labels: domain

#13223 Update juqwtf.json
  domains/juqwtf.json
Labels: domain

#13217 Update and rename imgs.kenny.json to img.kenny.json
  domains/img.kenny.json
Labels: domain

#13239 use aeza.net/protection nx.json
  domains/nx.json
Labels: domain

#13233 BETA: Register nikymetaa.is-a.dev
  domains/nikymetaa.json
Labels: domain

#13226 Create resistances-caen.json
  domains/resistances-caen.json
Labels: domain

#13231 BETA: Register jun-wei.is-a.dev
  domains/jun-wei.json
  domains/junwei.json
Labels: domain

#13232 BETA: Register mssfreight.is-a.dev
  domains/mssfreight.json
Labels: domain

#13238 delete sebitalent04
  domains/_github-pages-challenge-sebitalent04.sebitalent04.json
  domains/sebitalent04.json
Labels: domain

#13242 BETA: Register akshayks.is-a.dev
  domains/akshayks.json
Labels: domain

#13228 Register sidou.is-a.dev
  domains/sidou.json
Labels: domain

#13246 Create raafey.json
  domains/raafey.json
Labels: domain

#13253 BETA: Register devlori.is-a.dev
  domains/devlori.json
Labels: domain

#13243 Add two domains: mapsyseo.is-a.dev and panel.nodo.shing.is-a.dev
  domains/mapsyseo.json
  domains/paris.node.shing.json
Labels: domain

#13250 change CNAMES
  domains/igor.json
Labels: domain

#13193 Register lnk.is-a.dev
  domains/littletw.json
  domains/lnk.json
Labels: domain, reason: invalid social

#13279 Delete domains/cli.json
  domains/cli.json
Labels: maintainer

#13280 Update denboy0123.json
  domains/denboy0123.json
Labels: domain

#13284 Update imide.json
  domains/imide.json
Labels: domain

#13286 BETA: Register riku.is-a.dev
  domains/riku.json
Labels: domain

#13287 Create _discord.riku.json
  domains/_discord.riku.json
Labels: domain

#13218 BETA: Register namesmt.is-a.dev
  domains/_github-pages-challenge-NamesMT.namesmt.json
  domains/namesmt.json
Labels: domain, reason: inaccessible website

#13236 Add jhoneeg
  domains/jhonneg.json
  domains/jonee2.json
Labels: domain, reason: inaccessible website

#13245 BETA: Register niksne.is-a.dev
  domains/niksne.json
Labels: domain

#13255 BETA: Register 50x.is-a.dev
  domains/50x.json
Labels: domain

#13252 Create zk.json
  domains/zk.json
Labels: domain

#13260 Update zyrouge.json
  domains/zyrouge.json
Labels: domain

#13289 Update imide.json
  domains/_discord.imide.json
Labels: domain

#13281 Update mrvasil.json
  domains/mrvasil.json
Labels: domain

#13278 BETA: Register rootcircle.is-a.dev
  domains/rootcircle.json
Labels: domain

#13288 BETA: Register praharsh.is-a.dev
  domains/praharsh.json
Labels: domain

#13292 Register dwigoric.is-a.dev
  domains/dwigoric.json
Labels: domain

#13293 Create _github-pages-challenge-YummyOreo.oreo.json
  domains/_github-pages-challenge-YummyOreo.oreo.json
Labels: domain

#13299 BETA: Register vismbs.is-a.dev
  domains/vismbs.json
Labels: domain

#13300 Create wilbur.is-a.dev
  domains/wilbur.json
Labels: domain

#13306 Raafey raza patch
  domains/_acme-challenge.raafey.json
Labels: domain

#13301 Create azhammakestrash.json
  domains/azhammakestrash.json
Labels: domain

#13308 BETA: Register oioioi.is-a.dev
  domains/_acme-challenge.oioioi.json
  domains/oioioi.json
Labels: domain

#13305 BETA: Register rikubot.is-a.dev
  domains/rikubot.json
Labels: domain

#13296 Update youfoundalpha.json
  domains/youfoundalpha.json
Labels: domain, reason: invalid records, reason: invalid file

#13321 Create krishnan.json
  domains/krishnan.json
Labels: domain

#13316 Register _discord.dwigoric.is-a.dev
  domains/_discord.dwigoric.json
  domains/joshua.json
Labels: domain

#13314 Create matt.json
  domains/matt.json
Labels: domain, reason: inaccessible website

#13330 Update raafey.json
  domains/raafey.json
Labels: domain

#13333 remove unused staff domains
  domains/discord.json
  domains/privacy.json
  domains/raw.json
  domains/register.json
  domains/staff.json
  domains/status.json
Labels: maintainer

#13335 Create _discord.krishnan.json
  domains/_discord.krishnan.json
Labels: domain

#13346 BETA: Register sebb.is-a.dev
  domains/sebb.json
Labels: domain

#13341 BETA: Register geenzo.is-a.dev
  domains/geenzo.json
Labels: domain

#13331 Updated jhonneg.json
  domains/jhonneg.json
Labels: domain

#13348 BETA: Register chrischenny.is-a.dev
  domains/chrischenny.json
Labels: domain

#13256 BETA: Register xyz.is-a.dev
  domains/xyz.json
Labels: domain

#13349 BETA: Register riihime.is-a.dev
  domains/riihime.json
Labels: domain

#13344 Register shork.is-a.dev
  domains/shork.json
  domains/shorko.json
Labels: domain

#13343 BETA: Register ralphpineda.is-a.dev
  domains/ralphpineda.json
Labels: domain

#13342 BETA: Register akcord.is-a.dev
  domains/akcord.json
Labels: domain

#13339 BETA: Register shafi.is-a.dev
  domains/shafi.json
Labels: domain

#13324 add eyescary.json
  domains/eyescary.json
Labels: domain

#13323 BETA: Register lowrp.site.is-a.dev
  domains/lowrp.site.json
Labels: domain

#13336 Create _github-pages-challenge-krishnans2006.krishnan.json
  domains/_github-pages-challenge-krishnans2006.krishnan.json
Labels: domain

#13329 Create _discord.myrdin.is-a.dev.json and _github-pages-challenge-Myrdincx.myrdin.json
  domains/_discord.myrdin.is-a.dev.json
  domains/_github-pages-challenge-Myrdincx.myrdin.json
Labels: domain

#13326 Add `shymega.is-a.dev` subdomain
  domains/_discord.shymega.json
  domains/_github-pages-challenge-shymega.shymega.json
  domains/shymega.json
Labels: domain

#13338 BETA: Register nikywelcome.is-a.dev
  domains/nikywelcome.json
Labels: domain

#13358 Update dasshark.is-a.dev
  domains/dasshark.json
Labels: domain

#13351 BETA: Register ricky.is-a.dev
  domains/ricky.json
Labels: domain

#13352 BETA: Register vishok.is-a.dev
  domains/vishok.json
Labels: domain

#13357 Update akcord.json
  domains/akcord.json
Labels: domain

#13359 Pulling request for riihime.is-a.dev
  domains/_github-pages-challenge-Riihime.riihime.json
  domains/riihime.json
Labels: domain

#13366 update oc.is-a.dev and orange.is-a.dev
  domains/oc.json
  domains/orange.json
Labels: domain

#13364 Update poked.json, Create _discord.poked.json
  domains/_discord.poked.json
  domains/poked.json
Labels: domain

#13313 BETA: Register yaman-malla.is-a.dev
  domains/yaman-malla.json
Labels: domain, reason: incomplete website, reason: unauthorized

#13367 updated server ip
  domains/researcx.json
Labels: domain

#13356 BETA: Register zwei.is-a.dev
  domains/zwei.json
Labels: domain

#13276 BETA: Register palekiox.is-a.dev
  domains/palekiox.json
Labels: domain, reason: incomplete website

#13318 Register ziko.is-a.dev
  domains/ziko.json
Labels: domain, reason: inaccessible website

#13372 Register toast.is-a.dev
  domains/_discord.toast.json
  domains/toast.json
Labels: domain

#13369 changed my description
  domains/dan-habot.json
Labels: domain

#13393 feat(ci): support new gh org validation records
  domains/_gh-is-a-dev-o.www.json
  tests/validations.test.js
  utils/invalid-domains.json
  utils/validations.js
Labels: ci, maintainer

#13394 chore: add `con` to invalid domains
  utils/invalid-domains.json
Labels: ci, maintainer

#13396 Create panel.json
  domains/panel.json
Labels: domain, maintainer

#13397 Revert "Create panel.json"
  domains/panel.json
Labels: maintainer

#13390 Register lua.is-a.dev
  domains/lua.json
Labels: domain

#13398 Update toast.is-a.dev for GitHub Pages domain verifications
  domains/_github-pages-challenge-lightly-toasted.toast.json
Labels: domain

#13389 Register jb.is-a.dev
  domains/jb.json
Labels: domain

#13402 fix some domains
  domains/_discord.myrdin.json
  domains/horn7x.is-a.dev.json
  domains/newyear.trung.json
Labels: maintainer

#13415 BETA: Register sky-development.is-a.dev
  domains/sky-development.json
Labels: domain, reason: invalid file

#13414 Register alain.is-a.dev
  domains/alain.json
Labels: domain, reason: invalid records

#13416 Fixed lua.json to fit my endpoint using URL instead of CNAME.
  domains/lua.json
Labels: domain, reason: invalid file

#13401 BETA: Register imm0nv1nhtv.is-a.dev
  domains/imm0nv1nhtv.json
Labels: domain

#13429 Discord domain verification
  domains/_discord.imm0nv1nhtv.json
Labels: domain

#13432 Create _discord.sanooj.json
  domains/_discord.sanooj.json
Labels: domain

#13422 Create _discord.nikymetaa.json
  domains/_discord.nikymetaa.json
Labels: domain

#13440 Create mail.boolean442.json
  domains/mail.boolean442.json
Labels: domain

#13458 BETA: Register acctuke.is-a.dev
  domains/acctuke.json
Labels: domain

#13452 Register sono.is-a.dev
  domains/sono.json
Labels: domain

#13454 Update mail.boolean44.json
  domains/mail.boolean44.json
Labels: domain

#13439 CNAME change
  domains/alain.json
Labels: domain

#13475 BETA: Register novafox.is-a.dev
  domains/novafox.json
Labels: domain

#13485 BETA: Register lhjhminecraft.is-a.dev
  domains/lhjhminecraft.json
Labels: domain

#13477 Register spacehastelog.is-a.dev
  domains/spacehastelog.json
Labels: domain

#13472 Update erdogan.json
  domains/erdogan.json
Labels: domain

#13383 Update ajay.json with an updated website link.
  domains/ajay.json
Labels: domain

#13385 BETA: Register ibrahimai.is-a.dev
  domains/ibrahimai.json
  domains/ibrahimtech.json
Labels: domain

#13403 BETA: Register rasel.is-a.dev
  domains/rasel.json
Labels: domain

#13370 Create heroprotagonist.json
  domains/heroprotagonist.json
Labels: domain, reason: invalid file
