Repository is-a-dev/register, pull requests merged in 2024-02, with the labels that each got.

#11691 Deleted site.gizzy.json and add A and AAAA records pointing to github pages
  domains/gizzy.json
  domains/site.gizzy.json
Labels: domain

#11646 Register dylanmarsili.is-a.dev
  domains/dylanmarsili.json
Labels: domain

#11637 BETA: Register aliwoto.is-a.dev
  domains/aliwoto.json
Labels: domain, reason: inaccessible website

#11612 BETA: Register minhphan.is-a.dev
  domains/minhphan.json
Labels: domain

#11689 BETA: Register plow.is-a.dev
  domains/clicpow.json
  domains/plow.json
Labels: domain

#11705 Register api.shockbs.is-a.dev
  domains/api.shockbs.json
Labels: domain

#11704 Create hongkorium.json
  domains/hongkorium.json
Labels: domain

#11695 BETA: Register stardust.is-a.dev
  domains/stardust.json
Labels: domain

#11676 changed subdomains
  domains/yfa.json
  domains/yfadev.json
  domains/youfoundalpha.json
Labels: domain

#11677 Create shikhar_reyya.json
  domains/shikharreyya.json
Labels: domain

#11663 feat: Create blue.json
  domains/blue.json
Labels: domain

#11679 Create ciaobot.json
  domains/ciaobot.json
  domains/status.ciaobot.json
Labels: domain

#11683 BETA: Register cdn.trung.is-a.dev
  domains/cdn.trung.json
Labels: domain

#11684 BETA: Register devbrainless.is-a.dev
  domains/devbrainless.json
Labels: domain

#11668 added: refayet.json
  domains/refayet.json
Labels: domain

#11693 BETA: Register gachugu.is-a.dev
  domains/gachugu.json
Labels: domain

#11697 BETA: Register gee.is-a.dev
  domains/gee.json
Labels: domain

#11690 BETA: Register dreni.is-a.dev
  domains/dreni.json
Labels: domain

#11711 Update dracx.json
  domains/dracx.json
Labels: domain

#11712 BETA: Register badend.is-a.dev
  domains/badend.json
Labels: domain

#11715 BETA: Register pic.is-a.dev
  domains/pic.json
Labels: domain

#11716 BETA: Register thikhathali.is-a.dev
  domains/thikhathali.json
Labels: domain

#11717 add my 2 deleted domains :(
  domains/imad.json
  domains/imd.json
Labels: domain

#11720 BETA: Register catfein.is-a.dev
  domains/catfein.json
Labels: domain

#11732 Rename xiro.is-a.dev to owofied.is-a.dev
  domains/owofied.json
Labels: domain

#11638 BETA: Register grusio.is-a.dev
  domains/grusio.json
Labels: domain

#11530 BETA: Register fajox.is-a.dev
  domains/fajox.json
Labels: domain

#11723 BETA: Register nonam4lol.is-a.dev
  domains/nonam4lol.json
Labels: domain

#11721 BETA: Register kazuoyk.is-a.dev
  domains/kazuoyk.json
Labels: domain

#11736 BETA: Register misha.is-a.dev
  domains/misha.json
Labels: domain

#11738 dns record for discord website connection
  domains/_discord.adoqet.json
Labels: domain

#11752 Update juqwtf.json
  domains/juqwtf.json
Labels: domain

#11759 BETA: Register vornexx.is-a.dev
  domains/vornexx.json
Labels: domain

#11734 BETA: Register _discord.chaotic.is-a.dev
  domains/_discord.chaotic.json
Labels: domain

#11766 feat: support dmarc records
  tests/validations.test.js
  utils/invalid-domains.json
  utils/validations.js
Labels: ci, maintainer

#11781 BETA: Register cdn.vornexx.is-a.dev
  domains/cdn.vornexx.json
Labels: domain

#11784 Register gavingogaming.is-a.dev
  domains/gavingogaming.json
Labels: domain

#11775 BETA: Register vxj.is-a.dev
  domains/vxj.json
Labels: domain

#11774 BETA: Register shahjada.is-a.dev
  domains/shahjada.json
Labels: domain

#11770 BETA: Register _discord.gioco.is-a.dev
  domains/_discord.gioco.json
Labels: domain

#11769 BETA: Register ians.is-a.dev
  domains/ians.json
Labels: domain

#11779 BETA: Register lazizbek.is-a.dev
  domains/lazizbek.json
Labels: domain

#11756 BETA: Register choukseaaryan.is-a.dev
  domains/choukseaaryan.json
Labels: domain

#11746 BETA: Register brandgrandreal.is-a.dev
  domains/brandgrandreal.json
Labels: domain

#11742 BETA: Register dohyun.is-a.dev
  domains/dohyun.json
Labels: domain

#11741 BETA: Register boseong.is-a.dev
  domains/boseong.json
  domains/paperstar.json
Labels: domain

#11740 BETA: Register ikjun.is-a.dev
  domains/ikjun.json
Labels: domain

#11729 BETA: Register plumsy.is-a.dev
  domains/plumsy.json
Labels: domain

#11726 BETA: Register sky-bridge.is-a.dev
  domains/sky-bridge.json
Labels: domain

#11722 BETA: Register note.is-a.dev
  domains/note.json
Labels: domain

#11767 Create _discord.urging.json
  domains/_discord.urging.json
Labels: domain

#11790 BETA: Register apgyorfi.is-a.dev
  domains/apgyorfi.json
Labels: domain

#11795 BETA: Register xenside.is-a.dev
  domains/xenside.json
Labels: domain

#11791 BETA: Register ryanisyyds.is-a.dev
  domains/ryanisyyds.json
Labels: domain

#11796 BETA: Register saxon.is-a.dev
  domains/saxon.json
Labels: domain

#11798 BETA: Register larp.is-a.dev
  domains/larp.json
Labels: domain

#11803 BETA: Register jerz.is-a.dev
  domains/_github-pages-challenge-JerBlox.jer.json
  domains/jer.json
Labels: domain

#11777 BETA: Register ki.is-a.dev
  domains/ki.json
Labels: domain

#11814 Create _github-pages-challenge-vikramisdev.vikramisdev.json
  domains/_github-pages-challenge-vikramisdev.vikramisdev.json
Labels: domain

#11813 Update vikram.json
  domains/vikram.json
Labels: domain

#11825 BETA: Register fluor.is-a.dev
  domains/fluor.json
Labels: domain

#11833 Register zipline.akshtt.is-a.dev
  domains/zipline.akshtt.json
Labels: domain

#11832 Delete cdn.vornexx.is-a.dev
  domains/_discord.xiaoxi-tw.json
  domains/files.vornexx.json
Labels: domain

#11831 BETA: Register yunus.is-a.dev
  domains/yunus.json
Labels: domain

#11824 BETA: Register oogway.is-a.dev
  domains/oogway.json
Labels: domain

#11815 BETA: Register asnct.is-a.dev
  domains/asnct.json
Labels: domain

#11828 BETA: Register _discord.brandgrandreal.is-a.dev
  domains/_discord.brandgrandreal.json
  domains/sx.brandgrandreal.json
Labels: domain

#11817 BETA: Register cdn.haru.ki.is-a.dev
  domains/cdn.haru.ki.json
Labels: domain

#11841 Register cdn.akshtt.is-a.dev
  domains/cdn.akshtt.json
Labels: domain

#11810 BETA: Register manastripathi.is-a.dev
  domains/manastripathi.json
Labels: domain

#11844 Register divyanshudhruv.is-a.dev
  domains/divyanshudhruv.json
Labels: domain, reason: invalid file

#11776 Update lukass.is-a.dev
  domains/lukass.json
Labels: domain

#11807 BETA: Register techbot.is-a.dev
  domains/techbot.json
Labels: domain

#11818 BETA: Register iamlazylll.is-a.dev
  domains/iamlazylll.json
Labels: domain

#11859 BETA: Register mystic.trung.is-a.dev
  domains/mystic.trung.json
Labels: domain

#11852 Update discdefender.json
  domains/discdefender.json
Labels: domain

#11835 BETA: Register ja.is-a.dev
  domains/ja.json
  domains/jsjack.json
Labels: domain

#11905 Delete files.vornexx.is-a.dev
  domains/files.vornexx.json
  domains/vornexx.json
Labels: domain

#11907 BETA: Register vornexx.is-a.dev
  domains/files.vornexx.json
  domains/vornexx.json
Labels: domain

#11888 BETA: Register uptime.trung.is-a.dev
  domains/uptime.trung.json
Labels: domain

#11819 BETA: Register rl.is-a.dev
  domains/rl.json
Labels: domain

#11890 Delete zipline.akshtt.is-a.dev
  domains/cdn.akshtt.json
  domains/zipline.akshtt.json
Labels: domain

#11914 BETA: Register links.trung.is-a.dev
  domains/links.trung.json
Labels: domain

#11899 Update adoqet.json
  domains/adoqet.json
Labels: domain

#11882 BETA: Register rbg.brandgrandreal.is-a.dev
  domains/rbg.brandgrandreal.json
  domains/share.brandgrandreal.json
Labels: domain

#11855 BETA: Register baka.is-a.dev
  domains/baka.json
Labels: domain

#11931 Create manav.json
  domains/manav.json
Labels: domain

#11866 BETA: Register bigtime.is-a.dev
  domains/bigtime.json
Labels: domain

#11928 BETA: Register kotelek.is-a.dev
  domains/kotelek.json
Labels: domain

#11891 Register infinotiver.is-a.dev and delete prakarsh.is-a.dev
  domains/infinotiver.json
  domains/prakarsh.json
Labels: domain

#11935 Register lachsfilet.is-a.dev
  domains/lachsfilet.json
Labels: domain

#11987 BETA: Register shad.is-a.dev
  domains/shad.json
Labels: domain

#11962 added skulix.json file to domains folder
  domains/skulix.json
Labels: domain

#11863 Create axeon.json
  domains/axeon.json
  domains/blast.json
Labels: domain

#11944 BETA: Register duzo.is-a.dev
  domains/duzo.json
Labels: domain

#11983 BETA: Register ryo.is-a.dev
  domains/ryo.json
Labels: domain

#11969 Update discdefender.json
  domains/discdefender.json
Labels: domain

#11964 Delete domains/_github-pages-challenge-DiscDefender.discdefender.json
  domains/_github-pages-challenge-DiscDefender.discdefender.json
Labels: domain

#11963 feat(domain): update personal website description and CNAME
  domains/badend.json
Labels: domain

#12000 BETA: Register mongodb.trung.is-a.dev
  domains/mongodb.trung.json
  domains/newyear.trung.is-a.dev.json
Labels: domain

#11992 BETA: Register carpodi.is-a.dev
  domains/carpodi.json
Labels: domain

#11991 BETA: Register markblum.is-a.dev
  domains/markblum.json
Labels: domain

#11989 BETA: Register fliberd.is-a.dev
  domains/fliberd.json
Labels: domain

#12004 BETA: Register docs.trung.is-a.dev
  domains/docs.trung.json
Labels: domain

#11893 BETA: Register shamil.is-a.dev
  domains/shamil.json
Labels: domain

#12006 Create img.cutedog5695.json
  domains/img.cutedog5695.json
Labels: domain

#11785 dimanet.is-a.dev
  domains/dimanet.json
Labels: domain

#11887 BETA: Register hridimay.is-a.dev
  domains/hridimay.json
Labels: domain

#12001 BETA: Register _discord.axviii3.is-a.dev
  domains/_discord.axviii3.json
Labels: domain

#12018 BETA: Register nexsphere.is-a.dev
  domains/nexsphere.json
Labels: domain

#11986 BETA: Register sitetransform.is-a.dev
  domains/sitetransform.json
Labels: domain

#12007 Register toby.is-a.dev
  domains/toby.json
Labels: domain

#12002 BETA: Register aixiaoji.is-a.dev
  domains/aixiaoji.json
Labels: domain

#11862 Domain creation
  domains/nithin.json
Labels: domain

#11848 BETA: Register titan.is-a.dev
  domains/titan.json
Labels: domain

#11849 BETA: Register ignasius.is-a.dev
  domains/ignasius.json
Labels: domain

#11854 BETA: Register axe.is-a.dev
  domains/axe.json
Labels: domain

#11857 BETA: Register siwon.is-a.dev
  domains/siwon.json
Labels: domain

#11865 BETA: Register lengyandong.is-a.dev
  domains/lengyandong.json
Labels: domain

#11870 BETA: Register lewis.is-a.dev
  domains/lewis.json
Labels: domain

#11942 BETA: Register shubham1806.is-a.dev
  domains/shubham1806.json
Labels: domain

#11923 Register goguardian.is-a.dev
  domains/goguardian.json
  domains/mosaic.json
Labels: domain

#11940 Update status.jzitnik.json
  domains/status.jzitnik.json
Labels: domain

#11943 Update oxmc.json
  domains/oxmc.json
Labels: domain

#11925 BETA: Register haste.brandgrandreal.is-a.dev
  domains/haste.brandgrandreal.json
  domains/vpn.brandgrandreal.json
Labels: domain

#12010 BETA: Register luki.is-a.dev
  domains/luki.json
Labels: domain

#12028 BETA: Register 200anxy.is-a.dev
  domains/200anxy.json
Labels: domain

#12031 Update my github username so that the domain actually shows up on manage.is-a.dev
  domains/_discord.orange.json
  domains/orange.json
Labels: domain

#11809 BETA: Register me.is-a.dev
  domains/me.json
Labels: domain

#11889 BETA: Register chutte.is-a.dev
  domains/chutte.json
Labels: domain

#11902 BETA: Register theo.is-a.dev
  domains/theo.json
Labels: domain

#11909 BETA: Register natewashburn.is-a.dev
  domains/natewashburn.json
Labels: domain

#11900 BETA: Register lilith.is-a.dev
  domains/lilith.json
Labels: domain

#12040 Delete vpn.brandgrandreal.is-a.dev
  domains/vpn.brandgrandreal.json
Labels: domain

#11881 BETA: Register sadgabi.is-a.dev
  domains/sadgabi.json
Labels: domain

#11886 BETA: Register ronnie.is-a.dev
  domains/ronnie.json
Labels: domain

#11918 BETA: Register zuygui.is-a.dev
  domains/zuygui.json
Labels: domain

#11920 BETA: Register darvingaba.is-a.dev
  domains/darvingaba.json
Labels: domain

#11953 BETA: Register effex.is-a.dev
  domains/effex.json
Labels: domain

#11975 BETA: Register devendra.is-a.dev
  domains/devendra.json
Labels: domain

#11952 BETA: Register fathulfahmy.is-a.dev
  domains/fathulfahmy.json
Labels: domain

#12047 BETA: Register pb.brandgrandreal.is-a.dev
  domains/pb.brandgrandreal.json
Labels: domain, reason: invalid file

#12025 BETA: Register haizad.is-a.dev
  domains/haizad.json
Labels: domain

#12026 BETA: Register miladamiri.is-a.dev
  domains/miladamiri.json
Labels: domain

#12041 BETA: Register tk.is-a.dev
  domains/tk.json
Labels: domain

#12039 BETA: Register 2giosangmitom.is-a.dev
  domains/2giosangmitom.json
Labels: domain, reason: inaccessible website

#12057 Register rrcoder0167.is-a.dev
  domains/rrcoder0167.json
Labels: domain

#11872 Register frenzy.is-a.dev
  domains/frenzy.json
Labels: domain, stale

#11874 BETA: Register ngt.is-a.dev
  domains/ngt.json
Labels: domain, stale

#12033 Create ctrlraul.json
  domains/ctrlraul.json
Labels: domain
