Repository is-a-dev/register, pull requests merged in 2024-10, with the labels that each got.

#16376 Update lousybot.vulpine.json
  domains/lousybot.vulpine.json
Labels: domain, reason: inaccessible website

#16385 Register _vercel.mcstatus.is-a.dev
  domains/_vercel.mcstatus.json
  domains/in.mcstatus.json
Labels: domain

#16389 Revert "delete other domains"
  domains/_discord.ashishagarwal.json
  domains/ashishagarwal.json
  domains/ashishagr.json
Labels: domain

#16382 Rename codewithgem.json to gemrey13.json
  domains/gemrey13.json
Labels: domain

#16393 Record change
  domains/ukasimov.json
Labels: domain

#16395 Create bhushann.json
  domains/bhushann.json
Labels: domain

#16391 Create bhushann.json
  domains/bhushann.json
Labels: domain, reason: merge conflict

#16400 Rename bhushann.json to bhushankhopkarr.json
  domains/bhushankhopkarr.json
Labels: domain, r: orangc

#16397 Create ashuthosh.json
  domains/ashuthosh.json
Labels: domain, r: orangc

#16383 Create aryaejoumalai.json
  domains/aryaejoumalai.json
Labels: domain, r: orangc

#16404 update my ip
  domains/dinokhoa.json
Labels: domain

#16402 nvyrsta
  domains/nvyrsta.json
Labels: domain, status: needs preview

#16414 Register img.juststudio.is-a.dev
  domains/img.juststudio.json
Labels: domain

#16418 Delete niper.is-a.dev
  domains/niper.json
Labels: domain

#16422 Create devhanza.json
  domains/devhanza.json
Labels: domain

#16424 Update _github-pages-challenge-DevHanza.hansana.json
  domains/_github-pages-challenge-DevHanza.hansana.json
Labels: domain

#16423 (hansana.json) AAAA Records Added to
  domains/hansana.json
Labels: domain

#16426 Update README.md once again since we don't have level 3 boost anymore
  README.md
Labels: maintainer

#16429 Requesting new domain
  domains/bennett1412.json
Labels: domain

#16431 Rename gemrey13.json to codewithgem.json
  domains/codewithgem.json
Labels: domain

#16435 Register _discord.e.is-a.dev
  domains/_discord.e.json
Labels: domain

#16440 Create vps.quincetart10.json
  domains/vps.quincetart10.json
Labels: domain

#16441 Register luoxh.is-a.dev
  domains/luoxh.json
Labels: domain, status: needs preview

#16446 Register theheavy.is-a.dev
  domains/theheavy.json
Labels: domain, reason: invalid records

#16448 Create _discord.krishanu.json
  domains/_discord.krishanu.json
Labels: domain

#16433 Create hackqd.json
  domains/hackqd.json
Labels: domain, reason: incomplete website

#16420 fix
  domains/blindstudios.json
  domains/vercelstats.json
Labels: domain, status: needs preview

#16434 Create _discord.ploszukiwacz.json
  domains/_discord.ploszukiwacz.json
Labels: domain

#16449 Formuna - Linux Subdomain (Vercel)
  domains/_vercel.linux.formuna.json
  domains/linux.formuna.json
Labels: domain, r: orangc

#16456 Register rabug.is-a.dev
  domains/rabug.json
Labels: domain

#16454 Create www.udhaya.json
  domains/www.udhaya.json
Labels: domain

#16428 Register efe-esxi.is-a.dev
  domains/efe-esxi.json
Labels: domain, reason: invalid records, reason: inaccessible website

#16459 Renamed _vercel.linux.formuna to _vercel.formuna
  domains/_vercel.formuna.json
Labels: domain

#16460 Register Ash.is-a.dev
  domains/ash.json
Labels: domain

#16437 seiko
  domains/seiko.json
Labels: domain, reason: invalid records

#16463 Create _vercel.seiko.json
  domains/_vercel.seiko.json
Labels: domain

#16461 Create quantummapleqc.json
  domains/quantummapleqc.json
Labels: domain

#16465 Update seiko.json
  domains/seiko.json
Labels: domain

#16470 Create _vercel.ash.json
  domains/_vercel.ash.json
Labels: domain

#16472 Register andreijiroh.is-a.dev
  domains/andreijiroh.json
Labels: domain

#16452 Register huygd.is-a.dev subdomain
  domains/huygd.json
  domains/huygmd-is-a-dev.json
Labels: domain

#16488 Create cdn.mkeko.json
  domains/cdn.mkeko.json
Labels: domain

#16493 Update lua.json
  domains/lua.json
Labels: domain

#16492 Create www.lua.json
  domains/www.lua.json
Labels: domain

#16489 Update seiko.json
  domains/seiko.json
Labels: domain

#16476 Register shreyas.is-a.dev
  domains/shreyas.json
Labels: domain

#16494 Register mahdiruiz.is-a.dev
  domains/mahdiruiz.json
Labels: domain, r: orangc

#16483 Create julian.json
  domains/julian.json
Labels: domain, r: orangc

#16481 Register corruptedarc.is-a.dev
  domains/corruptedarc.json
Labels: domain, r: orangc

#16497 Create private.shockbs.json
  domains/private.shockbs.json
Labels: domain

#16495 Update saxophone.json
  domains/blog.saxophone.json
  domains/me.saxophone.json
  domains/saxophone.json
Labels: domain

#16482 Register jshlyzxl.is-a.dev
  domains/jshlyzxl.json
Labels: domain, r: orangc

#16487 Create win64.json
  domains/win64.json
Labels: domain

#16490 Register shirishshinde.is-a.dev
  domains/shirishshinde.json
Labels: domain

#16510 Added arungeorgesaji.json
  domains/arungeorgesaji.json
Labels: domain

#16508 Create rpinix.cupglass.is-a.dev and vercel verification
  domains/_vercel.rpinix.cupglass.json
  domains/rpinix.cupglass.json
Labels: domain, r: orangc

#16502 Register crazo7924.is-a.dev
  domains/crazo7924.json
Labels: domain, r: orangc

#16514 Register rimikocommunity.is-a.dev
  domains/rimikocommunity.json
Labels: domain

#16511 Rename _vercel.rpinix.cupglass.json to _vercel.cupglass.json
  domains/_vercel.cupglass.json
Labels: domain

#16516 crazo7924: add some DNS records
  domains/crazo7924.json
Labels: domain

#16519 Register bwkam.is-a.dev
  domains/bwkam.json
Labels: domain

#16512 Add dpi0.json
  domains/dpi0.json
Labels: domain

#16522 Update - Redirect
  domains/dinokhoa.json
Labels: domain

#16499 Update rabug.json
  domains/_vercel.rabug.json
  domains/rabug.json
Labels: domain, r: orangc

#16506 Register rafa.is-a.dev
  domains/rafa.json
Labels: domain, reason: inaccessible website, r: orangc

#16520 Delete rimikocommunity.is-a.dev
  domains/rimiko.json
  domains/rimikocommunity.json
Labels: domain

#16521 update crazo7924
  domains/blog.crazo7924.json
  domains/crazo7924.json
Labels: domain

#16524 Register windowsed.is-a.dev
  domains/windowsed.json
Labels: domain

#16526 Domain changes to a new hosting
  domains/minecraft.urging.json
  domains/urging.json
  domains/vscode.urging.json
Labels: domain

#16529 Register monkey3three.is-a.dev
  domains/monkey3three.json
Labels: domain

#16530 blog.crazo7924: use A record instead
  domains/blog.crazo7924.json
Labels: domain

#16535 Create lamps-dev.json
  domains/lamps-dev.json
Labels: domain

#16536 Register hazy.is-a.dev
  domains/hazy.json
Labels: domain

#16534 Update mc.sono.json
  domains/mc.sono.json
Labels: domain

#16533 Register _vercel.blog.crazo7924.is-a.dev
  domains/_vercel.blog.crazo7924.json
  domains/blog.crazo7924.json
Labels: domain

#16537 Create abhay.json
  domains/abhay.json
Labels: domain, reason: incomplete website, reason: invalid records

#16540 jvdesign.is-a.dev
  domains/jvdesign.json
Labels: domain

#16542 Delete _vercel.blog.crazo7924.is-a.dev
  domains/_vercel.blog.crazo7924.json
Labels: domain

#16543 Create reda.json
  domains/reda.json
Labels: domain

#16541 Name Change And Site name change
  domains/plug.json
Labels: domain

#16547 Create blog.hafi.json
  domains/blog.hafi.json
Labels: domain

#16552 Register toadvillebay.is-a.dev
  domains/toadvillebay.json
Labels: domain

#16551 Register zedfr.is-a.dev
  domains/zedfr.json
Labels: domain

#16549 Create _vercel.cesarmr.json
  domains/_vercel.cesarmr.json
Labels: domain

#16550 Register harvey.is-a.dev
  domains/harvey.json
Labels: domain

#16544 Update and rename mithilesh.json to _github-pages-challenge-kingsmen7…
  domains/_github-pages-challenge-kingsmen732.mithilesh.json
Labels: domain

#16555 Register alvin.is-a.dev
  domains/_vercel.alvin.json
  domains/alvin.json
Labels: domain, r: orangc

#16554 GitHub verification JVDesignBavaria
  domains/_github-pages-challenge-JVDesignBavaria.json
Labels: domain

#16562 Register sanjay123.is-a.dev
  domains/sanjay123.json
Labels: domain

#16563 Register _vercel.crazo7924.is-a.dev
  domains/_vercel.crazo7924.json
Labels: domain

#16561 Register chess.is-a.dev
  domains/chess.json
Labels: domain

#16564 Register waffle.is-a.dev
  domains/waffle.json
Labels: domain

#16568 crazo7924: add a TXT record for spf verification
  domains/crazo7924.json
Labels: domain

#16567 Register fatlum.is-a.dev
  domains/fatlum.json
  domains/lumi.json
Labels: domain

#16573 add ryan.json
  domains/ryan.json
Labels: domain, reason: invalid social, reason: invalid records, reason: invalid file

#16579 Github verification naming issue fixed
  domains/_github-pages-challenge-JVDesignBavaria.jvdesign.json
Labels: domain, r: orangc

#16575 Register _vercel.mantou.is-a.dev
  domains/_vercel.mantou.json
Labels: domain, r: orangc

#16569 reda.is-a.dev
  domains/_vercel.reda.json
  domains/reda.json
Labels: domain, r: orangc

#16580 redaassemghor
  domains/_vercel.redaassemghor.json
  domains/redaassemghor.json
Labels: domain

#16577 Register lackingcats.is-a.dev
  domains/lackingcats.json
Labels: domain

#16585 Update ziyn.json
  domains/ziyn.json
Labels: domain

#16578 Register kml.is-a.dev
  domains/kml.json
Labels: domain, reason: inaccessible website, r: orangc

#16582 Create _github-pages-challenge-abiapp789.json
  domains/_github-pages-challenge-abiapp789.json
Labels: domain

#16591 Register noise.i-a-dev
  domains/noise.json
Labels: domain, r: orangc

#16584 Register earth.is-a.dev
  domains/earth.json
Labels: domain, r: orangc

#16592 Register dawngs.is-a.dev
  domains/dawngs.json
Labels: domain, r: orangc

#16594 Delete domains/glitchblog.mrdev88.json
  domains/glitchblog.mrdev88.json
Labels: domain, r: orangc

#16598 Register khushpatil.is-a.dev
  domains/khushpatil.json
Labels: domain

#16599 Create mail.lumix.json
  domains/mail.lumix.json
Labels: domain

#16602 Subdomain register request
  domains/uldoge.json
Labels: domain, r: orangc

#16613 Create gs.json
  domains/gs.json
Labels: domain

#16611 Create _discord.lingle.json
  domains/_discord.lingle.json
Labels: domain

#16597 Create ujjwal.json
  domains/ujjwal.json
Labels: domain, reason: invalid records

#16607 Register caenjones.is-a.dev
  domains/caenjones.json
Labels: domain

#16608 Register dgs.is-a.dev
  domains/dgs.json
Labels: domain, r: orangc

#16616 Github pages registration
  domains/_github-pages-challenge-Fluffythebunny.json
  domains/fluffythebunny.json
Labels: domain, r: orangc

#16628 ReRegister NS
  domains/om.json
Labels: domain, maintainer, r: om.senjalia

#16621 Register potatoenergy
  domains/potatoenergy.json
Labels: domain

#16623 Update records!
  domains/deko.json
  domains/uk.json
  domains/ukrio.json
  domains/ukriu.json
Labels: domain

#16624 Register Domain
  domains/kushdhingra.json
Labels: domain

#16637 DIBBY DOMAIN YAY.
  domains/dib.json
Labels: maintainer

#16620 Register luisalejandrobf
  domains/_vercel.luisalejandrobf.json
  domains/luisalejandrobf.json
Labels: domain

#16641 Update dnsconfig.js
  dnsconfig.js
Labels: ci, maintainer

#16640 Change all cupglass.json to be NS'ed by cloudflare
  domains/cupglass.json
  domains/forum.cupglass.json
  domains/pi.cupglass.json
  domains/rpinix.cupglass.json
Labels: domain

#16629 Update maskduck.json
  domains/maskduck.json
Labels: domain, status: awaiting maintainer decision, do not merge

#16647 Update esb.json
  domains/esb.json
Labels: domain

#16649 proxies :O
  domains/6.json
  domains/api.shockbs.json
  domains/docs.shockbs.json
  domains/g.shockbs.json
  domains/gg.shockbs.json
  domains/private.shockbs.json
  domains/shock.json
  domains/shockbs.json
  domains/status.shockbs.json
Labels: domain

#16651 chore: add vaibhav.json
  domains/vaibhav.json
Labels: domain, maintainer

#16656 Register NS records on smart.is-a.dev
  domains/smart.json
Labels: domain

#16673 Update alecks.json cname target and add cf proxy
  domains/alecks.json
Labels: domain

#16675 Remove raikan.json and create fenrir.json
  domains/fenrir.json
Labels: domain

#16646 Username and site name change
  domains/tensorgenius.json
Labels: domain

#16650 Register thiennb.is-a.dev
  domains/thiennb.json
Labels: domain

#16658 Delete fatlum.is-a.dev
  domains/fatlum.json
Labels: domain

#16659 Update udhaya.json
  domains/udhaya.json
Labels: domain

#16663 Register celesta.is-a.dev
  domains/celesta.json
Labels: domain, reason: invalid file

#16667 Fixed cname
  domains/tycho10101.json
Labels: domain

#16670 Move sewt.is-a.dev to my own server
  domains/sewt.json
Labels: domain

#16669 Kick ass pull request
  domains/_vercel.cryptid.json
  domains/cryptid.json
Labels: domain

#16604 Register tabby.is-a.dev
  domains/tabby.json
Labels: domain, r: orangc

#16686 Disable proxying.
  domains/sewt.json
Labels: domain

#16661 Register _vercel.sampath.is-a.dev
  domains/_vercel.sampath.json
  domains/sampath.json
Labels: domain

#16677 Register 7.is-a.dev
  domains/7.json
Labels: domain

#16680 Update omshahane.json
  domains/omshahane.json
Labels: domain

#16695 Made changes to 2 of my pages
  domains/_discord.bob16077.json
  domains/chess.bob16077.json
Labels: domain

#16696 Register asteral.is-a.dev
  domains/asteral.json
Labels: domain

#16698 Register jon.is-a.dev
  domains/jon.json
Labels: domain

#16699 Deleted mc.sewt.is-a.dev and re-enabling proxying on sewt.is-a.dev because it's not the reason why my Apache server is timeout.
  domains/mc.sewt.json
  domains/sewt.json
Labels: domain

#16700 Register async.json
  domains/async.json
Labels: domain

#16703 Create law.udhaya.json
  domains/law.udhaya.json
Labels: domain
