Repository is-a-dev/register, pull requests merged in 2024-05, with the labels that each got.

#13728 BETA: Register django.is-a.dev
  domains/django.json
Labels: domain

#13732 BETA: Register chgeo.is-a.dev
  domains/chgeo.json
Labels: domain

#13734 Register mrdiamond.is-a.dev
  domains/_github-pages-challenge-MrDiamondDog.mrdiamond.json
Labels: domain

#13725 BETA: Register live.is-a.dev
  domains/live.json
Labels: domain

#13764 Update letters.json
  domains/letters.json
Labels: domain

#13761 BETA: Register archon.is-a.dev
  domains/archon.json
Labels: domain

#13760 BETA: Register soamtripathy.is-a.dev
  domains/soamtripathy.json
Labels: domain

#13766 Create meters.dalpex.json
  domains/meters.dalpex.json
Labels: domain

#13757 Register realityleaks.is-a.dev
  domains/realityleaks.json
Labels: domain

#13748 update
  domains/akshtt.json
  domains/lavalink.akshtt.json
  domains/palak.json
Labels: domain, reason: inaccessible website

#13776 BETA: Register creeperita104.is-a.dev
  domains/creeperita104.json
Labels: domain

#13782 BETA: Register 57.is-a.dev
  domains/57.json
Labels: domain

#13767 BETA: Register betsthebest.is-a.dev
  domains/betsthebest.json
Labels: domain

#13787 Update l7neg.json
  domains/l7neg.json
Labels: domain

#13790 Register chess.bob16077.is-a.dev
  domains/chess.bob16077.json
Labels: domain

#13788 BETA: Register dae.is-a.dev
  domains/dae.json
Labels: domain

#13742 BETA: Register namkun.is-a.dev
  domains/api.namkun.json
  domains/namkun.json
Labels: domain, reason: invalid file

#13781 BETA: Register sharan.is-a.dev
  domains/sharan.json
Labels: domain, reason: inaccessible website

#13747 Update sharanvasoya.json
  domains/sharanvasoya.json
Labels: domain

#13808 Create dcnlxh.maskduck.json
  domains/dcnlxh.maskduck.json
Labels: domain

#13809 Update dcnlxh.maskduck.json
  domains/dcnlxh.maskduck.json
Labels: domain

#13812 Update thedt.json
  domains/thedt.json
Labels: domain

#13816 Create dev.wilbur.json
  domains/dev.wilbur.json
Labels: domain

#13815 Create _github-pages-challenge-LIGMATV.ligmatv.json
  domains/_github-pages-challenge-LIGMATV.ligmatv.json
Labels: domain

#13818 Create undefined.json
  domains/undefined.json
Labels: domain

#13804 BETA: Register stephen-adeniji.is-a.dev
  domains/stephen-adeniji.json
Labels: domain, reason: invalid records

#13817 BETA: Register uptime.dangnat.is-a.dev
  domains/762.json
Labels: domain

#13826 Shutdown Analytics
  domains/analytics.json
Labels: domain

#13829 Create bukumark.json
  domains/bukumark.json
Labels: domain

#13827 Delete MANAGE SITE
  domains/manage.json
Labels: domain

#13828 Delete andrew.is-a.dev
  domains/andrew.json
Labels: domain

#13819 @ahammednibras8 want to register his domain
  domains/ahammednibras.json
Labels: domain

#13834 Register zb60458066.klent.is-a.dev
  domains/zb60458066.klent.json
Labels: domain

#13836 hi
  domains/nerd.json
Labels: domain

#13837 Register ashishji.is-a.dev domain
  domains/ashishji.json
Labels: domain

#13839 Update undefined.json for ImprovMX
  domains/undefined.json
Labels: domain

#13842 Deleted the duplicate file
  domains/_github-pages-challenge-anshbhimani.anshbhimani.json
Labels: domain

#13832 Create _github-pages-challenge-crischutu07.crischutu07.is-a.dev.json
  domains/_github-pages-challenge-crischutu07.crischutu07.json
Labels: domain

#13844 finish manage site sunset
  README.md
  domains/manage.json
  domains/register.json
Labels: maintainer

#13848 'canavan' subdomain registration
  domains/canavan.json
Labels: domain

#13846 register joetroll.is-a.dev
  domains/blog.joetroll.json
  domains/joetroll.json
Labels: domain

#13840 Create shatanik.json
  domains/shatanik.json
Labels: domain

#13841 Create sabbir.json
  domains/sabbir.json
Labels: domain

#13861 Update juqwtf.json
  domains/_github-pages-challenge-denboy0123.juqwtf.json
  domains/juqwtf.json
Labels: domain

#13858 fix: fptbb.json
  domains/fptbb.json
Labels: domain

#13856 Register skibidi.is-a.dev
  domains/skibidi.json
Labels: domain

#13845 Update crischutu07.json
  domains/crischutu07.json
Labels: domain

#13866 Create asterisk.json
  domains/asterisk.json
Labels: domain

#13867 Register getsono.is-a.dev
  domains/getsono.json
Labels: domain

#13870 Create aakashuuuu.json
  domains/aakashuuuu.json
Labels: domain

#13871 Change name for subdomain "fluid" to "ann"
  domains/ann.json
Labels: domain

#13874 Update MAINTAINERS.md
  MAINTAINERS.md
Labels: maintainer

#13875 CNAME record
  domains/stephen-adeniji.json
Labels: domain

#13879 Register uuphoria2.is-a.dev
  domains/uuphoria2.json
Labels: domain

#13881 Create _github-pages-challenge-uuphoria2.uuphoria2.json
  domains/_github-pages-challenge-uuphoria2.uuphoria2.json
Labels: domain

#13880 Register alexd.is-a.dev
  domains/alexd.json
Labels: domain

#13884 Create rajveer.json
  domains/rajveer.json
Labels: domain

#13885 register nikenhapsari.is-a.dev
  domains/nikenhapsari.json
Labels: domain

#13876 wtfchirag domain name register
  domains/wtfchirag.json
Labels: domain

#13889 feat: add _discord.lewdhutao.json
  domains/_discord.lewdhutao.json
Labels: domain

#13883 Register cycloneaddons.is-a.dev
  domains/cycloneaddons.json
Labels: domain, reason: incomplete website

#13893 Register untitled.is-a.dev
  domains/untitled.json
Labels: domain

#13886 Register joao-silva.is-a.dev
  domains/joao-silva.json
Labels: domain

#13868 chore: Add MX record and update contact info for nova.is-a.dev
  domains/nova.json
Labels: domain, reason: invalid records

#13892 Register zoosio.is-a.dev
  domains/zoosio.json
Labels: domain

#13896 Edit bukumark.json
  domains/bukumark.json
Labels: domain

#13895 Register senaditya.is-a.dev
  domains/senaditya.json
Labels: domain

#13900 Update windowsbuild3r.json
  domains/windowsbuild3r.json
Labels: domain

#13897 Register prathamesh.is-a.dev
  domains/prathamesh.json
Labels: domain

#13899 Register lumix.is-a.dev
  domains/lumix.json
Labels: domain

#13910 Create _discord.vornexx.json
  domains/_discord.vornexx.json
Labels: domain

#13906 Create _discord.cala.json
  domains/_discord.cala.json
Labels: domain

#13911 Create _discord.blog.vornexx.json
  domains/_discord.blog.vornexx.json
Labels: domain

#13907 Create swenet.json
  domains/swenet.json
Labels: domain

#13903 Register one.is-a.dev
  domains/one.json
Labels: domain

#13905 Create domb.json
  domains/domb.json
Labels: domain

#13912 Delete domains/bukumark.json
  domains/bukumark.json
Labels: domain

#13864 Register miskode.is-a.dev
  domains/miskode.json
Labels: domain, reason: inaccessible website

#13913 CNAME updated to railway value
  domains/subyyal.json
Labels: domain

#13904 Register scoobis.is-a.dev
  domains/scoobis.json
Labels: domain

#13901 Create deepesh.json
  domains/deepesh.json
Labels: domain, reason: invalid file

#13920 update oc.json, orange,json, uwu.json
  domains/oc.json
  domains/orange.json
  domains/uwu.json
Labels: domain

#13921 Register cibucristi.is-a.dev
  domains/cibucristi.json
Labels: domain

#13922 Create _discord.crischutu07.json
  domains/_discord.crischutu07.json
Labels: domain

#13923 Create short.crischutu07.json
  domains/short.crischutu07.json
Labels: domain

#13932 Register hazel.is-a.dev
  domains/hazel.json
Labels: domain, reason: invalid records

#13933 Register mc.minmit.is-a.dev
  domains/mc.minmit.json
Labels: domain

#13915 update twitter address
  domains/saikat.json
Labels: domain

#13935 Add 2 Domains
  domains/door.json
  domains/neighbour.next.door.json
  domains/next.door.json
  domains/the.neighbour.next.door.json
  domains/theneighbournextdoor.json
Labels: domain, reason: invalid file

#13937 Create trix
  domains/trix.json
Labels: domain

#13936 Update killerf.json
  domains/killerf.json
Labels: domain

#13939 Create joesepp.json
  domains/joesepp.json
Labels: domain

#13940 Create _discord.joesepp.json
  domains/_discord.joesepp.json
Labels: domain

#13945 Update MAINTAINERS.md
  MAINTAINERS.md
Labels: maintainer

#13947 Added my domain goyal.is-a.dev
  domains/_discord.goyal.json
  domains/goyal.json
Labels: domain, reason: incomplete website, reason: invalid file

#13949 Add reuel.is-a.dev
  domains/_github-pages-challenge-reuel-k.reuel.json
  domains/reuel.json
Labels: domain

#13951 Register wojtekgame.is-a.dev
  domains/wojtekgame.json
Labels: domain, reason: invalid records

#13953 Create radhesh's domain
  domains/goel.json
Labels: domain

#13956 Create gvl610.json
  domains/gvl610.json
Labels: domain

#13959 Update fafu.json to reflect new username for github pages
  domains/fafu.json
Labels: domain

#13957 Register bako.is-a.dev
  domains/bako.json
Labels: domain

#13963 Create polongdev.json
  domains/polongdev.json
Labels: domain

#13967 Added the UVW Blog's Domain
  domains/uvw.json
Labels: domain

#13965 Create subdomain spacecraft.hexaa.is-a.dev
  domains/spacecraft.hexaa.json
Labels: domain

#13973 Bud Requesting To Be Added
  domains/bud.json
Labels: domain

#13971 Create founderfie.json
  domains/founderfie.json
Labels: domain

#13978 Register b4iterdev.is-a.dev
  domains/b4iterdev.json
Labels: domain

#13970 Register digifriend.is-a.dev
  domains/digifriend.json
Labels: domain

#13979 Create polongdev.json
  domains/polongdev.json
Labels: domain

#13981 Added Domain the-green-light.is-a.dev
  domains/the-green-light.json
Labels: domain

#13988 Create arman.json
  domains/arman.json
Labels: domain

#13990 Create _github-pages-challenge-Rouf0x.json
  domains/_github-pages-challenge-Rouf0x.json
Labels: domain

#13993 Create cdn.arman.json
  domains/cdn.arman.json
Labels: domain

#13992 Create _discord.arman.json
  domains/_discord.arman.json
Labels: domain

#13994 Create _gh-DeadCodeGames-o.deadcode.json
  domains/_gh-DeadCodeGames-o.deadcode.json
Labels: domain

#13997 Created deepraj.json
  domains/deepraj.json
Labels: domain

#13999 Create bernardofoegbu.json
  domains/bernardofoegbu.json
Labels: domain

#14000 Register gg.shockbs.is-a.dev
  domains/gg.shockbs.json
Labels: domain

#14004 Create re.maskduck.json
  domains/re.maskduck.json
Labels: domain

#13952 Create mrstickypiston.json
  domains/mrstickypiston.json
Labels: domain, reason: invalid social

#14008 Register roufox.is-a.dev
  domains/roufox.json
Labels: domain

#14011 Numerius.is-a-dev
  domains/numerius.json
Labels: domain

#14014 Update sono.json
  domains/sono.json
Labels: domain

#14024 Delete fafu.is-a.dev
  domains/fafu.json
Labels: domain

#14019 Register arceus.is-a.dev
  domains/arceus.json
Labels: domain, reason: invalid social, reason: inaccessible website

#14028 discord domain verification - krunch.is-a.dev
  domains/_discord.krunch.json
Labels: domain

#13980 I need to change my ip address for the A record, since I'd put my WSL address before, and wish to change it to my public windows ip.
  domains/digifriend.json
Labels: domain, reason: inaccessible website

#14030 Create dscbmr.json
  domains/dscbmr.json
Labels: domain

#14039 Register zwyz.is-a.dev
  domains/_github-pages-challenge-MadisonWirtanen.zwyz.json
  domains/zwyz.json
Labels: domain

#14045 Register siddharth.is-a.dev
  domains/siddharth.json
Labels: domain

#14022 Create pinkyplant.json
  domains/pinkyplant.json
Labels: domain, reason: incomplete website

#14056 Feat: Edit CNAME
  domains/akbar.json
Labels: domain

#14052 Create nirushan.json
  domains/nirushan.json
Labels: domain

#14054 Register zytre.is-a.dev
  domains/zytre.json
Labels: domain

#14041 Register Nekitori17.is-a.dev
  domains/nekitori17.json
Labels: domain

#14064 Create katz.json
  domains/katz.json
Labels: domain

#14065 register tf
  domains/tf.json
Labels: domain

#14068 Register akki.is-a.dev
  domains/akki.json
Labels: domain

#14058 Register seen.is-a.dev
  domains/seen.json
Labels: domain, r: orangc

#14086 Create koriumm.json
  domains/koriumm.json
Labels: domain

#14085 Delete domains/hongkorium.json
  domains/hongkorium.json
Labels: domain

#14089 Register rose1440.is-a.dev
  domains/rose1440.json
Labels: domain

#14082 Register and Update seen.json
  domains/seen.json
  domains/tracking.seen.json
Labels: domain, reason: invalid file

#14088 Delete 2 domains
  domains/mymail.json
Labels: domain

#14090 Register zaman.is-a.dev domain
  domains/zaman.json
Labels: domain

#14093 Discord Domain Verification
  domains/_discord.meesam.json
Labels: domain

#14091 halo
  domains/_github-pages-challenge-aldnnnz.aldnnnz.json
  domains/aldnnnz.json
Labels: domain

#14094 Register hkdkfih.is-a.dev
  domains/hkdkfih.json
Labels: domain

#14097 update my contact information
  domains/amy.json
Labels: domain

#14100 Update siddharth.json
  domains/siddharth.json
Labels: domain
