Repository is-a-dev/register, pull requests merged in 2024-11, with the labels that each got.

#16879 Register _github-pages-challenge-0pearlcz0.pearlcz.is-a.dev
  domains/_github-pages-challenge-0pearlcz0.pearlcz.json
  domains/pearlcz.json
Labels: domain, reason: invalid records

#16929 Update ciaobot.json & Create ciao287.json
  domains/ciao287.json
  domains/ciaobot.json
Labels: domain, reason: invalid records

#16933 Deleted domains/uptimes.yug.json, not needed anymore!
  domains/uptimes.yug.json
Labels: domain

#16928 update socials and VPS IP
  domains/lunah.json
Labels: domain

#16939 chore: add defaults, move exceptions + rename commit to records
  dnsconfig.js
Labels: ci, maintainer

#16944 Update www.joe50097.json
  domains/www.joe50097.json
Labels: domain

#16910 haft.is-a.dev and mc.haft.is-a.dev
  domains/haft.json
  domains/mc.haft.json
Labels: domain

#16909 Register reaverstudio.is-a.dev
  domains/playreaver.json
Labels: domain

#16916 Create xpr.json
  domains/xpr.json
Labels: domain

#16922 ReCreate really.json
  domains/really.json
Labels: domain

#16936 Want devarnav.is-a.dev domain for my projects
  domains/devarnav.json
Labels: domain

#16943 qui.json
  domains/_github-pages-challenge-quiww.qui.json
  domains/qui.json
Labels: domain

#16945 Create _discord.ciao287.json
  domains/_discord.ciao287.json
Labels: domain

#16950 Sebaslv
  domains/_vercel.sebaslv.json
  domains/sebaslv.json
Labels: domain

#16952 tentomasne.is-a.dev
  domains/_discord.tentomasne.json
  domains/tentomasne.json
Labels: domain

#16953 ghozi.json
  domains/ghozi.json
Labels: domain

#16954 Create obedev.json
  domains/obedev.json
Labels: domain

#16959 Update devarnav.json
  domains/devarnav.json
Labels: domain

#16961 Update chino.json
  domains/chino.json
Labels: domain

#16938 Register zmail._domainkey.crazo7924.json
  domains/zmail._domainkey.crazo7924.json
Labels: domain, reason: invalid file

#16982 Fixed eryquicc.json
  domains/eryquicc.json
Labels: domain

#16979 ...
  domains/vanhzxje.json
Labels: domain

#16983 Patch 6
  domains/_dmarc.ciaobot.json
  domains/autoconfig.ciaobot.json
  domains/autodiscover.ciaobot.json
  domains/ciaobot.json
  domains/dkim._domainkey.ciaobot.json
Labels: domain, reason: invalid records, reason: invalid file

#16964 mano subdomain
  domains/mano.json
Labels: domain

#16970 Delete domains/micorksen.json
  domains/micorksen.json
Labels: domain

#16968 Register schumerism.is-a.dev
  domains/schumerism.json
Labels: domain

#16951 Create pablo.json
  domains/pablo.json
Labels: domain

#16991 Add new domains - llm.fawwaz and fawwaz
  domains/fawwaz.json
  domains/llm.fawwaz.json
Labels: domain

#16996 Removed NS update and updated MX records
  domains/devarnav.json
Labels: domain

#16997 Update ai-y, willy said so.
  domains/ai-y.json
Labels: domain

#17002 created notreallyprince.json
  domains/notreallyprince.json
Labels: domain

#17003 Create ryz.json
  domains/ryz.json
Labels: domain, reason: invalid file

#17001 Create steake.json (#1)
  domains/steake.json
Labels: domain, reason: invalid records

#16988 Create www.schumerism.is-a.dev
  domains/www.schumerism.json
Labels: domain

#16999 Something is breaking parts of my site and I think it's CF Proxy.
  domains/ai-y.json
Labels: domain

#17006 Update shomy.json
  domains/shomy.json
Labels: domain

#17014 Register map.vulcanocraft.is-a.dev
  domains/map.vulcanocraft.json
  domains/plan.vulcanocraft.json
Labels: domain

#17010 Create l.funn.json
  domains/l.funn.json
Labels: domain

#16940 Create vrbz.json
  domains/vrbz.json
Labels: domain

#17033 Add random.is-a.dev
  domains/random.json
Labels: domain

#17018 Create forero.json
  domains/forero.json
Labels: domain

#17021 Create jayasurya.json netlify A record
  domains/jayasurya.json
Labels: domain

#16937 Register thehcj.is-a.dev
  domains/thehcj.json
Labels: domain

#16907 register nyanbrowser.is-a.dev
  domains/nyanbrowser.json
Labels: domain

#17047 Update forero.json
  domains/forero.json
Labels: domain

#17045 Create harshikesh-abhinav.json
  domains/harshikesh-abhinav.json
Labels: domain

#17044 Update and rename luoxh.json to luoxiaohei.json
  domains/luoxiaohei.json
Labels: domain

#17037 Fix my broken site
  domains/me.saxophone.json
  domains/saxophone.json
Labels: domain

#17011 Create cwerl.json
  domains/cwerl.json
Labels: domain, reason: invalid file

#17040 username update
  domains/mishal.json
Labels: domain, r: orangc

#16967 Create blog.shoyeb.json
  domains/blog.shoyeb.json
Labels: domain

#16969 register fakhri.is-a.dev
  domains/fakhri
Labels: domain, reason: invalid records

#16956 Bulk JSONs
  domains/_github-pages-challenge-PrivacySecured.ps.json
  domains/email.ps.json
  domains/l.ps.json
  domains/m.ps.json
  domains/ps.json
Labels: domain, status: needs preview

#16955 Add ari.is-a.dev
  domains/ari.json
Labels: domain, reason: invalid social

#17042 update to netlify subdomain
  domains/rahulps.json
Labels: domain

#17036 Create vikrant.json
  domains/vikrant.json
Labels: domain, r: orangc

#17032 Add dem0n.is-a.dev
  domains/_discord.dem0n.json
  domains/dem0n.json
Labels: domain, r: orangc

#17031 Register playboyfear.is-a.dev
  domains/playboyfear.json
Labels: domain

#17030 Update smeagol.json to my new user info
  domains/smeagol.json
Labels: domain

#17025 please add princexd.vercel.app
  domains/_vercel.princexd.json
  domains/princexd.json
Labels: domain

#17023 updated records from A to CNAME in srlbel.json
  domains/srlbel.json
Labels: domain

#17022 Create tahseen.json
  domains/tahseen.json
Labels: domain, r: orangc

#17017 Register maps.vulcanocraft.is-a.dev
  domains/maps.vulcanocraft.json
  domains/panel.vulcanocraft.json
  domains/playeranalytics.vulcanocraft.json
  domains/status.vulcanocraft.json
Labels: domain

#17012 Create abiels.json
  domains/abiels.json
Labels: domain

#16998 Create nomena.json
  domains/nomena.json
Labels: domain, reason: invalid social

#17049 chore(domains): update gh usernames, remove emails keys, and delete u…
  domains/_discord.oc.json
  domains/_discord.orange.json
  domains/_discord.owo.json
  domains/_discord.uwu.json
  domains/_vercel.uwu.json
  domains/c.json
  domains/oc.json
  domains/orangc.json
  domains/orange.json
  domains/owo.json
  domains/uwu.json
Labels: domain

#17050 Update plan.vulcanocraft.json
  domains/plan.vulcanocraft.json
Labels: domain

#17051 Delete domains/map.vulcanocraft.json
  domains/map.vulcanocraft.json
Labels: domain

#17053 Register realzzy.is-a.dev
  domains/realzzy.json
Labels: domain

#17056 .
  domains/0.json
  domains/_discord.s4il.json
  domains/emvas.s4il.json
Labels: domain

#17055 ppp
  domains/linstall.json
Labels: domain

#17052 Register tunnel.vulcanocraft.is-a.dev
  domains/tunnel.vulcanocraft.json
Labels: domain

#16652 Branch
  domains/lungustefan.json
Labels: domain, status: awaiting maintainer decision

#17035 Create akk1to.json
  domains/akk1to.json
Labels: domain, r: orangc

#17072 Create _discord.akk1to.is-a.dev.json
  domains/_discord.akk1to.json
Labels: domain

#17073 feat(ci): validation
  .github/CODEOWNERS
  .github/workflows/validation.yml
  .gitignore
  dnsconfig.js
  domains/_github-pages-challenge-charmingdisorder.alexey.json
  domains/_vercel.exigent-app.json
  domains/abiapp789.json
  domains/bracketproto.json
  domains/carmelo.json
  domains/email.ps.json
  domains/exigent-app.json
  domains/mail.boolean44.json
  domains/mebius.json
  domains/naffy.json
  domains/nicol.json
  domains/pearlcz.json
  domains/ps.json
  domains/sandbox.json
  domains/sdheeraj.json
  domains/tim.json
  domains/xabdoat.json
  domains/zaid.json
  domains/zer0.json
  domains/zerotwo.json
  package-lock.json
  package.json
  tests/domains.test.js
  tests/json.test.js
  tests/records.test.js
  utils/functions.js
Labels: domain, ci, maintainer

#17070 Create mehul.json
  domains/mehul.json
Labels: domain

#17067 Update yashasviallen.json
  domains/yashasviallen.json
Labels: domain

#17078 Register poldek.is-a.dev
  domains/poldek.json
Labels: domain

#17000 Create dankamigos.json
  domains/dankamigos.json
Labels: domain, r: orangc

#17077 Register utsabadhikari.is-a.dev
  domains/utsabadhikari.json
Labels: domain

#17062 Ririn hq patch 1
  domains/ririn.json
Labels: domain

#17064 Create ac.json
  domains/ac.json
Labels: domain

#17065 Update tahseen.json
  domains/tahseen.json
Labels: domain

#17059 Register jaideep.is-a.dev
  domains/jaideep.json
Labels: domain

#17079 Create betaprj.akk1to.json
  domains/betaprj.akk1to.json
Labels: domain

#17080 Create ai.json
  domains/ai.json
Labels: domain

#17076 Register kartikshriwas.is-a.dev
  domains/kartikshriwas.json
Labels: domain, status: needs preview

#17088 Register devabh.is-a.dev
  domains/devabh.json
Labels: domain

#17097 added mico.is-a.dev
  domains/_vercel.mico.json
  domains/mico.json
Labels: domain

#17082 Update jaideep.json
  domains/jaideep.json
Labels: domain

#17094 Create _discord.betaprj.akk1to.json
  domains/_discord.betaprj.akk1to.json
Labels: domain

#17098 Register for ukino.is-a.dev
  domains/_vercel.ukino.json
  domains/ukino.json
Labels: domain

#17100 Update abiapp789.json
  domains/abiapp789.json
Labels: domain

#17106 Create masseo.json
  domains/masseo.json
Labels: domain, reason: inaccessible website

#17107 Update lungustefan.json
  domains/lungustefan.json
Labels: domain

#17083 Create mail.masseo.json
  domains/mail.masseo.json
Labels: domain

#17109 Update mail.masseo.json
  domains/mail.masseo.json
Labels: domain

#17111 add qxb3 subdomain
  domains/qxb3.json
Labels: domain

#17112 Add princeprajapati.is-a.dev
  domains/_vercel.princeprajapati.json
  domains/princeprajapati.json
Labels: domain

#17113 Create iacoposb.json
  domains/iacoposb.json
Labels: domain, status: awaiting maintainer decision

#17089 Create pele.json
  domains/pele.json
Labels: domain, reason: invalid social, reason: invalid records, reason: inaccessible website

#17084 notjunar.is-a.dev
  domains/notjunar.json
Labels: domain, r: orangc

#17092 Update jayasurya.json netlify A record
  domains/jayasurya.json
Labels: domain, reason: merge conflict

#17114 Register victoria.is-a.dev
  domains/_vercel.victoria.json
  domains/victoria.json
Labels: domain

#17096 Register `anto.is-a.dev`
  domains/_vercel.anto.json
  domains/anto.json
Labels: domain, reason: invalid file

#17108 Create amin.json
  domains/amin.json
Labels: domain, reason: inaccessible website

#17119 Register arshman.is-a.dev
  domains/_vercel.arshman.json
  domains/arshman.json
Labels: domain

#17116 Create mail.boolean44.json
  domains/mail.boolean44.json
Labels: domain

#17121 Add files via upload
  domains/zxlbni.json
Labels: domain

#17123 Update sxi.json // update cname sxi.is-a.dev
  domains/sxi.json
Labels: domain

#17125 Create hxphsts.json
  domains/hxphsts.json
Labels: domain

#17126 Create aynonyme.json
  domains/aynonyme.json
Labels: domain

#17135 Register web.vulcanocraft.is-a.dev
  domains/web.vulcanocraft.json
Labels: domain

#17140 Update username
  domains/_github-pages-challenge-catrinlam.catrin.json
  domains/catrin.json
  domains/www.yourthoughts.catrin.json
  domains/yourthoughts.catrin.json
Labels: domain

#17138 Create rammeghe.json
  domains/rammeghe.json
Labels: domain

#17143 Update sxi.json
  domains/sxi.json
Labels: domain

#17120 Create elora.json
  domains/elora.json
Labels: domain, reason: inaccessible website

#17149 fix issues with TXT records longer than 255 chars
  dnsconfig.js
Labels: ci, maintainer

#17133 Create antoangiaothong.akk1to.json
  domains/antoangiaothong.akk1to.json
Labels: domain, reason: incomplete website

#17095 Create voided.json
  domains/voided.json
Labels: domain

#17141 Create crescentmoon.json
  domains/crescentmoon.json
Labels: domain

#17146 register kagari.is-a.dev
  domains/kagari.json
Labels: domain

#17148 Register v.is-a.dev
  domains/_vercel.v.json
  domains/v.json
Labels: domain

#17152 chore(readme): why is this duplicate badge lying around
  README.md
Labels: maintainer

#17155 Update divyanshudhruv.json
  domains/divyanshudhruv.json
Labels: domain

#17159 Migrating to SimpleLogin
  domains/dhilipan.json
Labels: domain, reason: invalid records

#17171 Disable proxy
  domains/rahulps.json
Labels: domain

#17160 Register Wasi.is-a.dev
  domains/wasi.json
Labels: domain

#17162 Change IP address of my subdomains
  domains/gitea.vinceale7082.json
  domains/vinceale7082.json
Labels: domain

#17158 Updated IP address
  domains/prabhu.json
Labels: domain, reason: incomplete website

#17166 Register my sub domain
  domains/_vercel.z.json
  domains/z.json
Labels: domain

#17165 Domains for my repository docs:)
  domains/ankit-chaubey.json
  domains/ankitchaubey.json
  domains/chaubey.json
Labels: domain

#17163 Register count.is-a.dev
  domains/count.json
Labels: domain

#17172 feat(ci): domains should not reference themselves
  tests/records.test.js
Labels: ci, maintainer

#17173 skip ci option
  .github/workflows/validation.yml
Labels: ci, maintainer

#17175 feat(ci): url records should not reference themselves
  tests/records.test.js
Labels: ci, maintainer

#17179 Add NS record to bulletboy.is-a.dev
  domains/bulletboy.json
Labels: domain

#17180 Update youssef.json
  domains/youssef.json
Labels: domain

#17183 Requesting to delete my record and subdomain
  domains/prabhu.json
Labels: domain

#17185 feat: regsiter flowwing domain
  domains/flowwing.json
Labels: domain

#17186 Update sxi.json
  domains/sxi.json
Labels: domain

#17169 Create lumidevelopment.json
  domains/lumidevelopment.json
Labels: domain, reason: invalid file

#17168 Create qloha.json
  domains/qloha.json
Labels: domain, reason: invalid records

#17189 Create privatekey.json
  domains/privatekey.json
Labels: domain

#17192 Register vgwarden.is-a.dev
  domains/_vercel.vgwarden.json
  domains/vgwarden.json
Labels: domain

#17200 create hujjat.json
  domains/_vercel.hujjat.json
  domains/hujjat.json
Labels: domain

#17201 Sora OS
  domains/sora-os.json
Labels: domain

#17194 Register nifle.is-a.dev
  domains/nifle.json
Labels: domain

#17210 Create _atproto.alvin.json for bluesky verification
  domains/_atproto.alvin.json
Labels: domain
