Repository is-a-dev/register, pull requests merged in 2024-08, with the labels that each got.

#15277 Update README.md
  README.md
Labels: maintainer

#15283 Update justdeveloper.is-a.dev
  domains/justdeveloper.json
Labels: domain

#15279 Create b.json
  domains/b.json
Labels: domain

#15285 Create nothazz.json
  domains/nothazz.json
Labels: domain

#15245 Register zevobla.is-a.dev
  domains/zevobla.json
Labels: domain

#15249 added my domain request
  domains/joyal-jijo.json
Labels: domain

#15256 Create meywy.json
  domains/meywy.json
Labels: domain

#15281 Create nulitas.json
  domains/nulitas.json
Labels: domain

#15292 Update justdeveloper.is-a.dev
  domains/justdeveloper.json
Labels: domain

#15293 Update juststudio.is-a.dev
  domains/juststudio.json
Labels: domain

#15294 Register buko-dev.is-a.dev
  domains/buko-dev.json
Labels: domain

#15295 Create neoapps.json
  domains/neoapps.json
Labels: domain

#15298 Register ngvgb.is-a.dev
  domains/ngvgb.json
Labels: domain

#15288 Register tech4file.is-a.dev
  domains/tech4file.json
Labels: domain

#15299 Updating kaushalbuccha.json
  domains/kaushalbuccha.json
Labels: domain

#15282 Create and Merge snbhowmik.json
  domains/snbhowmik.json
Labels: domain, r: orangc

#15302 Create mc.vamtic.json
  domains/mc.vamtic.json
Labels: domain, r: orangc

#15307 Create devvault.json
  domains/devvault.json
Labels: domain, r: orangc

#15306 Create gtvolk.json
  domains/gtvolk.json
Labels: domain, r: orangc

#15310 create ewan.json
  domains/ewan.json
Labels: domain

#15317 Register leandrogameplays.is-a.dev
  domains/leandrogameplays.json
Labels: domain

#15319 Update rishub.json
  domains/rishub.json
Labels: domain

#15316 register for personal site
  domains/wes.json
  domains/wesley.json
Labels: domain, reason: incomplete website

#15326 Register trollm8.is-a.dev
  domains/trollm8.json
Labels: domain

#15325 Create daamin.json
  domains/daamin.json
Labels: domain

#15329 Register lousybot.vulpine.is-a.dev
  domains/lousybot.vulpine.json
  domains/vulpine.json
Labels: domain

#15336 Update i2.esb.json
  domains/i2.esb.json
Labels: domain

#15335 Added th3.json :)
  domains/th3.json
Labels: domain

#15337 Create DNS verification stuff for daamin.is-a.dev filename: _github-pages-challenge-Daamin909.daamin.json
  domains/_github-pages-challenge-Daamin909.daamin.json
Labels: domain

#15339 Create _github-pages-challenge-Th3-C0der.th3
  domains/_github-pages-challenge-Th3-C0der.th3.json
Labels: domain

#15346 Create _discord.linksrayan.json
  domains/_discord.linksrayan.json
Labels: domain, r: orangc

#15345 switching to self-hosting
  domains/saxophone.json
Labels: domain, r: orangc

#15266 Create dhruvakalur.json
  domains/a.json
  domains/dhruvakalur.json
Labels: domain, r: orangc

#15342 verification for discord connections
  domains/_discord.daamin.json
Labels: domain, r: orangc

#15332 Register pancystudio.is-a.dev
  domains/pancystudio.json
Labels: domain, r: orangc

#15338 Create qrcode.json
  domains/qrcode.json
Labels: domain, r: orangc

#15347 Register danilwhale.is-a.dev
  domains/danilwhale.json
Labels: domain

#15348 akshatjain.json
  domains/akshatjain.json
Labels: domain, r: orangc

#15351 Register malik.is-a.dev
  domains/malik.json
Labels: domain

#15358 Create bhavitha.json
  domains/bhavitha.json
Labels: domain

#15364 Register kokoapi.is-a.dev
  domains/kokoapi.json
Labels: domain

#15367 Register kokoauth.is-a.dev
  domains/kokoauth.json
Labels: domain

#15369 Create vault.yunexiz.json
  domains/vault.yunexiz.json
Labels: domain, r: orangc

#15371 Create averse.json
  domains/averse.json
Labels: domain, r: orangc

#15370 Create kingofnetflix.json
  domains/kingofnetflix.json
Labels: domain, r: orangc

#15350 Create panel.xrap1dx.json
  domains/panel.xrap1dx.json
Labels: domain, r: orangc

#15365 Register xgarciadevs.is-a.dev
  domains/xgarciadevs.json
Labels: domain

#15374 Update kaizenji2024.json
  domains/kaizenji2024.json
Labels: domain, r: orangc

#15376 Create status.yunexiz.json
  domains/status.yunexiz.json
Labels: domain, r: orangc

#15379 edit api.shockbs.json (moving to dbh)
  domains/api.shockbs.json
Labels: domain

#15378 Update yxz.json
  domains/yxz.json
Labels: domain

#15388 Update api.shockbs.json
  domains/api.shockbs.json
Labels: domain, r: orangc

#15387 Add google-site-verification TXT record for `harshnj.json`
  domains/harshnj.json
Labels: domain, r: orangc

#15395 Create ixdoggo
  domains/ixdoggo.json
Labels: domain, r: orangc

#15392 Add TrackStore
  domains/trackstore.json
Labels: domain, r: orangc

#15393 Update to site (formuna.is-a.dev)
  domains/formuna.json
Labels: domain, r: orangc

#15402 Update jd.is-a.dev and 7.is-a.dev
  domains/7.json
  domains/jd.json
Labels: domain

#15403 Update just.is-a.dev
  domains/just.json
Labels: domain, r: orangc

#15399 Create ai-y.json
  domains/_github-pages-challenge-yunexiz.k.json
  domains/ai-y.json
Labels: domain, r: orangc

#15401 Register aquatica.is-a.dev
  domains/aquatica.json
Labels: domain, r: orangc

#15381 Register oliik2013.is-a.dev
  domains/oliik2013.json
Labels: domain, r: orangc

#15409 update my domains
  domains/allancoding.json
  domains/app.allancoding.json
  domains/files.allancoding.json
Labels: domain

#15408 Register sf.is-a.dev
  domains/sf.json
Labels: domain

#15410 Register hilight3r.is-a.dev
  domains/hilight3r.json
Labels: domain, r: orangc

#15411 Create angellopomayay.json
  domains/angellopomayay.json
Labels: domain, r: orangc

#15413 Register sewt.is-a.dev
  domains/sewt.json
Labels: domain

#15416 Register soestin.is-a.dev
  domains/soestin.json
Labels: domain

#15427 Github pages and Discord verification
  domains/_discord.oliik2013.json
  domains/_github-pages-challenge-oliik2013.oliik2013.json
Labels: domain

#15431 update owl ids
  domains/w.json
  domains/william.json
Labels: maintainer

#15430 Setting up MX records for my email
  domains/oliik2013.json
Labels: domain

#15420 Update hilight3r.is-a.dev
  domains/hilight3r.json
Labels: domain

#15429 Create _discord.korrykatti.json
  domains/_discord.korrykatti.json
Labels: domain

#15422 Register t.is-a.dev
  domains/t.json
Labels: domain

#15437 Add A records for my site
  domains/sewt.json
Labels: domain

#15433 Update oliik2013.json
  domains/oliik2013.json
Labels: domain

#15447 hi
  domains/i.esb.json
  domains/i2.esb.json
  domains/i4.esb.json
  domains/img.esb.json
Labels: domain, r: orangc

#15440 Github Verification for ming.is-a.dev
  domains/_github-pages-challenge-nameisminh.ming.json
Labels: domain, r: orangc

#15441 domain
  domains/oliik2013.json
  domains/zmail._domainkey.oliik2013.json
Labels: domain

#15448 changed mx records for me
  domains/oliik2013.json
Labels: domain, r: orangc

#15414 add hooman.json
  domains/hooman.json
Labels: domain, r: orangc

#15443 Register nvrxstdwrth.is-a.dev
  domains/nvrxstdwrth.json
Labels: domain, r: orangc

#15450 Update oliik2013.json
  domains/_discord.oliik2013.json
  domains/_github-pages-challenge-oliik2013.oliik2013.json
  domains/oliik2013.json
Labels: domain

#15449 Added records for my portfolio (through ngnix proxy manager) and a discord verification
  domains/_discord.mxritz.json
  domains/mxritz.json
Labels: domain

#15451 Update xrap1dx.json
  domains/xrap1dx.json
Labels: domain

#15454 Update vamtic.json
  domains/vamtic.json
Labels: domain

#15453 Register baltraz.is-a.dev
  domains/baltraz.json
Labels: domain

#15456 Create link.vamtic.json
  domains/link.vamtic.json
Labels: domain, r: orangc

#15457 Register z.is-a.dev
  domains/z.json
Labels: domain, r: orangc

#15455 Update vamtic.json
  domains/vamtic.json
Labels: domain, r: orangc

#15458 Discord and Github verification
  domains/_discord.z.json
  domains/_github-pages-challenge-SkyExploreWasTaken.z.json
Labels: domain, r: orangc

#15461 Update 6 files.
  domains/_discord.sewt.json
  domains/_discord.z.json
  domains/_github-pages-challenge-SkyExploreWasTaken.sewt.json
  domains/_github-pages-challenge-SkyExploreWasTaken.z.json
  domains/sewt.json
  domains/z.json
Labels: domain, r: orangc

#15460 Update github pages challenge and arch.json
  domains/_github-pages-challenge-Arch881010.arch.json
  domains/arch.json
Labels: domain, r: orangc

#15459 Create tiyanof.json
  domains/tiyanof.json
Labels: domain, r: orangc

#15463 Render blocked me for using uptime kuma, f*** you render. (This is a joke, for free thanks render)
  domains/status.yunexiz.json
  domains/vault.yunexiz.json
Labels: domain

#15472 added abaan.json
  domains/abaan.json
Labels: domain

#15466 Update api.shockbs.json
  domains/api.shockbs.json
Labels: domain

#15469 Delete sxinar.is-a.dev
  domains/sxinar.json
Labels: domain

#15467 delete nam.json
  domains/nam.json
Labels: domain

#15476 Update whsprr.json
  domains/whsprr.json
Labels: domain

#15471 Update yigit.json
  domains/yigit.json
Labels: domain

#15477 Register rias.is-a.dev
  domains/rias.json
Labels: domain

#15474 Register zeoz.is-a.dev
  domains/zeoz.json
Labels: domain

#15485 Create create.json
  domains/create.json
Labels: domain

#15483 Register maxgiveawaybot.is-a.dev
  domains/maxgiveawaybot.json
  domains/maxgreet.json
  domains/maxgreetbot.json
Labels: domain

#15487 updated abaan.json
  domains/abaan.json
Labels: domain

#15491 Create chat.vamtic.json
  domains/chat.vamtic.json
Labels: domain

#15500 Delete domains/oliik2013.json
  domains/oliik2013.json
Labels: maintainer

#15462 Add MX and TXT records for my email forwarding.
  domains/ohdy.json
Labels: domain, reason: invalid records

#15501 Register dhilipan.is-a.dev
  domains/dhilipan.json
Labels: domain

#15505 Update kaizenji2024.json
  domains/kaizenji2024.json
Labels: domain

#15508 Register pokey.is-a.dev
  domains/pokey.json
Labels: domain

#15506 mjdc.json
  domains/mjclavillas.json
  domains/mjdc.json
Labels: domain

#15502 Update akrm.json
  domains/akrm.json
Labels: domain, reason: merge conflict

#15509 Is-a.dev, chapter one: the forgotten domain.
  domains/he.json
Labels: domain

#15516 Create overshifted.json
  domains/overshifted.json
Labels: domain

#15517 Register somerand0mcat.is-a.dev
  domains/somerand0mcat.json
Labels: domain

#15519 Update playwithbmr.json
  domains/playwithbmr.json
Labels: domain

#15521 register
  domains/giahuy.json
Labels: domain, r: orangc

#15520 Switching from CNAME to A records + improvmx login
  domains/dhilipan.json
Labels: domain, r: orangc

#15523 Register mc.is-a.dev
  domains/mc.json
Labels: domain

#15534 :3 tlowng domain
  domains/tlowng.json
Labels: domain

#15537 Update to CloudFlare
  domains/lumix.json
Labels: domain

#15539 chore: Create _discord.blue.json (For Discord verifying)
  domains/_discord.blue.json
Labels: domain

#15540 Update kokoapi.json
  domains/kokoapi.json
Labels: domain

#15546 Update fake.json
  domains/fake.json
Labels: domain, reason: invalid records

#15553 Register hansana.is-a.dev
  domains/_github-pages-challenge-hansanaD.hansana.json
  domains/hansana.json
Labels: domain, r: orangc

#15552 Register anhnguyen.is-a.dev
  domains/anhnguyen.json
Labels: domain, r: orangc

#15548 Create rblx.json
  domains/rblx.json
Labels: r: orangc

#15551 Update ehab.json
  domains/ehab.json
Labels: domain, r: orangc

#15525 Register films.is-a.dev
  domains/films.json
Labels: domain, r: orangc

#15531 Register pvyas.is-a.dev
  domains/pvyas.json
Labels: domain, r: orangc

#15567 Add _improvmx for it to be valid
  tests/validations.test.js
  utils/invalid-domains.json
  utils/validations.js
Labels: maintainer

#15533 Registering subdomain for verification with improvmx
  domains/76048217._improvmx.dhilipan.json
Labels: domain

#15530 Merge Jariullah.is-a.dev
  domains/jariullah.json
  domains/mohdjariullah.json
Labels: domain, r: orangc

#15572 Update ehab.json
  domains/ehab.json
Labels: domain, r: orangc

#15575 Create mzn.json
  domains/mzn.json
Labels: domain, r: orangc

#15578 Delete anhnguyen.is-a.dev
  domains/anhnguyen.json
Labels: domain, r: orangc

#15579 Create sly.json (Sly.is-a.dev)
  domains/sly.json
Labels: domain, r: orangc

#15582 Create mzykin.json
  domains/mzykin.json
Labels: domain, r: orangc

#15584 Create coopw.json
  domains/coopw.json
Labels: domain, r: orangc

#15583 Add file joinsachinarya.json
  domains/joinsachinarya.json
Labels: domain, r: orangc

#15585 add aryadanech.json
  domains/aryadanech.json
Labels: domain, r: orangc

#15586 self hosting!
  domains/blog.saxophone.json
  domains/saxophone.json
Labels: domain, r: orangc

#15590 Create sq.json
  domains/sq.json
Labels: domain, r: orangc

#15599 Register alivaliev.is-a.dev
  domains/alivaliev.json
  domains/wrtks.json
Labels: domain

#15598 Create visualdot.json
  domains/visualdot.json
Labels: domain

#15597 Create spidy.json , For Email Forwarding Bros👋
  domains/spidy.json
Labels: domain

#15596 Register pratikshya.is-a.dev domain
  domains/pratikshya.json
Labels: domain

#15600 Update playwithbmr.json
  domains/playwithbmr.json
Labels: domain

#15602 Update mail.zvdxc.is-a.dev
  domains/mail.zvdxc.json
Labels: domain
