Repository is-a-dev/register, pull requests merged in 2024-01, with the labels that each got.

#10591 BETA: Register alvin.is-a.dev
  domains/alvin.json
Labels: domain

#10568 Update marban.json
  domains/marban.json
Labels: domain

#10562 Update atharvaupadhyay.json
  domains/atharvaupadhyay.json
Labels: domain

#10595 BETA: Register exotic.is-a.dev
  domains/exotic.json
Labels: domain

#10593 Register blc.is-a.dev
  domains/blc.json
Labels: domain

#10590 BETA: Register parthmaster.is-a.dev
  domains/johnrambo.json
  domains/parthmaster.json
Labels: domain

#10588 Register aniwon.is-a.dev
  domains/aniwon.json
Labels: domain

#10585 BETA: Register sercan.is-a.dev
  domains/sercan.json
Labels: domain

#10584 BETA: Register jacksonm.is-a.dev
  domains/jacksonm.json
Labels: domain

#10583 Added winters.is-a.dev
  domains/winters.json
Labels: domain

#10580 BETA: Register 0bun.is-a.dev
  domains/0bun.json
  domains/keikibun.json
  domains/zerobun.json
Labels: domain

#10579 BETA: Register xiaozhu2007.is-a.dev
  domains/xiaozhu2007.json
Labels: domain

#10578 BETA: Register haiko.is-a.dev
  domains/haiko.json
Labels: domain

#10576 BETA: Register johnd.is-a.dev
  domains/johnd.json
  domains/saxon-totally.json
Labels: domain

#10575 BETA: Register matt.is-a.dev
  domains/matt.json
Labels: domain

#10574 BETA: Register teknoday.is-a.dev
  domains/teknoday.json
Labels: domain

#10567 BETA: Register saurabhnemade.is-a.dev
  domains/saurabhnemade.json
Labels: domain

#10563 BETA: Register duyhung.is-a.dev
  domains/duyhung.json
Labels: domain

#10561 BETA: Register akshat.is-a.dev
  domains/akshat.json
Labels: domain

#10415 BETA: Register sqlmerr.is-a.dev
  domains/sqlmerr.json
Labels: domain

#10417 Update potatochips0706.json
  domains/potatochips0706.json
Labels: domain

#10598 Update akpi.is-a.dev TXT and MX
  domains/akpi.json
Labels: domain

#10455 Register Nithin.is-a.dev
  domains/nithin.json
Labels: domain, reason: invalid records

#10601 BETA: Register kshitij.is-a.dev
  domains/kshitij.json
Labels: domain

#10600 BETA: Register kevv.is-a.dev
  domains/kevv.json
Labels: domain

#10603 Create ntfy.stefdp.json
  domains/ntfy.stefdp.json
Labels: domain

#10602 BETA: Register algmapper.is-a.dev
  domains/algmapper.json
Labels: domain

#10559 Update thepersonalsite.json
  domains/thepersonalsite.json
Labels: domain

#10613 BETA: Register xander.is-a.dev
  domains/xander.json
Labels: domain

#10609 Update duyhung.is-a.dev
  domains/duyhung.json
Labels: domain

#10611 woofer.json updated
  domains/woofer.json
Labels: domain

#10606 BETA: Register diji.is-a.dev
  domains/diji.json
Labels: domain

#10607 BETA: Register lyn.is-a.dev
  domains/lyn.json
Labels: domain

#10612 BETA: Register dallonlahoda.is-a.dev
  domains/dallonlahoda.json
Labels: domain

#10610 Update woofer.json
  domains/woofer.json
Labels: domain

#10616 riviox (fix txt record)
  domains/_github-pages-challenge-riviox.riviox.json
Labels: domain

#10648 BETA: Register justnils.is-a.dev
  domains/justnils.json
Labels: domain

#10620 Update duyhung.json
  domains/duyhung.json
Labels: domain

#10633 Update pranavagrawal.json
  domains/pranavagrawal.json
Labels: domain

#10631 Delete dennisunderscore.is-a.dev
  domains/dennisunderscore.json
Labels: domain

#10627 feat(domain): sagun.is-a.dev
  domains/sagun.json
Labels: domain

#10642 Update vachanmn.json
  domains/vachanmn.json
Labels: domain

#10643 Update jirafey.json due to name change and email change
  domains/jirafey.json
Labels: domain

#10637 BETA: Register palak.is-a.dev
  domains/palak.json
Labels: domain

#10640 BETA: Register nandan.is-a.dev
  domains/nandan.json
Labels: domain

#10645 BETA: Register astraop.is-a.dev
  domains/astra.json
Labels: domain

#10646 BETA: Register thisarasd.is-a.dev
  domains/thisarasd.json
Labels: domain

#10644 BETA: Register panda.is-a.dev
  domains/panda.json
  domains/thanawat.json
Labels: domain

#10641 BETA: Register aedotris.is-a.dev
  domains/aedotris.json
Labels: domain

#10636 BETA: Register hara.is-a.dev
  domains/hara.json
Labels: domain

#10630 BETA: Register nauriculus.is-a.dev
  domains/nauriculus.json
Labels: domain

#10629 BETA: Register gerzhahp.is-a.dev
  domains/gerzhahp.json
Labels: domain

#10638 BETA: Register infinotiver.is-a.dev
  domains/infinotiver.json
  domains/prakarsh.json
Labels: domain

#10664 Changing CNAME to A record because I need to change it to public proxy
  domains/ss.cutedog5695.json
Labels: domain

#10685 Update astra.json
  domains/astra.json
Labels: domain

#10694 BETA: Register hemang.is-a.dev
  domains/hemang.json
Labels: domain

#10692 BETA: Register xikofornai.is-a.dev
  domains/xikofornai.json
Labels: domain

#10691 BETA: Register mariovaldez.is-a.dev
  domains/mariovaldez.json
Labels: domain

#10690 BETA: Register asteria.is-a.dev
  domains/asteria.json
Labels: domain

#10689 Add mc ip (domain)
  domains/mokajmc.oxmc.json
Labels: domain

#10688 Update duckysolucky.json
  domains/duckysolucky.json
Labels: domain

#10683 Create webmail.noteswallah.json
  domains/webmail.noteswallah.json
Labels: domain

#10682 Create mail.noteswallah
  domains/mail.noteswallah.json
Labels: domain

#10677 BETA: Register mz.is-a.dev
  domains/mz.json
Labels: domain

#10676 Create antimanipulationbridgade.json
  domains/antimanipulationbridgade.json
Labels: domain

#10671 Update kleb.json
  domains/kleb.json
Labels: domain

#10670 Register spicy subdomain
  domains/_github-challenge-SpicyDevs-org.spicy.json
  domains/spicy.json
Labels: domain

#10666 BETA: Register juqwtf.is-a.dev
  domains/juqwtf.json
Labels: domain

#10661 BETA: Register villagerbrine.is-a.dev
  domains/villagerbrine.json
Labels: domain

#10659 BETA: Register lightarea.is-a.dev
  domains/lightarea.json
Labels: domain

#10658 BETA: Register elliott.is-a.dev
  domains/elliott.json
Labels: domain

#10654 BETA: Register parasyte.is-a.dev
  domains/parasyte.json
Labels: domain

#10672 Update record from 2 domains
  domains/code.trung.json
  domains/trung.json
Labels: domain

#10649 BETA: Register f5.is-a.dev
  domains/f5.json
Labels: domain

#10651 BETA: Register rage65.is-a.dev
  domains/rage65.json
Labels: domain

#10525 BETA: Register wade-cheng.is-a.dev
  domains/wade-cheng.json
Labels: domain, reason: invalid records

#10570 Update verification after accidentally deleting domain
  domains/_github-pages-challenge-ottercodes101.otter.json
Labels: domain

#10693 Update lucen.json
  domains/lucen.json
Labels: domain

#10695 Update maintainer emails
  domains/maintainers.json
Labels: maintainer

#10696 BETA: Register gamersvault.is-a.dev
  domains/gamersvault.json
  domains/lucendev.json
Labels: domain

#10699 Register akshtt.is-a.dev
  domains/akshtt.json
  domains/palak.json
Labels: domain

#10700 Update parasyte.is-a.dev
  domains/parasyte.json
Labels: domain

#10635 BETA: Register almaz.is-a.dev
  domains/almaz.json
Labels: domain

#10703 BETA: Register omsandeppatil.is-a.dev
  domains/omsandeppatil.json
Labels: domain

#10704 BETA: Register paulojunqueira.is-a.dev
  domains/paulojunqueira.json
Labels: domain

#10706 Register tartej.is-a.dev
  domains/tartej.json
Labels: domain

#10709 BETA: Register fae5.is-a.dev
  domains/fae5.json
Labels: domain

#10710 Register tamim.is-a.dev
  domains/tamim.json
Labels: domain

#10711 BETA: Register 20gn.is-a.dev
  domains/20gn.json
Labels: domain

#10714 BETA: Register abv.is-a.dev
  domains/abv.json
Labels: domain

#10720 Delete beady.is-a.dev
  domains/beady.json
Labels: domain

#10721 Delete dashboard.almaz.is-a.dev
  domains/dashboard.almaz.json
Labels: domain

#10722 Delete domains/lucen.json
  domains/lucen.json
Labels: domain

#10723 Delete domains/lucendev.json
  domains/lucendev.json
Labels: domain

#10727 Update abv.is-a.dev
  domains/abv.json
Labels: domain

#10726 uploaded json
  domains/catboy.json
Labels: domain

#10724 Update mokajmc.oxmc.json
  domains/mokajmc.oxmc.json
Labels: domain, maintainer

#10747 BETA: Register manange.uptime.trung.is-a.dev
  domains/manange.uptime.trung.json
Labels: domain

#10759 BETA: Register mystic.trung.is-a.dev
  domains/mystic.trung.json
Labels: domain

#10757 BETA: Register dracx.is-a.dev
  domains/dracx.json
Labels: domain

#10756 BETA: Register julian45838.is-a.dev
  domains/julian45838.json
Labels: domain

#10751 BETA: Register brnsystems.is-a.dev
  domains/brnsystems.json
Labels: domain

#10729 Register lucen.is-a.dev
  domains/lucen.json
Labels: domain

#10730 BETA: Register johnroylapida.is-a.dev
  domains/johnroylapida.json
Labels: domain

#10782 Delete domains/foreskin.json
  domains/foreskin.json
Labels: domain, maintainer

#10734 Create bdays.suki.json
  domains/bdays.suki.json
Labels: domain

#10822 BETA: Register raviteja-geddada.is-a.dev
  domains/raviteja-geddada.json
Labels: domain

#10817 BETA: Register luisandre.is-a.dev
  domains/luisandre.json
Labels: domain

#10811 BETA: Register ofir.is-a.dev
  domains/ofir.json
Labels: domain

#10809 Create menard.json
  domains/menard.json
Labels: domain

#10806 BETA: Register antoniod.is-a.dev
  domains/antoniod.json
Labels: domain

#10805 BETA: Register huyduc.is-a.dev
  domains/huyduc.json
Labels: domain

#10804 BETA: Register rajuan.is-a.dev
  domains/rajuan.json
Labels: domain

#10803 BETA: Register deepankar.is-a.dev
  domains/deepankar.json
Labels: domain

#10801 BETA: Register giocoliere.is-a.dev
  domains/giocoliere.json
Labels: domain

#10799 BETA: Register useflame.is-a.dev
  domains/useflame.json
Labels: domain

#10788 BETA: Register vikas-mahi.is-a.dev
  domains/vikas-mahi.json
Labels: domain

#10787 BETA: Register divyanshuprasad.is-a.dev
  domains/divyanshu.json
  domains/divyanshuprasad.json
Labels: domain

#10783 BETA: Register daku.is-a.dev
  domains/daku.json
Labels: domain

#10781 BETA: Register kacper.is-a.dev
  domains/kacper.json
Labels: domain

#10773 BETA: Register mhsunny.is-a.dev
  domains/mhsunny.json
Labels: domain

#10764 BETA: Register stupidjane.is-a.dev
  domains/stupidjane.json
Labels: domain

#10753 BETA: Register venox.is-a.dev
  domains/venox.json
Labels: domain

#10746 BETA: Register lunar.is-a.dev
  domains/lunar.json
Labels: domain

#10743 BETA: Register floofy.exe.is-a.dev
  domains/floofy.exe.json
Labels: domain

#10820 BETA: Register droiders.is-a.dev
  domains/droiders.json
Labels: domain

#10815 Register shinchan.is-a.dev
  domains/doraemon.json
  domains/mahi.json
  domains/mansi.json
  domains/sajan.json
  domains/shinchan.json
  domains/sourav.json
Labels: domain

#10810 BETA: Register owl.is-a.dev
  domains/owl.json
Labels: domain

#10793 Create webmail.chiragnahata
  domains/webmail.chiragnahata.json
Labels: domain

#10792 Create mail.chiragnahata.json
  domains/mail.chiragnahata.json
Labels: domain

#10791 Create webmail.teamcodearc.json
  domains/webmail.teamcodearc.json
Labels: domain

#10790 Create mail.teamcodearc.json
  domains/mail.teamcodearc.json
Labels: domain

#10789 Create teamcodearc.json
  domains/teamcodearc.json
Labels: domain

#10779 BETA: Register jpstore.is-a.dev
  domains/jpstore.json
Labels: domain

#10769 Update geekysudhir.is-a.dev
  domains/geekysudhir.json
Labels: domain

#10763 Create savar.json
  domains/savar.json
Labels: domain

#10760 BETA: Register the.catboy.is-a.dev
  domains/catboy.json
  domains/slyc.the.catboy.json
  domains/the.catboy.json
Labels: domain

#10744 BETA: Register status.astra.is-a.dev
  domains/status.astra.json
Labels: domain

#10741 BETA: Register college-front.is-a.dev
  domains/college-front.json
Labels: domain

#10802 BETA: Register leeiz.is-a.dev
  domains/leeiz.json
  domains/leizreal.json
Labels: domain

#10732 BETA: Register heydaristo.is-a.dev
  domains/heydaristo.json
Labels: domain

#10731 BETA: Register attafriski.is-a.dev
  domains/attafriski.json
Labels: domain

#10794 BETA: Register landyn.is-a.dev
  domains/landyn.json
Labels: domain

#10780 BETA: Register ók.is-a.dev
  domains/davin.json
Labels: domain

#10365 feat(root): mail records
  domains/@.json
Labels: domain, maintainer

#10837 add blek.is-a.dev
  domains/blek.json
Labels: domain

#10850 BETA: Register aayank.is-a.dev
  domains/aayank.json
Labels: domain

#10863 Create _github-challenge-is-a-dev-org.json
  domains/_github-challenge-is-a-dev-org.json
Labels: domain

#10864 Create _github-pages-challenge-is-a-dev.team.json
  domains/_github-pages-challenge-is-a-dev.team.json
Labels: maintainer

#10842 Create lavalink.trung.json
  domains/lavalink.trung.json
Labels: domain
