Repository is-a-dev/register, pull requests merged in 2025-02, with the labels that each got.

#19123 Create rohitgunthal.json
  domains/rohitgunthal.json
Labels: domain

#19195 Update mail.mrstickypiston.is-a.dev
  domains/mail.mrstickypiston.json
Labels: domain

#19070 Create alwen.json
  domains/alwen.json
Labels: domain

#19200 vercel domain verification
  domains/_vercel.yaxh.json
Labels: domain

#19073 added vercel domain
  domains/_vercel.at-muhammad.json
  domains/at-muhammad.json
Labels: domain

#19125 Create lawrenceee04.json
  domains/lawrenceee04.json
Labels: domain, reason: invalid file

#19208 Delete domains/jonatandb.json
  domains/jonatandb.json
Labels: domain

#19205 Register mrcat.is-a.dev
  domains/mrcat.json
Labels: domain

#19204 Add pilotseye.is-a.dev domain
  domains/pilotseye.json
Labels: domain

#19202 Create darkdus.json
  domains/darkdus.json
Labels: domain

#18861 Create evelyn.json
  domains/evelyn.json
Labels: domain

#19190 Create meyer-pidiache.json
  domains/meyer-pidiache.json
Labels: domain

#19186 added "pritam.json"
  domains/pritam.json
Labels: domain

#19041 feat: add mohamed-bishr domain configuration
  domains/mohamedbishr.json
Labels: domain, reason: invalid social

#18884 Create mehrdad
  domains/mehrdad.json
Labels: domain

#19183 register "lezli01"
  domains/lezli01.json
Labels: domain

#19180 Create 0xbit.json
  domains/0xbit.json
Labels: domain

#19151 adding new 'muralikrishna' domain
  domains/_vercel.muralikrishna.json
  domains/muralikrishna.json
Labels: domain

#19196 Create kendikasir.json
  domains/kendikasir.json
Labels: domain

#19181 Create _vercel.baibhav.json
  domains/_vercel.baibhav.json
Labels: domain

#18893 Request for akib.is_a.dev domain
  domains/_vercel.akib.json
  domains/akib.json
Labels: domain

#19207 Update rohithborana.json
  domains/rohithborana.json
Labels: domain

#18874 Create objshadow.json
  domains/objshadow.json
Labels: domain

#19169 Add soymadip.github.io
  domains/soymadip.json
Labels: domain

#19165 Create ordernest.json
  domains/ordernest.json
Labels: domain

#18889 added basidh.json
  domains/basidh.json
Labels: domain

#19163 Bandhan.json submission
  domains/bandhan.json
Labels: domain

#18896 adding a new domain
  domains/bhavyagupta.json
Labels: domain

#19160 Created virtual.json
  domains/virtual.json
Labels: domain

#19146 Create karan.json
  domains/karan.json
Labels: domain

#19144 Create harshvardhan.json
  domains/harshvardhan.json
Labels: domain

#19142 create gilmar-dave-gamboa.json
  domains/gilmar-dave-gamboa.json
Labels: domain

#18954 feat: add cuinc99.json for portfolio website configuration
  domains/cuinc99.json
Labels: domain

#19141 soccer.is-a.dev
  domains/soccer.json
Labels: domain

#19140 add wilchamo domain
  domains/wildchamo.json
Labels: domain

#19138 My persional portfolio site
  domains/_vercel.pranoy.json
  domains/pranoy.json
Labels: domain

#19134 adding a new domain
  domains/farkot.json
Labels: domain

#19133 Add fodorzsolt domain
  domains/fodorzsolt.json
Labels: domain

#19131 Add domains/javi.json
  domains/javi.json
Labels: domain

#19129 Add domain dang.is-a.dev
  domains/_vercel.dang.json
  domains/dang.json
Labels: domain

#19127 Create saftec.is-a.dev and hotfix.saftec.is-a.dev
  domains/hotfix.saftec.json
  domains/saftec.json
Labels: domain

#19124 Create melih.json
  domains/melih.json
Labels: domain

#19121 GioMjds's registering domain
  domains/mimic.json
Labels: domain

#18963 added sourabh yadav domain
  domains/sourabh.json
Labels: domain

#19171 Add exrand.is-a.dev
  domains/exrand.json
Labels: domain

#19109 Create azizwali.json
  domains/azizwali.json
Labels: domain

#19092 subdomain request
  domains/cota.json
Labels: domain

#19084 Create halink.json
  domains/halink.json
Labels: domain

#18991 new domain
  domains/sashankp.json
Labels: domain

#18996 Add la-pyae-oo.json file to register is-a-dev domain name
  domains/la-pyae-oo.json
Labels: domain

#19016 Create prashanthkusuma.json
  domains/prashanthkusuma.json
Labels: domain

#19022 Create viral-soni
  domains/viral-soni.json
Labels: domain

#19054 done
  domains/shrey.json
Labels: domain

#19071 Register iviswanathreddy.is-a.dev with CNAME record.
  domains/iviswanathreddy.json
Labels: domain

#19088 adding new domain
  domains/moku.json
Labels: domain

#19094 Add rpadrell.is-a.dev
  domains/rpadrell.json
Labels: domain

#19162 Create _vercel.kendikasir.json
  domains/_vercel.kendikasir.json
Labels: domain

#19193 Create alas.json
  domains/alas.json
Labels: domain

#19210 Fix khateeb.json
  domains/khateeb.json
Labels: domain

#19212 Update codesoft.json for ImprovMX
  domains/mail.codesoft.json
Labels: domain

#19211 Create _github-pages-challenge-soymadip.json
  domains/_github-pages-challenge-soymadip.soymadip.json
Labels: domain

#19218 Updating exrand.json, hosting provider doesn't like the ip.
  domains/exrand.json
Labels: domain

#19224 Create enough
  domains/enough.json
Labels: domain

#19223 add diegoreis domain
  domains/diegoreis.json
Labels: domain

#19227 Add `valerius.json` to the domains directory
  domains/valerius.json
Labels: domain

#19229 Created arunvishnu.json
  domains/arunvishnu.json
Labels: domain

#19231 created programmerraja domain
  domains/programmerraja.json
Labels: domain

#19236 Register gmanthemarioguy.is-a.dev
  domains/gmanthemarioguy.json
  domains/uuphoria2.json
Labels: domain

#19237 TXT Verification
  domains/_github-pages-challenge-gmanthemarioguy.gmanthemarioguy.json
Labels: domain

#18988 init my domain
  domains/kentaylor.json
Labels: domain

#19238 Create josh-ferrell.json
  domains/josh-ferrell.json
Labels: domain

#19239 Created n3m.json
  domains/n3m.json
Labels: domain

#19240 Create aniket.json
  domains/aniket.json
Labels: domain

#19244 Create _github-pages-challenge-lawrenceee04.lawrenceee04.json
  domains/_github-pages-challenge-lawrenceee04.lawrenceee04.json
Labels: domain

#19242 Create ebrahim.json
  domains/ebrahim.json
Labels: domain

#19245 Create santhoshkani.json
  domains/santhoshkani.json
Labels: domain

#19243 Add cristian.json
  domains/cristian.json
Labels: domain

#19251 create shivansh.json
  domains/_vercel.shivansh.json
  domains/shivansh.json
Labels: domain

#19252 create owais.json
  domains/owais.json
Labels: domain

#19255 resolved the issue
  domains/xshubhamg.json
Labels: domain

#19256 Update aniket.json
  domains/aniket.json
Labels: domain

#19258 Create abhijith.json
  domains/abhijith.json
Labels: domain

#19263 Add personal website configuration Create sitaram.json
  domains/sitaram.json
Labels: domain

#19254 create ikramth.json
  domains/_vercel.ikramth.json
  domains/ikramth.json
Labels: domain

#19262 Create kuro.json
  domains/kuro.json
Labels: domain, reason: invalid records

#19266 Create billvog.json
  domains/billvog.json
Labels: domain

#19272 Create juliano.json
  domains/juliano.json
Labels: domain

#19274 Create nikity.json
  domains/nikity.json
Labels: domain

#19277 Create ayushk.json
  domains/_vercel.ayushk.json
  domains/ayushk.json
Labels: domain

#19264 zalnars.is-a.dev
  domains/_vercel.zalnars.json
  domains/zalnars.json
Labels: domain

#19233 Create bens.json
  domains/bens.json
Labels: domain

#19226 Create mateoguidi.json
  domains/mateoguidi.json
Labels: domain

#19219 Create _github-pages-challenge-mh0386.json
  domains/_github-pages-challenge-mh0386.mohamedhisham.json
  domains/mohamedhisham.json
Labels: domain

#19281 Create klez.json
  domains/klez.json
Labels: domain

#19282 Register three subdomains
  domains/aland.json
  domains/alanr.json
  domains/alanrme.json
Labels: domain

#19283 add debkanchan.json
  domains/debkanchan.json
Labels: domain

#19284 Register isiraadithya.is-a.dev
  domains/isiraadithya.json
Labels: domain

#19285 Register james.is-a.dev
  domains/james.json
Labels: domain

#19280 Create gamil.json
  domains/gamil.json
Labels: domain

#19287 Create btleffler.json
  domains/btleffler.json
Labels: domain

#19297 Create peyloride.json
  domains/peyloride.json
Labels: domain

#19298 Create athfan.json
  domains/athfan.json
Labels: domain

#19139 Create sh770
  domains/sh770.json
Labels: domain, reason: invalid social, reason: invalid records, reason: invalid file

#19301 New domain :)
  domains/vincent.json
  domains/vinvin.json
Labels: domain

#19302 Create alan-ren.json
  domains/alan-ren.json
Labels: domain

#19296 Create Rafinia
  domains/rafinia.json
Labels: domain

#19286 Patch 1
  domains/shivam.json
Labels: domain, reason: invalid records

#19276 Create liam.json
  domains/_github-pages-challenge-liamatienza.liam.json
  domains/liam.json
Labels: domain

#19334 Create _github-pages-challenge-juanpython1
  domains/_github-pages-challenge-juanpython1.juandev.json
Labels: domain

#19311 Update nick.json CNAME to URL
  domains/nick.json
Labels: domain

#19319 Change in website URL
  domains/sitaram.json
Labels: domain

#19308 Add cris.json
  domains/cris.json
Labels: domain

#19309 Create brody.json
  domains/brody.json
Labels: domain

#19312 Create roshangm.is-a.dev
  domains/roshangm.json
Labels: domain

#19315 Create harish.is-a.dev
  domains/_vercel.harish.json
  domains/harish.json
Labels: domain

#19316 Create bhaskar.json
  domains/bhaskar.json
Labels: domain

#19320 Create mateuseap.json
  domains/mateuseap.json
Labels: domain

#19324 added manishgautam.is-a.dev
  domains/manishgautam.json
Labels: domain

#19327 Add social media account
  domains/_vercel.banda.json
  domains/banda.json
Labels: domain

#19332 Create imnyang.json
  domains/imnyang.json
Labels: domain

#19331 Created dwij.json
  domains/dwij.json
Labels: domain

#19294 create iomiras.json
  domains/_vercel.iomiras.json
  domains/iomiras.json
Labels: domain, reason: invalid file

#19304 create aman.json
  domains/_vercel.aman.json
  domains/aman.json
Labels: domain

#19337 Update brett.json
  domains/brett.json
Labels: domain

#19293 Create df.json
  domains/df.json
Labels: domain

#19341 Create hroot.json
  domains/hroot.json
Labels: domain

#19261 Create tanvir.json
  domains/_vercel.tanvir.json
  domains/tanvir.json
Labels: domain, reason: invalid records

#19336 Create adrien.json
  domains/adrien.json
Labels: domain

#19339 Change CNAME to use githubpages
  domains/jeanrondon.json
Labels: domain

#19356 Add _github-pages-challenge-roger-padrell.rpadrell.is-a.dev (fix of _github-pages-challenge-roger-padrell.is-a.dev)
  domains/_github-pages-challenge-roger-padrell.rpadrell.json
Labels: domain

#19352 Create rzt5.json
  domains/rzt5.json
Labels: domain

#19355 Add new domain configuration for muhammad-yusuf
  domains/muhammad-yusuf.json
Labels: domain

#19357 add: domain config for poysa213
  domains/poysa213.json
Labels: domain

#19359 Create sanish.json
  domains/sanish.json
Labels: domain

#19361 Add nparashar150 subdomain
  domains/_vercel.nparashar150.json
  domains/nparashar150.json
Labels: domain

#19370 Add Utkarsh-Singhal-26 domain configurations
  domains/_vercel.utkarshsinghal26.json
  domains/utkarshsinghal26.json
Labels: domain

#19371 add domain for badonix
  domains/badonix.json
Labels: domain

#19373 Add bilalmansuri subdomain
  domains/_vercel.bilalmansuri.json
  domains/bilalmansuri.json
Labels: domain

#19376 Create _github-pages-challenge-mateuseap.mateuseap.json
  domains/_github-pages-challenge-mateuseap.mateuseap.json
Labels: domain

#19377 Add hostname for debkanchan.json
  domains/_github-pages-challenge-debkanchan.debkanchan.json
Labels: domain

#19378 Add zilu domain
  domains/zilu.json
Labels: domain

#19379 added my website
  domains/awhvish.json
Labels: domain

#19385 Register momoka.is-a.dev
  domains/_github-pages-challenge-m0m0k4s4n.momoka.json
  domains/momoka.json
Labels: domain

#19335 Vinvin27 patch 2
  domains/vincent.json
Labels: domain, status: awaiting user response

#19362 added domains
  domains/api.rachancheet.json
  domains/rachancheet.json
  domains/service.rachancheet.json
Labels: domain

#19368 Create devstebanportfolio.json
  domains/stebanportfolio.json
Labels: domain, reason: invalid social

#19375 Create sulaiman.json
  domains/sulaiman.json
Labels: domain, reason: invalid records

#19381 Create ikram.json
  domains/_vercel.ikram.json
  domains/ikram.json
  domains/kakureta.ikram.json
  domains/links.ikram.json
Labels: domain

#19383 Add ahmed domain
  domains/_vercel.ahmed.json
  domains/ahmed.json
Labels: domain

#19313 Create nemoralis.is-a.dev
  domains/nemoralis.json
Labels: domain
