Repository is-a-dev/register, pull requests merged in 2025-10, with the labels that each got.

#26931 Create Shubhamdalvi.json
  domains/_vercel.shubhamdalvi.json
  domains/shubhamdalvi.json
Labels: reason: invalid file

#26992 Create alis.json and ales.json
  domains/ales.json
  domains/alis.json
Labels: reason: incomplete website

#27014 Create rodrigo.json
  domains/rodrigo.json
Labels: reason: incomplete website, reason: invalid records

#27077 New domain haqeemslhn.is-a.dev
  domains/_vercel.haqeemslhn.json
  domains/haqeemslhn.json
Labels: reason: invalid file

#27110 bolajioluwadamilare.json
  domains/bolajioluwadamilare.json
Labels: reason: incomplete website, reason: invalid file

#27135 Patch 1
  domains/_vercel.saisridhar.json
  domains/saisridhar.json
Labels: reason: invalid records

#27153 elfelipe.is-a.dev
  domains/_vercel.elfelipe.json
  domains/elfelipe.json
Labels: reason: incomplete website

#27206 Add leonardo.json with owner and record details
  domains/leoramos.json
Labels: reason: invalid file

#26725 david.is-a.dev
  domains/david.json
Labels: r: william

#27087 Dimskey patch 1
  domains/_vercel.dimkeys.json
  domains/dimkeys.json
Labels: reason: incomplete website, reason: invalid file

#27159 tautvydas.is-a.dev
  domains/tautvydas.json
Labels: reason: incomplete website, reason: invalid file

#27024 Create arsh.json
  domains/arsh.json
Labels: reason: invalid file

#27002 Add 0xaritro.is-a.dev subdomain
  domains/0xaritro.json
  domains/_vercel.0xaritro.json
Labels: reason: invalid social, reason: invalid file

#27167 Add pritesh.json for domain configuration
  domains/pritesh.json
Labels: reason: invalid file

#27200 Add nemgvn.json for domain configuration
  domains/nemgvn.json
Labels: reason: invalid file, status: needs preview, reason: incomplete pr

#27168 Create elian.is-a.dev.json
  domains/elian.json
Labels: reason: invalid file

#27218 Create jameskeller.json
  domains/jameskeller.json
Labels: reason: invalid file

#27233 Create zen.json
  domains/zen.json
Labels: reason: invalid records, reason: invalid file

#26912 Create kunal.json
  domains/kunal.json
Labels: reason: invalid file

#27292 Add files via upload
  domains/_vercel.gunit.json
  domains/gunit.json
Labels: reason: invalid file, status: needs preview

#27287 Create kevinportfolio.json
  domains/kevinroymaglaqui.json
Labels: reason: invalid social, reason: invalid file

#27275 Create brandino.json
  domains/brandino.json
Labels: reason: invalid records

#27164 Add aldo domain
  domains/_vercel.aldo.json
  domains/aldo.json
Labels: status: needs preview, reason: incomplete pr

#26827 Create conight.json
  domains/conight.json
Labels: reason: other

#26897 Create az.json
  domains/az.json
Labels: reason: invalid file

#27127 feat: ✨ add sube.is-a.dev
  domains/_github-pages-challenge-sube-py.sube.json
  domains/sube.json
Labels: reason: incomplete website, reason: invalid social, reason: invalid file

#27199 Create voidslab.json
  domains/voidslab.json
Labels: reason: invalid file

#27245 Create adify.json
  domains/adify.json
Labels: reason: incomplete website, reason: not dev related

#27289 Added ritik.json and _vercel.ritik.json
  domains/_vercel.ritik.json
  domains/ritik.json
Labels: reason: invalid records

#27311 Create _github-pages-challenge-muntazir86.ghulam-shabbir.json
  domains/_github-pages-challenge-muntazir86.ghulam-shabbir.json
Labels: reason: invalid file

#27312 Create ajaysingh.json
  domains/ajaysingh.json
Labels: reason: invalid file

#27321 Create dorpew.json
  domains/dorpew.json
Labels: reason: incomplete website

#27328 Create campagne.json
  domains/campagne.json
Labels: reason: incomplete website, reason: invalid file

#27339 Create adasjusk.json
  domains/adasjusk.json
Labels: reason: invalid file

#27319 Create rahmat.json
  domains/_vercel.rahmat.json
  domains/rahmat.json
Labels: reason: invalid file, reason: unauthorized

#27413 Add TXT record for Google site verification
  domains/ramkumar.json
Labels: reason: invalid file

#27346 yiroluar.is-a.dev added
  domains/_vercel.yiroluar.json
  domains/yiroluar.json
Labels: reason: invalid social, reason: invalid file

#27366 register aminety portfolio
  domains/aminety.json
Labels: reason: invalid records

#27376 Callen
  domains/callen.json
Labels: reason: invalid records

#27457 Delete domains/debxd.json
  domains/debxd.json
Labels: maintainer

#27458 delete more hijacked domains
  domains/_discord.voxxdevv.json
  domains/vipul.json
  domains/voxxdevv.json
Labels: maintainer

#27348 Create swarajvamsikrishna.json
  domains/swarajvamsikrishna.json
Labels: status: needs preview, reason: incomplete pr

#27351 feat: Create new domain for user finhane
  domains/finhane.json
Labels: reason: invalid social, reason: invalid records, reason: invalid file

#27358 Use forwardemail.net instead of zoho
  domains/aditia.json
Labels: reason: invalid records

#27405 Create OrlanDroyd.json
  domains/orlandroyd.json
Labels: reason: incomplete website, reason: invalid file

#27425 Create envxcloud.json
  domains/envxcloud.json
Labels: reason: invalid file

#27439 Create yasmine.json
  domains/yasmine.json
Labels: reason: invalid file

#27463 Create asmit.json
  domains/_vercel.asmit.json
  domains/asmit.json
Labels: status: needs preview

#27464 Create mulugeta.json
  domains/mulugeta.json
Labels: reason: invalid social, reason: invalid records, reason: invalid file

#27475 add wendy.json
  domains/wendy.json
Labels: reason: invalid records

#27479 add domain to register
  domains/_vercel.tanishsharma.json
  domains/tanishsharma.json
Labels: reason: invalid social, reason: invalid file

#27503 Owner Kusarek
  domains/kusarek.json
Labels: reason: invalid social, reason: invalid file

#27518 Add gm.json and _vercel.gm.json
  domains/_vercel.gm.json
  domains/gm.json
Labels: reason: invalid social, reason: invalid file

#27576 Added albert.json
  domains/albert.json
Labels: reason: invalid records, reason: invalid file

#27585 add arthuz.is-a.dev
  domains/arthuz.json
Labels: reason: incomplete website

#27615 Create awadhi.json
  domains/awadhi.json
Labels: reason: invalid records

#27723 Create joeldev.json
  domains/joeldev.json
Labels: reason: invalid file

#27687 Create cledera-ernie
  domains/cledera-ernie.json
Labels: reason: invalid file

#27635 Add kueble.json for domain configuration
  domains/kueble.json
Labels: reason: incomplete website, reason: invalid file

#27646 add mbg.json and _vercel.mbg.json
  domains/_vercel.mbg.json
  domains/mbg.json
Labels: status: needs preview, reason: incomplete pr

#27782 create mujahid.json
  domains/_github-pages-challenge-shield-jaguar.mujahid.json
  domains/mujahid.json
Labels: reason: invalid file

#27711 new max chanzu domain
  domains/maxwell-chanzu.json
Labels: reason: invalid file
