Repository is-a-dev/register, pull requests merged in 2025-01, with the labels that each got.

#17947 Use Cloudflare NS for `jwaxy` subdomain
  domains/_github-pages-challenge-jwaxy.jwaxy.json
  domains/jwaxy.json
Labels: domain

#17936 Domain Registration - ryanbaig.is-a.dev
  domains/_vercel.ryanbaig.json
  domains/ryanbaig.json
Labels: domain

#17940 ogsamrat: github txt record
  domains/_github-pages-challenge-ogsamrat.samrat.json
Labels: domain

#17943 Create reiyuchan.json
  domains/reiyuchan.json
Labels: domain

#17949 Create annant.json
  domains/annant.json
Labels: domain

#17880 Create jax.is-a.dev w/ sub-subdomains
  domains/_vercel.jax.json
  domains/f.jax.json
  domains/h.jax.json
  domains/jax.json
Labels: domain, reason: invalid records, reason: invalid file

#17951 Update lohit.json
  domains/lohit.json
Labels: domain

#17955 Register justwinstuff.is-a.dev
  domains/_vercel.justwinstuff.json
  domains/justwinstuff.json
Labels: domain

#17956 Create jobayedsumon.json
  domains/jobayedsumon.json
Labels: domain

#17953 Update lohit.json
  domains/lohit.json
Labels: domain

#17959 Create ah2.json
  domains/ah2.json
Labels: domain

#17964 Cleaning up deletion of AI.Y service, and some other random domain.
  domains/1-train-ride-in-germany-is-300-euros.json
  domains/_github-pages-challenge-yunexiz.1-train-ride-in-germany-is-300-euros.json
  domains/_github-pages-challenge-yunexiz.ai-y.yunexiz.json
  domains/ai-y.json
  domains/ai-y.yosuke.json
  domains/ai-y.yunexiz.json
Labels: domain

#17934 Renamed chatting.json to chattingmessenger.json because of generic domain name
  domains/chattingmessenger.json
Labels: domain, status: needs preview

#17973 Delete domains/face-recognition.shockbs.json
  domains/face-recognition.shockbs.json
Labels: domain

#17972 Create _discord.justwinstuff.json
  domains/_discord.justwinstuff.json
Labels: domain

#17971 New domain
  domains/hash-cracker.json
Labels: domain

#17969 Create manish-madi.json
  domains/manish-madi.json
Labels: domain

#17967 Create ajtabs.json
  domains/ajtabs.json
Labels: domain

#17985 Create alisa.json
  domains/_vercel.alisa.json
  domains/alisa.json
Labels: domain

#17974 pull req
  domains/erubinyl.json
Labels: domain, reason: incomplete website

#17977 Create blog.chuyentinorz.json (have A record and TXT record, Vercel hosting)
  domains/_vercel.blog.chuyentinorz.json
  domains/blog.chuyentinorz.json
Labels: domain

#17978 Create your-dad.json
  domains/your-dad.json
Labels: domain

#17986 Create abhishekissac.json
  domains/abhishekissac.json
Labels: domain

#17984 Create Discord and Github Pages domain verification records for ajtabs.is-a.dev
  domains/_discord.ajtabs.json
  domains/_github-pages-challenge-ajtabjs.ajtabs.json
Labels: domain

#17981 Update _vercel.formuna.json for a new subdomain
  domains/_vercel.formuna.json
  domains/api.formuna.json
Labels: domain

#17983 Create navistar.json
  domains/navistar.json
Labels: domain

#17970 New Links (MinoDab492)
  domains/_discord.heath.json
  domains/heath.json
Labels: domain

#17989 Changed your dad
  domains/your-dad.json
Labels: domain

#17994 Update waki.json
  domains/waki.json
Labels: domain

#17995 Create _vercel.waki.json
  domains/_vercel.waki.json
Labels: domain

#17988 Create love.json
  domains/love.json
Labels: domain

#17998 register kawsar.is-a.dev
  domains/_vercel.kawsar.json
  domains/kawsar.json
Labels: domain

#18006 added domain request for glmacedo.is-a.dev hosted on cloudflare.
  domains/glmacedo.json
Labels: domain

#17999 Create ada.json
  domains/ada.json
Labels: domain

#18003 fix my information after username change
  domains/jabin.json
Labels: domain, reason: merge conflict

#18017 Create panel.devmatei.json
  domains/panel.devmatei.json
Labels: domain

#18026 Create denisklimenko.json
  domains/denisklimenko.json
Labels: domain, r: william

#18018 Change to Vercel (A Record)
  domains/_vercel.nine.json
  domains/nine.json
Labels: domain

#18020 Create april.json
  domains/april.json
Labels: domain

#18021 Switch CNAME record from Github site to personal Cloudflare Pages
  domains/ajtabs.json
Labels: domain

#18027 Create kahseng.json
  domains/kahseng.json
Labels: domain

#18037 Use pizza to redirect to heatblock.esb.is-a.dev
  domains/mcstatus.json
Labels: domain

#18038 Create keys.devmatei.json
  domains/keys.devmatei.json
Labels: domain

#18014 Create quantumgarden
  domains/quantumgarden.json
Labels: domain

#18039 create haripajjuri.json
  domains/_vercel.haripajjuri.json
  domains/haripajjuri.json
Labels: domain

#18042 Update server.mrdiamond.json
  domains/server.mrdiamond.json
Labels: domain

#17997 Register wave.is-a.dev
  domains/wave.json
Labels: domain

#18005 ah2 fixing privacy error message
  domains/ah2.json
Labels: domain

#18015 Create yashsachdev.json
  domains/yashsachdev.json
Labels: domain

#18012 Create spider-development.json
  domains/spider-development.json
Labels: domain

#18034 Register chess.amaankazi.is-a.dev
  domains/chess.amaankazi.json
Labels: domain

#18035 Create xvannn07.json
  domains/xvannn07.json
Labels: domain

#18000 Update korigamik.json
  domains/korigamik.json
Labels: domain, reason: invalid records

#18044 Create landercitygaming.json
  domains/landercitygaming.json
Labels: domain

#18046 Pex added
  domains/pex.json
Labels: domain

#18047 Add josemy sub domain
  domains/josemy.json
Labels: domain

#18049 new domain: rakshit.json
  domains/rakshit.json
Labels: domain

#18050 create shyam.json
  domains/shyam.json
Labels: domain

#18045 Create maybe.json
  domains/maybe.json
Labels: domain

#18052 remove bwkam.json
  domains/bwkam.json
Labels: domain

#18053 Add domain: dai.is-a.dev
  domains/_vercel.dai.json
  domains/dai.json
Labels: domain

#18054 Create omkartenkale.json
  domains/omkartenkale.json
Labels: domain

#18057 Update peme969.json
  domains/peme969.json
Labels: domain

#18086 Create _discord.sun.json
  domains/_discord.sun.json
Labels: domain

#18011 add serveo to pds.hcj.is-a.dev
  domains/_serveo-authkey.pds.hcj.json
  domains/pds.hcj.json
Labels: domain

#18058 manel.json
  domains/manel.json
Labels: domain

#18059 eldios.is-a.dev : add new domain for eldios
  domains/eldios.json
Labels: domain

#18061 Create kulikode.json
  domains/kulikode.json
Labels: domain

#18062 Add josemy github challenge
  domains/_github-pages-challenge-josemyduarte.josemy.json
Labels: domain

#18063 Create thien.json - Register `thien.is-a.dev` sub-domain
  domains/thien.json
Labels: domain

#18077 Update dawnbreaker.json
  domains/dawnbreaker.json
Labels: domain

#18080 Add arjuncodess.is-a.dev domain
  domains/_vercel.arjuncodess.json
  domains/arjuncodess.json
Labels: domain

#18064 Create cyberglot.json
  domains/cyberglot.json
Labels: domain

#18089 Create rayyan.json
  domains/rayyan.json
Labels: domain

#18092 Create kevin.json
  domains/kevin.json
Labels: domain

#18093 Create darshan
  domains/_vercel.darshan.json
  domains/darshan.json
Labels: domain

#18096 Register anuraglimbu.json
  domains/anuraglimbu.json
Labels: domain

#18098 Create rakibhossain.json
  domains/rakibhossain.json
Labels: domain

#18009 pxsty.is-a.dev
  domains/pxsty.json
Labels: domain

#18032 Create bn3di.json
  domains/bn3di.json
Labels: domain

#18030 Create nicetodayweather
  domains/nicetodayweather.json
Labels: domain, reason: invalid file

#18100 Updated peme969.json - removed NS records and readded the A record
  domains/peme969.json
Labels: domain

#18103 Create jeanpierre.json
  domains/jeanpierre.json
Labels: domain

#18056 Create redz.json
  domains/redz.json
Labels: domain

#18109 Update peme969.json - Added a TXT record
  domains/peme969.json
Labels: domain

#18110 Use Cloudflare DNS for longnt subdomain
  domains/longnt.json
Labels: domain

#18008 Register puncoz.is-a.dev
  domains/puncoz.json
Labels: domain, r: william

#18101 Create _github-pages-challenge-MohamadOday.json
  domains/_github-pages-challenge-mohamadoday.bn3di.json
Labels: domain

#18072 Create _gh-lumidevelopment-o.lumi.json
  domains/_gh-lumidevelopment-o.lumi.json
Labels: domain

#18105 create: shubhamsharma.json
  domains/shubhamsharma.json
Labels: domain

#18121 Create rakib.json
  domains/rakib.json
Labels: domain

#18122 Create myominhan.json
  domains/myominhan.json
Labels: domain

#18152 Create anibalbastiass.json
  domains/anibalbastiass.json
Labels: domain

#18108 Create renzcole.json
  domains/_vercel.renzcole.json
  domains/renzcole.json
Labels: domain

#18154 Samirkhanal
  domains/_vercel.samirkhanal.json
  domains/samirkhanal.json
Labels: domain

#18116 update record to cname
  domains/gary.json
Labels: domain

#18142 Add frankra domain
  domains/frankra.json
Labels: domain

#18126 Create sarthak-malhotra.json
  domains/sarthak-malhotra.json
Labels: domain

#18141 mrincer domain
  domains/_vercel.mrincer.json
  domains/mrincer.json
Labels: domain

#18139 Sujal
  domains/sujal.json
Labels: domain

#18137 Create borismoreno.json file
  domains/borismoreno.json
Labels: domain

#18159 Update ishh.json
  domains/ishh.json
Labels: domain

#18162 Create lester.json
  domains/lester.json
Labels: domain

#18163 Create tstark.json
  domains/tstark.json
Labels: domain

#18184 Agregar archivo JSON para el dominio de nxl22
  domains/neil.json
Labels: domain

#18182 ✨ feat(domain): add new domain memo.is-a.dev
  domains/memo.json
Labels: domain

#18174 Create ivo.json
  domains/ivo.json
Labels: domain

#18171 Add "aaronfort" domain
  domains/aaronfort.json
Labels: domain

#18169 Update ermal.json
  domains/ermal.json
Labels: domain

#18166 Create api.seiko.json
  domains/api.seiko.json
Labels: domain

#18160 Add aocsa.json domain configuration
  domains/aocsa.json
Labels: domain

#18165 Create mario-papetti.json
  domains/mario-papetti.json
Labels: domain

#18132 Create franky.json
  domains/franky.json
Labels: domain

#18068 Create bro.json
  domains/bro.json
Labels: domain, reason: invalid records

#18193 Added danielzambrano subdomain
  domains/danielzambrano.json
Labels: domain

#18130 Create _github-pages-challenge-abineethan.json
  domains/abineethan.json
Labels: domain, reason: invalid file

#18127 Create ethereumvd.json
  domains/ethereumvd.json
Labels: domain, reason: incomplete website

#18083 Register alkorsan.is-a.dev
  domains/alkorsan.json
Labels: domain, reason: incomplete website

#18146 Create nicojsuarez.json
  domains/nicojsuarez.json
Labels: domain, reason: invalid records, reason: invalid file

#18151 Add new domain for JonathanB500
  domains/jonathan.json
Labels: domain, reason: invalid records

#18155 Create Lautaro-Molina.json
  domains/lautaro-molina.json
Labels: domain, reason: invalid social, reason: invalid file

#18173 jesusdmedinac domain
  domains/jesusdmedinac.json
Labels: domain, reason: incomplete website

#18200 Create maideveloper.json
  domains/maideveloper.json
Labels: domain

#18201 Create horibyte.json
  domains/horibyte.json
Labels: domain

#18227 Change github username
  domains/ryz.json
Labels: domain

#18183 Register bundler.skibidi.is-a.dev
  domains/_vercel.skibidi.json
  domains/bundler.skibidi.json
Labels: domain, reason: incomplete website, reason: invalid file, reason: inaccessible website

#18217 Create eojeda.json
  domains/eojeda.json
Labels: domain

#18194 Create jretamal.json
  domains/jretamal.json
Labels: domain

#18196 create new domain maxwelbm maxwelbm.json
  domains/maxwelbm.json
Labels: domain

#18223 New sub domain pull request (maheshpaul.is-a.dev)
  domains/_vercel.maheshpaul.json
  domains/maheshpaul.json
Labels: domain

#18224 add record for drew.is-a.dev
  domains/drew.json
Labels: domain

#18207 Create nef.json
  domains/nef.json
Labels: domain

#18203 Create anthxny.json
  domains/anthxny.json
Labels: domain

#18199 Register nyexoi.is-a.dev
  domains/nyexoi.json
Labels: domain

#18209 Delete domains/vm.sevinda-herath.json
  domains/vm.sevinda-herath.json
Labels: domain

#18232 Create awais.json
  domains/awais.json
Labels: domain

#18233 Create ilhadev.json
  domains/ilhadev.json
Labels: domain

#18236 Create alexxhumilde.json
  domains/alexxhumilde.json
Labels: domain

#18237 Create hasan.json
  domains/hasan.json
Labels: domain

#18238 Create ramoweb.json
  domains/ramoweb.json
Labels: domain

#18234 Create davemp.json
  domains/davemp.json
Labels: domain

#18235 Create nxmtuan.json
  domains/nxmtuan.json
Labels: domain, reason: invalid records

#18243 Create jsanchez.json
  domains/jsanchez.json
Labels: domain

#18250 Update www.joe50097.json
  domains/www.joe50097.json
Labels: domain

#18251 Create emamut.json
  domains/emamut.json
Labels: domain

#18254 Create lioo.json
  domains/lioo.json
Labels: domain

#18255 Added jai.json subdomain
  domains/jai.json
Labels: domain

#18262 Create _atproto.horibyte.json
  domains/_atproto.horibyte.json
Labels: domain

#18264 Create sosaian.json
  domains/sosaian.json
Labels: domain

#18244 Create jorgelopez json file
  domains/jorgelopez.json
Labels: domain
