Repository is-a-dev/register, pull requests merged in 2025-03, with the labels that each got.

#20596 Add sign.alvin.is-a.dev
  domains/_vercel.alvin.json
  domains/sign.alvin.json
  domains/www.sign.alvin.json
Labels: domain

#20582 feat: macielsuassuna
  domains/_vercel.macielsuassuna.json
  domains/macielsuassuna.json
Labels: domain

#20686 feat(domains): register `cirno.is-a.dev`
  domains/cirno.json
Labels: domain

#20692 Create rudeus.json
  domains/rudeus.json
Labels: domain

#20691 Update abineethan.json
  domains/abineethan.json
Labels: domain

#20681 etercore.is-a.dev request
  domains/etercore.json
Labels: domain

#20679 Create quang.json
  domains/quang.json
Labels: domain

#20678 feat: added ken-kuro.json
  domains/_vercel.ken-kuro.json
  domains/ken-kuro.json
Labels: domain

#20676 Requesting henderythmix.is-a.dev for a portfolio page hosted on vercel
  domains/_vercel.henderythmix.json
  domains/henderythmix.json
Labels: domain

#20673 Create sreehari.json
  domains/sreehari.json
Labels: domain

#20669 Update nathan.json
  domains/nathan.json
Labels: domain

#20688 Register domain (Again)
  domains/dragonx943.json
Labels: domain

#20696 Create bayu.json
  domains/bayu.json
Labels: domain

#20674 Update and rename youssef-lmouden.json to youssef.json
  domains/youssef-lmouden.json
  domains/youssef.json
Labels: domain

#20668 Create wizzybot.joe50097.json
  domains/wizzybot.joe50097.json
Labels: domain

#20666 aankit.is-a.dev
  domains/aankit.json
Labels: domain

#20663 Create ayushman.json
  domains/ayushman.json
Labels: domain

#20662 Create narendradwivedi.json
  domains/narendradwivedi.json
Labels: domain

#20653 Create daffa.json
  domains/daffa.json
Labels: domain

#20667 Create www.wizzybot.joe50097.json
  domains/www.wizzybot.joe50097.json
Labels: domain

#20657 Create cally.json
  domains/cally.json
Labels: domain

#20652 Delete *ligmatv.json and Create w3teal.json
  domains/_atproto.ligmatv.json
  domains/_github-pages-challenge-ligmatv.ligmatv.json
  domains/_vercel.w3teal.json
  domains/co.ligmatv.json
  domains/ligmatv.json
  domains/w3teal.json
  domains/zmail._domainkey.co.ligmatv.json
Labels: domain

#20618 Add github page challenge
  domains/_github-pages-challenge-kajpio.kajetan.json
Labels: domain

#20643 Create tomek.json
  domains/tomek.json
Labels: domain

#20642 Create bumidenpasar.json and _vercel.bumidenpasar.json
  domains/_vercel.bumidenpasar.json
  domains/bumidenpasar.json
Labels: domain

#20641 Register kilamieaz.is-a.dev
  domains/_vercel.kilamieaz.json
  domains/kilamieaz.json
Labels: domain

#20637 Create tanbaycu.json
  domains/tanbaycu.json
Labels: domain

#20635 Create eli.json
  domains/eli.json
Labels: domain

#20633 Create _vercel.isaiadriel.json
  domains/_vercel.isaiadriel.json
Labels: domain

#20630 Create abeer.json
  domains/abeer.json
Labels: domain

#20629 Create ghsearch.json
  domains/ghsearch.json
Labels: domain

#20626 Create pulkitmidha.json
  domains/pulkitmidha.json
Labels: domain

#20622 Create _vercel.huuloc.json
  domains/_vercel.huuloc.json
Labels: domain

#20621 create vlad.is-a.dev domain
  domains/vlad.json
Labels: domain

#20619 Register `bonusbubble.is-a.dev` ~ Thank you so much, `is-a.dev` :revolving_hearts:
  domains/bonusbubble.json
Labels: domain

#20617 Create saeedmfarahani.json
  domains/saeedmfarahani.json
Labels: domain

#20613 Create spencer.json
  domains/spencer.json
Labels: domain

#20585 Create omesh.json
  domains/omesh.json
Labels: domain

#20611 Create drbaph.json
  domains/drbaph.json
Labels: domain

#20610 Create reiya.json
  domains/reiya.json
Labels: domain

#20699 Create _github-pages-challenge-nduartech.nathan.json
  domains/_github-pages-challenge-nduartech.nathan.json
Labels: domain

#20701 Update tanbaycu.json
  domains/tanbaycu.json
Labels: domain

#20706 Add discord linking to cally.json
  domains/_discord.cally.json
Labels: domain

#20529 NS records for Cloudflare
  domains/_discord.imm0nv1nhtv.json
  domains/imm0nv1nhtv.json
  domains/nepnep.imm0nv1nhtv.json
Labels: domain, r: william

#20709 Create _vercel.youssef.json <== !
  domains/_vercel.youssef.json
Labels: domain

#20710 Create _discord.harunabdullah.json
  domains/_discord.harunabdullah.json
Labels: domain

#20716 Create _github-pages-challenge-leespencer.spencer.json
  domains/_github-pages-challenge-leespencer.spencer.json
Labels: domain

#20707 Create dharamvir.json
  domains/dharamvir.json
Labels: domain

#20713 Create vinitshah.json
  domains/vinitshah.json
Labels: domain

#20715 Create supperfreddo.json
  domains/_vercel.supperfreddo.json
  domains/supperfreddo.json
Labels: domain

#20631 pita.json
  domains/pita.json
Labels: domain, reason: invalid file

#20702 Create bryan14saenz.json
  domains/bryan14saenz.json
Labels: domain, reason: invalid social, reason: invalid records, reason: invalid file

#20714 Request for abdulquddus.is-a.dev
  domains/abdulquddus.json
Labels: domain

#20719 Create _vercel.tanbaycu.json
  domains/_vercel.tanbaycu.json
Labels: domain

#20722 Create nickibreeki.json
  domains/nickibreeki.json
Labels: domain

#20723 Create quangtran.json
  domains/quangtran.json
Labels: domain

#20726 Request for website domain (again)
  domains/jznctt.json
Labels: domain

#20728 records update
  domains/0xarchit.json
Labels: domain

#20735 Add bandu.json configuration for domain ownership and CNAME record
  domains/bandu.json
Labels: domain

#20739 Create yahli.json
  domains/yahli.json
Labels: domain

#20740 mail verification
  domains/zmail._domainkey.0xarchit.json
Labels: domain

#20741 Create shoaib.json
  domains/shoaib.json
Labels: domain

#20747 Create _github-pages-challenge-sandunmadhushan.json
  domains/_github-pages-challenge-sandunmadhushan.sandun.json
Labels: domain

#20751 Create tainguyen.json
  domains/tainguyen.json
Labels: domain

#20757 changing redirection to cname
  domains/0xarchit.json
Labels: domain

#20758 Updated the URL
  domains/kunalpurandare.json
Labels: domain

#20729 Create arlan.json
  domains/_vercel.arlan.json
  domains/arlan.json
Labels: domain, reason: invalid records

#20763 add innocentzero.json
  domains/innocentzero.json
Labels: domain

#20764 Update _vercel.arlan.json
  domains/_vercel.arlan.json
Labels: domain

#20765 update summon-the-coder.json
  domains/summon-the-coder.json
Labels: domain

#20761 Update records, create gh pages verification - hopefully without conflicts this time
  domains/_github-pages-challenge-totalolage.filip.json
  domains/filip.json
Labels: domain

#20703 Create bao.json
  domains/bao.json
  domains/www.bao.json
Labels: domain

#20733 Create minhtan.json
  domains/_vercel.minhtan.json
  domains/minhtan.json
Labels: domain

#20752 Create marten-mrfc.json
  domains/marten-mrfc.json
Labels: domain

#20766 add alen.json
  domains/alen.json
Labels: domain

#20742 Create cemalgnlts.json
  domains/cemalgnlts.json
Labels: domain, reason: invalid social

#20748 Create priscila.json
  domains/priscila.json
Labels: domain, reason: incomplete website

#20754 create xhide341.json
  domains/xhide341.json
Labels: domain, reason: invalid records

#20489 Lver merge request
  domains/_discord.lver.json
  domains/ad.lver.json
  domains/lit.lver.json
  domains/lver-rocks.lver.json
  domains/lver.json
  domains/mail.lver.json
Labels: domain, reason: invalid records

#20759 Create ysoseriouz.json
  domains/ysoseriouz.json
Labels: domain, reason: invalid social

#20762 Add omar.adel.json
  domains/omaradel.json
Labels: domain, reason: invalid social, reason: invalid records, reason: unauthorized

#20730 Resubmit: roylee0704.json
  domains/roylee0704.json
Labels: domain, reason: invalid records

#20775 Patch 1
  domains/elbek.json
Labels: domain

#20773 Updated json file
  domains/frank-perez-fleita.json
Labels: domain

#20781 www.0xarchit setup for 0xarchit.is-a.dev
  domains/www.0xarchit.json
Labels: domain

#20434 Update juststudio.is-a.dev and js.is-a.dev
  domains/js.json
  domains/juststudio.json
Labels: domain, status: awaiting maintainer decision

#20778 Add faisalamin.json file
  domains/faisalamin.json
Labels: domain

#20780 Create datit309.json
  domains/datit309.json
Labels: domain

#20790 Create moddatei.json
  domains/moddatei.json
Labels: domain

#20794 Register new domain fang.is-a.dev
  domains/fang.json
Labels: domain

#20796 Create dikshantsingh.json
  domains/dikshantsingh.json
Labels: domain

#20800 Create _discord.moddatei.json
  domains/_discord.moddatei.json
Labels: domain

#20799 Create rahulsunil.json
  domains/rahulsunil.json
Labels: domain

#20792 Create blogs.akk1to.is-a.dev
  domains/_vercel.blogs.akk1to.json
  domains/blogs.akk1to.json
  domains/resend._domainkey.blogs.akk1to.json
  domains/send.blogs.akk1to.json
Labels: domain

#20802 Update CNAME for omardotdev.json
  domains/omardotdev.json
Labels: domain

#20801 suggest 26 (actually 10416) subdomains to be reserved and 1 subdomain to be redirected to github repo
  domains/get.json
  util/reserved.json
Labels: domain, r: william

#20808 allow letsencrypt to issue certs for filip.is-a.dev
  domains/filip.json
Labels: domain, do not merge, r: william

#20806 Add services.defective.json (previous PR was closed)
  domains/services.defective.json
Labels: domain

#20788 Create ariabid.json
  domains/ariabid.json
Labels: domain

#20787 Create abidraza.json
  domains/abidraza.json
Labels: domain

#20814 Create rizkykr.json
  domains/rizkykr.json
Labels: domain

#20834 Update blogs.akk1to.json (A records is not working with my vercel page)
  domains/blogs.akk1to.json
Labels: domain

#20827 Create alejandropi.json
  domains/alejandropi.json
Labels: domain

#20829 Create jonathanmoya.json
  domains/jonathanmoya.json
Labels: domain

#20837 add sifat.is-a.dev as subdomain
  domains/_vercel.sifat.json
  domains/sifat.json
Labels: domain

#20839 create simone.json
  domains/_vercel.simone.json
  domains/simone.json
Labels: domain

#20840 add emanuel-prado subdomain
  domains/_vercel.emanuel-prado.json
  domains/emanuel-prado.json
Labels: domain

#20843 jwe0.json
  domains/jwe0.json
Labels: domain

#20824 Creating the domain files for hareesh.is-a.dev domain
  domains/_vercel.hareesh.json
  domains/hareesh.json
Labels: domain, reason: other

#20857 Rename the txt record, goes back to the parent domain
  domains/_vercel.akk1to.json
Labels: domain

#20846 Update drbaph.json
  domains/drbaph.json
Labels: domain

#20850 Create valentin-nicheglod.json
  domains/valentin-nicheglod.json
Labels: domain

#20852 Change CNAME into Cloudflare Workers
  domains/rizkykr.json
Labels: domain

#20830 Create sh13y.json
  domains/sh13y.json
Labels: domain

#20849 Create william2sober.json
  domains/william2sober.json
Labels: domain, reason: invalid file, reason: not dev related

#20845 Create florent.json
  domains/florent.json
Labels: domain, reason: invalid social, reason: invalid records

#20863 Add
  domains/ingo.json
Labels: domain

#20861 Create milaan.json
  domains/milaan.json
Labels: domain

#20859 Create vedant.json
  domains/vedant.json
Labels: domain

#20826 Update datit309.json
  domains/datit309.json
Labels: domain, reason: invalid file

#20842 Updated MX Records, added link-to, updated SPF records.
  domains/link-to.lver.json
  domains/mail.lver.json
Labels: domain, reason: invalid records

#20865 modify domain to redirect to vercel and not github pages
  domains/_vercel.zessu.json
  domains/drew.json
Labels: domain

#20867 Update kunalpurandare.json
  domains/kunalpurandare.json
Labels: domain

#20872 fix bug in _vercel file name, should be _vercel.drew not _verzel.zessu
  domains/_vercel.drew.json
Labels: domain

#20884 Rename yourtilak.json to sageofluke.json
  domains/sageofluke.json
  domains/yourtilak.json
Labels: domain

#20882 sifat.is-a.dev: update CNAME
  domains/sifat.json
Labels: domain

#20881 Register Lycoris
  domains/_vercel.lycoris.json
  domains/lycoris.json
Labels: domain

#20877 Create DNS record for verification
  domains/_github-pages-challenge-nuraly-v.nuraly.json
Labels: domain

#20875 Create duanyang.json
  domains/duanyang.json
Labels: domain

#20873 Create griff.json
  domains/griff.json
Labels: domain

#20888 Update sageofluke.json
  domains/sageofluke.json
Labels: domain

#20887 Create luxorens.json
  domains/luxorens.json
Labels: domain

#20866 add omarjaber.json
  domains/omarjaber.json
Labels: domain, reason: inaccessible website

#20860 Create r42mp6d7pwns.bao.json
  domains/r42mp6d7pwns.bao.json
Labels: domain

#20889 Create noelpatonog.json
  domains/noelpatonog.json
Labels: domain

#20890 reserve 40793 subdomains
  util/reserved.json
Labels: ci

#20892 reserve some more subdomains
  util/reserved.json
Labels: r: william

#20891 Domain for redirection (www)
  domains/www.angganix.json
Labels: domain, reason: invalid file

#20871 Create arca.json
  domains/arca.json
Labels: domain, reason: invalid records

#20895 Create w0l1d.json
  domains/w0l1d.json
Labels: domain

#20899 Create _vercel.aishik999.json
  domains/_vercel.aishik999.json
Labels: domain

#20901 Create darsshan.json
  domains/darsshan.json
Labels: domain

#20902 adding a domain
  domains/nvcoden.json
Labels: domain

#20903 Create _github-pages-challenge-kunalpurandare.json
  domains/_github-pages-challenge-kunalpurandare.kunalpurandare.json
Labels: domain

#20906 Switch E-Mail servers as I lost my Zoho Mail account.
  domains/_dmarc.sewt.json
  domains/dkim._domainkey.sewt.json
  domains/dkim02._domainkey.sewt.json
  domains/dkim03._domainkey.sewt.json
  domains/sewt.json
Labels: domain, r: william

#20918 create pranavarya.json
  domains/pranavarya.json
Labels: domain

#20909 Create miguelsole.json
  domains/miguelsole.json
Labels: domain

#20915 Create jameshartley.json
  domains/jameshartley.json
Labels: domain

#20914 Create nihalkrishna.json
  domains/nihalkrishna.json
Labels: domain

#20900 Update felipecampos.json
  domains/felipecampos.json
Labels: domain
