Repository is-a-dev/register, pull requests merged in 2025-06, with the labels that each got.

#23254 Create affaz.json
  domains/affaz.json
Labels: domain

#23253 Update aldess.json
  domains/aldess.json
Labels: domain

#23251 Create boboh.json
  domains/boboh.json
Labels: domain

#23222 Add Domain cube.is-a.dev
  domains/cube.json
Labels: domain

#23252 Add email
  domains/roxi.json
Labels: domain

#23098 Create nioka.json
  domains/nioka.json
Labels: domain

#23099 Create lucaspalma.json
  domains/lucaspalma.json
Labels: domain

#23097 Create hari.json
  domains/hari.json
Labels: domain

#23138 Create shell.nightapi.json
  domains/shell.nightapi.json
Labels: domain

#23143 Create bys.json
  domains/bys.json
Labels: domain

#23146 Update ramoweb.json
  domains/ramoweb.json
Labels: domain

#23155 Create wukalt.json
  domains/wukalt.json
Labels: domain

#23156 Changing to URL instead of CNAME
  domains/spaghetti.json
Labels: domain

#23276 Changing domain
  domains/tas33n.json
Labels: domain

#23279 Create kaaeza.json
  domains/kaaeza.json
Labels: domain

#23293 Update and rename cirkutry.json to kre0lidge.json
  domains/cirkutry.json
  domains/kre0lidge.json
Labels: domain

#23294 add discord verification
  domains/satr14.json
Labels: domain

#23304 trmn domain added
  domains/termin.json
  domains/trmn.json
Labels: domain

#23303 Create ansh31.json
  domains/ansh31.json
Labels: domain

#23093 Create projects.itsmarian.json
  domains/projects.itsmarian.json
Labels: domain

#23153 Update fan.json
  domains/fan.json
Labels: domain

#23142 Create prt.json
  domains/prt.json
Labels: domain

#23120 Add antoniomonzo.is-a.dev
  domains/antoniomonzo.json
Labels: domain

#23172 Create mttomaz.json
  domains/mttomaz.json
Labels: domain

#23190 Create hirakow.json
  domains/hirakow.json
Labels: domain

#23198 adding shadowdara
  domains/shadowdara.json
Labels: domain

#23200 Create gabriel.json
  domains/gabriel.json
Labels: domain

#23202 Create ump.json
  domains/ump.json
Labels: domain

#23170 Delete domains/wizzybot.joe50097.json
  domains/wizzybot.joe50097.json
Labels: domain

#23239 init json
  domains/vansh.json
Labels: domain

#23242 I created docroch.json
  domains/docroch.json
Labels: domain

#23246 Add omarmomani.is-a.dev subdomain
  domains/omarmomani.json
Labels: domain

#23212 Create jjw.json
  domains/jjw.json
Labels: domain, reason: incomplete website, reason: invalid social

#23247 Create kat.is-a.dev
  domains/kat.json
Labels: domain

#23248 Change alecks.json to route to a different server, enable cf proxy
  domains/alecks.json
Labels: domain

#23266 Create bukonatnat.json
  domains/bukonatnat.json
Labels: domain

#23275 Create briankimemia.json
  domains/briankimemia.json
Labels: domain

#23320 Create melishy.json
  domains/melishy.json
Labels: domain

#23296 Create _github-pages-challenge-kaaeza.kaaeza.json
  domains/_github-pages-challenge-kaaeza.kaaeza.json
Labels: domain

#23281 Create _github-pages-challenge-harishnkr.hari.json
  domains/_github-pages-challenge-harishnkr.hari.json
Labels: domain

#23301 add improvMX records, enable proxy
  domains/ducky.json
Labels: domain

#23289 Add gaurav.json
  domains/gaurav.json
Labels: domain

#23323 added basanta.json
  domains/basanta.json
Labels: r: william

#23168 Create ivanchavez.is-a.dev.json
  domains/ivanchavez.is-a.dev.json
Labels: reason: invalid file

#23158 "Add yourname.is-a.dev subdomain"
  domains/success.json
Labels: reason: invalid file, status: needs preview

#23234 Registering my domain for my own site and my homelab.
  domains/suvam.json
Labels: reason: other

#23387 Create mc.job.json
  domains/mc.job.json
Labels: r: william

#23391 Create aurora.json
  domains/aurora.json
Labels: reason: invalid file

#23406 add pedroamaro.is-a.dev domain
  domains/pedroamaro.json
Labels: reason: invalid file, reason: inaccessible website

#23469 Create domains/kuvaldini.json
  domains/kuvaldini.json
Labels: reason: invalid file

#23438 Update nawaz.json
  domains/nawaz.json
Labels: reason: invalid records

#23504 Add a ghosty.is-a.dev with the format json file name ghosty.json
  domains/_vercel.ghosty.json
  domains/ghosty.json
Labels: reason: invalid file

#23518 added suggon.json, ghpages and discord
  domains/_discord.suggon.json
  domains/_github-pages-challenge-suggonm.suggon.json
  domains/suggon.json
Labels: reason: invalid file

#23483 Create kanishk.json
  domains/kanishk.json
Labels: status: low priority, reason: invalid file

#23493 Create _github-pages-challenge-wait2late.shakil-i.shakil.json
  domains/_github-pages-challenge-wait2late.shakil-i.json
Labels: reason: unauthorized

#23508 Addition of angulorecto.is-a.dev and various components
  domains/_dmarc.angulorecto.json
  domains/angulorecto.json
  domains/mail.angulorecto.json
  domains/mailjet._02050332.angulorecto.json
  domains/site.angulorecto.json
Labels: reason: invalid file

#23481 Create itsyourap.json
  domains/_vercel.itsyourap.json
  domains/itsyourap.json
Labels: reason: invalid file

#23561 Update and rename keiran.json to kc.json
  domains/kc.json
  domains/keiran.json
Labels: ci: bypass-owner-check

#23690 KuaterCraft Portfolio subdomain
  domains/kuatercraft.json
Labels: reason: incomplete website

#23716 Add initial configuration for mariyasf domain
  domains/mariyasf.json
Labels: status: needs preview

#23835 Update and rename nextdragon.json to nightfox.json
  domains/nextdragon.json
  domains/nightfox.json
Labels: ci: bypass-owner-check

#23875 Updated username (Update and rename l6174.json to sekiryl.json)
  domains/sekiryl.json
Labels: ci: bypass-owner-check

#23882 Updated Nameservers
  domains/sekiryl.json
Labels: ci: bypass-owner-check

#23904 Remove domains which don't work at all
  domains/realityleaks.json
  domains/ritwick2006.json
  domains/vrbz.json
  domains/whos.json
Labels: maintainer
