Repository is-a-dev/register, pull requests merged in 2025-07, with the labels that each got.

#24052 remove imagollc.is-a.dev
  domains/_vercel.imagollc.json
  domains/imagollc.json
Labels: maintainer

#24037 Add klyneajido.is-a.dev
  domains/_vercel.klyneajido.json
  domains/klyneajido.json
Labels: reason: unauthorized

#24010 Create deep.json
  domains/deep.json
Labels: reason: invalid file

#24156 add fearr.swrlzxx.is-a.dev subdomain registration
  domains/fearrr.swrlzxx.json
  domains/swrlzxx.json
Labels: reason: invalid records

#24033 Create vishalmahto.json
  domains/vishalmahto.json
Labels: reason: invalid records, reason: invalid file

#24213 Create vishalkumar.json
  domains/vishalkumar.json
Labels: reason: incomplete website

#24199 Request ns record for junizt.is-a.dev
  domains/junizt.json
Labels: r: william

#24276 Delete domains/vaibhav.json
  domains/vaibhav.json
Labels: maintainer

#24278 remove invalid domains
  domains/_discord.gonpvp.json
  domains/alfanaan.json
  domains/dae.json
  domains/elfanaan.json
  domains/flowwing.json
  domains/gonpvp.json
  domains/kershan.json
  domains/thiomains.json
  domains/timoelrichs.json
Labels: maintainer

#24279 delete invalid domains
  domains/aichat.json
  domains/deliable.json
  domains/melody.json
  domains/neo.json
  domains/rayrsn.json
  domains/sfe.json
  domains/zomb.json
Labels: maintainer

#24288 delete invalid subdomains with NS
  domains/benjamin.json
  domains/bilalthepunjabi.json
  domains/bulletboy.json
  domains/celesta.json
  domains/creeperita104.json
  domains/debjotimallick.json
  domains/elite.json
  domains/glmacedo.json
Labels: maintainer

#24308 Delete `sewt.is-a.dev`
  domains/_discord.sewt.json
  domains/_dmarc.sewt.json
  domains/_github-pages-challenge-skyexplorewastaken.sewt.json
  domains/jello.sewt.json
  domains/sewt.json
  domains/zmail._domainkey.sewt.json
Labels: maintainer

#24232 Create savannah-smith.is-a.dev
  domains/_vercel.savannah-smith.json
  domains/savannah-smith.json
Labels: reason: invalid file

#24351 Create PrinsSayja.is-a.dev
  domains/prinssayja.json
Labels: reason: incomplete website, reason: invalid file

#24331 add mishrashardendu22.is-a.dev
  domains/_vercel.mishrashardendu22.json
  domains/mishrashardendu22.json
Labels: reason: invalid file, reason: inaccessible website

#24143 Please accept this
  domains/_vercel.jamshaid.json
  domains/jamshaid.json
Labels: status: awaiting user response

#24371 chore: added updated clear messaging for commercial
  .github/PULL_REQUEST_TEMPLATE.md
Labels: maintainer

#24360 Update reserved.json
  util/reserved.json
Labels: r: william

#24354 Create prinssayja01.json
  domains/prinssayja01.json
Labels: reason: invalid file

#24375 add devcat-exe.is-a.dev
  domains/_discord.devcat-exe.json
  domains/_vercel.devcat-exe.json
  domains/devcat-exe.json
Labels: reason: invalid file

#24363 Update harunabdullah.json
  domains/_dmarc.harunabdullah.json
  domains/harunabdullah._domainkey.harunabdullah.json
  domains/harunabdullah.json
Labels: reason: invalid records

#24489 Add missing TXT record for Vercel verification – jacobmalmberg.is-a.dev
  domains/_vercel.jacobmalmberg.json
  domains/jacobmalmberg.json
Labels: reason: invalid file

#24378 Create arkaive19.json
  domains/arkaive19.json
Labels: reason: incomplete website

#24409 Create soumyaso.json
  domains/soumyaso.json
Labels: reason: invalid records

#24464 Add akris.is-a.dev subdomain
  domains/akris.json
Labels: reason: invalid file

#24465 Create idev.json
  domains/idev.json
Labels: reason: invalid file

#24528 meta: remove extra question mark
  README.md
Labels: maintainer

#24509 Create kartavyagore.json
  domains/kartavyagore.json
Labels: reason: invalid records

#24537 Create Abhinav.json
  domains/abhinav.json
Labels: reason: invalid records, reason: invalid file

#24540 Update saad.json
  domains/saad.json
Labels: reason: invalid file

#24561 Update mitulsavani.json
  domains/mitulsavani.json
Labels: reason: invalid file

#24593 Create tanmoy.json
  domains/tanmoy.json
Labels: reason: invalid file

#24604 Add sh.is-a.dev
  domains/_github-pages-challenge-smirkhat.sh.json
  domains/sh.json
Labels: reason: invalid file

#24565 Re-adding NS Records and Providing Clarification
  domains/fmotalleb.json
Labels: r: william

#24816 Create ramateja.json
  domains/ramateja.json
Labels: reason: invalid file

#24833 Update sergarsilla.json
  domains/_dmarc.sergarsilla.json
  domains/resend._domainkey.sergarsilla.json
  domains/sergarsilla.json
Labels: reason: invalid records

#24773 Create embeddingbits.json
  domains/embeddingbits.json
Labels: reason: other
