Repository is-a-dev/register, pull requests merged in 2025-09, with the labels that each got.

#26143 dimonsmart domain cname and txt verification added
  domains/_github-pages-challenge-dimonsmart.dimonsmart.json
  domains/dimonsmart.json
Labels: reason: invalid file

#26195 Add cardoso.json
  domains/cardoso.json
Labels: reason: invalid records, reason: unauthorized

#26262 Add dollong.json
  domains/_vercel.dollong.json
  domains/dollong.json
Labels: reason: invalid file

#26264 Create vitekjurcik.json
  domains/vitekjurcik.json
Labels: reason: invalid records

#26296 Add GitHub Pages challenge configuration for valooost
  domains/_github-pages-challenge-valooost.valooost.json
Labels: reason: invalid file

#26414 manu
  domains/0xdwb.json
Labels: reason: invalid file

#26519 add domain estebanrg
  domains/estebanrg.json
Labels: reason: invalid file

#26340 Create fajarnxm.json
  domains/fajarnxm.json
Labels: reason: incomplete website, reason: invalid social, reason: invalid file

#26536 Domain Registration
  domains/_vercel.romeo.json
  domains/romeo.json
Labels: reason: invalid social, reason: invalid file

#26549 Add rmonteseba portfolio JSON configuration
  domains/rmonteseba.json
Labels: status: needs preview

#26427 Pujan-dev
  domains/_vercel.pujan.json
  domains/pujan.json
Labels: reason: invalid records

#26543 Add kicky.is-a.dev domain
  domains/kicky.json
Labels: reason: incomplete website

#26622 added sudhir.json
  domains/sudhir.json
Labels: reason: invalid file

#26335 Created tusharsoni.json for tusharsoni.is-a.dev
  domains/tusharsoni.json
Labels: reason: invalid records, reason: invalid file

#26352 Create bearshen.json
  domains/bearshen.json
Labels: reason: invalid social, reason: invalid file

#26489 Create oren.json
  domains/oren.json
Labels: reason: incomplete website

#26347 Create shaoyanji
  domains/shaoyanji.json
Labels: reason: invalid file

#26545 feat: updated my username.
  domains/vishwa.json
Labels: reason: invalid records

#26157 Update hridimay.json
  domains/hridimay.json
Labels: r: william

#26529 create zach.json and _vercel.zach.json
  domains/_vercel.zach.json
  domains/zach.json
Labels: reason: invalid records

#26548 Add mou.json and _vercel.mou.json
  domains/_vercel.mou.json
  domains/mou.json
Labels: reason: invalid file

#26629 ty.is-a.dev
  domains/_vercel.ty.json
  domains/ty.json
Labels: reason: inaccessible website

#26662 add Dominik.json
  domains/dominik.json
Labels: reason: invalid file

#26711 added akshayjoshi.json
  domains/akshayjoshi.json
Labels: status: awaiting user response

#26721 Add domain configuration for priyanshugupta
  domains/_vercel.priyanshugupta.json
  domains/priyanshugupta.json
Labels: status: needs preview, reason: incomplete pr

#26757 Create shivam.json
  domains/shivam.json
Labels: reason: invalid social, reason: invalid file

#26741 pharel.json
  domains/pharel.json
Labels: reason: invalid file

#26792 Create ravnit subdomain
  domains/ravnit.json
Labels: reason: incomplete website, reason: invalid file

#26706 added details to json
  domains/syamkarni.json
Labels: reason: incomplete website, reason: invalid file

#26696 Neodevils
  domains/neodevils.json
Labels: reason: invalid records

#26701 Request ajemina.is-a.dev subdomain
  domains/ajemina.json
Labels: reason: invalid records, reason: invalid file

#26753 Created ferdian
  domains/_vercel.ferdian.json
  domains/ferdian.json
Labels: reason: incomplete website

#26805 Create pure.json
  domains/pure.json
Labels: reason: incomplete website

#26778 added suhel.json
  domains/suhel.json
Labels: reason: invalid file

#26869 Create vibecoder.json
  domains/vibecoder.json
Labels: reason: incomplete website

#26871 Create a.json
  domains/a.json
Labels: reason: incomplete website

#26870 Add files via upload
  domains/wajid.json
Labels: reason: invalid file

#26689 Update CNAME record in lukycz.json
  domains/lukycz.json
Labels: status: awaiting user response

#26885 Create hriteek.json for domain configuration
  domains/hriteek.json
Labels: reason: invalid file

#26947 Pull Request for my subdomain
  domains/_vercel.aungkaungmyat.json
  domains/aungkaungmyat.json
Labels: status: needs preview, reason: incomplete pr

#26951 Add hashes.json for domain configuration
  domains/hashes.json
Labels: reason: invalid records

#26454 Website link updated.
  domains/bihev.json
Labels: reason: invalid file

#26939 Add joeyissa subdomain
  domains/joeyissa.json
Labels: reason: invalid file

#26942 Add muhammadaffan.json for domain registration
  domains/_github-pages-challenge-muhammadaffan623.muhammadaffan.json
  domains/muhammadaffan.json
Labels: reason: invalid records, reason: invalid file

#26996 Create mubeen.json
  domains/_vercel.mubeen.json
  domains/mubeen.json
Labels: reason: invalid records, reason: invalid file

#27004 Create tryguy.json
  domains/tryguy.json
Labels: reason: invalid records

#27060 done
  domains/israelthecoder.json
Labels: reason: invalid records, status: needs preview

#27046 betim.is-a.dev
  domains/betim.json
Labels: reason: invalid social, reason: invalid file

#27105 Create dimitri.json for domain configuration
  domains/dimitri.json
Labels: reason: invalid records, reason: invalid file

#27124 Create arly.json
  domains/arly.json
Labels: reason: invalid file
