Repository is-a-dev/register, pull requests merged in 2025-04, with the labels that each got.

#21670 Create kyizl.json
  domains/kyizl.json
Labels: domain

#21586 Add files via upload
  domains/_vercel.ramya.json
  domains/ramya.json
Labels: domain, reason: invalid records, reason: invalid file

#21675 Create cfg-codes.json
  domains/cfg-codes.json
Labels: domain

#21667 joshuawise.is-a.dev Github Verification
  domains/_github-pages-challenge-jlwisedev.joshuawise.json
Labels: domain

#21666 Create _vercel.chamal1120.json and chamal1120.json
  domains/_vercel.chamal1120.json
  domains/chamal1120.json
Labels: domain

#21665 Create _vercel.yatharth.json & yatharth.json
  domains/_vercel.yatharth.json
  domains/yatharth.json
Labels: domain

#21663 Create charmy.json
  domains/charmy.json
Labels: domain

#21677 Requesting a domain for moddy-bot.is-a.dev
  domains/moddy.json
Labels: domain

#21673 vasuxd.json
  domains/vasu-xd.json
  domains/vasuxd.json
Labels: domain

#21669 Request senthil.is-a.dev subdomain
  domains/senthil.json
Labels: domain, status: needs preview

#21681 Update suki.json
  domains/suki.json
Labels: domain

#21680 feat: add rathee.is-a.dev domain with CNAME record pointing to rathee.vercel.app
  domains/_vercel.rathee.json
  domains/rathee.json
Labels: domain

#21683 Create salsabila.json
  domains/salsabila.json
Labels: domain

#21691 Updated with name record removed.
  domains/holdulv.json
Labels: domain

#21690 Update salsabila.json
  domains/salsabila.json
Labels: domain

#21692 domains: new subdomain
  domains/_vercel.venkat.json
  domains/venkat.json
Labels: domain

#21679 Apply for the domain name awinds.is-a.dev andenable NS function
  domains/awinds.json
Labels: domain, r: william

#21688 Create jwoj.json
  domains/jwoj.json
Labels: domain

#21702 Create api.kyizl.json
  domains/api.kyizl.json
Labels: domain

#21703 Add amitkr domain
  domains/_vercel.amitkr.json
  domains/amitkr.json
Labels: domain

#21700 add txt record
  domains/_vercel.akshtt.json
Labels: domain, reason: other

#21707 rename cname
  domains/_vercel.reiiv-beta.json
  domains/reiiv-beta.json
Labels: domain

#21709 CNAME request
  domains/batman.json
Labels: domain

#21710 Update salsabila.json
  domains/salsabila.json
Labels: domain

#21714 Add discord for amitkr
  domains/_discord.amitkr.json
Labels: domain

#21716 main: Fix wrong TXT
  domains/_github-pages-challenge-sajidshahriar72543.sajid.json
Labels: domain

#21708 Domain Request: vapr
  domains/_vercel.vapr.json
  domains/vapr.json
Labels: domain

#21715 Addition of ivin-mathew.is-a.dev subdomain
  domains/_vercel.ivin-mathew.json
  domains/ivin-mathew.json
Labels: domain

#21717 Register qr.akshtt.is-a.dev
  domains/qr.akshtt.json
Labels: domain

#21719 Create adel-dafi.json
  domains/adel-dafi.json
Labels: domain

#21724 Update jeielmiranda.json | Username Changed
  domains/jeielmiranda.json
Labels: domain

#21722 Create rith.json
  domains/_vercel.rith.json
  domains/rith.json
Labels: domain

#21721 Update _vercel.akshtt.json
  domains/_vercel.akshtt.json
Labels: domain

#21726 Update akshtt.json
  domains/akshtt.json
Labels: domain

#21637 Changed records for nameserver
  domains/0xarchit.json
  domains/api.0xarchit.json
  domains/www.0xarchit.json
  domains/zmail._domainkey.0xarchit.json
Labels: domain, r: william

#21731 Add katidoki.is-a.dev
  domains/katidoki.json
Labels: domain

#21732 Add daoch4n.json domain
  domains/daoch4n.json
Labels: domain

#21733 create ritesh.json PR for domain
  domains/ritesh.json
Labels: domain

#21734 refactor(readme): grammar issues
  README.md
Labels: maintainer

#21737 Create eternasuno.json
  domains/eternasuno.json
Labels: domain

#21738 👾 CF Pages gives me CNAME Cross-User Banned Error, so pls update daoch4n domain
  domains/_dnslink.daoch4n.json
  domains/daoch4n.json
Labels: domain

#21729 Create thinhnguyen.json
  domains/thinhnguyen.json
Labels: domain, reason: invalid file, reason: inaccessible website

#21748 Create yu.json
  domains/yu.json
Labels: domain

#21750 require strict parents for every level
  domains/_minecraft._tcp.mc.3gee.json
  domains/api.karyakarsa.willo.json
  domains/auth.sign.alvin.json
  domains/mc.3gee.json
  tests/domains.test.js
Labels: domain, ci, maintainer

#21749 Create vulehuan.json for vulehuan.com
  domains/vulehuan.json
Labels: domain

#21740 Create coder.json
  domains/coder.json
Labels: domain, r: william

#21490 Create reejit.json
  domains/reejit.json
Labels: domain, r: william

#21752 remove denisklimenko.is-a.dev
  domains/denisklimenko.json
Labels: maintainer

#21758 feat(ci): root subdomains must have atleast one usable record
  tests/records.test.js
Labels: ci, maintainer

#21747 For my personal blog hosted on GitHub Pages.
  domains/nhavy.json
Labels: domain, reason: invalid social

#21760 Update tawhid.json
  domains/tawhid.json
Labels: domain

#21762 Pull Request for domain "fbik.is-a.dev"
  domains/_vercel.fbik.json
  domains/fbik.json
Labels: domain

#21757 main registration
  domains/vrachit.json
Labels: domain

#21764 Create kinfhertix.json
  domains/_vercel.kinfhertix.json
  domains/kinfhertix.json
Labels: domain

#21765 Create jd1.json
  domains/jd1.json
Labels: domain

#21766 Create makarbass.json
  domains/makarbass.json
Labels: domain

#21756 Create n0kemm.json
  domains/n0kemm.json
Labels: domain, reason: other

#21767 Tanvi yeole
  domains/tanviyeole.json
Labels: domain

#21768 Create muaz.json
  domains/muaz.json
Labels: domain

#21745 Create cedrickfeze.json
  domains/cedrickfeze.json
Labels: domain, reason: incomplete website

#21769 create winter.json (for bragging rights)
  domains/winter.json
Labels: domain

#21771 Create kanetu.json
  domains/kanetu.json
Labels: domain

#21774 Add files via upload
  domains/_vercel.abranico.json
  domains/abranico.json
Labels: domain

#21775 Update filmflu.json
  domains/filmflu.json
Labels: domain

#21778 Update dankamigos.json
  domains/dankamigos.json
Labels: domain

#21777 jfc dev
  domains/jfc.json
Labels: domain

#21780 Create _github-pages-challenge-muazsrc.muaz.json
  domains/_github-pages-challenge-muazsrc.muaz.json
Labels: domain

#21784 Create immuaz.json
  domains/immuaz.json
Labels: domain

#21790 update tanviyeole.json
  domains/tanviyeole.json
Labels: domain

#21781 Create tranminhtan.json
  domains/tranminhtan.json
Labels: domain

#21786 Create _discord.bryce.json
  domains/_discord.bryce.json
Labels: domain

#21797 Create _vercel.tranminhtan.json
  domains/_vercel.tranminhtan.json
Labels: domain

#21796 feat(domain): update pyyupsk.is-a.dev to use cloudflare
  domains/_vercel.pyyupsk.json
  domains/pyyupsk.json
  domains/zylo.json
Labels: domain, ci: bypass-owner-check

#21792 Create rhushabhrathod.json
  domains/rhushabhrathod.json
Labels: domain

#21800 Create xperian.json
  domains/xperian.json
Labels: domain

#21801 Register maqbool.is-a.dev and abdullah.maqbool.is-a.dev
  domains/_vercel.abdullah.maqbool.json
  domains/_vercel.maqbool.json
  domains/abdullah.maqbool.json
  domains/maqbool.json
Labels: domain

#21782 deletion of an old domain and update information about new domain
  domains/_github-pages-challenge-caodoc.caodoc.json
  domains/_github-pages-challenge-cc4dev.cc4dev.json
  domains/caodoc.json
  domains/cc4dev.json
Labels: domain, ci: bypass-owner-check

#21802 Edit Vercel TXT record
  domains/_vercel.maqbool.json
Labels: domain

#21806 Create fuji.is-a.dev.json
  domains/fuji.json
Labels: domain

#21809 Delete domains/elulolaito.json
  domains/elulolaito.json
Labels: domain

#21813 Create mohit-sundrani.json
  domains/mohit-sundrani.json
Labels: domain

#21819 Added 1ndrajeet.is-a.dev
  domains/1ndrajeet.json
  domains/_vercel.1ndrajeet.json
Labels: domain

#21807 Create aessaputra.json
  domains/_vercel.aessaputra.json
  domains/aessaputra.json
  domains/wakapi.aessaputra.json
Labels: domain

#21817 Create anthonydev.json
  domains/anthonydev.json
Labels: domain

#21825 Create nabil.json
  domains/nabil.json
Labels: domain

#21823 Delete domains/boredcodebyk.json and domains/_github-pages-challenge-boredcodebyk.boredcodebyk.json
  domains/_github-pages-challenge-boredcodebyk.boredcodebyk.json
  domains/boredcodebyk.json
Labels: domain

#21822 Create chris-nguyen.json for chris-nguyen.co.uk
  domains/chris-nguyen.json
Labels: domain

#21821 add rafsanza.is-a.dev domain
  domains/_vercel.rafsanza.json
  domains/rafsanza.json
Labels: domain

#21827 Create _github-pages-challenge-imrmnabil.nabil.json
  domains/_github-pages-challenge-imrmnabil.nabil.json
Labels: domain

#21829 Create wisit.json
  domains/wisit.json
Labels: domain, reason: invalid records

#21833 Create tandevhtml.json
  domains/tandevhtml.json
Labels: domain

#21834 update Konnn04
  domains/konnn04.json
Labels: domain

#21836 Crear Bernard2806.is-a.dev.json
  domains/bernard2806.json
Labels: domain

#21830 Configure Subdomain for Vercel :3
  domains/_vercel.reiiv-dev.json
  domains/reiiv-dev.json
Labels: domain, reason: invalid records

#21837 Create _vercel.wisit.json
  domains/_vercel.wisit.json
Labels: domain

#21840 Create code.aessaputra
  domains/code.aessaputra.json
Labels: domain

#21843 chore: add _github-pages-challenge-MuizU.json for domain verification
  domains/_github-pages-challenge-muizu.muiz.json
Labels: domain

#21845 Create _vercel.harshmallick.json
  domains/_vercel.harshmallick.json
Labels: domain

#21841 Create agent.json
  domains/agent.json
Labels: domain

#21844 Create _discord.agent.json
  domains/_discord.agent.json
Labels: domain

#21850 Update harshmallick.json
  domains/harshmallick.json
Labels: domain

#21838 reiiv.json
  domains/_vercel.reiiv-beta.json
  domains/_vercel.reiiv.json
  domains/reiiv.json
Labels: domain, reason: merge conflict

#21815 Create dincer-portfolio.json
  domains/dincer-portfolio.json
Labels: domain, status: needs preview

#21848 Registering for a new subdomain
  domains/stevesajeev.json
Labels: domain

#21855 a request for my personal website :D
  domains/fireexe.json
Labels: domain

#21856 chore: domain files for aneeqkhurram007.is-a.dev
  domains/_vercel.aneeqkhurram007.json
  domains/aneeqkhurram007.json
Labels: domain

#21859 change to Vercell
  domains/imnahn.json
Labels: domain

#21860 Create _vercel.imnahn.json
  domains/_vercel.imnahn.json
Labels: domain

#21828 Add api.katidoki.is-a.dev
  domains/api.katidoki.json
Labels: domain, reason: inaccessible website

#21861 Domain/abhijeet
  domains/abhijeet.json
Labels: domain

#21858 Add roshansahani.is-a.dev
  domains/roshansahani.json
Labels: domain, reason: inaccessible website

#21863 update tanviyeole.json
  domains/tanviyeole.json
Labels: domain

#21864 Create _vercel.tandevhtml.json
  domains/_vercel.tandevhtml.json
Labels: domain

#21865 Mak5er Portfolio website
  domains/_vercel.mak5er.json
  domains/mak5er.json
Labels: domain

#21866 Create keishi.json
  domains/keishi.json
Labels: domain

#21869 Registring lym.is-a.dev for mailing
  domains/lym.json
Labels: domain

#21867 Create map.mrdiamond.json
  domains/map.mrdiamond.json
Labels: domain

#21868 change the CNAME record to A record
  domains/tak.json
Labels: domain, reason: inaccessible website

#21872 Create minecraft.mrdiamond.json
  domains/minecraft.mrdiamond.json
Labels: domain

#21874 Create kona.json
  domains/kona.json
Labels: domain, reason: unauthorized

#21879 Update aus.json
  domains/aus.json
Labels: domain

#21878 Create revansp.json
  domains/revansp.json
Labels: domain

#21880 Add new JSON configuration files for Vercel deployment
  domains/_vercel.sadik.json
  domains/sadik.json
Labels: domain

#21884 Create cloud.json
  domains/cloud.json
Labels: domain

#21888 fixed proxy
  domains/vsnu.json
Labels: domain

#21889 Update lungustefan.json
  domains/lungustefan.json
Labels: domain

#21901 Create gh-paylink-project-o.joe50097.json
  domains/gh-paylink-project-o.joe50097.json
Labels: domain

#21909 Create _vercel.agungfir.json
  domains/_vercel.agungfir.json
  domains/agungfir.json
Labels: domain

#21907 Register joshua-hull.json
  domains/joshua-hull.json
Labels: domain

#21902 Update khao.json
  domains/khao.json
Labels: domain

#21905 Rename gh-paylink-project-o.joe50097.json to _gh-paylink-project-o.jo…
  domains/_gh-paylink-project-o.joe50097.json
Labels: domain

#21913 Requet register `rahulgurujala.is-a.dev`
  domains/_vercel.rahulgurujala.json
  domains/rahulgurujala.json
Labels: domain

#21917 Create miko.json
  domains/miko.json
Labels: domain

#21918 Create _github-pages-challenge-Keshav-writes-code.keshav
  domains/_github-pages-challenge-keshav-writes-code.keshav.json
Labels: domain

#21915 feat: move factory.is-a.dev
  domains/_vercel.factory.json
  domains/factory.json
Labels: domain, maintainer, ci: bypass-owner-check

#21920 added cloudflare proxy
  domains/chirayusahu.json
Labels: domain

#21921 noobisaures.is-a.dev
  domains/noobisaures.json
Labels: domain

#21923 Create uukelele.json
  domains/uukelele.json
Labels: domain

#21912 Fix minecraft.mrdiamond.is-a.dev
  domains/_minecraft._tcp.mrdiamond.json
Labels: domain, reason: unauthorized

#21925 Delete domains/_gh-paylink-project-o.joe50097.json
  domains/_gh-paylink-project-o.joe50097.json
Labels: domain

#21926 fix: update TXT record
  domains/_github-pages-challenge-keshav-writes-code.keshav.json
Labels: domain

#21929 Update _github-pages-challenge-danilezheng4.danilezheng4.json
  domains/_github-pages-challenge-danilezheng4.danilezheng4.json
Labels: domain

#21928 Create alexismansilla.is-a.dev
  domains/_vercel.alexismansilla.json
  domains/alexismansilla.json
Labels: domain

#21930 Create _discord.jes.is-a.dev
  domains/_discord.jes.json
Labels: domain

#21935 Update imnahn.json
  domains/imnahn.json
Labels: domain

#21934 Add share.alora.is-a.dev
  domains/_vercel.alora.json
  domains/share.alora.json
Labels: domain

#21932 Create _github-pages-challenge-voidkeishi.keishi.json
  domains/_github-pages-challenge-voidkeishi.keishi.json
Labels: domain

#21938 Update _minecraft._tcp.mrdiamond.json
  domains/_minecraft._tcp.mrdiamond.json
  domains/minecraft.mrdiamond.json
Labels: domain

#21936 Create lhycerie.json
  domains/lhycerie.json
Labels: domain

#21937 Email forward shin.is-a.dev
  domains/shin.json
Labels: domain
