Repository is-a-dev/register, pull requests merged in 2025-08, with the labels that each got.

#24940 Delete domains/tawhid.json
  domains/tawhid.json
Labels: maintainer

#25154 New domain request
  domains/_vercel.imbazim.json
  domains/imbazim.json
Labels: status: low priority

#25249 Remove some hijacked domains
  domains/_atproto.raccoon.json
  domains/_discord.raccoon.json
  domains/raccoon.json
  domains/rayen.json
  domains/sakil.json
  domains/thecode-breaker.json
  domains/yellososa.json
Labels: maintainer

#25276 Delete domains/abyss.json
  domains/abyss.json
Labels: maintainer

#25278 Delete `ebooks.is-a.dev`
  domains/_vercel.ebooks.json
  domains/ebooks.json
Labels: maintainer

#25279 Delete domains/eevee.json
  domains/eevee.json
Labels: maintainer

#25151 Add (and remove) records to sbdesigns.json
  domains/sbdesigns.json
  domains/zb77819883.sbdesigns.json
  domains/zmail._domainkey.sbdesigns.json
Labels: ci: bypass-owner-check

#25303 oops wrong domain
  domains/_acme-challenge.scoobis.json
Labels: reason: not dev related

#25125 created mononeer.json and one other file.
  domains/_github-pages-challenge-mononeer.mononeer.json
  domains/mononeer.json
Labels: reason: incomplete website

#25136 Update shahid.json DNS records for email service
  domains/shahid.json
Labels: reason: invalid file

#25486 Updating CNAME to link to my github portfolio. ezra.is-a.dev
  domains/ezra.json
Labels: ci: bypass-owner-check

#25625 Delete VPN domains
  domains/vpn.benny.json
  domains/wg.benny.json
Labels: maintainer

#25703 Delete domains/nhat.json
  domains/nhat.json
Labels: maintainer

#25738 Delete domains/_github-pages-challenge-cfhoiril.iamchoiiril.json
  domains/_github-pages-challenge-cfhoiril.iamchoiiril.json
Labels: ci: bypass-owner-check

#25737 Delete domains/iamchoiiril.json
  domains/iamchoiiril.json
Labels: ci: bypass-owner-check
