Repository is-a-dev/register, pull requests merged in 2025-05, with the labels that each got.

#22377 Domain
  domains/_vercel.selenyon.json
  domains/selenyon.json
Labels: domain, reason: invalid file

#22476 Change GitHub username and more
  domains/_discord.justwinstuff.json
  domains/_vercel.justwinstuff.json
  domains/astrowin.json
  domains/enderdevcom.json
  domains/justwinstuff.json
Labels: domain, ci: bypass-owner-check

#22471 added hendrick.json
  domains/_vercel.hendrick.json
  domains/hendrick.json
Labels: domain

#22466 Create edition.json
  domains/edition.json
Labels: domain

#22469 Create omnianims.json
  domains/omnianims.json
Labels: domain

#22463 Create gauravdubey.json
  domains/gauravdubey.json
Labels: domain

#22465 PR
  domains/_vercel.be63.json
  domains/be63.json
Labels: domain

#22454 aliases for eldho.json
  domains/eldho-baby.json
  domains/eldhobaby.json
Labels: domain

#22453 Fix json
  domains/rotem.json
Labels: domain

#22447 Add fondfracz.json
  domains/fondfracz.json
Labels: domain

#22444 Add am1ncmd domain JSON
  domains/am1ncmd.json
Labels: domain

#22442 Update abineethan.json
  domains/abineethan.json
Labels: domain

#22441 Create jannator.json
  domains/jannator.json
Labels: domain

#22440 Add negativez.json
  domains/negativez.json
Labels: domain

#22462 Create _vercel.gauravdubey.json
  domains/_vercel.gauravdubey.json
Labels: domain

#22383 pranawww.is-a.dev
  domains/pranawww.json
Labels: domain

#22458 feat: register r0h17h.is-a.dev for my portfolio site
  domains/_vercel.r0h17h.json
  domains/r0h17h.json
Labels: domain, reason: invalid records

#22479 Create _github-pages-challenge-x7v8p3m2q9l0.negativez.json
  domains/_github-pages-challenge-x7v8p3m2q9l0.negativez.json
Labels: domain

#22481 Create _vercel.izumie.json
  domains/_vercel.izumie.json
Labels: domain

#22431 Create _github-pages-challenge-fa-fifi.fafifi.json
  domains/_github-pages-challenge-fa-fifi.fafifi.json
Labels: domain

#22499 created _vercel for armaan44.json
  domains/_vercel.armaan44.json
  domains/armaan44.json
Labels: domain

#22515 Disabled Proxy for izumie.json
  domains/izumie.json
Labels: domain

#22537 Update indra87g.json
  domains/indra87g.json
Labels: domain

#22532 Create a domain for our LMS sites.
  domains/blog.ttkt.json
  domains/media.ttkt.json
Labels: domain

#22522 request for new sub-domain
  domains/_vercel.datadash.json
  domains/datadash.json
Labels: domain

#22422 haseebai added
  domains/haseebai.json
Labels: domain, reason: incomplete website

#22396 Update pardhasaradhichandana.json
  domains/pardhasaradhichandana.json
Labels: domain, reason: invalid file

#22427 Add guilherme.is-a.dev domain
  domains/guilherme.json
Labels: domain, reason: inaccessible website

#22448 Add 2015kiaceed.json
  domains/2015kiaceed.json
Labels: domain, reason: not dev related

#22565 mini cleanup
  domains/almuqbel.json
  domains/api.seiko.json
  domains/hassbomb.json
  domains/mertal-i.json
  domains/shoppavpn.json
  domains/starshine.json
Labels: maintainer

#22391 Add initial configuration for muhammadhaad.json
  domains/_vercel.muhammadhaad.json
  domains/muhammadhaad.json
Labels: domain, stale

#22490 discord status
  domains/_discord.vulcanocraft.json
  domains/info.vulcanocraft.json
Labels: domain

#22498 Update erdem.is-a.dev
  domains/erdem.json
Labels: domain, ci: bypass-owner-check

#22477 Add onbao165.json
  domains/onbao165.json
Labels: domain

#22579 Update DNS Records securesandbox.json and app.securesandbox.json
  domains/securesandbox.json
Labels: domain

#22531 Update negativez.json
  domains/negativez.json
Labels: domain

#22494 Create andreyontech.json
  domains/andreyontech.json
Labels: domain

#22492 Create josejefferson domain
  domains/_vercel.josejefferson.json
  domains/josejefferson.json
Labels: domain

#22493 add: domain request json
  domains/radit.json
Labels: domain

#22509 Reserving 2 domains
  domains/zg.json
  domains/zgx.json
Labels: domain

#22589 delete more invalid url domains
  domains/boon.json
  domains/nanonavigate.json
  domains/prnice.json
  domains/vinceale7082.json
Labels: maintainer

#22508 Create yoogo.is-a.dev.json
  domains/yoogo.json
Labels: domain

#22435 create qingyang.json
  domains/qingyang.json
Labels: domain

#22486 Create prabhu.json
  domains/prabhu.json
Labels: domain

#22398 Create rohitsonawane.json
  domains/rohitsonawane.json
Labels: domain, reason: incomplete website, reason: invalid file

#22425 added linus subdomain
  domains/_acme-challenge.linus.json
  domains/_acme-challenge.www.linus.json
  domains/_discord.linus.json
  domains/linus.json
  domains/www.linus.json
Labels: domain

#22606 Add notes subdomain
  domains/notes.zstg.json
Labels: domain

#22434 Create ke.json.
  domains/_acme-challenge.ke.json
  domains/_cf-custom-hostname.ke.json
  domains/ke.json
Labels: domain

#22461 create kazuma.is-a.dev domain
  domains/_vercel.kazuma.json
  domains/kazuma.json
Labels: domain, reason: invalid social

#22491 inksans.json
  domains/inksans.json
Labels: domain

#22501 Create droidtheawesome.json
  domains/droidtheawesome.json
Labels: domain

#22516 feat: register ashimshrestha.is-a.dev for my portfolio site
  domains/_vercel.ashimshrestha.json
  domains/ashimshrestha.json
Labels: domain

#22519 Create ahfurqan.json
  domains/ahfurqan.json
Labels: domain

#22544 Create andradenathan.json
  domains/andradenathan.json
Labels: domain

#22551 request for new sub-domain
  domains/_vercel.aaryaa28.json
  domains/aaryaa28.json
Labels: domain

#22502 Create rahul.json
  domains/rahul.json
Labels: domain

#22504 Added swapnilsahu domain
  domains/swapnilsahu.json
Labels: domain

#22500 Create sakil.json
  domains/sakil.json
Labels: domain, reason: invalid file

#22506 Create shreshtha.json
  domains/shreshtha.json
Labels: domain

#22514 Create nhhthong.is-a.dev
  domains/nhhthong.json
Labels: domain

#22520 Create abdan.json
  domains/abdan.json
Labels: domain

#22523 Create Vercel record for jnsoumya
  domains/_vercel.soumya.json
  domains/soumya.json
Labels: domain

#22521 register: Add studiokeys.json
  domains/_vercel.studiokeys.json
  domains/studiokeys.json
Labels: domain

#22526 Add rytonlang.is-a.dev domain
  domains/rytonlang.json
Labels: domain

#22529 Create www.jannator.json
  domains/www.jannator.json
Labels: domain

#22556 Create phongdk.json
  domains/phongdk.json
Labels: domain

#22558 Add pta208.json
  domains/_vercel.pta208.json
  domains/pta208.json
Labels: domain

#22560 Create rajkumar.json
  domains/rajkumar.json
Labels: domain

#22571 Add urbanbullet.is-a.dev
  domains/urbanbullet.json
Labels: domain

#22536 Create rishi.json
  domains/rishi.json
Labels: domain

#22550 Create zayn.json
  domains/zayn.json
Labels: domain

#22555 Request for antar.is-a.dev domain
  domains/_vercel.antar.json
  domains/antar.json
Labels: domain

#22553 Create vaysed.json
  domains/vaysed.json
Labels: domain

#22533 Create apt.dhp2010.json
  domains/apt.dhp2010.json
Labels: domain

#22574 Add nekomiya.json
  domains/nekomiya.json
Labels: domain

#22576 Registering domain abdul-muizz.is-a.dev
  domains/abdul-muizz.json
Labels: domain

#22577 register: `andrei0x309.is-a.dev`
  domains/andrei0x309.json
Labels: domain

#22581 Create insanyngame.json
  domains/insanyngame.json
Labels: domain

#22586 finish domain config json.
  domains/wuzhou.json
Labels: domain

#22595 Add domain configurations for muhammadhaad
  domains/_vercel.muhammadhaad.json
  domains/muhammadhaad.json
Labels: domain

#22598 Shifted my website to cloudflare for better cdn
  domains/harunabdullah.json
  domains/www.harunabdullah.json
Labels: domain

#22600 Create _github-pages-challenge-ls-prabhu.prabhu.json
  domains/_github-pages-challenge-ls-prabhu.prabhu.json
Labels: domain

#22605 topfreezer.is-a.dev pull request
  domains/topfreezer.json
Labels: domain

#22624 create hamza.json
  domains/hamza.json
Labels: domain

#22625 Create derpydoggo.json
  domains/derpydoggo.json
Labels: domain

#22628 add virtualfuzz.is-a.dev
  domains/virtualfuzz.json
Labels: domain

#22618 Create max.json
  domains/max.json
Labels: domain

#22620 added verification for jaisankar subdomain-GitHub pages
  domains/_github-pages-challenge-jaisankar07.jaisankar.json
  domains/jaisankar.json
Labels: domain

#22575 create cassius.json
  domains/cassius.json
Labels: domain

#22597 add achira.json
  domains/achira.json
Labels: domain

#22608 Register thelamplighter.json and _atproto.thelamplighter.json
  domains/_atproto.thelamplighter.json
  domains/thelamplighter.json
Labels: domain

#22623 Create ponchhkt.json
  domains/ponchhkt.json
Labels: domain

#22627 nachomartinezl.is-a.dev
  domains/_vercel.nachomartinezl.json
  domains/nachomartinezl.json
Labels: domain

#22637 Add domain
  domains/wzloadouts.json
Labels: domain

#22638 Create karify98.json
  domains/karify98.json
Labels: domain

#22640 Create github verify for akhsaul.json
  domains/_github-pages-challenge-akhsaul.akhsaul.json
Labels: domain

#22639 Create getspyderx.json
  domains/getspyderx.json
Labels: domain

#22645 Update imnahn.json
  domains/imnahn.json
Labels: domain

#22656 Add macielsuassuna.is-a.dev domain
  domains/_vercel.macielsuassuna.json
  domains/macielsuassuna.json
Labels: domain

#22655 Create josecontreras.json
  domains/josecontreras.json
Labels: domain

#22652 Rename foglomon.json to foglo.json
  domains/foglo.json
Labels: domain

#22653 add github page verification.
  domains/_github-pages-challenge-wuzhoudu.wuzhou.json
Labels: domain

#22644 upload vercel & illyes
  domains/_vercel.illyes.json
  domains/illyes.json
Labels: domain

#22651 Create kaiser.json
  domains/kaiser.json
Labels: domain

#22654 Delete domains/nek0zyx.json
  domains/_discord.nek0zyx.json
  domains/nek0zyx.json
Labels: domain, maintainer, ci: bypass-owner-check

#22662 Correcting the Cname to load assets properly.
  domains/rajkumar.json
Labels: domain

#22665 Create hrsh.json
  domains/hrsh.json
Labels: domain

#22663 Added vercel for pankaj
  domains/_vercel.pankaj.json
  domains/pankaj.json
Labels: domain

#22667 Added json files for shashankr.is-a.dev
  domains/_vercel.shashankr.json
  domains/shashankr.json
Labels: domain

#22673 add walid.is-a.dev
  domains/_vercel.walid.json
  domains/walid.json
Labels: domain

#22674 Add ImprovMX for my domain
  domains/fireexe.json
Labels: domain

#22683 Update _github-pages-challenge-ls-prabhu.prabhu.json
  domains/_github-pages-challenge-ls-prabhu.prabhu.json
Labels: domain

#22689 Create domains/_github-pages-challenge-anonymousik.anonymousik.json
  domains/_github-pages-challenge-anonymousik.anonymousik.json
Labels: domain

#22695 Pull Request
  domains/qrcode.json
Labels: domain

#22685 Create ponch.json
  domains/ponch.json
Labels: domain

#22693 Update and rename ghex.json to catplvsplus.json
  domains/catplvsplus.json
  domains/ghex.json
Labels: domain, ci: bypass-owner-check

#22700 Create _vercel.ponch.json
  domains/_vercel.ponch.json
Labels: domain

#22487 Change of ns records for ploszukiwacz.json
  domains/ploszukiwacz.json
Labels: domain, status: awaiting maintainer decision

#22703 Create mrezayusufy.json
  domains/mrezayusufy.json
Labels: domain, reason: inaccessible website

#22701 Create job.json
  domains/job.json
Labels: domain, reason: invalid file

#22593 NS Record Request
  domains/laughingman.json
Labels: domain, r: william

#22714 Update naffy.json to redirect naffy.is-a.dev to barinderpreet.com
  domains/naffy.json
Labels: domain

#22741 Register {r,razu,razuuu}.is-a.dev (again)
  domains/r.json
  domains/razu.json
  domains/razuuu.json
  util/reserved.json
Labels: domain

#22762 Add `random.is-a.dev`
  domains/random.json
Labels: domain

#22773 Update andrew.json
  domains/andrew.json
Labels: domain

#22771 Updating my cname correctly
  domains/rajkumar.json
Labels: domain

#22755 [ UPDATED ] : Added TXT Record on utkarsh-singhal.json
  domains/utkarsh-singhal.json
Labels: domain

#22547 Create zmail.domainkey.harys.json
  domains/zmail._domainkey.harys.json
Labels: domain, reason: invalid records

#22707 Create _vercel.hrsh.json
  domains/_vercel.hrsh.json
Labels: domain

#22699 add SergioPiris.is-a.dev
  domains/sergiopiris.json
Labels: domain

#22712 Update mrezayusufy.json
  domains/mrezayusufy.json
Labels: domain

#22715 Create proficode.json
  domains/proficode.json
Labels: domain

#22717 Create sigmacat.json
  domains/sigmacat.json
Labels: domain

#22722 Create 0xheartcode.json
  domains/0xheartcode.json
Labels: domain

#22705 Create aman-sapkota.json
  domains/aman-sapkota.json
Labels: domain

#22724 FleeTha.json
  domains/fleetha.json
Labels: domain

#22746 Create mc.vulcanocraft.json
  domains/mc.vulcanocraft.json
Labels: domain

#22742 reincal
  domains/_vercel.reincal.json
  domains/reincal.json
Labels: domain

#22795 Update harys.json
  domains/harys.json
Labels: domain

#22798 Update zmail._domainkey.harys.json
  domains/zmail._domainkey.harys.json
Labels: domain

#22761 NAME.is-a.dev submission
  domains/name0x0.json
Labels: domain

#22759 pbl's site (updated - removed commas)
  domains/_vercel.pbl.json
  domains/pbl.json
Labels: domain

#22839 Create zubariel.json
  domains/zubariel.json
Labels: domain

#22811 Delete domains/shayokh.json
  domains/shayokh.json
Labels: domain

#22751 Create franklin.json
  domains/franklin.json
Labels: domain

#22747 Create kauntar.json
  domains/kauntar.json
Labels: domain

#22799 Converting into Redirection as cname didnt work
  domains/rajkumar.json
Labels: domain

#22748 merge(register): eldarlrd into main
  domains/eldarlrd.json
Labels: domain

#22754 Add aryan-gupta.is-a.dev
  domains/aryan-gupta.json
Labels: domain

#22758 Create mrdelta.json
  domains/mrdelta.json
Labels: domain
